﻿<div fxLayout="column" class="" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history padding-0">
            <div fxFlex>
                <p class="m-left-10">SHIPMENT LIST FOR {{objectName}} {{objectValue}}</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxLayout="column" class="padding-left-10 padding-right-10 m-top20" fxFlex>
        <div class="timeline-content">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="shipmentList"
                      [columnDefs]="columns"></rbs-grid>
        </div>
    </div>
</div>