<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/Tolerance/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex  >
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="reasonCodeType" placeholder="reasonCodeType" maxlength="6" class="errorMsgsParentPosition"></rb-input>
          </div>

          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="reasonCodeId" placeholder="reasonCodeId" maxlength="20" class="errorMsgsParentPosition"></rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="reasonCodeDescription" placeholder="reasonCodeDescription" maxlength="1000" class="errorMsgsParentPosition"></rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="action" placeholder="action" maxlength="6" class="errorMsgsParentPosition"></rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentRequiredIndicator" placeholder="commentRequiredIndicator" maxlength="1" class="errorMsgsParentPosition"></rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="hintComment" placeholder="hintComment" maxlength="2000" class="errorMsgsParentPosition"></rb-input>
          </div>
          <div fxFlex="1"></div>
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deleteIndicator" placeholder="deleteIndicator" maxlength="1" class="errorMsgsParentPosition"></rb-input>
        </div>
      </form>
    
  </div>
</div>
