<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
    <div class="mainContentHeaderScreen" style="width:100%;">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="column" class="rbsSectionForHeaders">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              General information
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsinputsPadding">
            <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyCode" placeholder="Currency Code" [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
            </rb-input>
            <span fxFlex="1"></span>
            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyDesc" placeholder="Description" [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyDesc" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
        <div fxLayout="column" class="rbsSectionForHeaders m-top20">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              Currency Formatting
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsinputsPadding">
            <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyCostFmt" placeholder="Cost Format" [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCostFmt" class="error"></rb-error-messages>
            </rb-input>
            <span fxFlex="1"></span>
            <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyCostDec" placeholder="Cost Decimal" [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCostDec" class="error"></rb-error-messages>
            </rb-input>
            <span fxFlex="1"></span>
            <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyRtlFmt" placeholder="Retail Format" [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyRtlFmt" class="error"></rb-error-messages>
            </rb-input>

            <span fxFlex="1"></span>
            <rb-input fxFlex="25" required [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyRtlDec" placeholder="Retail Decimal" [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyRtlDec" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
        <div fxLayout="row" class="domainDataAddRow">
          <div fxFlex fxLayoutAlign="start center" class="domianHeader">
            DETAILS
          </div>
          <div fxFlex="initial" fxLayoutAlign="end center">
            <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
          </div>
        </div>

        <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>
  </div>
</div>
