<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="countryId" placeholder="Country Id" maxlength="3" class="errorMsgsParentPosition">
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryId" class="error"></rb-error-messages>
                </rb-input>
                <span fxFlex="2"></span>
                <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="countryDesc" placeholder="Country Desc" maxlength="120" class="errorMsgsParentPosition">
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryDesc" class="error"></rb-error-messages>
                </rb-input>
            </div>

        </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">


            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>

</div>
