<div fxLayout="column" fxFill>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
        <div class="toolbarActions-template" id="toolBarDivid">
            <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                     (previousRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/country/List']"></toolBar>
        </div>
    </form>
    <div fxLayout="row" class="mainContentHeader" fxFlex="initial">
        <div fxFlex fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>

    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
          
                <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
                    <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="countryId" required placeholder="Country Id" maxlength="3" class="errorMsgsParentPosition" [disabled]="editMode">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryId" class="error"></rb-error-messages>
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="countryDesc" required placeholder="Country Desc" maxlength="120" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryDesc" class="error"></rb-error-messages>
                    </rb-input>
                    <!--<span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="countryName" required placeholder="Name" maxlength="250" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryName" class="error"></rb-error-messages>
                    </rb-input>-->
                </div>
                <!--<div fxLayout="row" fxLayout.xs="row" class="rbsinputsPadding" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete required [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.baseCurrencyCode" placeholder="Base Currency" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.baseCurrencyCode" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <rb-autocomplete fxFlex="50" [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.alternateCurrencyCode" placeholder="Alternate Currency" class="fx-selectBox"></rb-autocomplete>
                </div>
                <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
                    <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="addressFormat" placeholder="Address Format" maxlength="50" class="errorMsgsParentPosition">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="countryFlag" placeholder="Country Flag" maxlength="50" class="errorMsgsParentPosition">
                    </rb-input>
                </div>-->
           
        </form>
    </div>
</div>
