
<form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" class="orderHeader" fxFlex > 
  <div class="ComponentLevelMainContent" fxLayout="column">
    <div fxLayout="column" class="rbsSectionForHeaders"*ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 &&  primaryId > 0 && sharedService.isUpdatableByUser && editMode">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          WorkFlow Status
        </div>
      </div>
      <div fxFlex="row" fxLayoutAlign="end center" class="m-bottom-10">
        <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                      [formGroup]="serviceDocument?.dataProfile?.profileForm"
                      [dataProfile]="serviceDocument?.dataProfile"
                      [cssClass]="searchbtn"
                      (submitClick)="submitAction()"
                      (rejectClick)="reject()"
                      (sendBackClick)="sendBackForReview()"
                      moduleName="{{screenName}}" [negativeMarginCount]="serviceDocument?.dataProfile?.dataModel?.noMarginItemCnt"
                      [priority]="inboxCommonData?.priority"
                      fxFlex>
        </rb-wf-header>
      </div>
    </div>
      <div fxLayout="column">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          GENERAL DETAILS
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" >
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsF_NO" placeholder="Transfer Id" min="0" maxlength="10" [disabled]=true></rb-numeric>
        <div fxFlex="1"></div>
        <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="createDate"
                 [maxDate]="serviceDocument.dataProfile.profileForm.controls.createDate.value"
                 placeholder="Created Date" [disabled]=true></rb-date>
        <div fxFlex="1"></div>
        <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expDcDate"
                 [maxDate]="serviceDocument.dataProfile.profileForm.controls.expDcDate.value"
                 placeholder="Expected Dc Date"></rb-date>
        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="domainStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox" [disabled]=true></rb-autocomplete>
        </div>
      </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" >
            <rb-autocomplete fxFlex="24" [optionsData]="inventoryStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.inventoryType" placeholder="Inventory Status" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
            <rb-autocomplete fxFlex="24" [optionsData]="transferTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfType" placeholder="Transfer Type" class="fx-selectBox" [disabled]=true></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="notAfterDate"
                   [maxDate]="serviceDocument.dataProfile.profileForm.controls.notAfterDate.value"
                   placeholder="Not After Ship Date"></rb-date>
          <div fxFlex="1"></div>
          <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deliveryDate"
                   [maxDate]="serviceDocument.dataProfile.profileForm.controls.deliveryDate.value"
                   placeholder="Delivery Date"></rb-date>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extRefNo" placeholder="Ext Reference Code"></rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDesc" placeholder="Comments" maxlength="2000"></rb-input>
        </div>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            From
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="49" required [optionsData]="locTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="code" optionValue="codeDesc"
                           [formControl]="serviceDocument.dataProfile.profileForm.controls.fromLocType" placeholder="Location Type" class="fx-selectBox" (rbChange)="ChangeFromLocatoins($event)"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex required [optionsData]="fromLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="locationId" optionValue="locationDescription"
                           [formControl]="serviceDocument.dataProfile.profileForm.controls.fromLoc" placeholder="Location" class="fx-selectBox" (rbChange)="validateLocatoins($event)"></rb-autocomplete>
        </div>
      </div>

      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            To
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="49" required [optionsData]="locTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="code" optionValue="codeDesc"
                           [formControl]="serviceDocument.dataProfile.profileForm.controls.toLocType" placeholder="Location Type" class="fx-selectBox" (rbChange)="ChangeToLocatoinsData($event)"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex required [optionsData]="toLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="locationId" optionValue="locationDescription"
                           [formControl]="serviceDocument.dataProfile.profileForm.controls.toLoc" placeholder="Location" class="fx-selectBox" (rbChange)="validateLocatoins($event)"></rb-autocomplete>
        </div>
      </div>

    </div>
</form>
