<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-autocomplete fxFlex="24" [optionsData]="deptData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.dept" placeholder="Category" class="fx-selectBox" (rbChange)="changeDepartment()"></rb-autocomplete>
                <div fxFlex="2"></div>
                <rb-autocomplete fxFlex="24" [optionsData]="classData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.class" placeholder="Fine Line" class="fx-selectBox"></rb-autocomplete>
                <div fxFlex="2"></div>
                <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subclass" placeholder="Id" maxlength="4"></rb-numeric>
                <div fxFlex="2"></div>
                <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subName" placeholder="Name" upperCase="true"></rb-input>
            </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model" (resetEvent)="reset()"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
