<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/SubClass/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
      <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
        <div class="listitem">
          <a href="#" (click)="openClassMaster($event)">Fine Line</a>
        </div>
      </div>
    </div>
  </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID" fxLayout="column">
        <div class="mainContentHeaderScreen">
            <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="deptData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required [disabled]="editMode"
                                         optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.dept" placeholder="Category" class="fx-selectBox" (rbChange)="changeDepartment()"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dept" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="classData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.class" placeholder="Fine Line" class="fx-selectBox" required [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.class" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="subclass" placeholder="Id" min="0" maxlength="4" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.subclass" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subName" required placeholder="Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.subName" class="error"></rb-error-messages>
                    </rb-input>
                </div>
            </form>
        </div>
    </div>
</div>
