<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="buyer" placeholder="Buyer" min="0" maxlength="4" required [ngClass]="{'editmode':editMode}"></rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.buyer" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="buyerName" required placeholder="Buyer Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.buyerName" class="error"></rb-error-messages>
        </rb-input>
      </div>
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="buyerPhone"  placeholder="Buyer Phone" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="2"></div>
        <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="buyerFax"  placeholder="Buyer Fax" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
    </form>
  </div>
</div>
