<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/itemReactive/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>

    <div fxLayout="row" class="ItemHeader mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{serviceDocument?.dataProfile?.dataModel?.workflowInstance?.stateName}}</span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
      <div fxLayout="column" class="rbsSectionForHeaders" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && primaryId!=0">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
          <div fxFlex="row" fxLayoutAlign="end center">
            <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                          [formGroup]="serviceDocument?.dataProfile?.profileForm"
                          [dataProfile]="serviceDocument?.dataProfile"
                          [cssClass]="searchbtn"
                          (submitClick)="submitAction()"
                          (rejectClick)="reject()"
                          (sendBackClick)="sendBackForReview()"
                          moduleName="{{screenName}}"
                          [priority]="inboxCommonData?.priority"
                          fxFlex>
            </rb-wf-header>

          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="id" placeholder="Id" class="errorMsgsParentPosition" [disabled]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" required upperCase="true" placeholder="Description" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
          </rb-input>
          <span fxFlex="1"></span>
          <!--<div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete required [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox" [disabled]="editMode" (rbChange)="changeSupplier($event)"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
      </div>-->
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="supplierData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" [apiUrl]="apiUrl" minLength="2"
                             optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" (rbChange)="changeSupplier($event)" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierType" placeholder="Supplier Type" maxlength="120" upperCase="true" [disabled]=true class="errorMsgsParentPosition">
          </rb-input>
        </div>

        <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center" *ngIf="editMode && itemStatus!=='RequestCompleted'">
          <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
            <button mat-raised-button name="search" id="searchbarSearch" (click)="openItemReactivationExcel($event)" class="searchbtn">Open Excel</button>
          </div>
        </div>

        <div>
          <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                    [columnDefs]="columns"></rbs-grid>
        </div>
    </form>
  </div>
</div>
