<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
                <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
                    <div class="toolbarActions-template" id="toolBarDivid">
                        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
                    </div>
                </form>
                <div fxLayout="row" class="mainContentHeader">
                    <div fxFlex fxLayoutAlign="start center">
                        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
                    </div>                   
                </div>
        </div>
        <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
            <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
              <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="company" placeholder="Id" min="0" maxlength="4" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.company" class="error"></rb-error-messages>
                </div>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="coName" required placeholder="Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.coName" class="error"></rb-error-messages>
                </rb-input>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="coAdd1" required placeholder="Address1" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.coAdd1" class="error"></rb-error-messages>
                </rb-input>
              </div>
              <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">              
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="coAdd2" placeholder="Address2" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                </rb-input>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="coAdd3" placeholder="Address3" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                </rb-input>
                <div fxFlex="2"></div>
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                  <rb-autocomplete [optionsData]="countryDomainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.coCountry" placeholder="Country" required class="fx-selectBox"></rb-autocomplete>
                </div>               
              </div>
              <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                  <rb-autocomplete [optionsData]="stateDomainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="state" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.coState" placeholder="State" class="fx-selectBox"></rb-autocomplete>
                </div>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="coCity" placeholder="City" maxlength="120" upperCase="true" required class="errorMsgsParentPosition">
                </rb-input>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.coCity" class="error"></rb-error-messages>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="coPost" placeholder="Post" maxlength="30" upperCase="true" class="errorMsgsParentPosition">
                </rb-input>
              </div>
            </form>
        </div>
</div>
