<div fxLayout="column" fxFill >
  <div fxFlex="initial">
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div fxFlex class="ComponentLevelMainContent">
    <rbs-grid [componentParentName]="componentName" [rowData]="serviceDocument.dataProfile.dataList"
              [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
  </div>
 
</div>
