<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/Tolerance/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">

    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="toleranceKey" placeholder="Tolerance Key" min="0"></rb-numeric>

        <div fxFlex="1"></div>

        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costQuantityIndicator" placeholder="Cost Quantity Indicator" maxlength="1"></rb-input>

        <div fxFlex="1"></div>

        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="summaryLineIndicator" placeholder="Summary Line Indicator" maxlength="1"></rb-input>

        <div fxFlex="1"></div>

        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toleranceDocumentType" placeholder="Tolerance Document SType" maxlength="6"></rb-input>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="lowerLimitInclusive" placeholder="Lower Limit Inclusive" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="upperLimitExclusive" placeholder="Upper Limit Exclusive" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="favorOf" placeholder="Favor Of" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toleranceValueType" placeholder="Tolerance Value Type" maxlength="6"></rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="toleranceValue" placeholder="Tolerance Value" min="0"></rb-numeric>

        <div fxFlex="1"></div>

        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="updateId" placeholder="Update Id" maxlength="30"></rb-input>


      </div>
    </form>

  </div>
</div>
