<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/Tolerance/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">

    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="daysBeforePurge" placeholder="Days Before Purge" min="0"></rb-numeric>

        <div fxFlex="1"></div>

        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="dayPostSale" placeholder="Day Post Sale" min="0"></rb-numeric>

        <div fxFlex="1"></div>

        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="balanceLevelInd" placeholder="Balance Level Ind" maxlength="1"></rb-input>

        <div fxFlex="1"></div>

        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="maxDaysCompareDups" placeholder="Max Days Compare Dups" min="0"></rb-numeric>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="compBaseDate" placeholder="Comp Base Date" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="compNoDays" placeholder="Comp No Days" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="checkDupMissTran" placeholder="Check Dup Miss Tran" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="unitOfWork" placeholder="Unit Of Work" maxlength="6"></rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="auditAfterImpInd" placeholder="Audit After Imp Ind" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="fuelDept" placeholder="Fuel Dept" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="defaultChain" placeholder="Default Chain" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="closeInOrder" placeholder="Close In Order" maxlength="6"></rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="escheatInd" placeholder="Esc heat Ind" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="partnerType" placeholder="Partner Type" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="partnerId" placeholder="Partner Id" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="autoValidateTranEmployeeId" placeholder="Auto Validate Tran Employee Id" maxlength="6"></rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="viewSysCalcTotal" placeholder="View Sys Calc Total" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="ccValReqd" placeholder="CC Val Reqd" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="wkstationTranAppendInd" placeholder="Wkstation Tran Append Ind" maxlength="6"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ccSecLvlInd" placeholder="CC Sec Lvl Ind" maxlength="6"></rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="updateId" placeholder="Update Id" maxlength="6"></rb-input>
      </div>
    </form>

  </div>
</div>
