<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/UOM/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="reclassNo" placeholder="No" class="errorMsgsParentPosition" [disabled]="true">
        </rb-input>
        <span fxFlex="2"></span>
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="reclassDesc" upperCase="true" placeholder="Description" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reclassDesc" class="error"></rb-error-messages>
        </rb-input>
        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="34" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="reclassDate" [minDate]="effectiveMinDate" placeholder="Date" [readonly]="true" required>
          </rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reclassDate" class="error"></rb-error-messages>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
        <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="item" placeholder="Item" class=" errorMsgsParentPosition" required [readonly]="editMode" maxlength="25" [ngClass]="{'editmode':editMode}" (fxBlur)="itemBasedLogic()">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
        </rb-input>
        <span fxFlex="2"></span>
        <rb-input fxFlex="50" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="itemDesc" placeholder="Item Description" class=" errorMsgsParentPosition" [readonly]="true">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight" *ngIf="!editMode">
        <rb-input fxFlex="33" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptDesc" placeholder="Old Category" class=" errorMsgsParentPosition" [readonly]="true">
        </rb-input>
        <span fxFlex="2"></span>
        <rb-input fxFlex="33" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="classDesc" placeholder="Old Fineline" class=" errorMsgsParentPosition" [readonly]="true">
        </rb-input>
        <span fxFlex="2"></span>
        <rb-input fxFlex="34" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subclassDesc" placeholder="Old Segment" class=" errorMsgsParentPosition" [readonly]="true">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="deptData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.toDept" placeholder="Category" class="fx-selectBox" (rbChange)="changeDepartment()"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toDept" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toDeptDesc" placeholder="Category" [readonly]="true" *ngIf="editMode">
        </rb-input>


        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="classData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl (rbChange)="changeClass($event)"
                           optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.toClass" placeholder="Fineline" class="fx-selectBox" required></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toClass" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toClassDesc" placeholder="Fineline" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="34" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="subclass" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="subclass" optionValue="subClassDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.toSubclass" placeholder="Segment" class="fx-selectBox" required></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toSubclass" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="34" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toSubclassDesc" placeholder="Segment" [readonly]="true" *ngIf="editMode">
        </rb-input>
      </div>
    </form>
  </div>
</div>
