<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/BulkItem/List']"
                         [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex="initial" fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
            </div>
            <div fxFlex>
                <span class="worksheet" *ngIf="primaryId !== 0">{{bulkStatus}} </span>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
            <!--<div fxLayout="column" class="rbsSectionForHeaders m-top-20">
    <div fxLayout="row" class="mainContentHeader">
        <div fxFlex="initial" fxLayoutAlign="end center" class="m-bottom-10" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser">
            <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                          [formGroup]="serviceDocument?.dataProfile?.profileForm"
                          [dataProfile]="serviceDocument?.dataProfile"
                          [cssClass]="searchbtn"
                          (submitClick)="submitAction()"
                          (rejectClick)="reject()"
                          (sendBackClick)="sendBackForReview()"
                          moduleName="{{screenName}}"
                          [priority]="inboxCommonData?.priority"
                          fxFlex>
            </rb-wf-header>

        </div>
    </div>-->
            <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        WorkFlow Status
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
                     class="action-status-user">
                    <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                                  [formGroup]="serviceDocument?.dataProfile?.profileForm"
                                  [dataProfile]="serviceDocument?.dataProfile"
                                  [cssClass]="searchbtn"
                                  (submitClick)="submitAction()"
                                  (rejectClick)="rejectAction()"
                                  (sendBackClick)="sendBackForReviewAction()"
                                  moduleName="{{screenName}}"
                                  [priority]="inboxCommonData?.priority"
                                  fxFlex>
                    </rb-wf-header>
                </div>
            </div>
            <div fxLayout="column" class="m-top20 rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        BASIC INFO
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="heaD_SEQ" placeholder="ID" class="errorMsgsParentPosition" [disabled]="true">
                    </rb-input>
                    <span fxFlex="2"></span>
                    <!--<rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" placeholder="Description" maxlength="120" required class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
            </rb-input>
            <span fxFlex="2"></span>-->
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="supplierData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" [apiUrl]="apiUrl" minLength="2"
                                         optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" (rbChange)="changeSupplier($event)" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="2"></span>
                    <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="divisionData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divisionId" class="error"></rb-error-messages>
                    </div>
                </div>
            </div>
            <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Supplier Details
                    </div>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierType" placeholder="Supplier Type" maxlength="120" upperCase="true" [disabled]=true class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="originCountryName" placeholder="Origin Country Name" maxlength="20" upperCase="true" [disabled]=true class="errorMsgsParentPosition">
                    </rb-input>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column">
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="currencyCode" placeholder="Currency Code" maxlength="20" upperCase="true" [disabled]=true class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="incotermsCode" placeholder="Incoterms Code" maxlength="20" upperCase="true" [disabled]=true class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="incotermsDesc" placeholder="Incoterms Desc" maxlength="100" [disabled]=true class="errorMsgsParentPosition">
                    </rb-input>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column">
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="originCountryId" placeholder="origin Country Id" maxlength="120" upperCase="true" [hidden]=true class="errorMsgsParentPosition">
                    </rb-input>
                </div>
            </div>
            <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center" *ngIf="editMode && bulkStatus!=='RequestCompleted'">
                <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
                    <button mat-raised-button name="search" id="searchbarSearch" (click)="openLocalItemExcel()" class="searchbtn">Open Excel</button>
                </div>
            </div>

            <div>
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                          [columnDefs]="columns"></rbs-grid>
            </div>

        </form>
    </div>
</div>
