<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/Tolerance/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">

    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="transformableCustInd" placeholder="Transformable Cust Ind" maxlength="1"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="checkPaytermEnabledIndn" placeholder="Check Pay term Enabled Indn" maxlength="1"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dsdLinesPerPo" placeholder="Dsd Lines Per Po" maxlength="6"></rb-input>
      </div>     
    </form>
  </div>
</div>
