<div fxLayout="column" fxFill style="overflow:hidden;">
    <div class="toolbarActions-template">
        <toolBar (save)="save()" (reset)="reset()" (saveAndContinue)="saveAndContinue()"
                 (previousRecord)="previousTab()" (nextRecord)="nextTab()" [closeRedirectUrl]="['/Order/List']" [objectName]="objectName" [objectValue]="tsF_NO"
                 (close)="close()" isItemModule="true"></toolBar>
    </div>
    <div fxLayout="row" class="ItemHeader mainContentHeader">
        <div fxFlex="initial" fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
        </div>
        <div fxFlex>
          <span class="worksheet" *ngIf="tsF_NO > 0">{{ orderMgmtSharedService.orderChangeHeadStatus}}</span><span *ngIf="orderMgmtSharedService.actionType === 'R'">(REJECTED)</span>
        </div>       
    </div>
    <div fxLayout="row" fxFlex class="itemMaster-main-content">
        <div fxFlex="initial" class="sidenavForItem cost-price-sidenav">
            <div class="itemMaster-sideNav">
                <ul class="item-menus">
                    <li class="item-menu" *ngFor="let n of menus" (click)="selected = n.menuText" [ngClass]="{active: n.menuText == selected }">
                        <a class="firstchild" name="mdmmenu" *ngIf="n.items?.length>0">
                            <span class="genaralTabstyles">
                                <span class="retailsNavIcons" [ngClass]="n.iconCss"></span>
                            </span><span class="itemIconSubModule" fxFlex> {{n.menuText}}</span>
                            <span class="collapse-icon retailsNavIcons"></span>
                        </a>

                        <a *ngIf="n.items?.length==0" [routerLink]="select(n.url)" href="#" skipLocationChange routerLinkActive="active">
                            <span class="genaralTabstyles">
                                <span class="retailsNavIcons" [ngClass]="n.iconCss"></span>
                            </span><span class="itemIconSubModule" fxFlex> {{n.menuText}}</span>
                        </a>
                        <ul class="item-submenus showItemMenu item-sub-menu" style="display:none;">
                            <li class="item-menu" *ngFor="let child of n.items" (click)="selected = n.menuText">
                                <a [routerLink]="select(child.url)" href="#" skipLocationChange routerLinkActive="active">
                                    <span class="genaralTabSubstyles">
                                        <span class="generalSubBlack retailsNavIcons" [ngClass]="child.iconCss">
                                        </span>
                                    </span><span class="costitemIconSubModule" fxFlex> {{child.menuText}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content" fxFlex>
            <router-outlet (activate)="notify($event)"></router-outlet>
        </div>
    </div>
</div>
