@import "../../assets/scss/_variables.scss";

.itemMaster-main-content {
  overflow:auto;
  .sidenavForItem {
    background: $textboxborder;
    overflow: auto;
    width: 200px;

    .itemMaster-sideNav {
      ul.item-menus {
        padding: 0;
        list-style: none;
        border-left: 1px solid #808080;
        margin-left: 20px;

        .firstchild {
          padding-top: 0 !important;
          margin-top:15px;
        }

        .lastChild {
          padding-bottom: 0 !important;
        }

        li.item-menu {
          &.active {
            ul.item-sub-menu {
              display: block !important;
            }
          }

          .itemIconSubModule {
            position: relative;
            left: -12px;
            line-height: 2;
            font-weight: $bold;
          }

          .submenuIconStyle {
            line-height: 1.5;
            margin-top: -2px;
          }

          a {
            display: block;
            font-size: $font-15;
            text-transform: capitalize;
            color: $black;
            text-decoration: none;
            padding: 8px 6px;
            font-family: 'Segoe UI';
            border-left: 3px solid transparent;

            .genaralTabstyles {
              position: relative;
              left: -19px;
              width: 20px;
              height: 20px;
              border: 1px solid #aeafaf;
              padding: 6px 6px;
              border-radius: 50px;
              background-color: $textboxborder;
            }

            .genaralTabSubstyles {
              position: relative;
              left: -15px;
              width: 3px;
              height: 3px;
              border: 1px solid #aeafaf;
              padding: 4px 4px;
              border-radius: 50px;
              background-color: $textboxborder;
            }

            .generalBlack {
              background-position: -621px -136px;
              width: 16px;
              height: 16px;
            }

           

            .orderManagement {
              background-position: -546px -138px;
              width: 16px;
              height: 14px;
              margin-top:-3px;
              margin-left:-5px;
            }

           

            .success-indication-tickmark {
              background-position: -778px -257px !important;
              width: 16px !important;
              height: 16px !important;
              margin-left: -6px !important;
              margin-top: -6px !important;
            }

            

            .collapse-icon {
              background-position: -1155px -30px;
              width: 16px;
              height: 9px;
              display: block;
              margin-top: 4px;
            }

            &.active {
              color: $orange;
              cursor: pointer;
              font-weight: 700;

              .generalSubBlack {
                background-position: -977px -75px;
                width: 10px;
                height: 10px;
                margin-left: -4px;
                margin-top: -4px;
              }

              .collapse-icon {
                background-position: -1177px -35px;
                width: 10px;
                height: 5px;
                margin-top: 7px;
                display: block;
              }

              .generalBlack {
                top: -5px;
              }

              

            

              .collapse-icon {
                position: relative;
                width: 16px;
                height: 16px;
                right: 0;
                top: 50%;
              }
            }

            &:hover {
              color: $orange;
              cursor: pointer;

              .generalSubBlack {
                background-position: -977px -75px;
                width: 10px;
                height: 10px;
                margin-left: -4px;
                margin-top: -4px;
              }

              .generalBlack {
                top: -5px;
              }

              
            }

            span {
              display: block;

              .mdmIconSubModule {
                margin-left: 24px;
              }
            }
          }
        }

        .item-submenus {
          margin-left: 0 !important;
          border: 0 !important;
          padding: 0;

          li {
            list-style: none;

            a {
              padding: 5px;
              font-size: $font-13;
              text-decoration: none;
              color: $black;

              &:hover {
                color: $black;
              }

              &.active {
                color: $orange;
                font-weight: $bold;
              }
            }
          }
        }
      }
    }
  }

  .cost-price-sidenav {
    width: 150px !important;

    ul.item-menus {
      margin-left: 23px !important;

      li.item-menu {
        position: relative;

        a {
          font-size: 15px;

          .itemIconSubModule {
            margin-top: -4px;
            position: absolute;
            left: 22px;
          }

          .collapse-icon {
            position: absolute;
            right: 0;
            top: 0px;
          }
        }
      }
    }
  }

}

