@import '../../../assets/scss/_variables.scss';
.domainDataAddRow {
  background-color: #eee;
  padding: 10px;

  .domianHeader {
    font-weight: $bold;
    color: $black;
  }

  .Addrow {
    background-color: $orange;
    color: $white;
  }
}
