<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/NonMerchCode/List']"
                         [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode===true?'Edit':'Add'}}
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
             <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
                    <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" (fxBlur)="checkDomain()" controlName="nonMerchandiseCode"
                                  placeholder="Non Merchandise Code" required="true" [readonly]="editMode" maxlength="4" class="errorMsgsParentPosition" [upperCase]="true" [ngClass]="{'editmode':editMode}">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.nonMerchandiseCode" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                     <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="nonMerchandiseCodeDesc" placeholder="Description" required="true" maxlength="120" class="errorMsgsParentPosition" [upperCase]="true">
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.nonMerchandiseCodeDesc" class="error"></rb-error-messages>
                     </rb-input>
             </div>
              <div fxLayout="row" class="domainDataAddRow">
                    <div fxFlex fxLayoutAlign="start center" class="domianHeader">
                        DETAILS
                    </div>
                    <div fxFlex="initial" fxLayoutAlign="end center">
                        <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
                    </div>
                </div>
                <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
            </form>
        </div>
</div>
