<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/SystemOptions/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
   
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierName" placeholder="Supplier Name" maxlength="250"></rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplier" placeholder="Supplier"></rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="sendDebitMemo" placeholder="Send Debit Memo" maxlength="6"></rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column">
            <rb-input  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="manuallyPaidIndicator" placeholder="Manually Paid Indicator" maxlength="1" ></rb-input>
          </div>
          
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="useInvoceTermsIndicator" placeholder="Use Invoce Terms Indicator" maxlength="1"></rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="rogDateAllowedIndicator" placeholder="RogDate Allowed Indicator" maxlength="1"></rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="apReviewer" placeholder="Ap Reviewer" maxlength="30"></rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="closeOpenShipmentDays" placeholder="Close Open Shipment Days" maxlength="3"></rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="matchRecieptsOthersuppLiersIndicator" placeholder="Match Reciepts Other Suppliers Indicator" maxlength="1"></rb-input>
             <div fxFlex="1"></div>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="qtyDiscDayBeforeRte" placeholder="Qty DiscDay BeforeRate" maxlength="3"></rb-input>
        
        </div>
      </form>
   
  </div>
</div>
