<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/invoiceMatchingDocument/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{orderStatus}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" class="orderHeader">
      <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode && wfHeader">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex="initial" fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             class="basicinfoactionbutton footer-actions-buttons">
          <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                        [formGroup]="serviceDocument?.dataProfile?.profileForm"
                        [dataProfile]="serviceDocument?.dataProfile"
                        [cssClass]="searchbtn"
                        (submitClick)="submitAction()"
                        (rejectClick)="reject()"
                        (sendBackClick)="sendBackForReview()"
                        moduleName="{{screenName}}"
                        [priority]="inboxCommonData?.priority"
                        fxFlex>
          </rb-wf-header>
        </div>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex="initial" fxLayoutAlign="start center">
            Group Entry
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <b style="font-size: 12px;text-transform: capitalize;margin: 0px 10px;">Note:-</b>
            <span class="InfoVariance m-right-15"> Workflow submit buttons will be enabled only when variance is zero </span>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24"  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="controlRecCount" placeholder="Control Count" (fxBlur)="changControlCountInfo($event.target.value)" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="calcCount" placeholder="Calculated Count"  [disabled]="true">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="varianceCount" placeholder="Variance" [disabled]="true">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm"  controlName="createDate" placeholder="Entry Date" [disabled]="true"></rb-date>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="controlTotalCost" placeholder="Control Total" (fxBlur)="changControlTotalInfo($event.target.value)">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="calcCost" placeholder="Calculated Total"  [disabled]="true">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="varianceCost" placeholder="Variance" [disabled]="true">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="currencyCode" placeholder="Currency"  [disabled]="true">
         </rb-input>

      </div>

      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Defaults
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

          <rb-autocomplete fxFlex="24"  [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.type" placeholder="Document Type" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="12"  [optionsData]="vendorTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vendorType" placeholder="Vendor Type" (rbChange)="changeVendorType($event)" class="fx-selectBox"></rb-autocomplete>
          <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vendorTypeDesc" *ngIf="false"></rb-input>
          <div fxFlex="1"></div>
          <rb-date fxFlex="12" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docDate" placeholder="Document Date" [maxDate]="today"></rb-date>
          <div fxFlex="1"></div>          
          <rb-autocomplete fxFlex="24" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" *ngIf="supplierValue" (rbChange)="changeSupplier($event)" class="fx-selectBox"></rb-autocomplete>
          <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supNameDesc" *ngIf="false"></rb-input>
          <rb-autocomplete fxFlex="24" [optionsData]="partnerData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="partnerId" optionValue="partnerDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vendor" placeholder="Partner" *ngIf="partnerValue" (rbChange)="getPartnerDetails($event)" class="fx-selectBox"></rb-autocomplete>
          <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vendorName" *ngIf="false"></rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="12" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="terms" placeholder="Terms">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="12" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="refDoc" placeholder="Reference#">
          </rb-input>
        </div>
      </div>
      <div fxLayout="row" class="m-top-10">
        <div fxFlex>
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" fxLayout="row">
          <button mat-raised-button (click)="addToGrid($event)" class="Addrow">Add Defaults</button>
          <!--<div fxFlex="1"></div>-->
          <!--<button mat-raised-button (click)="add($event)" class="Addrow">{{addText}}</button>-->
        </div>
      </div>
      <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptions" [rowData]="data"
                [columnDefs]="columns"></rbs-grid>

    </form>
  </div>
</div>
