@import '../../assets/scss/_variables.scss';

.Addrow {
  background-color: $orange;
  color: $white;
}
.InfoVariance {
  font-size: 12px;
  font-style: italic;
  text-transform: capitalize;
  color: orangered;
}
