<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/Division/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex fxLayout="column">
    <div class="mainContentHeaderScreen">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="column" class="rbsSectionForHeaders">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              General information
            </div>
          </div>
          <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
              <rb-autocomplete required [optionsData]="groupData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                               optionKey="groupNo" optionValue="groupName" [formControl]="serviceDocument.dataProfile.profileForm.controls.groupNo"
                               placeholder="Category" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupNo" class="error"></rb-error-messages>
            </div>
            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="dept" placeholder="Id" min="0" maxlength="4" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dept" class="error"></rb-error-messages>
            </div>
            <div fxFlex="2"></div>
            <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptName" required placeholder="Description" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deptName" class="error"></rb-error-messages>
            </rb-input>
          </div>

          <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Include Vat in Retail*</span>
                <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptVatInclInd" placeholder="Markup Calc Type"
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deptVatInclInd" class="error"></rb-error-messages>
              </p>
            </div>

            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Markup Calc Type*</span>
                <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="markupCalcType" placeholder="Markup Calc Type"
                                [optionsData]="markupCalTypeDtlData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.markupCalcType" class="error"></rb-error-messages>
              </p>
            </div>
            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Otb Calc Type*</span>
                <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="otbCalcType" placeholder="Otb Calc Type"
                                [optionsData]="profitCalcTypeDtlData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.otbCalcType" class="error"></rb-error-messages>
              </p>
            </div>
          </div>
          <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Profit Calc Type*</span>
                <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="profitCalcType" placeholder="Profit Calc Type"
                                [optionsData]="profitCalcTypeDtlData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.profitCalcType" class="error"></rb-error-messages>
              </p>
            </div>
            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Purchase Type*</span>
                <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="purchaseType" placeholder="Purchase Type"
                                [optionsData]="purchTypesDtlData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.purchaseType" class="error"></rb-error-messages>
              </p>
            </div>
            <div fxFlex="2"></div>
            <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="avgTolerancePct" placeholder="Average Tolerance %" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="16">
            </rb-numeric>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-autocomplete fxFlex="32" [optionsData]="buyerData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="buyer" optionValue="buyerName" [formControl]="serviceDocument.dataProfile.profileForm.controls.buyer"
                             placeholder="Buyer" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="2"></span>
            <rb-autocomplete fxFlex="32" [optionsData]="merchData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="merch" optionValue="merchName" [formControl]="serviceDocument.dataProfile.profileForm.controls.merch"
                             placeholder="Merchant" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="2"></span>
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="budInt" placeholder="Markup % of Retail" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="16" required>
              </rb-numeric>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.budInt" class="error"></rb-error-messages>
            </div>
          </div>
          <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="budMkup" placeholder="Markup % of Cost" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="16" required>
              </rb-numeric>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.budMkup" class="error"></rb-error-messages>
            </div>
            <div fxFlex="2"></div>
            <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="totalMarketAmt" placeholder="Total Market Amount (In Thousands)" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="24">
            </rb-numeric>
            <div fxFlex="2"></div>
            <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="maxAvgCounter" placeholder="Max. Average Counter" min="0" maxlength="5"></rb-numeric>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
