<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
                <div fxFlex="initial">
                    <div class="listitem" [hidden]="!showSearchCriteria">
                        <a href="#" (click)="openListView($event)" [ngClass]="{active: selected === 'listView' }" name="listView" id="listView" class="retailNavigationIcons listView" matTooltip="List View"></a>
                        <a href="#" (click)="openCalendarView($event)" [ngClass]="{active: selected === 'calendarView' }" name="calendarView" id="calendarView" class="retailNavigationIcons calendarView m-left-10" matTooltip="Calendar View"></a>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <p class="noMargin radiobtnForMargin">
                            <span class="radiobtns">Location Type *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="locationType" placeholder="Location Type"
                                            [optionsData]="locationTypeData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" (rbChange)="updateDependentControls($event)"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.locationType" class="error"></rb-error-messages>
                        </p>
                    </div>
                    <div fxFlex="1"></div>
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" (rbChange)="locationChangeEvent()" ngDefaultControl
                                         optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.receivingLocationId" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.receivingLocationId" class="error"></rb-error-messages>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" *ngIf="hideCalendar===true">
                    <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromDate" placeholder="From Date"
                                 class="errorMsgsParentPosition" [maxDate]="serviceDocument.dataProfile.profileForm.controls.toDate.value"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fromDate" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toDate" placeholder="To Date"
                                 class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.fromDate.value"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toDate" class="error"></rb-error-messages>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="hideCalendar===true">
            <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                              [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                              navigate="false" [showAdd]="false" restrictSearch="true" #searchPanelScheduler></rbs-search-panel>
        </div>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
        <div *ngIf="hideCalendar===false">
            <div class="full-calendar-details">
                <!--<angular2-fullcalendar [options]="calendarOptions" #mycalendar></angular2-fullcalendar>-->
            </div>
        </div>
    </div>
</div>
