<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)"  (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/Region/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>          
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
              <rb-autocomplete [optionsData]="areaDomainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="area" optionValue="areaNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.area" placeholder="Area" required class="fx-selectBox"></rb-autocomplete>
            </div>
            <div fxFlex="2"></div>
            <rb-numeric fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="region" placeholder="Region Id" min="0" maxlength="10" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.region" class="error"></rb-error-messages>
            <div fxFlex="2"></div>
            <rb-input fxFlex="40" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="regionName" placeholder="Region Name" maxlength="120" required upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="mgrName"  placeholder="Manager Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
            <div fxFlex="2"></div>
            <rb-autocomplete fxFlex="32" [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency" class="fx-selectBox"></rb-autocomplete>
          </div>              
        </form>
</div>
    </div>
