@import '../../../assets/scss/_variables.scss';

.itemSupplierInfo {
        .recordDetailsDialog {
            .workflow-dailog-title {
              line-height: 3;
            }
        }

        .toolbarActions-template {
            background-color: #2b3d4b;
            padding: 0px 11px;

            .headerToolbaricon {
                padding: 5px !important;
                min-width: 80px !important;

                .closeIcon {
                  background: url('../../../assets/images/Untitled-1.svg') no-repeat;
                  display: inline-block;
                }

                .closeImage {
                  background-position: -79px 0;
                  width: 23px;
                  height: 23px;
                }

                p {
                  font-size: 12px;
                  margin: 0;
                  line-height: 1.5;
                }
            }
        }

        .ComponentLevelMainContent {
          padding: 10px;
          overflow: auto;

        }
}
