<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <div fxLayout="row"  class="domainDataAddRow">
        <div fxFlex fxLayoutAlign="start center" class="domianHeader">
          PRIMARY ACTIONS
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" >
          <button mat-raised-button (click)="reset()" class="resetbtn">Reset</button>
          <span fxFlex="3"></span>
          <button mat-raised-button (click)="save()" class="searchbtn">Save</button>
        </div>
      </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" required
                    placeholder="Item/Barcode" maxlength="25" class="errorMsgsParentPosition find-item-styles">
            <span class="item-list-findItems"><a (click)="itemBasedLogic()" class="fliter-item ">GET ITEM</a></span>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description" class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
        </div>

        <div fxLayout="column" class="rbsSectionForHeaders m-top-20">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              HIERARCHY DETAILS
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="divisionDesc" placeholder="Division" [readonly]="true">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptDesc" placeholder="Department" [readonly]="true">
            </rb-input>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="categoryDesc" placeholder="Category" [readonly]="true">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="classDesc" placeholder="Fineline" [readonly]="true">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subClassDesc" placeholder="Segment" [readonly]="true">
            </rb-input>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="24" [optionsData]="inventoryStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.invStatus" placeholder="Inventory Status" class="fx-selectBox"></rb-autocomplete>
        </div>

        <div fxLayout="row" class="domainDataAddRow">
          <div fxFlex fxLayoutAlign="start center" class="domianHeader">
           ROW DETAILS
          </div>
          <div fxFlex="initial" fxLayoutAlign="end center">
            <button mat-raised-button (click)="add($event)" class="searchbtn">+ Add Detail</button>
          </div>
        </div>
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                  [columnDefs]="columns"></rbs-grid>
      </div>
    </div>
