/* Colors */
/* Fonts */
/*margin vs padding*/
.m-top-5 {
  margin-top: 5px !important; }

.m-top-10 {
  margin-top: 10px !important; }

.m-top-15 {
  margin-top: 15px; }

.m-top-25 {
  margin-top: 25px; }

.m-top-30 {
  margin-top: 30px; }

.m-bottom-5 {
  margin-bottom: 5px; }

.m-bottom-10 {
  margin-bottom: 10px !important; }

.m-bottom-15 {
  margin-bottom: 15px; }

.m-bottom-20 {
  margin-bottom: 20px; }

.m-bottom-25 {
  margin-bottom: 25px; }

.m-bottom-30 {
  margin-bottom: 30px; }

.m-left-5 {
  margin-left: 5px; }

.m-left-10 {
  margin-left: 10px !important; }

.m-left-15 {
  margin-left: 15px; }

.m-left-20 {
  margin-left: 20px; }

.m-left-25 {
  margin-left: 25px; }

.m-left-30 {
  margin-left: 30px; }

.m-right-5 {
  margin-right: 5px; }

.m-right-10 {
  margin-right: 10px !important; }

.m-right-15 {
  margin-right: 15px; }

.m-right-20 {
  margin-right: 20px; }

.m-right-25 {
  margin-right: 25px; }

.pdding-top-5 {
  padding-top: 5px; }

.padding-0 {
  padding: 0 !important; }

.padding-top-0 {
  padding-top: 0 !important; }

.padding-left-10 {
  padding-left: 10px; }

.padding-left-15 {
  padding-left: 15px; }

.padding-left-25 {
  padding-left: 20px; }

.padding-left-20 {
  padding-left: 25px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-right-15 {
  padding-right: 15px; }

.padding-right-20 {
  padding-right: 20px; }

.padding-right-25 {
  padding-right: 25px; }

.m-left15px {
  margin-left: 15px !important; }

.margin-left20px {
  margin-left: 20px !important; }

.m-top20 {
  margin-top: 20px; }

/* form designer: grid stack */
/*@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}*/
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden; }
  html .retailsNavIcons {
    background: url("../images/RbsIcons.svg") no-repeat; }
  html .retailNavigationIcons {
    background: url("../images/RbsPngSprite.svg") no-repeat; }
  html .mainwrap {
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    display: flex;
    flex-direction: column; }
    html .mainwrap .mat-sidenav-container .mat-sidenav .mat-drawer-inner-container rbs-sidenav {
      overflow-x: hidden; }
    html .mainwrap .mat-sidenav-container .mat-drawer-content {
      overflow: inherit !important; }
      html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar {
        height: 60px;
        background-color: #2b3d4b;
        width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 99;
        padding: 0px 10px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .logoheader img {
          max-height: 60px;
          width: auto; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .hamberger-menu-icon {
          background-position: -867px -260px;
          width: 16px;
          height: 12px;
          margin-left: 10px;
          display: block; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a {
          height: 60px;
          min-height: 60px;
          font-weight: 400;
          font-size: 12px;
          box-shadow: none;
          line-height: 60px;
          background: #2b3d4b;
          color: #ffffff;
          font-family: 'Segoe UI'; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a:hover {
            background: #2b3d4b;
            color: #ffffff; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a:focus {
            background: #2b3d4b;
            color: #ffffff; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a .main-header-buttons {
            margin-left: 5px; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a .main-header-buttons .navbarHeaderDropDown {
              background-position: -239px -77px;
              width: 12px;
              height: 7px;
              display: inline-block; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a span .navmenuStyleLangage {
            display: inline-block;
            background-position: -761px -199px;
            width: 16px;
            height: 16px; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .top-bar .toolbar-headermenu a span .navmenuStylelocation {
            background-position: -736px -198px;
            width: 16px;
            height: 17px;
            display: inline-block; }
      html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content {
        overflow: auto; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader {
          padding: 10px 16px 10px 20px;
          color: black;
          background: #e2e2e2;
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 600; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .listitem {
            padding: 0 10px;
            font-size: 12px;
            border-right: 1px solid #a4a4a4;
            text-transform: capitalize;
            cursor: pointer; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .listitem:last-child {
            border-right: none; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .listitem a, html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader a.listitem {
            color: #008457 !important; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .listView {
            background-position: -96px -35px;
            width: 20px;
            height: 20px;
            display: inline-block; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .listView.active {
              background-position: -123px -35px;
              width: 20px;
              height: 20px;
              display: inline-block; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .calendarView {
            background-position: -148px -35px;
            width: 20px;
            height: 20px;
            display: inline-block; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .calendarView.active {
              background-position: -173px -35px;
              width: 20px;
              height: 20px;
              display: inline-block; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .worksheet {
            font-size: 13px;
            font-weight: 400;
            margin-left: 10px; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .page-title {
            border-right: 2px solid #e4e3e3; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .mainContentHeader .page-title span {
              margin-right: 10px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .logingScreenBg .mat-tab-label-active {
          border: 1px solid #ccc;
          color: #f05e00;
          border-bottom: 0;
          font-weight: 600; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .sticky-btn {
          position: sticky;
          top: 0;
          z-index: 9998;
          border: 1px dotted #dddddd; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .sticky-position-content {
          overflow: auto; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .img-loader {
          position: absolute;
          top: 12px;
          left: 9px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .basicinfoactionbutton {
          padding: 4px 20px !important;
          margin: 0 !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent {
          padding: 20px;
          overflow: auto; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .errorMsgsParentPosition {
            position: relative; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .error {
            color: #ff0000;
            font-size: 12px;
            position: absolute;
            bottom: 0;
            left: 0; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .inbox-tabs-header .mat-tab-header {
            border: none;
            overflow: inherit !important;
            width: 100%; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .inbox-tabs-header .mat-tab-labels .mat-tab-label {
            border-right: 4px solid #ffffff;
            font-size: 14px;
            font-weight: 600;
            height: 35px;
            width: 25%;
            background-color: #517591;
            color: #ffffff; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .inbox-tabs-header .mat-tab-label-active {
            background: #ffffff !important;
            color: #000 !important;
            border-bottom: 3px solid #f05e00; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .mat-tab-label-container {
            background-color: #e2e0e0; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons {
            margin: 20px 0px; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons .addbtn {
              margin-right: 20px;
              padding: 2px 35px;
              background: #23a89f;
              color: #ffffff; }
              html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons .addbtn:hover {
                background: #51dbd1; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons .searchbtn {
              padding: 2px 35px;
              background: #f05e00;
              color: #ffffff; }
              html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons .searchbtn:hover {
                background: #ff9757; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons .resetbtn {
              padding: 2px 40px;
              background: #a4a4a4;
              color: #ffffff;
              margin-right: 20px; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons a {
              text-decoration: underline;
              color: #008457;
              cursor: pointer; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .ComponentLevelMainContent .footer-actions-buttons .fliter-search-item {
              font-weight: 600;
              margin: 10px 0px 0px 20px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content fx-input.deisgn-style {
          margin: 0px 5px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .showbox {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 5%;
          background: rgba(0, 0, 0, 0.4);
          z-index: 9999; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .showbox .loader {
            position: relative;
            width: 100px; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .showbox .mat-progress-spinner.mat-accent circle, html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .showbox .mat-spinner.mat-accent circle {
            stroke: #f59220 !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .margin-right {
          margin-right: 20px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .radiobtns {
          position: relative;
          top: 3px;
          font-size: 11px;
          left: 10px;
          background: #ffffff;
          color: grey;
          padding-left: 3px;
          padding-right: 3px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .fx-radiogroup {
          border: 1px solid #ccc;
          height: 44px;
          border-radius: 5px;
          margin-top: -8px; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .fx-radiogroup .mat-radio-label {
            font-size: 14px;
            font-weight: 500 !important; }
            html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .fx-radiogroup .mat-radio-label .mat-radio-container {
              width: 15px;
              height: 15px; }
              html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .fx-radiogroup .mat-radio-label .mat-radio-container .mat-radio-outer-circle {
                width: 15px;
                height: 15px; }
              html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .fx-radiogroup .mat-radio-label .mat-radio-container .mat-radio-inner-circle {
                height: 17px;
                left: -1px;
                top: -1px;
                width: 17px; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .mat-radio-checked .mat-radio-outer-circle {
          border-color: #f05e00 !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .mat-radio-checked .mat-radio-inner-circle {
          background-color: #f05e00; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content p .mat-radio-button {
          margin: 12px 9px !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .editmode .mat-form-field.mat-focused .mat-input-element {
          border-color: rgba(0, 3, 161, 0.18) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .editmode .mat-form-field.mat-focused .mat-input-placeholder-wrapper label {
          color: black !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .editmode .mat-input-element {
          border: 1px solid rgba(162, 160, 160, 0.18) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .editmode .fx-radiogroup {
          border: 1px solid rgba(193, 190, 190, 0.18) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .mat-select-arrow, html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .mat-select-disabled {
          border: 1px solid rgba(193, 190, 190, 0.18) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .fx-radiogroup {
          border: 1px solid rgba(193, 190, 190, 0.18) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .mat-select-arrow, html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .mat-select-disabled .mat-select-value, html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .mat-select-trigger {
          color: rgba(0, 0, 0, 0.87) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .disable-textFields-styles .mat-radio-disabled .mat-radio-label-content {
          color: rgba(0, 0, 0, 0.87) !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .progress-spinner {
          color: #f05e00 !important; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .radio-buttons-errros-messages .fx-radiogroup {
          margin-bottom: 1em;
          display: block; }
        html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .material-auto-complete {
          position: relative; }
          html .mainwrap .mat-sidenav-container .mat-drawer-content .main-content .material-auto-complete .autocomplte-search-icon {
            position: absolute;
            background-position: -1048px -23px;
            width: 16px;
            height: 16px;
            right: 8px;
            top: 13px; }

.mat-form-field {
  width: 100%;
  margin: 1em 0; }
  .mat-form-field.mat-focused .mat-input-element {
    border-color: #f05e00 !important; }
  .mat-form-field.mat-focused .mat-empty {
    background: #ffffff !important; }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    height: 0;
    background-color: transparent; }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #f05e00 !important; }
  .mat-form-field .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(193, 190, 190, 0.18) !important; }
  .mat-form-field .mat-input-wrapper, .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0; }
    .mat-form-field .mat-input-wrapper .mat-form-field-underline, .mat-form-field .mat-form-field-wrapper .mat-form-field-underline {
      border: 0;
      height: 0;
      display: none; }
    .mat-form-field .mat-input-wrapper .mat-form-field-flex .mat-form-field-infix, .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
      padding: 2px;
      border-top: none; }
      .mat-form-field .mat-input-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element, .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
        overflow: auto;
        line-height: 45px;
        border: 1px solid #dcd2d2;
        height: 45px;
        border-radius: 5px;
        padding: 0px 0px 0px 10px;
        box-sizing: border-box;
        font-size: 14px; }
      .mat-form-field .mat-input-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-ripple, .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-ripple {
        height: 0;
        background-color: transparent; }
      .mat-form-field .mat-input-wrapper .mat-form-field-flex .mat-form-field-infix .mat-datepicker-toggle, .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-datepicker-toggle {
        position: absolute;
        top: 0;
        right: 0; }
      .mat-form-field .mat-input-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper, .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper {
        position: absolute;
        top: -4px;
        width: 100%;
        padding: 10px 0px;
        font-size: 14px; }
        .mat-form-field .mat-input-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-input-placeholder, .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-input-placeholder {
          width: auto !important;
          padding-left: 3px;
          padding-right: 3px;
          border-color: orange;
          font-size: 14px !important;
          color: #615e5e;
          margin-left: 10px;
          display: block; }

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  width: auto !important;
  margin: 0 0px 0px 9px;
  background-color: #ffffff;
  padding: 0px 8px; }

.mat-form-field-appearance-legacy .mat-form-field-label {
  margin: 0px 10px; }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  display: none !important; }

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  border: 1px solid #e66d6d !important; }

.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled), .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #f05e00 !important;
  color: #ffffff; }

.mat-option {
  font-size: 14px !important; }

.WorkFolwHistoryContent .mat-tab-labels .mat-tab-label {
  border-right: 4px solid #ffffff;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  width: 25%;
  background-color: #517591;
  color: #ffffff; }

.WorkFolwHistoryContent .mat-tab-label-active {
  background: #ffffff !important;
  color: #000 !important;
  border-bottom: 3px solid #f05e00; }

/********Error & save, warning Alerts messages styles starts********/
.mat-dialog-container {
  padding: 0px !important;
  background: #f5f5f5;
  overflow: hidden !important;
  border-radius: 7px !important;
  border: 1px solid #ccc;
  position: relative; }
  .mat-dialog-container .fx-dialog-title {
    padding: 6px 8px;
    border-bottom: 1px solid #c1c7c1;
    color: #ffffff; }
  .mat-dialog-container .dontsaveAlert {
    background: #ebb100;
    padding-left: 50px; }
  .mat-dialog-container .successIndicationDialog {
    background-color: #008457;
    padding-left: 50px; }
  .mat-dialog-container .iconcssSuceessStyle {
    background-position: -1085px -70px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 10px; }
  .mat-dialog-container .iconcssErrorStyle {
    background-position: -1136px -70px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 10px; }
  .mat-dialog-container .mat-dialog-content {
    margin: 0px !important;
    font-size: 15px;
    padding: 0px 37px; }
  .mat-dialog-container .uomClassErrorDiaglog {
    background-color: #d75a4a;
    padding-left: 50px; }
  .mat-dialog-container .iconsdontsave {
    background-position: -1198px -70px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 10px; }
  .mat-dialog-container .devartException {
    margin-bottom: 15px;
    font-size: 13px;
    border: 2px solid #f05e00;
    padding: 10px;
    background: transparent; }
  .mat-dialog-container .mat-dialog-actions:last-child {
    margin-bottom: 0px; }
  .mat-dialog-container .mat-dialog-actions {
    padding: 12px;
    float: right; }
    .mat-dialog-container .mat-dialog-actions .fx-button {
      background: #a6a6a6;
      margin: 10px;
      color: #ffffff; }
  .mat-dialog-container .recordDetailsDialog {
    margin: 0;
    padding: 6px;
    background: #2b3d4b;
    color: #ffffff; }
  .mat-dialog-container .dialogInputs {
    overflow: auto; }
    .mat-dialog-container .dialogInputs .mat-form-field-label {
      background-color: #f5f5f5;
      color: #f05e00 !important; }
    .mat-dialog-container .dialogInputs .dialogbox {
      color: #f05e00;
      margin-bottom: 10px; }
      .mat-dialog-container .dialogInputs .dialogbox .mat-dialog-title {
        display: -webkit-box;
        padding: 0px 15px; }
    .mat-dialog-container .dialogInputs .mat-dialog-title {
      display: -webkit-box; }

/********Ag grid styles starts here********/
.ag-theme-balham input[type=text] {
  padding: 5px;
  width: 100%; }

.ag-theme-balham .invalid-grid-row input[type=text] {
  border: 1px solid #f05e00 !important; }

.ag-theme-balham .invalid-grid-row select {
  border: 1px solid #f05e00 !important; }

.ag-theme-balham .invalid-grid-row .input-type-date {
  border: 1px solid #f05e00 !important; }

.ag-theme-balham select {
  padding: 5px 0px;
  width: 75%; }

.ag-theme-balham input[type="checkbox"] {
  width: 20px;
  height: 20px; }

.ag-theme-balham .ag-header-cell-menu-button .ag-icon-menu {
  display: block;
  height: 19px !important;
  background-color: #ffffff;
  margin-top: 13px;
  border-radius: 50px; }

.ag-theme-balham .ag-sort-ascending-icon, .ag-theme-balham .ag-sort-descending-icon {
  right: 40px !important;
  background-color: #ffffff;
  height: 18px;
  line-height: 2;
  margin-top: 12px;
  border-radius: 50px; }

.ag-theme-balham .ag-header {
  height: 45px !important;
  border-bottom: 1px solid #ccc;
  background: #23a89f; }

.ag-theme-balham .ag-header-cell-label {
  line-height: 3.5;
  text-transform: uppercase; }

.ag-theme-balham .ag-header-cell-text {
  color: #ffffff; }

.ag-theme-balham .ag-header-cell {
  padding-top: 0px !important;
  line-height: 18px !important; }

.ag-theme-balham .ag-header-row {
  height: 44px !important; }

.ag-theme-balham .ag-root {
  border: 1px solid #ccc; }

.ag-theme-balham .ag-ltr .ag-header-cell {
  border-right: 1px solid #ffffff; }

.ag-theme-balham .ag-cell-not-inline-editing {
  padding: 7px 5px;
  font-size: 12px; }

.ag-theme-balham .ag-header-icon {
  position: absolute;
  right: 8px; }

.ag-theme-balham .ag-layout-normal .ag-body-viewport-wrapper {
  height: 95%; }

.ag-theme-balham .file-actions {
  background-position: -1936px -25px !important;
  width: 18px;
  height: 15px;
  margin-left: 20px;
  color: #008457; }

.ag-theme-balham .excel-icon {
  background-position: -941px -23px !important;
  width: 16px;
  margin-left: 40px;
  height: 15px; }

.ag-theme-balham .ag-overlay-no-rows-center {
  background-color: #f05e00;
  color: white; }
