<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Obligation/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{orderStatus}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" class="orderHeader">
      <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             class="action-status-user">
          <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                        [formGroup]="serviceDocument?.dataProfile?.profileForm"
                        [dataProfile]="serviceDocument?.dataProfile"
                        [cssClass]="searchbtn"
                        (submitClick)="submitAction()"
                        (rejectClick)="reject()"
                        (sendBackClick)="sendBackForReview()"
                        moduleName="{{screenName}}"
                        [priority]="inboxCommonData?.priority"
                        fxFlex>
          </rb-wf-header>
        </div>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            GENERAL DETAILS
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="obligatioN_KEY" placeholder="Obligation" maxlength="15" class="errorMsgsParentPosition" [disabled]="true">
          </rb-input>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="obligationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.obligationLevel" placeholder="Obligation Level DC" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.obligationLevel" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue1" placeholder="Shipment Number" required maxlength="6" class="errorMsgsParentPosition" (fxBlur)="getShipmentInfo($event.target.value)">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.keyValue1" class="error"></rb-error-messages>
          </rb-input>          
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue2" placeholder="Voyage Flight" [disabled]="true" maxlength="250" class="errorMsgsParentPosition">

          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue3" placeholder="Est Depart Date" [disabled]="true" class="errorMsgsParentPosition"></rb-date>
          <div fxFlex="1"></div>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue4" placeholder="Vessel" maxlength="250" [disabled]="true" class="errorMsgsParentPosition">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <p class="noMargin ">
              <span class="radiobtns">Type *</span>
              <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue5"
                              [optionsData]="domainRadioData" optionsKey="code" optionsValue="codeDesc" (rbChange)="getDataChage($event)"></rb-radio-group>

            </p>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.keyValue5" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1" *ngIf="partner"></div>
          <rb-autocomplete fxFlex="24" [optionsData]="partnerTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl minLength="2" *ngIf="partnerType"
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerType" placeholder="Partner Type" class="fx-selectBox" (rbChange)="getPartnerData($event)"></rb-autocomplete>

          <div fxFlex="1" *ngIf="partner"></div>
          <rb-autocomplete fxFlex="24" [optionsData]="partnerData" [formGroup]="serviceDocument.dataProfile.profileForm" *ngIf="partner" ngDefaultControl [disabled]="!serviceDocument.dataProfile.profileForm.controls['partnerType']?.value"
                           optionKey="partnerId" optionValue="partnerDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerId" placeholder="Partner" class="fx-selectBox" (rbChange)="getPartnerDetails($event)"></rb-autocomplete>
          <div fxFlex="1" *ngIf="supp"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="supplierData"  [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl *ngIf="supp" [apiUrl]="apiUrl" minLength="2"
                             optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" (rbChange)="changeSupplier($event)" class="fx-selectBox"></rb-autocomplete>
          </div>
            <div fxFlex="1"></div>
            <rb-input fxFlex="25" required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extInvcNo" placeholder="Invoice No" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.extInvcNo" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-date required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extInvcDate" placeholder="Invoice Date" [maxDate]="today"></rb-date>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.extInvcDate" class="error"></rb-error-messages>
            </div>
            <div fxFlex="1"></div>
            <rb-autocomplete fxFlex="24" [optionsData]="paymentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.paymentMethod" placeholder="Payment Method" class="fx-selectBox"></rb-autocomplete>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="paidAmt" placeholder="Paid Amount" required maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.paidAmt" class="error"></rb-error-messages>
            </rb-input>
            <div fxFlex="1"></div>
            <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" [maxDate]="today" controlName="paidDate" placeholder="Paid Date" class="errorMsgsParentPosition"></rb-date>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <p fxFlex="24" class="noMargin ">
              <span class="radiobtns">Check Authorization</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="checkAuthNo"
                              [optionsData]="checkAuthData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            </p>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="currencyCode" placeholder="Currency" [disabled]="true" maxlength="50" class="errorMsgsParentPosition">
            </rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="exchangeRate" placeholder="Exchange Rate" [disabled]="true" maxlength="50" class="errorMsgsParentPosition">
            </rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDesc" placeholder="Comments" class="errorMsgsParentPosition">
            </rb-input>
          </div>
        </div>
      <div fxLayout="row"class="domainDataAddRow">
        <div fxFlex fxLayoutAlign="start center" class="domianHeader">
            OBLIGATION  DETAILS
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <button mat-raised-button (click)="add($event)" class="Addrow">+ Add Detail</button>
        </div>
      </div>
      <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptions" [rowData]="data"
                [columnDefs]="columns"></rbs-grid>

    </form>
</div>
</div>
