<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="49" [optionsData]="obligationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.obligationLevel" placeholder="Obligation Level" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>          
          <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extInvcNo" placeholder="Invoice No"  class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="obligationKey" placeholder="Obligation"  class="errorMsgsParentPosition">
          </rb-input>
        </div>
      </div>

      <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="50" [optionsData]="partnerTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerType" placeholder="Partner Type" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="50" [optionsData]="partnerData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl 
                           optionKey="partnerId" optionValue="partnerDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerId" placeholder="Partner" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="50" [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="49" [optionsData]="paymentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.paymentMethod" placeholder="Payment Type" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="49" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <p fxFlex="49" class="noMargin ">
            <span class="radiobtns">Check Authorization</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="checkAuthNo"
                            [optionsData]="checkAuthData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
          </p>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue1" placeholder="Shipment Number"  maxlength="6" class="errorMsgsParentPosition" (fxBlur)="getShipmentInfo($event.target.value)">
          </rb-input>          
          <div fxFlex="1"></div>
          <rb-input fxFlex="24"  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue2" placeholder="Voyage Flight" [disabled]="true" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue3" placeholder="Est Depart Date" [disabled]="true" class="errorMsgsParentPosition"></rb-date>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="keyValue4" placeholder="Vessel"  [disabled]="true" class="errorMsgsParentPosition">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-date fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromExtInvcDate"
                   placeholder="Invoice From Date" [minDate]="serviceDocument.dataProfile.profileForm.controls.fromExtInvcDate.value"></rb-date>
          <div fxFlex="1"></div>
          <rb-date fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toExtInvcDate"
                   placeholder="Invoice To Date" [minDate]="serviceDocument.dataProfile.profileForm.controls.toExtInvcDate.value"></rb-date>
          <div fxFlex="1"></div>
          <rb-date fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromPaidDate"
                   placeholder="Paid From Date" [minDate]="serviceDocument.dataProfile.profileForm.controls.fromPaidDate.value"></rb-date>
          <div fxFlex="1"></div>
          <rb-date fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toPaidDate"
                   placeholder="Paid To Date" [minDate]="serviceDocument.dataProfile.profileForm.controls.toPaidDate.value"></rb-date>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation()" restrictSearch="true" #searchPanel></rbs-search-panel>

    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
