@import "../../../assets/scss/_variables.scss";

.wizard {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 30px;
}

.wizard .wizard-step {
  position: relative;
  padding-top: 30px;
  text-align: center;
  list-style: none;
}

.wizard .wizard-step:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #d3d4d4;
  left: -50%;
  z-index: 1;
}

.wizard .wizard-step:after {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  top: 14px;
  left: 50%;
  border-radius: 50%;
  margin-left: -15px;
  z-index: 2;
}

.wizard .wizard-step:first-child:before {
  content: inherit;
  display: none;
  opacity: 0;
}

.wizard .wizard-step p {
  color: grey;
}

.wizard .wizard-step .state-name {
  color: grey;
  font-size: $font-12;
}

.wizard .wizard-step .time {
  margin: 3px 0;
  font-size: 11px;
}

.wizard .wizard-step.completed:before, .wizard .wizard-step.completed:after {
  background-color: green;
}

.wizard .wizard-step a {
  color: black;
  text-decoration: none;
  position: relative;
}

.wizard .wizard-step.completed:after {
  background-position: center;
}

@media screen and (max-width: 959px) {
  .wizard .wizard-step p {
    font-size: 12px;
  }
}

@media screen and (max-width: 599px) {
  .wizard {
    margin-bottom: 0;
    padding: 20px 10px;
  }

  .wizard .wizard-step {
    padding: 15px;
    padding-left: 45px;
    text-align: left;
  }

  .wizard .wizard-step:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 6px;
    left: 11px;
    top: -50%;
  }

  .wizard .wizard-step:after {
    left: 0px;
    top: 50%;
    margin-left: 0;
    margin-top: -14px;
  }
}


.main-timelineIcon {
  position: absolute;
  top: -9px;
  margin-left: -7px;
  z-index: 99999;
  /*background: url('../../ClientApp/images/RbsIcons.svg') no-repeat;*/
}

.earliestShipDate {
  background-position: -2042px -254px !important;
  width: 13px;
  height: 12px;
}

.timline-icon {
  z-index: 9999;
  display: block;
  margin: 8px 8px;
}

.writtenDate {
  background-position: -1980px -253px !important;
  width: 13px;
  height: 13px;
}

.approvalDate {
  background-position: -2008px -256px !important;
  width: 13px;
  height: 10px;
}

.latestShipDate {
  background-position: -2042px -254px !important;
  width: 13px;
  height: 12px;
}

.notBeforeDate {
  background-position: -2078px -252px !important;
  width: 13px;
  height: 13px;
}

.notAfterDate {
  background-position: -2078px -252px !important;
  width: 13px;
  height: 13px;
}

.closeDate {
  background-position: -2118px -254px !important;
  width: 12px;
  height: 13px;
}

.meta10:after {
  background-color: $thinkgreen !important;
}

.meta11:after {
  background-color: $skyblue !important;
}

.meta22:after {
  background-color: #bb5d99 !important;
}

.meta33:after {
  background-color: #bb5d99 !important;
}

.meta44:after {
  background-color: #f53cb2 !important;
}

.meta55:after {
  background-color: #f53cb2 !important;
}

.meta66:after {
  background-color: $orange !important;
}


.angular-mat-tabs-headers {
  margin-top: 10px;
  background-color: #e2e0e0;

  .mat-tab-label-container {
    background-color: #e2e0e0;
  }

  .mat-tab-header {
    border: none;
    overflow: inherit !important;
    width: 100%;
  }

  .mat-tab-labels {
    box-shadow:  0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0  rgba(0,0,0,.14),   0 1px 5px 0  rgba(0,0,0,.12);

    .mat-tab-label {
      border-right: 4px solid $white;
      font-size: $font-default;
      font-weight: $bold;
      height: 35px;
      width: 25%;
      background-color: #517591;
      color: $white;
    }
  }

  .mat-tab-label-active {
    background: white !important;
    color: $black !important;
    border-bottom: 4px solid $orange;
  }

  .mat-tab-body-content {
    overflow: inherit !important;
  }

  .mat-tab-label {
    background-color: #517591;
    color: $white;
  }
}

mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: transparent !important;
}

.mat-tab-body.mat-tab-body-active {
  overflow: inherit !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar .mat-primary .mat-ink-bar {
  background-color: transparent !important;
}

.mat-empty {
  background: none !important;
}
.Addrow{
  background-color:$orange;
  color:$white;
}
