@import "../../../assets/scss/_variables.scss";
/**************Security Screen********************/
.rbs-autocmplte-chips-content {
  .chips-align {
    .btn-chip-close {
      position: absolute;
      right: 12px;
    }
  }

  .upload-img-styles {
    text-align: center;

    img {
      width: 150px;
      border-radius: 100%;
    }

    .upload-image {
      height: 150px;
    }
  }

  .file-rbs-imges {
    margin-left: 90px;
  }

  .mat-chip:not(.mat-basic-chip) + .mat-chip:not(.mat-basic-chip) {
    margin: 4px 0 4px 0px !important;
  }

  .rbs-autocomplete-chips {
    .mat-chip-list-stacked .mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) {
      display: inline-block !important;
      margin-left: 5px;
    }
  }

  .mat-chip {
    font-size: $font-11 !important;
  }

  .user-security-chips {
    p {
      border: 1px solid $textboxborder;
      border-radius: 5px;

      .radiobtns {
        top: -13px !important;
      }
    }
  }

  .user-security-dashed-line {
    h2 {
      width: 100%;
      text-align: center;
      border-bottom: 2px dashed #eee;
      line-height: 0.1em;
      font-size: $font-12;
    }

    h2 span {
      background: $white;
      padding: 3px 6px 7px;
      border: 2px solid $textboxborder;
      border-radius: 50px;
    }
  }

  .imageClass {
    vertical-align: middle;
    /*margin-right: 10px;*/
  }
}
