<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent rbs-autocmplte-chips-content" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="userName" placeholder="Name" maxlength="450"></rb-input>
                <span fxFlex="2"></span>
                <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="email" placeholder="Email Address" maxlength="450"></rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-autocomplete fxFlex="49" [optionsData]="rolesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="id" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.usersRoleId" placeholder="Roles" class="fx-selectBox"></rb-autocomplete>

                <span fxFlex="2"></span>
                <rb-autocomplete fxFlex="49" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="column" fxFlex class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="locationId" optionValue="locationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.usersLocationId" placeholder="Location Based Access" class="fx-selectBox"></rb-autocomplete>
                </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="user-security-dashed-line m-bottom-30">
                <h2><span>OR</span></h2>
            </div>
            <div fxLayout="column" class="rbsSectionForHeaders">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Hierarchy Based Access
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="user-security-chips rbsinputsPadding  chips-align m-top-10 m-bottom-10">
                    <p fxFlex class="noMargin padding-left-10 padding-right-10">
                        <span class="radiobtns">Company</span>
                        <rb-autocomplete [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Select Company" class="fx-selectBox" (rbChange)="changeCompany()"></rb-autocomplete>

                    </p>
                    <div fxFlex="1"></div>
                    <p fxFlex="24" class="noMargin padding-left-10 padding-right-10">
                        <span class="radiobtns">Country</span>
                        <rb-autocomplete [optionsData]="orgCountryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryCode" placeholder="Select Country" class="fx-selectBox" (rbChange)="changeCountry()"></rb-autocomplete>

                    </p>
                    <div fxFlex="1"></div>
                    <p fxFlex="24" class="noMargin padding-left-10 padding-right-10">
                        <span class="radiobtns">Region</span>
                        <rb-autocomplete [optionsData]="regionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="regionCode" optionValue="regionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.regionCode" placeholder="Select Region" class="fx-selectBox" (rbChange)="changeRegion()"></rb-autocomplete>
                    </p>
                    <div fxFlex="1"></div>
                    <p fxFlex="24" class="noMargin padding-left-10 padding-right-10">
                        <span class="radiobtns">Format</span>
                        <rb-autocomplete [optionsData]="formatData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="formatCode" optionValue="formatDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.formatCode" placeholder="Select Format" class="fx-selectBox"></rb-autocomplete>
                    </p>
                </div>
            </div>
        </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl" (resetEvent)="cleanUp()"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
