<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/Users/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
            <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
                <div class="listitem">
                    <!--<a href="#" (click)="openUomClass($event)">Role</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent rbs-autocmplte-chips-content sticky-position-content" fxFlex id="printMainComponentDivID" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="column" class="rbsSectionForHeaders">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        General information
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex="20">
                        <div fxLayout="column" fxLayoutAlign="center center" style="padding:30px;">
                            <span class="upload-img-styles">
                                <img *ngIf="imageSrc" [src]="imageSrc" class="upload-image"/>
                                <img *ngIf="!imageSrc" src="../../../assets/images/User Add.png"/>
                            </span>
                            <div fxLayoutAlign="center center" class="footer-actions-buttons">
                                <div style="display:none"><rb-file-upload acceptTypes=".png,.jpg" (fileChange)="fileChange($event)" controlname="userPicture" (uploadedFileReference)="uploadedFileReference($event)" fxLayoutAlign="center center" class="file-rbs-imges"></rb-file-upload></div>
                                <button mat-button (click)="showFileDilaog($event)" class="searchbtn">Upload File</button>
                            </div>
                            <span *ngIf="fileUploadErrorMessage">{{fileUploadErrorMessage}}</span>
                        </div>

                    </div>
                    <div fxFlex="88">
                        <div fxLayout="row" class="rbsinputsPadding" fxLayout.sm="column">
                            <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="userName" placeholder="Name" maxlength="450" required class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.userName" class="error"></rb-error-messages>
                            </rb-input>
                            <span fxFlex="2"></span>
                            <mat-form-field fxFlex="49" fxLayout="column" [formGroup]="serviceDocument.dataProfile.profileForm" class="fx-mail">
                                <input matInput type="email" placeholder="Email Address" [formControl]="serviceDocument.dataProfile.profileForm.controls.email"
                                       required>
                                <mat-error *ngIf="serviceDocument.dataProfile.profileForm.controls.email.hasError('email')
                                       && !serviceDocument.dataProfile.profileForm.controls.email.hasError('required')" style="margin-top:18px;">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="serviceDocument.dataProfile.profileForm.controls.email.hasError('required')" style="margin-top:18px;">
                                    Required
                                </mat-error>
                            </mat-form-field>                           
                        </div>
                        <div fxLayout="row" class="rbsinputsPadding" fxLayout.sm="column">
                            <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <rb-autocomplete fxFlex="49" [optionsData]="modelReportingManager" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                 (rbChange)="changeManager($event)" optionKey="userId" optionValue="userName" [formControl]="serviceDocument.dataProfile.profileForm.controls.reportingMgrId" placeholder="Reporting Manager" imageSrc="userPicPath" imageClass="imageClass" class="fx-selectBox" ></rb-autocomplete>
                            </div>
                            <span fxFlex="2"></span>
                            <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="mgrEmailAddr" placeholder="Manager Email Address" maxlength="450" [readonly]="true"></rb-input>
                        </div>
                        <div fxLayout="row" class="rbsinputsPadding" fxLayout.sm="column">
                            <div fxLayout="column" fxFlex="49">
                                <rb-autocomplete-chips [formControl]="serviceDocument.dataProfile.profileForm.controls.usersRoleId"
                                                       [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [optionsData]="rolesData"
                                                       optionKey="id" optionValue="name" chipOrientation="horizontal" [selectedChips]="rolesSelectedData" placeholder="Roles"
                                                       removableChip="true" class="rbs-autocomplete-chips" (rbChipSelected)="selectedChipsRole($event)"></rb-autocomplete-chips>
                                <span class="error-invalid-messgaes" *ngIf="showCustomRequiredMessageforRole">{{showCustomRequiredMessageforRole}}</span>

                            </div>
                            <span fxFlex="2"></span>
                            <p fxFlex="49" class="noMargin">
                                <span class="radiobtns">Status</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="status" placeholder="Status"
                                                [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" [disabled]="!editMode"></rb-radio-group>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex="initial" fxLayoutAlign="start center">
                        permissions
                    </div>
                    <div fxFlex fxLayoutAlign="center center">
                        <span align="center" style="color:red" *ngIf="showCustomRequiredMessageForOrgInfo">{{showCustomRequiredMessageForOrgInfo}}</span>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsinputsPadding">
                    <rb-autocomplete-chips [formControl]="serviceDocument.dataProfile.profileForm.controls.usersLocationId"
                                           [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [optionsData]="locationData"
                                           optionKey="locationId" optionValue="locationName" chipOrientation="horizontal"
                                           [selectedChips]="locationSelectedData" placeholder="Location Based Access"
                                           removableChip="true" fxFlex class="rbs-autocomplete-chips" (rbChipSelected)="selectedChipsLocation($event)" [callback]="ValidateOption" [logicalRemove]="true"></rb-autocomplete-chips>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="user-security-dashed-line m-bottom-30">
                    <h2><span>OR</span></h2>

                </div>
                <div class="rbsinputsPadding">
                    HIERARCHY BASED ACCESS
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="user-security-chips rbsinputsPadding chips-align m-top-10 m-bottom-10">
                        <p fxFlex="24" class="noMargin padding-left-10 padding-right-10">
                            <span class="radiobtns">Company</span>
                            <rb-autocomplete-chips [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId"
                                                   [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [optionsData]="companyData"
                                                   optionKey="companyId" optionValue="companyName" removableChip="true" chipOrientation="vertical"
                                                   [selectedChips]="companySelectedData" placeholder="Select Company" (rbChipSelected)="selectedChipsCompany($event)" [callback]="ValidateOption" [logicalRemove]="true"></rb-autocomplete-chips>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin padding-left-10 padding-right-10">
                            <span class="radiobtns">Country</span>
                            <rb-autocomplete-chips [formControl]="serviceDocument.dataProfile.profileForm.controls.countryCode"
                                                   [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [optionsData]="orgCountryData"
                                                   optionKey="countryCode" optionValue="countryName" removableChip="true" chipOrientation="vertical"
                                                   [selectedChips]="orgCountrySelectedData" placeholder="Select Country" (rbChipSelected)="selectedChipsCountry($event)" [callback]="ValidateOption" [logicalRemove]="true"></rb-autocomplete-chips>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin padding-left-10 padding-right-10">
                            <span class="radiobtns">Region</span>
                            <rb-autocomplete-chips [formControl]="serviceDocument.dataProfile.profileForm.controls.regionCode"
                                                   [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [optionsData]="regionData"
                                                   optionKey="regionCode" optionValue="regionName" removableChip="true" chipOrientation="vertical"
                                                   [selectedChips]="regionSelectedData" placeholder="Select Region" (rbChipSelected)="selectedChipsRegion($event)" [callback]="ValidateOption" [logicalRemove]="true"></rb-autocomplete-chips>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="25" class="noMargin padding-left-10 padding-right-10">
                            <span class="radiobtns">Format</span>
                            <rb-autocomplete-chips [formControl]="serviceDocument.dataProfile.profileForm.controls.formatCode"
                                                   [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [optionsData]="formatData"
                                                   optionKey="formatCode" optionValue="formatName" removableChip="true" chipOrientation="vertical"
                                                   [selectedChips]="formatSelectedData" placeholder="Select Format" (rbChipSelected)="selectedChipsFormat($event)" [callback]="ValidateOption" [logicalRemove]="true"></rb-autocomplete-chips>
                        </p>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



