<div fxLayout="column" class="QuikviewInfo" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">Quickview - {{objectName}} {{objectValue}}</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent padding-left-20 padding-right-20 m-top-10" fxFlex>
        <div *ngFor="let row of popupDataList" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field>
                <input fxFlex="100" matInput value="{{row.colValue}}" placeholder="{{row.colName}}" readonly="readonly" *ngIf="row.colName !== 'COMMENTS'" />
                <textarea fxFlex="100" matInput matTextareaAutosize value="{{row.colValue}}" placeholder="{{row.colName}}" readonly="readonly" *ngIf="row.colName === 'COMMENTS'"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div fxFlex="initial">
        <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
            <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="view-complete-details">
                <a fxFlex="20" fxFlex.sm="37" fxFlex.md="30" (click)="viewCompleteDetails($event)">View complete details</a>
            </div>
        </div>
    </div>
</div>
