@import '../../assets/scss/_variables.scss';
.inbox-template {
    .mainContentHeader {
        background-color: #f1f1eb !important;
        padding:0 !important;
        .searchPanel {
            position: relative;
            cursor: pointer;

            .globalreset {
                   margin: 19px 0px 19px 10px;
                  display: block;
                  background:$grey;
                  padding: 10px;
                  width: 44px;

                .global-Refresh {
                    background-position: -130px -74px;
                    width: 16px;
                    height: 16px;
                    display: block;
                }
            }

            .material-auto-complete {
                .globalSearch {
                    .searchBox {
                      position: absolute;
                      right: 0;
                      top: 18px;
                      background-color: $orange;
                      display: block;
                      height: 45px;
                      width: 50px;
                    }

                    .autocompltes-globalsearch-icon {
                        position: absolute;
                        background-position: -175px -73px;
                        width: 16px;
                        height: 17px;
                        right: 17px;
                        top: 14px;
                        cursor: pointer;
                    }
                }
            }

        }
    }
    .inbox-mainContainer {
        .inbox-sub-actions {
            height: 60px;
            border: 1px solid #eee;
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
            border-radius: 2px;

            &.active {
              color: #f05e00;
              box-shadow: 0px 0px 1px 1px $orange;
            }

            .request-actions {
              background-color: #dd4b39;

                .request-action-images {
                  background-position: -1194px -189px !important;
                  width: 32px;
                  height: 29px;
                  display: inline-block;
                }
            }
            .highPrority-actions {
                background-color: #00c0ef;

                .highprority-action-images {
                  background-position: -1290px -186px !important;
                  display: inline-block;
                  width: 32px;
                  height: 22px;
                }
            }

            .percentrequest-actions {
                background-color: #00a65a;

                .percent-action-images {
                  background-position: -1245px -181px !important;
                  width: 32px;
                  height: 29px;
                }
            }

            .overdue-action-days {
                .overdue {
                  font-weight: $bold;
                  padding: 4px;
                }

                .resloved-issue {
                  font-size: 14px;
                  margin-right: 0px;
                }

                .viewrequest {
                    a {
                      font-size: 16px;
                      text-decoration: underline;
                      color: $green;
                      margin-right: 20px;
                      cursor: pointer;
                      margin-left: 2px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .resloved-issue {
    font-size: $font-12 !important;
  }
}

