
@import '../../assets/scss/_variables.scss';
/**************************Workflow styles***************************************/
.workflow-inbox-tabs .inbox-tabs-header {
  background-color: #dad8d8 !important;
}

.workflow-inbox-tabs .inbox-workflow-history {
  padding: 0 !important;
}

.workflow-inbox-tabs .inbox-workflow-history p.workflow-dailog-title {
  margin: 0;
  line-height: 4;
  font-size: 16px;
}

.workflow-inbox-tabs .inprogress {
  font-size: 13px;
  color: #f05e00;
  font-weight: 600;
}

.workflow-inbox-tabs .inbox-popup-datalist {
  padding: 12px 20px 0px;
  overflow: auto;
}

.workflow-inbox-tabs .view-complete-details {
  padding: 6px 20px 17px;
}

.workflow-inbox-tabs .mat-tab-header, .workflow-inbox-tabs .mat-tab-nav-bar {
  border-bottom: 0px !important;
  background: #eeeeee;
}

.workflow-inbox-tabs .mat-tab-header .mat-tab-label-active, .workflow-inbox-tabs .mat-tab-nav-bar .mat-tab-label-active {
  color: black;
  border-bottom: 4px solid #f05e00 !important;
  font-weight: 600;
}

.workflow-inbox-tabs .footer-actions-buttons {
  margin: 0;
}

.workflow-inbox-tabs .footer-actions-buttons .addbtn {
  padding: 2px 35px;
  border: 0 !important;
}

.workflow-inbox-tabs .inbox-comment-dailogue {
  margin: 20px 0px;
}

.workflow-inbox-tabs .mat-input-placeholder {
  color: #f05e00 !important;
  background-color: #f5f5f5;
}

.workflow-inbox-tabs .finditem-autocomplte {
  background-color: #ffffff !important;
}

.workflow-inbox-tabs .timelineView {
  background-color: #fbfbfb;
  position: relative;
  margin-top: 10px;
  padding: 3px 10px;
}

.workflow-inbox-tabs .timelineView:after {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 14px solid #fbfbfb;
  position: absolute;
  right: 100%;
  top: 35%;
}

.workflow-inbox-tabs .timelineView .item-request-recipient {
  padding: 14px 10px;
  font-size: 14px;
}

.workflow-inbox-tabs .timelineView .item-request-recipient .ricipient-name {
  font-weight: 600;
}

.workflow-inbox-tabs .timelineView .commentbyWorkflow {
  margin-left: 10px !important;
  margin-top: -5px;
}

.workflow-inbox-tabs .timelineView .timeline-upload-image {
  border-radius: 50px;
}

.workflow-inbox-tabs .timeline-content {
  padding: 0px 12px;
  overflow: auto;
}

.workflow-inbox-tabs .timeline-content p {
  font-size: 12px;
  margin: 0;
}

.workflow-inbox-tabs .timeline-content p .user-timeline-photo {
  margin: 0 5px !important;
  background: #f05e00 !important;
  color: #ffffff;
  text-align: right;
  line-height: 2;
}

.workflow-inbox-tabs .timeline-content .timeline {
  position: relative;
  margin: 0;
  padding: 0;
}

.workflow-inbox-tabs .timeline-content .timeline:before {
  content: "";
  width: 4px;
  position: absolute;
  left: 130px;
  bottom: 38px;
  background: #eee;
  height: calc(100% - 69px);
  z-index: 1;
}

.workflow-inbox-tabs .timeline-content .timeline li .timeline-recently-view {
  width: 100px;
  font-size: 12px;
  text-align: right;
}

.workflow-inbox-tabs .timeline-content .timeline li .badge-timeline-img {
  background-color: #23a89f;
  width: 30px;
  height: 30px;
  margin: 0 16px;
  z-index: 2;
  border-radius: 50px;
}

.workflow-inbox-tabs .timeline-content .timeline li .badge-timeline-img .tickMark {
  display: block;
  background-position: -37px -77px;
  width: 16px;
  height: 10px;
  margin-left: 7px;
}

.workflow-inbox-tabs .timeline-content .timeline li .latest-record {
  background: green;
  margin-top: -8px;
}

.workflow-inbox-tabs .timeline-content .timeline li .initial-record {
  margin-top: 5px;
}
.WorkFolwHistoryContent {
  background-color: #e6e3e3;
}

.toolbarActions-template {
    background-color: #2b3d4b;
    padding: 0px 11px;

    .headerToolbaricon {
        padding: 5px !important;
        min-width: 80px !important;

        .closeIcon {
          background: url('../../assets/images/Untitled-1.svg') no-repeat;
          display: inline-block;
        }

        .closeImage {
          background-position: -79px 0;
          width: 23px;
          height: 23px;
        }
        p{
            font-size: 12px;
            margin: 0;
            line-height: 1.5;
        }
    }
}
.inbox-workflow-history p.workflow-dailog-title {
  margin: 0;
  line-height: 4;
  font-size: 16px;
}
