<div fxLayout="column" class="workflow-inbox-tabs " fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history padding-0">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">{{objectName}} {{objectValue}}<span class="inprogress m-left-10">({{latestStatus}})</span></p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">
                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxLayout="column" class="WorkFolwHistoryContent m-top-15" fxFlex>
        <mat-tab-group class="">
            <mat-tab label="GRID VIEW">
                <div class="timeline-content">
                    <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="workFlowHistoryDataList"
                              [columnDefs]="columns" [hidden]="false" [rbsGridCustomOptions]="rbsGridCustomOptions"></rbs-grid>
                </div>
            </mat-tab>
            <mat-tab label="TIMELINE">
                <div fxLayout="column" class="timeline-content">
                    <ul class="timeline">
                        <li *ngFor="let wfObj of workFlowHistoryDataList" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="none" class="timeline-recently-view" fxLayout="column">
                                <p> {{wfObj.reqRecievedDate | date: 'mediumDate'}}</p>
                                <span>{{wfObj.reqRecievedDate | date: 'shortTime'}}</span>
                            </div>
                            <span fxFlex="none" class="badge-timeline-img" [ngClass]="wfObj.iconCss">
                                <span class="tickMark retailNavigationIcons m-top-10"></span>
                            </span>
                            <div fxFlex class="timelineView" fxLayout="row">
                                <p class="item-request-recipient">
                                    <span class="upload-img-styles">
                                        <img *ngIf="wfObj.userPicPath" [src]="wfObj.userPicPath" class="timeline-upload-image" width="50" height="50" />
                                        <img *ngIf="!wfObj.userPicPath" src="../../assets/images/User Add.png" width="50" class="timeline-upload-image" />
                                    </span>
                                </p>
                                <div fxLayout="column">
                                    <p class="item-request-recipient"> {{wfObj.actionName}} <span class="m-left-10 ricipient-name" *ngIf="wfObj.actionType === 'R'">(REJECTED)</span><span class="m-left-10 ricipient-name">( {{wfObj.recipientName}} )</span></p>
                                    <p class="noMargin commentbyWorkflow"><span *ngIf="wfObj.comments">Comments by {{wfObj.senderName}}: </span>{{wfObj.comments}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
