<div fxLayout="column" fxFill>
  <!--[ngClass]="{'main-content-component': showSearchCriteria === true}"-->
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Supplier Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="49" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
        </div>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Hierarchy Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="50" [optionsData]="deptData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.deptId" placeholder="Category" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="49" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemBarcode" placeholder="Item" maxlength="25" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
        </div>

      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Order Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ordeR_NO" placeholder="Order No" maxlength="15" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="32" [optionsData]="orderTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.orderType" placeholder="Order Type" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="34" [optionsData]="workflowStatusList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="name" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox">
          </rb-autocomplete>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation()" restrictSearch="true" #searchPanel></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
