﻿<div fxLayout="column" class="" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history padding-0">
            <div fxFlex>
                <p class="m-left-10">Line Item Details</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="padding-left-10 padding-right-10 m-top20"  style="overflow:auto;">
        <form  novalidate [formGroup]="infoGroup">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="ordeR_NO" placeholder="Order No" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="supName" placeholder="Supplier" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="50" [formGroup]="infoGroup" controlName="deptDesc" placeholder="Department" readonly="true">
                </rb-input>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="locTypeDesc" placeholder="Location Type" maxlength="8" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="locationName" placeholder="Location" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="item" placeholder="Item" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="itemDesc" placeholder="Item Description" readonly="true">
                </rb-input>
            </div>


            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
               
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="unitRetail" placeholder="Unit Retail" readonly="true">
                </rb-input>
                <p>{{infoGroup.controls["retailCurrency"].value}}</p>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="unitCost" placeholder="Unit Cost" readonly="true">
                </rb-input>
                <p>{{infoGroup.controls["costCurrency"].value}}</p>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="costSourceDesc" placeholder="Cost Source" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>

                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="unitCostInit" placeholder="Final Unit Cost" readonly="true">
                </rb-input>
                <p>{{infoGroup.controls["costCurrency"].value}}</p>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="qtyOrdered" placeholder="Qty Ordered" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>

                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="totalCost" placeholder="Final Total Cost" readonly="true">
                </rb-input>
                <p>{{infoGroup.controls["costCurrency"].value}}</p>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="estimatedInstockDate" placeholder="Estimated Instock Date" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="nonScaleIndDesc" placeholder="Non Scale Indicator" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="qtyPrescaled" placeholder="Qty Prescaled" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="qtyReceived" placeholder="Qty Received" readonly="true">
                </rb-input>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="lastReceived" placeholder="Last Qty Received" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="lastRoundedQty" placeholder="Last Rounded Qty" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="lastGrpRoundedQty" placeholder="Last Group Rounded Qty" readonly="true">
                </rb-input>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="qtyCancelled" placeholder="Quantity Cancelled" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="cancelCode" placeholder="Cancel Code" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="cancelId" placeholder="Cancel ID" readonly="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="cancelDate" placeholder="Cancel Date" readonly="true">
                </rb-input>
            </div>
        </form>
    </div>
</div>

