<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
    <div class="mainContentHeaderScreen" style="width:100%;">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.companyId" class="error"></rb-error-messages>
          </div>
          <span fxFlex="2"></span>
          <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="seasonName" required placeholder="Name" maxlength="250" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.seasonName" class="error"></rb-error-messages>
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="row" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startDate" [disabled]="editMode"
                     [maxDate]="serviceDocument.dataProfile.profileForm.controls.endDate.value"
                     placeholder="Start Date" required [readonly]="true"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startDate" class="error"></rb-error-messages>
          </div>
          <span fxFlex="2"></span>
          <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="endDate"
                     [minDate]="serviceDocument.dataProfile.profileForm.controls.startDate.value"
                     placeholder="End Date" required [readonly]="true" class="errorMsgsParentPosition"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.endDate" class="error"></rb-error-messages>
          </div>
        </div>
        <div fxLayout="row" class="domainDataAddRow">
          <div fxFlex fxLayoutAlign="start center" class="domianHeader">
            DETAILS
          </div>
          <div fxFlex="initial" fxLayoutAlign="end center">
            <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
          </div>
        </div>

        <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>
  </div>
</div>
