<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column">
        <rb-autocomplete fxFlex="49" [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox"></rb-autocomplete>
        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.companyId" class="error"></rb-error-messages>
        <span fxFlex="2"></span>
        <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="seasonName" placeholder="Season Name" maxlength="250">
        </rb-input>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList" [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
