<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/OrgCountry/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="column" class="rbsSectionForHeaders">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            General information
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="store" placeholder="Id" min="0" maxlength="10" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.store" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeName" required placeholder="Name" maxlength="150" upperCase="true" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeName" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeNameSecondary"  placeholder="Store Name Secondary" maxlength="150" upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeName10" required placeholder="Store Name10" maxlength="10" upperCase="true" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeName10" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeName3" required placeholder="Store Name3" maxlength="3" upperCase="true" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeName3" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete [optionsData]="storeClassData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.storeClass"
                               placeholder="Store Class" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeClass" class="error"></rb-error-messages>

          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="storeFormatData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="storeFormat" optionValue="formatName" [formControl]="serviceDocument.dataProfile.profileForm.controls.storeFormat"
                             placeholder="Store Format" class="fx-selectBox"></rb-autocomplete>
          </div>

          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="channelId" placeholder="Channel Id" min="0" maxlength="8" class="errorMsgsParentPosition">
            </rb-numeric>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="districtData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="district" optionValue="districtName" [formControl]="serviceDocument.dataProfile.profileForm.controls.district"
                             placeholder="District" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.district" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="languageData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.lang" placeholder="Language" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.lang" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="defaultWhData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.defaultWh"
                             placeholder="Default Wh" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.defaultWh" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="mallName" required placeholder="Mall Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.mallName" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>

        <div fxLayout="column" class="rbsSectionForHeaders m-top20">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              TIMELINE
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeOpenDate" placeholder="Open Date" required></rb-date>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeOpenDate" class="error"></rb-error-messages>
            </div>
            <span fxFlex="1"></span>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
              <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeCloseDate" placeholder="Close Date"></rb-date>
              <span class="error-invalid-messgaes" *ngIf="showCustomRequiredMessageForCloseDate">{{showCustomRequiredMessageForCloseDate}}</span>
            </div>
            <span fxFlex="1"></span>
            <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="acquiredDate" placeholder="Acquired Date" class="errorMsgsParentPosition"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="remodelDate" placeholder="ReModel Date" class="errorMsgsParentPosition"></rb-date>
          </div>
        </div>
        <div fxLayout="column" class="rbsSectionForHeaders m-top20">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              ADDRESS
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeMgrName" placeholder="Store Manager Name" maxlength="120" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeMgrName" class="error"></rb-error-messages>
            </rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="faxNumber" placeholder="Fax Number" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="phoneNumber" placeholder="Phone Number" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
            <div fxFlex="1"></div>
            <div fxLayout="row" fxFlex="25" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
              <rb-input  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="email" required placeholder="Email" maxlength="250" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.email" class="error"></rb-error-messages>
              </rb-input>
            </div>
          </div>       
        </div>

        <div fxLayout="column" class="rbsSectionForHeaders m-top20">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              FINANCIALS
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete required [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                               optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
            </div>
            <span fxFlex="1"></span>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete fxFlex="24" [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" required
                               optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.origCurrencyCode"  placeholder="Original Currency Code" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.origCurrencyCode" class="error"></rb-error-messages>
            </div>
              <div fxFlex="1"></div>
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="vatRegionCode" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="vatRegionCode" optionValue="vatRegionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegion" placeholder="VAT Region" class="fx-selectBox"></rb-autocomplete>
              </div>
              <div fxFlex="1"></div>
              <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                <p class="noMargin radiobtnForMargin">
                  <span class="radiobtns">Include VAT*</span>
                  <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatIncludeInd" placeholder="Include VAT"
                                  [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                </p>
              </div>
            </div>
          </div>

        <div fxLayout="column" class="rbsSectionForHeaders m-top20">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              DIMENSIONS
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="totalSquareFt" placeholder="Total Sqft Area" min="0" maxlength="8" class="errorMsgsParentPosition">
              </rb-numeric>
            </div>
            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="sellingSquareFt" placeholder="Selling Sqft Area" min="0" maxlength="8" class="errorMsgsParentPosition">
              </rb-numeric>
            </div>
            <div fxFlex="2"></div>
            <div fxLayout="column" fxFlex="40" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="linearDistance" placeholder="Linear Distance" maxlength="8" min="0" class="errorMsgsParentPosition">
              </rb-numeric>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" class="rbsSectionForHeaders m-top20">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            MISCELLANEOUS
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="transferZoneData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="tsfZone" optionValue="tsfZoneDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.transferZone" placeholder="Transfer Zone" class="fx-selectBox"></rb-autocomplete>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="transferEntityData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="tsfEntityId" optionValue="tsfEntityDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfEntityId" placeholder="Transfer Entity" class="fx-selectBox"></rb-autocomplete>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startOrderDays" required placeholder="Start Order Days" maxlength="3" min="0" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startOrderDays" class="error"></rb-error-messages>
            </rb-numeric>
          </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="stopOrderDays" placeholder="Stop Order Days" maxlength="3" min="0" class="errorMsgsParentPosition">
              </rb-numeric>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Stock Holding Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="stockHoldingInd" placeholder="Stock Holding Ind"
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.stockHoldingInd" class="error"></rb-error-messages>
              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
              <rb-autocomplete [optionsData]="fromLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.sisterStore"
                               placeholder="Sister Store" class="fx-selectBox"></rb-autocomplete>
            </div>

            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orgUnitId" placeholder="Org Unit Id" maxlength="3" min="0" class="errorMsgsParentPosition">
              </rb-numeric>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Integrated Pos Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="integratedPosInd" placeholder="Stock Holding Ind"
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.integratedPosInd" class="error"></rb-error-messages>
              </p>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
