<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="pageTitle"></page-title>
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <div class="listitem">
            <rbs-favourite [pageTitle]="pageTitle" [redirectUrl]="redirectUrl"></rbs-favourite>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm"  controlName="store" placeholder="Id" min="0" maxlength="10" ></rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.store" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeName"  placeholder="Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeName" class="error"></rb-error-messages>
          </rb-input>
        </div>
        <!--<div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeName10" required placeholder="Store Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeName10" class="error"></rb-error-messages>
          </rb-input>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeName3" required placeholder="Store Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.storeName3" class="error"></rb-error-messages>
          </rb-input>
        </div>-->
      </div>
    </div>

    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
