<div fxLayout="column" class="itemBasicInfo mainwrap" fxFill>
  <div fxFlex="initial">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog">
      <div fxFlex>
        <p class="workflow-dailog-title m-left-10">{{PageTitle}}</p>
      </div>
      <div fxFlex="initial" class="toolbarActions-template">
        <button mat-button class="headerToolbaricon" (click)="close()">
          <span class="closeIcon closeImage"></span>
          <p>CLOSE</p>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="initial" class="domainDataAddRow" style="padding:10px;" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="reset()" class="resetbtn" *ngIf="!editMode">Reset</button>
    <span fxFlex="1"></span>
    <button mat-raised-button (click)="save()" class="AddRow">Save</button>
  </div>
  <div fxFlex  class="ComponentLevelMainContent padding-top-0">
    <form novalidate [formGroup]="infoGroup">
            <div fxLayout="row" fxLayout.xs="column">
              <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
                <rb-autocomplete required [optionsData]="dealTypeData" [formGroup]="infoGroup" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="infoGroup.controls.dealType" placeholder="Deal Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                <rb-error-messages [control]="infoGroup.controls.dealType" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
                <rb-date required [formGroup]="infoGroup" controlName="startDate" placeholder="Start Date" class="errorMsgsParentPosition"
                         [minDate]="effectiveMinDate" [maxDate]="infoGroup.controls.closeDate.value" [disabled]="editMode"></rb-date>
                <rb-error-messages [control]="infoGroup.controls.startDate" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="34" fxLayout.xs="column" class="errorMsgsParentPosition">
                <rb-date [formGroup]="infoGroup" controlName="closeDate" placeholder="End Date" class="errorMsgsParentPosition"
                         [minDate]="infoGroup.controls.startDate.value" [disabled]="editMode"></rb-date>
                <rb-error-messages [control]="infoGroup.controls.closeDate" class="error"></rb-error-messages>
              </div>
              <!--<span fxFlex="1"></span>
              <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="description" placeholder="Comments" class="errorMsgsParentPosition" maxlength="120" required>
                <rb-error-messages [control]="infoGroup.controls.description" class="error"></rb-error-messages>
              </rb-input>-->
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
              <div fxLayout="column" fxFlex="66" fxLayout.xs="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="dealCompTypes" [formGroup]="infoGroup" required="true" ngDefaultControl
                                 optionKey="dealCompType" optionValue="dealCompTypeDesc" [formControl]="infoGroup.controls.dealCompType" placeholder="Deal Component Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                <rb-error-messages [control]="infoGroup.controls.dealCompType" class="error"></rb-error-messages>
              </div>
              <span fxFlex></span>
              <div fxFlex="20" fxLayoutAlign="end center">
                <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Detail</button>
              </div>
            </div>
         
        
        <div fxLayout="column" class="ComponentLevelMainContent dealManagementPop padding-top-0">
          <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="dataList"
                    [columnDefs]="columns"></rbs-grid>
        </div>
     
    </form>
  </div>
</div>
