<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="inbox-template padding-10 SupplierMainContent" fxFlex>
        <mat-tab-group class="inbox-tabs-header">
          <mat-tab label="First">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <div fxLayout="column" fxFlex="19" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="countryList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.baseCountryId" placeholder="Corporate HQ Country" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.baseCountryId" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="19" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="languagesList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.primaryLang" placeholder="Primary Language" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.primaryLang" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="19" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="invHistLvlList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.invHistLevel" placeholder="Inventory History Level" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.invHistLevel" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>

              <div fxLayout="column" fxFlex fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="distributionRuleList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.distributionRule" placeholder="DistributionRule" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.distributionRule" class="error"></rb-error-messages>
              </div>

            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdModulus" placeholder="Modulus" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdModulus" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight8" placeholder="Weight8" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight8" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight7" placeholder="Weight7" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight7" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight6" placeholder="Weight6" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight6" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight5" placeholder="Weight5" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight5" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight4" placeholder="Weight4" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight4" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight3" placeholder="Weight3" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight3" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex="10" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight2" placeholder="Weight2" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight2" class="error"></rb-error-messages>
              </rb-input>
              <span fxFlex="1"></span>
              <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cdWeight1" placeholder="Weight1" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cdWeight1" class="error"></rb-error-messages>
              </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="multichannelInd" text="multi-channel indicator">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="multiCurrencyInd" text="multiple currencies">
              </rb-checkbox>
              <!--<span fxFlex="1"></span>
              <rb-checkbox fxFlex="9" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="multichannelInd" text="Estimated landed cost available">
              </rb-checkbox>-->
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="importInd" text="import indicator">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="checkDigitInd" text="check digit indicator">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="merchHierAutoGenInd" text="Auto generate Department,Class and Subclass IDs">
              </rb-checkbox>
            </div>
          </mat-tab>

          <mat-tab label="Second">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
                <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsfMrtRetentionDays" placeholder="Retention of Transfers months"></rb-input>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="allocMethodList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.allocMethod" placeholder="Allocation Method" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.allocMethod" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="racRtvTsfIndList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.racRtvTsfInd" placeholder="RTV,RAC Transfer" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.racRtvTsfInd" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="25" fxLayout.xs="column">
                <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsfMrtRetentionDays" placeholder="Retention of MRT Transfers days"></rb-input>
              </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="storeToStoreList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfMdStoreToStoreSndRcv" placeholder="Store to Store" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tsfMdStoreToStoreSndRcv" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>

              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="storeToStoreList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfMdStoreToWhSndRcv" placeholder="Store to Whs" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tsfMdStoreToWhSndRcv" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>

              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="storeToStoreList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfMdWhToStoreSndRcv" placeholder="Whs to Store" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tsfMdWhToStoreSndRcv" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="25" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="storeToStoreList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfMdWhToWhSndRcv" placeholder="Whs to Whs" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tsfMdWhToWhSndRcv" class="error"></rb-error-messages>
              </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">

              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="stockLedgerProdLevelCodeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.stockLedgerProdLevelCode" placeholder="Stockledger product level" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.stockLedgerProdLevelCode" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>

              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="stockLedgerTimeLevelCodeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.stockLedgerTimeLevelCode" placeholder="StockLedger Time Interval" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.stockLedgerTimeLevelCode" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="stockLedgerLocLevelCodeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.stockLedgerLocLevelCode" placeholder="StockLedger Location Level" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.stockLedgerLocLevelCode" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>

              <div fxLayout="column" fxFlex="25" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="rcvCostAdjTypeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.rcvCostAdjType" placeholder="Cost Method" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.rcvCostAdjType" class="error"></rb-error-messages>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="otbProdLevelCodeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.otbProdLevelCode" placeholder="Open to buy Product Level" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.otbProdLevelCode" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>

              <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                <rb-autocomplete [optionsData]="otbTimeLevelCodeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.otbTimeLevelCode" placeholder="Open to Buy Time Level" class="fx-selectBox">
                </rb-autocomplete>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.otbTimeLevelCode" class="error"></rb-error-messages>
              </div>
              <span fxFlex="1"></span>
              <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranDataRetainedDaysNo" placeholder="Retain Transaction Data Days" class="errorMsgsParentPosition">
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tranDataRetainedDaysNo" class="error"></rb-error-messages>
              </rb-input>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="otbSystemInd" text="Maintain OTB">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatInd" text="VAT">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="classLevelVatInd" text="Class Level VAT">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="otbSystemInd" text="Stock Ledger Retail VAT Inclusive">
              </rb-checkbox>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptLevelTransfers" text="Level Categery">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="defaultAllocChrgInd" text="Default Up Charges to Allocation">
              </rb-checkbox>
              <!--<span fxFlex="1"></span>
              <rb-checkbox fxFlex="9" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="multichannelInd" text="Estimated landed cost available">
              </rb-checkbox>-->
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="intercompanyTransferInd" text="Intercompany Transfers">
              </rb-checkbox>
              <span fxFlex="1"></span>
              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsfPriceExceedWacInd" text="Tsf Price to Exceed From Loc WAC">
              </rb-checkbox>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">

              <rb-checkbox fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="increaseTsfQtyInd" text="Can Increase Transfer Quantity">
              </rb-checkbox>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
  </div>



</div>
