<div fxLayout="column" class="ItemCostPricePopupInfo" fxFill>
  <div fxFlex="initial">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
      <div fxFlex>
        <p class="workflow-dailog-title m-left-10">Transportation Totals - {{objectValue}}</p>
      </div>
      <div fxFlex="initial" class="toolbarActions-template">

        <button mat-button class="headerToolbaricon" (click)="close()">
          <span class="closeIcon closeImage"></span>
          <p>CLOSE</p>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex fxLayout="column" class="ComponentLevelMainContent">
    <form novalidate [formGroup]="infoGroup" fxLayout="column">
      <div fxLayout="row"  fxLayoutAlign="center center">
        <rb-autocomplete fxFlex="50" [optionsData]="totalLevels" [formGroup]="infoGroup" ngDefaultControl (rbChange)="changeTotalsLevel($event)"
                         optionKey="code" optionValue="codeDesc" [formControl]="infoGroup.controls.totalsLevel" placeholder="Totals Level" class="fx-selectBox">
        </rb-autocomplete>
      </div>
       <div fxLayout="row" fxLayoutAlign="center center">
          <rb-amount fxFlex="50" [formGroup]="infoGroup" controlName="totalUnits" placeholder="Total Units">
          </rb-amount>
          <span class="valueIndication">{{infoGroup.controls.unitsUom.value}}</span>
       </div>
       <div fxLayout="row" fxLayoutAlign="center center">
          <rb-amount fxFlex="50" [formGroup]="infoGroup" controlName="totalCartons" placeholder="Total Cartons">
          </rb-amount>
          <span class="valueIndication">{{infoGroup.controls.cartonsUom.value}}</span>
       </div>
       <div fxLayout="row" fxLayoutAlign="center center">
          <rb-amount fxFlex="50" [formGroup]="infoGroup" controlName="totalGrossWeight" placeholder="Total Gross Weight">
          </rb-amount>
          <span class="valueIndication">{{infoGroup.controls.grossWeightUom.value}}</span>
       </div>
       <div fxLayout="row" fxLayoutAlign="center center">
          <rb-amount fxFlex="50" [formGroup]="infoGroup" controlName="totalNetWeight" placeholder="Total Net Weight">
          </rb-amount>
          <span class="valueIndication">{{infoGroup.controls.netWeightUom.value}}</span>
        </div>
       <div fxLayout="row" fxLayoutAlign="center center">
          <rb-amount fxFlex="50" [formGroup]="infoGroup" controlName="totalCube" placeholder="Total Cube">
          </rb-amount>
          <span class="valueIndication">{{infoGroup.controls.cubeUom.value}}</span>
        </div>

       <div fxLayout="row" fxLayoutAlign="center center">
          <rb-amount fxFlex="50" [formGroup]="infoGroup" controlName="totalValue" placeholder="Total Value">
          </rb-amount>
          <span class="valueIndication">{{infoGroup.controls.currencyCode.value}}</span>
       </div>
      
    </form>
  </div>
</div>

