<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="transportationId" placeholder="Transportation Id" min="0" maxlength="6"></rb-numeric>
        <span fxFlex="1"></span>
        <rb-numeric fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipmentNo" placeholder="Job #" min="0" maxlength="6"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="vesselId" placeholder="Vessel ID" maxlength="20" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="voyageFltId" placeholder="Voyage Fit ID" maxlength="10" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-date fxFlex="34" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="estimatedDepartDate" placeholder="Estimated Dept Date" [readonly]="true"></rb-date>
      </div>

    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                       [showAdd]="false" navigate="false" (addEmitter)="addValidation()" #searchPanel></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria" (addEmitter)="addValidation()"></rbs-grid>
    </div>
  </div>
</div>
