<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/ReturnToVendor/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
        <div class="listitem">
          <a (click)="totals($event)">Totals</a>
        </div>
        <div class="listitem">
          <a (click)="order();">View Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vesselId" placeholder="Vessel ID" class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="voyageFltId" placeholder="Voyage/Flight" class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="estimatedDepartDate" [readonly]="true" placeholder="Est. Depart. Date"></rb-date>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="19" [optionsData]="consolidatorData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="partnerId" optionValue="partnerDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.consolidator" placeholder="Consolidator" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipmentNo" placeholder="Shipment No." class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="blAwbId" placeholder="BL/AWB #" class="errorMsgsParentPosition">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order No." class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="19" [optionsData]="vesselScacData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vesselScacCode" placeholder="Vessel SCAC Code" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="19" [optionsData]="statusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="20" [optionsData]="transModeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tranModeId" placeholder="Trans. Mode" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" placeholder="Item" class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description" class="errorMsgsParentPosition" [readonly]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemQty" placeholder="Item Qty." min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
          </rb-numeric>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="19" [optionsData]="uomQtyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="uom" optionValue="uom" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemQtyUom" placeholder="Item Qty. UOM" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="containerId" placeholder="Container" class="errorMsgsParentPosition">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
          <rb-autocomplete fxFlex="19" [optionsData]="indicatorData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.candidateInd" placeholder="Candidate Ind." class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="19" [optionsData]="indicatorData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.rushInd" placeholder="Rush Ind." class="fx-selectBox"></rb-autocomplete>
        </div>
          <div class="inbox-template padding-10 SupplierMainContent">
            <mat-tab-group class="inbox-tabs-header">
              <mat-tab label="Dimensions & Weight" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cartonQty" placeholder="Carton Qty." min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
                  </rb-numeric>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="19" [optionsData]="uomQtyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="uom" optionValue="uom" [formControl]="serviceDocument.dataProfile.profileForm.controls.cartonUom" placeholder="Carton UOM" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="19" [optionsData]="uomWtData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="uom" optionValue="uom" [formControl]="serviceDocument.dataProfile.profileForm.controls.cubicUom" placeholder="Cubic UOM" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>

                  <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cubic" placeholder="Cubic" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
                  </rb-numeric>
                  <span fxFlex="1"></span>

                  <rb-numeric fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="grossWt" placeholder="Gross Wt." min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
                  </rb-numeric>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-autocomplete fxFlex="19" [optionsData]="uomWtData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="uom" optionValue="uom" [formControl]="serviceDocument.dataProfile.profileForm.controls.grossWtUom" placeholder="Gross Wt. UOM" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="netWt" placeholder="Net Wt." min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
                  </rb-numeric>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="20" [optionsData]="uomWtData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="uom" optionValue="uom" [formControl]="serviceDocument.dataProfile.profileForm.controls.netWtUom" placeholder="Net Wt. UOM" class="fx-selectBox"></rb-autocomplete>
                </div>
              </mat-tab>
              <mat-tab label="Logistics" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-autocomplete fxFlex="19" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.consolidationCountryId" placeholder="Consolidation Country" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="19" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.originCountryId" placeholder="Origin Country" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="19" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.exportCountryId" placeholder="Export Country" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="19" [optionsData]="outlocData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="outlocId" optionValue="outlocDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.ladingPort" placeholder="Lading Port" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="20" [optionsData]="outlocData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="outlocId" optionValue="outlocDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dischargePort" placeholder="Discharge Port" class="fx-selectBox"></rb-autocomplete>
                </div>
              </mat-tab>
              <mat-tab label="Dates" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="estimatedDepartDate" [readonly]="true" placeholder="Est. Depart. Date"></rb-date>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="actualDepartDate" [readonly]="true" placeholder="Act. Depart. Date"></rb-date>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="estimatedArrivalDate" [readonly]="true" placeholder="Est. Arrival Date"></rb-date>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="actualArrivalDate" [readonly]="true" placeholder="Actual Arrival Date"></rb-date>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deliveryDate" [readonly]="true" placeholder="Delivery Date"></rb-date>
                </div>
              </mat-tab>
              <mat-tab label="Invoice" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supName" placeholder="Supplier" class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="currencyCode" placeholder="Currency Code" class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="34" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="exchangeRate" placeholder="Exchange Rate" class="errorMsgsParentPosition">
                  </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="invoiceId" placeholder="Invoice No." class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="invoiceDate" [readonly]="true" placeholder="Invoice Date"></rb-date>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="34" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="invoiceAmt" placeholder="Invoice Amount" class="errorMsgsParentPosition">
                  </rb-input>
                </div>
              </mat-tab>
              <mat-tab label="Freight" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-autocomplete fxFlex="24" [optionsData]="freighttypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="freightType" optionValue="freightTypeDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.freightType" placeholder="Freight Type" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="24" [optionsData]="contentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.freightSize" placeholder="Freight Size" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="inTransitNo" placeholder="In Transit No." class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="inTransitDate" [readonly]="true" placeholder="In Transit Date"></rb-date>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="serviceContractNo" placeholder="Service Contract No." class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="sealId" placeholder="Seal ID" class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="24" [optionsData]="vesselScacData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.containerScacCode" placeholder="Container SCAC Code" class="fx-selectBox"></rb-autocomplete>
                  <span fxFlex="1"></span>
                  <rb-autocomplete fxFlex="25" [optionsData]="packingData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.packingMethod" placeholder="Packing Method" class="fx-selectBox"></rb-autocomplete>
                </div>
              </mat-tab>
              <mat-tab label="Others" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
                  <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="lotNo" placeholder="Lot No." maxlength="15" class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="receiptId" placeholder="Receipt No." maxlength="30" class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="fcrId" placeholder="FCR ID" maxlength="30" class="errorMsgsParentPosition">
                  </rb-input>
                  <span fxFlex="1"></span>
                  <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fcrDate" [readonly]="true" placeholder="FCR Date"></rb-date>
                  <span fxFlex="1"></span>
                  <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" maxlength="2000" class="errorMsgsParentPosition">
                  </rb-input>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
      </form>
  </div>
</div>
