<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="pageTitle"></page-title>
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <div class="listitem">
            <rbs-favourite [pageTitle]="pageTitle" [redirectUrl]="redirectUrl"></rbs-favourite>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">
      
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="promO_EVENT_ID" placeholder="Promo Event Id" maxlength="25" min="0" class="errorMsgsParentPosition">
          </rb-numeric>
          <div fxFlex="1"></div>
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" placeholder="Description" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="theme" placeholder="Theme" maxlength="640" class="errorMsgsParentPosition">
          </rb-input>
        </div>
     
     
        <!--<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startDate" placeholder="Start Date"
                     class="errorMsgsParentPosition" [maxDate]="serviceDocument.dataProfile.profileForm.controls.endDate.value"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startDate" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="endDate" placeholder="End Date"
                     class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.startDate.value"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.endDate" class="error"></rb-error-messages>
          </div>
        </div>-->
      
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation($event)"  #searchPanelPromotion></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
