<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Promotion/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
    </div>
  </div>
  <div fxFlex="initial" fxLayoutAlign="end center" class="ComponentLevelMainContent "
       *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && primaryId > 0">
    <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                  [formGroup]="serviceDocument?.dataProfile?.profileForm"
                  [dataProfile]="serviceDocument?.dataProfile"
                  [cssClass]="searchbtn"
                  (submitClick)="submitAction()"
                  (rejectClick)="reject()"
                  (sendBackClick)="sendBackForReview()"
                  moduleName="{{screenName}}"
                  [priority]="inboxCommonData?.priority"
                  fxFlex>
    </rb-wf-header>

  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID" style="padding:0">
    <div fxLayout="row" style="height:100%">
      <div fxFlex="20" fxFlex.sm="40" style="height:100%;background-color:#eee" class="PromoContent">
        <treeView fxLayout="row" #treeViewRef></treeView>
      </div>
      <div fxFlex class="padding-left-10 padding-right-10">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="promoTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="promoTypeKey" optionValue="promoTypeValue" [formControl]="serviceDocument.dataProfile.profileForm.controls.promoType" placeholder="Type" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.promoType" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>

          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startDate" placeholder="Start Date" required
                     class="errorMsgsParentPosition" [maxDate]="serviceDocument.dataProfile.profileForm.controls.endDate.value"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startDate" class="error"></rb-error-messages>
          </div>

          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="endDate" placeholder="End Date" required
                     class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.startDate.value"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.endDate" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="theme" placeholder="Theme" maxlength="640" required class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.theme" class="error"></rb-error-messages>
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" placeholder="Description" required maxlength="250" upperCase="true" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
          </rb-input>
          <span fxFlex="2" *ngIf="editMode"></span>
          <div fxFlex="initial" class="footer-actions-buttons" fxLayout.xs="center center" *ngIf="editMode">
            <button mat-raised-button name="search" id="searchbarSearch" (click)="openCostManagementExcel()" class="searchbtn">Open Excel</button>
          </div>
        </div>
      </div>
    </div>
    <rbs-grid [componentParentName]="componentName"
              [rowData]="serviceDocument.dataProfile.dataModel?.promoDetails"
              [columnDefs]="columns"></rbs-grid>
  </div>

</div>


