<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)"  (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/InvAdjustmentReason/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">
          <div fxLayout="row" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="reason" placeholder="Reason" required [readonly]="editMode" maxlength="4" class="errorMsgsParentPosition" [ngClass]="{'editmode':editMode}">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reason" class="error"></rb-error-messages>
            </rb-input>
            <span fxFlex="2"></span>         
                <div fxLayout="column" fxFlex fxLayout.xs="column">
                    <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="reasonDesc" required placeholder="Description" maxlength="250" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reasonDesc" class="error"></rb-error-messages>
                    </rb-input>
                </div>
            </div>
        </form>
    </div>
</div>
