﻿<mat-form-field [formGroup]="formGroup" class="material-auto-complete">
    <input matInput type="text" placeholder="{{placeholder}}"
           [formControl]="formControl" [matAutocomplete]="auto" #autoCompleteElement />
    <div class="autocomplte-search-icon retailsNavIcons"></div>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn()" (optionSelected)="onOptionSelect($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <img *ngIf="option[imageSrc]" src="{{option[imageSrc]}}" [class]='imageClass' /> {{option[optionValue]}}
    </mat-option>
</mat-autocomplete>
<div *ngIf="selectedChips.length>0">
    <mat-form-field>
        <mat-chip-list #chipList [class]="chipClass" [aria-orientation]="chipOrientation">
            <mat-chip *ngFor="let option of filterChipsDisplayData()" [selectable]="true"
                      [removable]="removableChip" (remove)="remove(option)">
                {{option[optionValue]}}
                <mat-icon matChipRemove *ngIf="removableChip" class="btn-chip-close retailsNavIcons"></mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>
</div>


