
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="action-status-user">
    <div fxLayout="column" fxFlex="30" fxLayout.xs="column" class="errorMsgsParentPosition">
        <rb-autocomplete [optionsData]="decisionData" [formGroup]="workflowForm" ngDefaultControl
                         optionKey="transitionClaim" optionValue="description" [formControl]="workflowForm.controls.decision" placeholder="Decision"
                         class="fx-selectBox" (rbChange)="decisionChanged()">
        </rb-autocomplete>
        <rb-error-messages [control]="workflowForm.controls.decision" class="error"></rb-error-messages>
    </div>
    <span fxFlex="1"></span>
    <div fxLayout="column" fxFlex="30" fxLayout.xs="column" class="errorMsgsParentPosition">
        <rb-autocomplete [optionsData]="recipientsData" [formGroup]="workflowForm" ngDefaultControl
                         optionKey="recipientID" optionValue="recipientName" [formControl]="workflowForm.controls.recipientID" placeholder="Recipients" class="fx-selectBox">
        </rb-autocomplete>
        <rb-error-messages [control]="workflowForm.controls.recipientID" class="error"></rb-error-messages>
    </div>

    <span fxFlex="1"></span>
    <div fxLayout="column" fxFlex="14" fxLayout.xs="column" class="errorMsgsParentPosition">
        <rb-autocomplete required [optionsData]="priorityDropDownData" [formGroup]="workflowForm" ngDefaultControl
                         optionKey="key" optionValue="value" [formControl]="workflowForm.controls.priority" placeholder="Priority" class="fx-selectBox"></rb-autocomplete>
        <rb-error-messages [control]="workflowForm.controls.priority" class="error"></rb-error-messages>
    </div>
    <span fxFlex="1"></span>
    <rb-input fxFlex [formGroup]="workflowForm" controlName="comments" placeholder="Comments" class="errorMsgsParentPosition">
    </rb-input>
    <span fxFlex="2"></span>
    <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
        <button class="fx-button inbox-submit-info-btn searchbtn sendtodata-btn" mat-button (click)="submitAction()">
            Submit
        </button>
        </div>
    </div>
