<div fxLayout="column" fxFill>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
        <div class="toolbarActions-template" id="toolBarDivid">

            <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                     (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="objectName" [objectValue]="supplierID"
                     (lastRecord)="bind()" [closeRedirectUrl]="['/SupplierMaster/List']" [isSupplierModule]="true"></toolBar>

        </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
        <div fxFlex="initial" fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
        </div>
        <div fxFlex>
            <span class="worksheet" *ngIf="editMode">{{supplierWfStatus}}</span>
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
            <div class="listitem" *ngIf="editMode">
                <a href="#" (click)="viewWorkflowHistoryFromSupplier($event)">History</a>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content padding-top-0" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" class="inbox-template padding-0">

            <div fxFlex="initial" fxLayoutAlign="end center" class="m-bottom-10"
                 *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && supplierID > 0">
                <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                              [formGroup]="serviceDocument?.dataProfile?.profileForm"
                              [dataProfile]="serviceDocument?.dataProfile"
                              [cssClass]="searchbtn"
                              (submitClick)="submitAction()"
                              (rejectClick)="reject()"
                              (sendBackClick)="sendBackForReview()"
                              moduleName="{{screenName}}"
                              [priority]="inboxCommonData?.priority"
                              fxFlex>
                </rb-wf-header>

            </div>
            <mat-tab-group class="inbox-tabs-header SupplierMainContent m-top-15"(selectedIndexChange)="tabOnClick($event)">
                <mat-tab label="BASIC DETAILS">
                    <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                        <div fxLayout="row" class="rbsSubHeaders">
                            <div fxFlex fxLayoutAlign="start center">
                                details
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="m-top-10 rbsinputsPadding">
                            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                                <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="supplier" placeholder="Supplier ID" min="0" maxlength="10" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplier" class="error"></rb-error-messages>
                            </div>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierName" required placeholder="Supplier Name" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierName" class="error"></rb-error-messages>
                            </rb-input>
                            <!--<div fxFlex="1"></div>
                            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <rb-autocomplete required [optionsData]="languageData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                 optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.languageId" placeholder="Language" class="fx-selectBox"></rb-autocomplete>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.languageId" class="error"></rb-error-messages>
                            </div>-->
                            <div fxFlex="1"></div>
                            <p fxFlex>
                                <span class="radiobtns">Status</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierStatus" placeholder="Status"
                                                [optionsData]="domainDtlData" optionsKey="code" optionsValue="codeDesc" required [disabled]="!editMode"></rb-radio-group>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierStatus" class="error"></rb-error-messages>
                            </p>

                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

                            <!--<div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <rb-autocomplete [optionsData]="supplierTiersData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                 optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierTier" placeholder="Supplier Tier" class="fx-selectBox"></rb-autocomplete>
                            </div>
                            <div fxFlex="1"></div>-->
                            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <p class="noMargin m-top-5">
                                    <span class="radiobtns">Supplier Type *</span>
                                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierType" placeholder="Supplier Type"
                                                    [optionsData]="supplierTypesData" optionsKey="code" optionsValue="codeDesc" required (rbChange)="changeSupplierType($event)"></rb-radio-group>
                                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierType" class="error"></rb-error-messages>
                                </p>
                            </div>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactTitle1" required placeholder="Contact Person 1 Title" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactTitle1" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactName1" required placeholder="Contact Person 1 Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactName1" class="error"></rb-error-messages>
                            </rb-input>

                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactEmail1" placeholder="Contact Person 1 Email" maxlength="100" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactEmail1" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactTitle2" placeholder="Contact Person 2 Title" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactTitle2" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactName2" placeholder="Contact Person 2 Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactName2" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactEmail2" placeholder="Contact Person 2 Email" maxlength="100" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactEmail2" class="error"></rb-error-messages>
                            </rb-input>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactPhone" required placeholder="Contact Phone" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactPhone" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactFax" placeholder="Contact Fax" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactFax" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <!--<div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <rb-autocomplete [optionsData]="supplierGroupsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                 optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierGroup" placeholder="Supplier Group" class="fx-selectBox"></rb-autocomplete>
                            </div>
                            <div fxFlex="1"></div>-->
                            <p fxFlex class="noMargin m-top-5">
                                <span class="radiobtns">Is Expiry</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="isExpiry" placeholder="Is Expiry"
                                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.isExpiry" class="error"></rb-error-messages>
                            </p>

                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="minServiceLevel" placeholder="Min Service Level" class="errorMsgsParentPosition">
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="defaultItemLeadTime" placeholder="Supplier Lead Time Days" min="0" maxlength="4"></rb-numeric>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="others" placeholder="Others" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.others" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <p fxFlex="25" class="noMargin m-top-5">
                                <span class="radiobtns">Supplier Retail Flag</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierRetailFlag" placeholder="Supplier Retail Flag"
                                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierRetailFlag" class="error"></rb-error-messages>
                            </p>
                        </div>
                    </div>
                    <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                        <div fxLayout="row" class="rbsSubHeaders">
                            <div fxFlex fxLayoutAlign="start center">
                                Address details
                            </div>
                        </div>
                        <div fxLayout="row">
                            <mat-card class="example-card" fxFlex style="margin:10px;padding:6px;">
                                <mat-card-header>
                                    <mat-card-title>ADDRESS 1</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">
                                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" *ngIf="false">
                                            <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                                                <rb-autocomplete [optionsData]="addressTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                                                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.address1AddressType" placeholder="Address Type" class="fx-selectBox"></rb-autocomplete>
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1AddressType" class="error"></rb-error-messages>
                                            </div>
                                            <div fxFlex="2"></div>
                                            <p fxFlex="50" class="noMargin m-top-5">
                                                <span class="radiobtns">Primary Address *</span>
                                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="primaryAddressIndicator" placeholder="Primary Address"
                                                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.primaryAddressIndicator" class="error"></rb-error-messages>
                                            </p>
                                        </div>
                                        <div fxLayout="row">
                                            <!--<rb-textarea fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address1AddressLine1" required placeholder="Address" maxlength="240" upperCase="true" class="errorMsgsParentPosition rbsinputsPadding">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1AddressLine1" class="error"></rb-error-messages>
                                            </rb-textarea>-->
                                            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address1AddressLine1" required placeholder="Address" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1AddressLine1" class="error"></rb-error-messages>
                                            </rb-input>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                                            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address1City" required placeholder="City" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1City" class="error"></rb-error-messages>
                                            </rb-input>
                                            <div fxFlex="2"></div>
                                            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address1State" placeholder="State" maxlength="3" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1State" class="error"></rb-error-messages>
                                            </rb-input>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                                            <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                                                <rb-autocomplete fxFlex="50" required [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                                 optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.address1CountryID" placeholder="Country" class="fx-selectBox"></rb-autocomplete>
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1CountryID" class="error"></rb-error-messages>
                                            </div>
                                            <div fxFlex="2"></div>
                                            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address1PostalCode" placeholder="Postal Code" maxlength="30" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1PostalCode" class="error"></rb-error-messages>
                                            </rb-input>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="example-card" fxFlex style="margin:10px;padding:6px;">
                                <mat-card-header>
                                    <mat-card-title>ADDRESS 2</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">
                                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" *ngIf="false">
                                            <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                                                <rb-autocomplete [optionsData]="addressTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                                                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.address2AddressType" placeholder="Address Type" class="fx-selectBox"></rb-autocomplete>
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2AddressType" class="error"></rb-error-messages>
                                            </div>
                                            <div fxFlex="2"></div>
                                            <p fxFlex="50" class="noMargin m-top-5">
                                                <span class="radiobtns">Primary Address *</span>
                                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="primaryAddressIndicator" placeholder="Primary Address"
                                                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.primaryAddressIndicator" class="error"></rb-error-messages>
                                            </p>
                                        </div>
                                        <div fxLayout="row">
                                            <!--<rb-textarea fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address2AddressLine1" required placeholder="Address" maxlength="240" upperCase="true" class="errorMsgsParentPosition rbsinputsPadding">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2AddressLine1" class="error"></rb-error-messages>
                                            </rb-textarea>-->
                                            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address2AddressLine1" placeholder="Address" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2AddressLine1" class="error"></rb-error-messages>
                                            </rb-input>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                                            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address2City" placeholder="City" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2City" class="error"></rb-error-messages>
                                            </rb-input>
                                            <div fxFlex="2"></div>
                                            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address2State" placeholder="State" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2State" class="error"></rb-error-messages>
                                            </rb-input>
                                        </div>
                                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                                            <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                                                <rb-autocomplete fxFlex="50" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                                 optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.address2CountryID" placeholder="Country" class="fx-selectBox"></rb-autocomplete>
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2CountryID" class="error"></rb-error-messages>
                                            </div>
                                            <div fxFlex="2"></div>
                                            <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address2PostalCode" placeholder="Postal Code" maxlength="30" upperCase="true" class="errorMsgsParentPosition">
                                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address2PostalCode" class="error"></rb-error-messages>
                                            </rb-input>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="FINANCIALS">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete required [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete required [optionsData]="paymentMethodData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.paymentMode" placeholder="Payment Mode" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.paymentMode" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <!--<div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="payTermsTypesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.paymentTermType" placeholder="Payment Term Type" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.paymentTermType" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>-->
                        <div fxLayout="column" fxFlex fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete required [optionsData]="termsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="termsID" optionValue="termsDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.paymentTerms" placeholder="Payment Terms" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.paymentTerms" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="deliveryPolicyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.deliveryPolicy" placeholder="Delivery Terms" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deliveryPolicy" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Cost Hide Invoice</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costHideInvoice" placeholder="Cost Hide Invoice"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.costHideInvoice" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Discount Hide Invoice</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="discountHideInvoice" placeholder="Discount Hide Invoice"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.discountHideInvoice" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="25" class="noMargin">
                            <span class="radiobtns">VAT Exempt</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatExempt" placeholder="VAT Exempt"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatExempt" class="error"></rb-error-messages>
                        </p>
                    </div>
                    <div fxLayout="row" class="radiobtnForMargin" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatRegistrationId" placeholder="VAT Registration ID" maxlength="15" upperCase="true" class="errorMsgsParentPosition">
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatRegistrationId" class="error"></rb-error-messages>
                        </rb-input>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="vatRegionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="vatRegionCode" optionValue="vatRegionName" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegion" placeholder="VAT Region" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">BarCode Printing Flag</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="barCodePrintingFlag" placeholder="BarCode Printing Flag" (rbChange)="barCodePrintingFlagChanged()"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <div fxFlex="1"></div>
                        <rb-numeric fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="barCodePrintCharge" placeholder="BarCode Print Charge" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                    </div>
                    <div *ngIf="false">
                        <rb-input fxFlex="15" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierSecondaryName" placeholder="Secondary Name" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierSecondaryName" class="error"></rb-error-messages>
                        </rb-input>
                        <rb-input fxFlex="15" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactPager" placeholder="Contact Pager" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactPager" class="error"></rb-error-messages>
                        </rb-input>
                        <div fxLayout="column" fxFlex="20" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costChgPercentageVar" placeholder="Cost Charge Percent Var" min="0" max="100" maxlength="12" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.costChgPercentageVar" class="error"></rb-error-messages>
                        </div>
                        <div fxLayout="column" fxFlex="15" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costChgAmountVar" placeholder="Cost Charge Amount Var" min="0" maxlength="20" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.costChgAmountVar" class="error"></rb-error-messages>
                        </div>
                        <p fxFlex="20" class="noMargin m-top-5">
                            <span class="radiobtns">Bracket Costing</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="bracketCostingIndicator" placeholder="Bracket Costing"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <p fxFlex="15" class="noMargin m-top-5">
                            <span class="radiobtns">Prepay Invoice</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="prePayInvoiceIndicator" placeholder="Prepay Invoice"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <p fxFlex="20" class="noMargin m-top-5">
                            <span class="radiobtns">Backorder Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="backOrderIndicator" placeholder="Backorder Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <p fxFlex="15" class="noMargin m-top-5">
                            <span class="radiobtns">Auto Approve Dbt Memo</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="autoApproveDbtMemoIndicator" placeholder="Auto Approve Dbt Memo"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <p fxFlex="15" class="noMargin m-top-5">
                            <span class="radiobtns">Auto Approve Invoice *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="autoApproveInvoiceIndicator" placeholder="Auto Approve Invoice"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.autoApproveInvoiceIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="outLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="outLocationID" optionValue="outLocationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.invoicePayLocation" placeholder="Invoice Pay Location" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="outLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="outLocationID" optionValue="outLocationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.invoiceRecieveLocation" placeholder="Invoice Recieve Location" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="addInvoiceGrossNet" placeholder="Add Invoice Gross Net" maxlength="6" upperCase="true" class="errorMsgsParentPosition">
                        </rb-input>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Allow Overdue</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="allowOverDue" placeholder="Allow Overdue"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="dbtMemoCodeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dbtMemoCode" placeholder="Dbt Memo Code" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="settlementCodeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.settlementCode" placeholder="Settlement Code" class="fx-selectBox"></rb-autocomplete>
                        </div>
                    </div>
                    <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                        <div fxLayout="row" class="rbsSubHeaders">
                            <div fxFlex fxLayoutAlign="start center">
                                Listing Fees
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                            <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition" fxLayout.xs="column">
                                <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="newStoreOpeningFee" placeholder="New Store Opening Fee" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.newStoreOpeningFee" class="error"></rb-error-messages>
                            </div>
                            <div fxFlex="1"></div>
                            <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition" fxLayout.xs="column">
                                <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expectedAnnualVol" placeholder="Expected Annual Vol" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.expectedAnnualVol" class="error"></rb-error-messages>
                            </div>
                            <div fxFlex="1"></div>
                            <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition" fxLayout.xs="column">
                                <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="accountOpeningFee" placeholder="Account Opening Fee" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.accountOpeningFee" class="error"></rb-error-messages>
                            </div>
                            <div fxFlex="1"></div>
                            <div fxLayout="column" fxFlex="25" class="errorMsgsParentPosition" fxLayout.xs="column">
                                <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="listingFee" placeholder="Listing Fee" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true"></rb-numeric>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.listingFee" class="error"></rb-error-messages>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                        <div fxLayout="row" class="rbsSubHeaders">
                            <div fxFlex fxLayoutAlign="start center">
                                Bank Details
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="accountNumberType" placeholder="Account No/Type" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.accountNumberType" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="bankName" placeholder="Bank Name" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.bankName" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="bankDetails" placeholder="Bank Details" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.bankDetails" class="error"></rb-error-messages>
                            </rb-input>
                            <div fxFlex="1"></div>
                            <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="bankAddress" placeholder="Bank Address" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.bankAddress" class="error"></rb-error-messages>
                            </rb-input>
                        </div>
                    </div>
                    <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                        <div fxLayout="row" class="rbsSubHeaders">
                            <div fxFlex fxLayoutAlign="start center">
                                FIXED REBATE
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="rebateDiscount" placeholder="Fixed Rebate %" min="0" max="100" maxlength="9" numberOfDecimals="3" [allowDecimals]="true" class="errorMsgsParentPosition"></rb-numeric>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.rebateDiscount" class="error"></rb-error-messages>
                            </div>
                        </div>
                        <div *ngIf="false">
                            <p fxFlex="24" class="noMargin">
                                <span class="radiobtns">Allow Rebate *</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="allowRebate" placeholder="Allow Rebate"
                                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" (rbChange)="updateDependentControlStatus($event,'allowRebate')"></rb-radio-group>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.allowRebate" class="error"></rb-error-messages>
                            </p>
                            <div fxFlex="1"></div>
                            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                                <rb-autocomplete [optionsData]="rebatePeriodData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.rebatePeriod" placeholder="Rebate Period" class="fx-selectBox"></rb-autocomplete>
                            </div>
                            <div fxFlex="1"></div>
                            <p fxFlex="25" class="noMargin">
                                <span class="radiobtns">Display Discount *</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="displayDiscount" placeholder="Display Discount"
                                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.displayDiscount" class="error"></rb-error-messages>
                            </p>
                        </div>
                    </div>
                    <div fxLayout="column" class="rbsSectionForHeaders m-top20 progressive-Rebate">
                        <div fxLayout="row" class="rbsSubHeaders">
                            <div fxFlex fxLayoutAlign="start center">
                                PROGRESSIVE REBATE
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tr class="table-header-style">
                                    <th colspan="2">Slab 1</th>
                                    <th colspan="1">Slab 2</th>
                                    <th colspan="1">Slab 3</th>
                                    <th colspan="1">Slab 4</th>
                                    <th colspan="1">Slab 5</th>
                                </tr>
                                <tr>
                                    <td class="tableDataFont">Growth%:</td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab1GrowthMinThreshold" placeholder="Min Threshold" class="errorMsgsParentPosition" />-->

                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab1GrowthMinThreshold"
                                                        (fxBlur)="growthValidation($event,'slab10')" placeholder="Min Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab1GrowthMinThreshold" class="error"></rb-error-messages>
                                        </div>
                                        <div fxLayoutAlign="center center">
                                            to
                                        </div>

                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab1GrowthMaxThreshold" placeholder="Max Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab1GrowthMaxThreshold"
                                                        (fxBlur)="growthValidation($event,'slab12')" placeholder="Max Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab1GrowthMaxThreshold" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab2GrowthMinThreshold" placeholder="Min Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab2GrowthMinThreshold"
                                                        (fxBlur)="growthValidation($event,'slab20')" placeholder="Min Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab2GrowthMinThreshold" class="error"></rb-error-messages>
                                        </div>
                                        <div fxLayoutAlign="center center">
                                            to
                                        </div>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab2GrowthMaxThreshold" placeholder="Max Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab2GrowthMaxThreshold"
                                                        (fxBlur)="growthValidation($event,'slab23')" placeholder="Max Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab2GrowthMaxThreshold" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab3GrowthMinThreshold" placeholder="Min Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab3GrowthMinThreshold"
                                                        (fxBlur)="growthValidation($event,'slab30')" placeholder="Min Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab3GrowthMinThreshold" class="error"></rb-error-messages>
                                        </div>
                                        <div fxLayoutAlign="center center">
                                            to
                                        </div>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab3GrowthMaxThreshold" placeholder="Max Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab3GrowthMaxThreshold"
                                                        (fxBlur)="growthValidation($event,'slab34')" placeholder="Max Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab3GrowthMaxThreshold" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab4GrowthMinThreshold" placeholder="Min Threshold" class="errorMsgsParentPosition" />-->
                                        <div class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab4GrowthMinThreshold"
                                                        (fxBlur)="growthValidation($event,'slab40')" placeholder="Min Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab4GrowthMinThreshold" class="error"></rb-error-messages>
                                        </div>
                                        <div fxLayoutAlign="center center">
                                            to
                                        </div>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab4GrowthMaxThreshold" placeholder="Max Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab4GrowthMaxThreshold"
                                                        (fxBlur)="growthValidation($event,'slab45')" placeholder="Max Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab4GrowthMaxThreshold" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab5GrowthMinThreshold" placeholder="Min Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab5GrowthMinThreshold"
                                                        (fxBlur)="growthValidation($event,'slab50')" placeholder="Min Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab5GrowthMinThreshold" class="error"></rb-error-messages>
                                        </div>
                                        <div fxLayoutAlign="center center">
                                            to
                                        </div>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab5GrowthMaxThreshold" placeholder="Max Threshold" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab5GrowthMaxThreshold" placeholder="Max Threshold" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab5GrowthMaxThreshold" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tableDataFont">Rebate%:</td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab1Rebate" placeholder="Rebate" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab1Rebate" placeholder="Rebate" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab1Rebate" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab2Rebate" placeholder="Rebate" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab2Rebate" placeholder="Rebate" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab2Rebate" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab3Rebate" placeholder="Rebate" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab3Rebate" placeholder="Rebate" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab3Rebate" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab4Rebate" placeholder="Rebate" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab4Rebate" placeholder="Rebate" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab4Rebate" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<input type="number" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab5Rebate" placeholder="Rebate" class="errorMsgsParentPosition" />-->
                                        <div fxLayout="column" class="errorMsgsParentPosition rbsinputsPadding">
                                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="slab5Rebate" placeholder="Rebate" maxlength="5" numberOfDecimals="2" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                                            </rb-numeric>
                                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.slab5Rebate" class="error"></rb-error-messages>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="QUALITY CHECK INFO/EDI">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="m-top-10">
                        <p fxFlex="32" class="noMargin">
                            <span class="radiobtns">QC Indicator</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="qcIndicator" placeholder="QC Indicator"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" (rbChange)="updateDependentControlStatus($event,'qcIndicator')"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.qcIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="qcPercentage" placeholder="QC Percentage" maxlength="12" numberOfDecimals="4" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition">
                            </rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.qcPercentage" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="qcFrequency" placeholder="QC Frequency" min="0" maxlength="2" class="errorMsgsParentPosition"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.qcFrequency" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <p fxFlex="32" class="noMargin">
                            <span class="radiobtns">VC Indicator</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vcIndicator" placeholder="VC Indicator"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" (rbChange)="updateDependentControlStatus($event,'vcIndicator')"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vcIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vcPercentage" placeholder="VC Percentage" maxlength="12" numberOfDecimals="4" [allowDecimals]="true" min="0" max="100" class="errorMsgsParentPosition"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vcPercentage" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vcFrequency" placeholder="VC Frequency" min="0" maxlength="2" class="errorMsgsParentPosition"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vcFrequency" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" *ngIf="false">
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">EDI PO Ind *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediPoIndicator" placeholder="EDI PO Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediPoIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">EDI PO Change *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediPoChange" placeholder="EDI PO Change"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediPoChange" class="error"></rb-error-messages>
                        </p>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">EDI PO Confirm *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediPoConfirm" placeholder="EDI PO Confirm"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediPoConfirm" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="25" class="noMargin">
                            <span class="radiobtns">EDI Asn *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediAsn" placeholder="EDI Asn"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediAsn" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="ediSalesRptFrequencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.ediSalesRepeatFrequency" placeholder="EDI Sales Rpt Frequency" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">EDI Support Available Ind *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediSupportAvailableIndicator" placeholder="EDI Support Available Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediSupportAvailableIndicator" class="error"></rb-error-messages>
                        </p>
                    </div>
                    <div fxLayout="row" *ngIf="false">
                        <p fxFlex="24" class="noMargin m-top-10">
                            <span class="radiobtns">EDI Contract Ind *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediContractIndicator" placeholder="EDI Contract Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediContractIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="25" class="noMargin m-top-10">
                            <span class="radiobtns">EDI Invoice Ind *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediInvoiceIndicator" placeholder="EDI Invoice Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediInvoiceIndicator" class="error"></rb-error-messages>
                        </p>
                    </div>
                </mat-tab>
                <mat-tab label="FREIGHT DETAILS">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="m-top-10">
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Freight Charge Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="freightChargeIndicator" placeholder="Freight Charge Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="freightData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="freightTermsId" optionValue="freightTermsDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.freightTerms" placeholder="Freight Terms" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.freightTerms" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="shipMethodData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipMethod" placeholder="Shipment Method" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.shipMethod" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <p fxFlex="25" class="noMargin">
                            <span class="radiobtns">DSD Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dsdIndicator" placeholder="DSD Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dsdIndicator" class="error"></rb-error-messages>
                        </p>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">DC Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dcIndicator" placeholder="DC Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dcIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Replenishment Approval Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="replenApprovalIndicator" placeholder="Replenishment Approval Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.replenApprovalIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Ret Allow Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="retAllowIndicator" placeholder="Ret Allow Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" (rbChange)="updateDependentControlStatus($event,'retAllowIndicator')" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.retAllowIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="25" class="noMargin ">
                            <span class="radiobtns">Ret Authorization Req</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="retAuthorizationRequired" placeholder="Ret Authorization Req"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.retAuthorizationRequired" class="error"></rb-error-messages>
                        </p>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="m-top-10">
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="retMinimumDolAmount" placeholder="Ret Min. Dollar Amount" min="0" maxlength="20" numberOfDecimals="4" [allowDecimals]="true" class="errorMsgsParentPosition"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.retMinimumDolAmount" class="error"></rb-error-messages>
                        </div>
                        <div fxFlex="1"></div>
                        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDescription" placeholder="Comment Description" maxlength="2000" upperCase="true" class="errorMsgsParentPosition">
                        </rb-input>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" *ngIf="false">
                        <p fxFlex="15" class="noMargin ">
                            <span class="radiobtns">Of Transfer Flag *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ofTransferFlag" placeholder="Of Transfer Flag"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ofTransferFlag" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <p fxFlex="15" class="noMargin">
                            <span class="radiobtns">Of Enable Transfer Flag</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ofEnableTransferFlag" placeholder="Of Enable Transfer Flag"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <div fxFlex="1"></div>
                        <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dunsNumber" placeholder="Duns Number" maxlength="9" upperCase="true" class="errorMsgsParentPosition">
                        </rb-input>
                        <div fxFlex="1"></div>
                        <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dunsLocation" placeholder="Duns Location" maxlength="4" upperCase="true" class="errorMsgsParentPosition">
                        </rb-input>
                        <div fxFlex="1"></div>
                        <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="retailCourier" placeholder="Retail Courier" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.retailCourier" class="error"></rb-error-messages>
                        </rb-input>
                        <div fxFlex="1"></div>
                        <p fxFlex="15" class="noMargin">
                            <span class="radiobtns">Pre Mark Ind *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="preMarkIndicator" placeholder="Pre Mark Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.preMarkIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="20" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="vmiOrderStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vmiOrderStatus" placeholder="VMI Order Status" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <p fxFlex="50" class="noMargin">
                            <span class="radiobtns">Service Perf Req Ind</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="servicePerfReqIndicator" placeholder="Service Perf Req Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                        </p>
                        <p fxFlex="24" class="noMargin">
                            <span class="radiobtns">Final Destination Ind *</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="finalDstIndicator" placeholder="Final Destination Ind"
                                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.finalDstIndicator" class="error"></rb-error-messages>
                        </p>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="defaultItemLeadTime" placeholder="Default Item Lead Time" min="0" maxlength="4"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.defaultItemLeadTime" class="error"></rb-error-messages>
                        </div>
                        <div fxLayout="column" fxFlex="48" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="inventoryMgmtLevelData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.invManagementLevel" placeholder="Inv Mgmt Lvl" class="fx-selectBox"></rb-autocomplete>
                        </div>
                        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="handlingPercentage" placeholder="Handling Percentage" min="0" max="100" maxlength="12" numberOfDecimals="4" [allowDecimals]="true" class="errorMsgsParentPosition"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.handlingPercentage" class="error"></rb-error-messages>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="DEALS" *ngIf="editMode">
                    <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
                        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
                            <button name="add" id="searchbarAdd" mat-raised-button (click)="add($event)" class="addbtn">Add</button>
                        </div>
                    </div>
                    <div fxLayout="column" class="m-top-25">
                        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="dataList"
                                  [columnDefs]="columns"></rbs-grid>
                    </div>

                </mat-tab>

            </mat-tab-group>
        </form>
    </div>
</div>
