@import '../../../assets/scss/_variables.scss';

.rbsSubHeaders {
  padding: 9px 0 9px 5px;
  color: #000;
  background: #f7f7f3;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #f1f1eb;
}
.rbsSectionForHeaders {
  border: 2px dotted #eee;
  border-radius: 6px;
}
.table {
  width: 100%;
  border: 1px solid #ddd3d3;
  border-collapse: collapse;

  .table-header-style {
    background-color: $green;
    height: 38px;
    color: $white;
  }

  tr {
    th, td {
      border: 1px solid#ddd3d3;
      border-collapse: collapse;
    }

    .tableDataFont {
      font-weight: $bold;
    }

    .rbsinputsPadding {
      padding: 0 7px !important;
    }
  }
}

@media screen and (max-width: 1224px) {
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: nowrap;
  }
}

@media screen and (max-width: 1330px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    overflow-x: auto;
  }
}

.supplier-Pop-content {
  padding: 7px !important;
}
