<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column">
                <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierId" placeholder="Supplier ID" maxlength="10"></rb-numeric>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="supplierName" placeholder="Supplier Name" maxlength="240">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-autocomplete fxFlex="24" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
                <span fxFlex="1"></span>
                <rb-autocomplete fxFlex="25" [optionsData]="supplierTypesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierType" placeholder="Supplier Type" class="fx-selectBox"></rb-autocomplete>
            </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl" [additionalSearchParams]="additionalSearchParams"
                          navigate="false" (addEmitter)="addValidation()"></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria" [totalRows]="this.serviceDocument.dataProfile.dataModel?.totalRows"></rbs-grid>
        </div>
    </div>
</div>
