<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent">
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromDate"
                   [maxDate]="serviceDocument.dataProfile.profileForm.controls.toDate.value"
                   placeholder="From" [readonly]="true" required></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fromDate" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toDate"
                   [minDate]="serviceDocument.dataProfile.profileForm.controls.fromDate.value"
                   placeholder="To" [readonly]="true" required></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toDate" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="24" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="locationId" optionValue="locationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="25" [optionsData]="transactionTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesciption" [formControl]="serviceDocument.dataProfile.profileForm.controls.transactionTypeId" placeholder="Transaction Type" class="fx-selectBox"></rb-autocomplete>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete fxFlex="24" [optionsData]="categoryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.category" placeholder="Category" class="fx-selectBox" (rbChange)="changeCategory()"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="24" [optionsData]="fineLineData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.fineLine" placeholder="FineLine" class="fx-selectBox" (rbChange)="changeFineLine()"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="24" [optionsData]="segmentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="subclass" optionValue="subClassDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.segment" placeholder="Segment" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemId" placeholder="Item" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <p fxFlex="49" class="noMargin" fxFlex.xs="100">
          <span class="radiobtns">Item Type</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemType" placeholder="order"
                          [optionsData]="itemTypeData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
      </div>
    </div>

    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" restrictSearch="true" #searchPanelTransaction></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
