﻿
@using System.Collections.Generic;
@using System.Linq;
@using Agility.RBS.Core
@model Agility.RBS.Core.Models.InboxNotificationModel;
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .dynamicemail {
            font-family: verdana;
            font-size: 10pt;
            color: #333;
        }

            .dynamicemail table {
                font-family: verdana;
                border-collapse: collapse;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                font-size: 10pt;
            }

            .dynamicemail td {
                font-family: verdana;
                border-collapse: collapse;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
                color: #333333;
                font-size: 10pt;
            }

            .dynamicemail th {
                font-family: verdana;
                color: #333333;
                font-size: 10pt;
            }

            .dynamicemail p {
                font-family: verdana;
                color: #333333;
                font-size: 10pt;
            }

            .dynamicemail span {
                font-family: verdana;
                color: #333333;
                font-size: 10pt;
            }
    </style>
</head>
<body style="padding: 0; margin: 0; background-color:#ebecf0;">
    <table align="center" bgcolor="#cecece" border="0" cellpadding="0" cellspacing="0" style="background-color: #ebecf0; width:100%; ">
        <tr>
            <td align="center" bgcolor="#cecece" style="background-color: #ebecf0;">
                <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 80%; background-color: #FFFFFF;">
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" style="background: #6c7e92;">
                                <tr>
                                    <td align="center" style="padding-top:8px; height:90px;"><img src="cid:rbs-logo" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left; padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px; background-color: #fff7bd;">
                            <p style="font-family: verdana; color:#333333; font-size:9pt; margin:0; margin-bottom: 5px; padding:0;">
                                <span style="color:#9e282c;">Note:</span> This is an auto alert generated by the RBS System to notify the User.
                                <span style="color:#9e282c;">This request requires your action</span>

                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            @{ int numberOfDays = 0;}
                            @if (this.Model.RequestCreatedDate != null)
                            {
                                numberOfDays = 5;
                            }
                            <p style="font-family: verdana; font-weight:normal; color:#333333; font-size:10pt;">
                                This request is submitted by <span style="font-family: verdana; color: #003569; font-weight:bold;">@(this.Model.SenderName)</span>, it has taken
                                @if (numberOfDays == 0)
                                {
                                    <span style="font-family: verdana; color: #003569; font-weight:bold;">less than 1 day</span>
                                    <span style="font-family: verdana; font-weight:normal; font-size:10pt; color:#333333;">to reach current state from the date of creation</span>
                                }
                                else
                                {
                                    <span style="font-family: verdana; color: #003569; font-weight:bold;">@(numberOfDays)</span>
                                    <span style="font-family: verdana; font-weight:normal; font-size:10pt; color:#333333;">days to reach current state from the date of creation</span>
                                }
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="25%" style="font-family: Arial, sans-serif; font-weight:normal; color:#666666; font-size:10pt; margin: 0; background-color: #f3f3f3; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">
                                        <p style="margin: 0;">Request ID</p>
                                        <div style="margin-top: 8px; font-size: 14px; font-weight: bold; color: #6b7e92;">@(this.Model.RequestId)</div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td width="25%" style="font-family: Arial, sans-serif; font-weight:normal; color:#666666; font-size:10pt; margin: 0; background-color: #f3f3f3; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">
                                        <p style="margin: 0;">Description</p>
                                        <div style="margin-top: 8px; font-size: 14px; font-weight: bold; color: #6b7e92;">@(this.Model.Description)</div>
                                    </td>
                                    <td>&nbsp;</td>
                                    @*<td width="32%" style="font-family: Arial, sans-serif; font-weight:normal; color:#666666; font-size:10pt; margin: 0; background-color: #f3f3f3; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">
                                        <p style="margin: 0;">Division</p>
                                        <div style="margin-top: 8px; font-size: 14px; font-weight: bold; color: #6b7e92;">@(this.Model.Status)</div>
                                    </td>*@
                                    <td>&nbsp;</td>
                                    <td width="25%" style="font-family: Arial, sans-serif; font-weight:normal; color:#666666; font-size:10pt; margin: 0; background-color: #f3f3f3; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">
                                        <p style="margin: 0;">Status</p>
                                        <div style="margin-top: 8px; font-size: 14px; font-weight: bold; color: #6b7e92;">@(this.Model.Status)</div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td width="25%" style="font-family: Arial, sans-serif; font-weight:normal; color:#666666; font-size:10pt; margin: 0; background-color: #f3f3f3; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">
                                        <p style="margin: 0;">Submission Created By</p>
                                        <div style="margin-top: 8px; font-size: 14px; font-weight: bold; color: #6b7e92;">@(this.Model.CreatorName)</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                <tr>
                                    <td colspan="5" style="background-color:#23a89f; border-bottom: 2px solid #6c7e92; padding-top:8px; padding-bottom:8px; padding-left:20px; color:white; font-family:'Calibri', sans-serif; font-size:18px; font-weight: bold;">
                                        Submission History
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">From</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">To</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Status</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Date</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:40%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Submission Comments</td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">@this.Model.SenderName</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">@this.Model.RecipientEmails</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">@this.Model.Status</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">@this.Model.RequestCreatedDate.Value.ToString("dd MMM yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                    <td style="border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; width:40%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">

                                        This is test mail regarding Inbox submited request.

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                <tr>
                                    <td valign="top">
                                        <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                            <tr>
                                                <td>
                                                    <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                                        <tr>
                                                            <td style="padding-bottom:5px; text-align:center">
                                                                <p style="font-family: verdana; color:#333333; font-size:10pt; margin:0; padding:0;">
                                                                    Internet connectivity is required to process these actions
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-top:5px;">
                                                                <table align="center">
                                                                    <tr>
                                                                        <td style="width:120px; height:25px; font-family: verdana; font-weight:normal; color:#ffffff; background-color:#50ae50; text-align:center; vertical-align:middle;">
                                                                            <a href='@(this.Model.ApproveLink )' target='_blank' style="font-family: verdana; display:block; font-weight:normal; color:#ffffff;  text-decoration:none; font-size:10pt;">APPROVE</a>
                                                                        </td>
                                                                        <td style="width:10px; height:35px;">
                                                                            <p></p>
                                                                        </td>
                                                                        <td style="width:120px; height:25px; font-family: verdana; font-weight:normal; color:#ffffff; background-color:#f44236; text-align:center; vertical-align:middle;">
                                                                            <a href='@(this.Model.ApproveLink + this.Model.SenderName)' target='_blank' style="font-family: verdana; display:block; font-weight:normal; color:#ffffff; text-decoration:none; font-size:10pt;">DECLINE</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:0px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                <tr>
                                    <td style="background-color:#23a89f; border-bottom: 2px solid #6c7e92; padding-top:8px; padding-bottom:8px; padding-left:20px; color:white; font-family:'Calibri', sans-serif; font-size:18px; font-weight: bold;">
                                        Process Details
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dynamicemail" style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px;">
                                        @this.Model.Email
                                        @this.Model.RequestCreatedDate;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                <tr>
                                    <td colspan="4" style="background-color:#23a89f; border-bottom: 2px solid #6c7e92; padding-top:8px; padding-bottom:8px; padding-left:20px; color:white; font-family:'Calibri', sans-serif; font-size:18px; font-weight: bold;">
                                        Document Attachments
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:40%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Document Name</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:20%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Document Type</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:20%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Last Updated</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:20%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; font-weight:bold; color:#333333; font-size:10pt;">Uploaded By</td>
                                </tr>


                                <tr>
                                    <td style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:40%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">
                                        <a href='@(this.Model.SenderEmail + "/Documents/" + System.Web.HttpUtility.UrlPathEncode(this.Model.LogoPath))' target="_blank" style="text-decoration:none; color:#0050ff; font-weight:bold; font-family: verdana; font-size:10pt;">@System.IO.Path.GetFileName(this.Model.LogoPath)</a>
                                    </td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:20%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">
                                        @this.Model.LogoPath
                                    </td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:20%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">
                                        @this.Model.RequestCreatedDate.Value.ToString("dd MMM yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)
                                    </td>
                                    <td style="border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; width:20%; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">
                                        @this.Model.CreatorName
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>



                    <tr>
                        <td style="padding-top:20px; padding-bottom:30px; padding-left:20px; padding-right:20px;">
                            <table border='0' cellpadding='0' cellspacing='0' width="100%">
                                <tr>
                                    <td colspan="2" style="background-color:#23a89f; border-bottom: 2px solid #6c7e92; padding-top:8px; padding-bottom:8px; padding-left:20px; color:White; font-family:'Calibri', sans-serif; font-size:18px; font-weight: bold;">
                                        Links
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">Request Link</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:85%; background-color:#ffffff; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px;"><a href='@(this.Model.ApplicationLoginUrl +  this.Model.ProfileInstance + "/" + this.Model.CreatorName)' target="_blank" style="text-decoration:none; color:#0050ff; font-weight:bold; font-family: verdana; font-size:10pt;">@(this.Model.ApplicationLoginUrl + this.Model.ProfileInstance + "/" + this.Model.CreatorName)</a></td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:15%; background-color:#ebebeb; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px; font-family: verdana; color:#333333; font-size:10pt;">Application Link</td>
                                    <td style="border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; width:85%; background-color:#ffffff; padding-top:8px; padding-bottom:8px; padding-left:10px; padding-right:10px;"><a href='@(this.Model.ApplicationLoginUrl)' target="_blank" style="text-decoration:none; color:#0050ff; font-weight:bold; font-family: verdana; font-size:10pt;">@(this.Model.ApplicationLoginUrl)</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center; height:50px; background-color:#2b3d4b; vertical-align:middle;">
                            <table width='100%' border='0' cellspacing='0' cellpadding='0' style="height:50px; background-color:#f5f5f5; border-top: 1px solid #ebecf0; vertical-align:middle;">
                                <tr>
                                    <td style="text-align:center; vertical-align:middle;">
                                        <p style="font-family: verdana; font-weight:normal; color:#666666; font-size:9pt; margin: 0; line-height: 22px;">For any concerns please mail us at: <a href="mailto:support@RBS.com" style="text-decoration:none; color:#f8a717;">support@RBS.com</a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
