﻿@using Agility.RBS.Core

@model Agility.RBS.Security.Account.Models.UserMailModel;
<!DOCTYPE html>
<html>
<head>

</head>
<body style="padding: 0; margin: 0; background-color:#ebecf0">
    <table align="center" bgcolor="#ebecf0" border="0" cellpadding="0" cellspacing="0" style="background-color: #ebecf0; width:100%;">
        <tr>
            <td align="center" bgcolor="#ebecf0" style="background-color: #ebecf0;">
                <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 900px; background-color: #FFFFFF;">
                    <tr bgcolor="#2b3d4b" style="background-color: #2b3d4b;">
                        <td style="padding-bottom:20px;">
                            <img src="cid:rbs-logo" alt="" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            Dear  <p style="font-family: verdana; font-weight:normal; color:#333; font-size:10pt;">@(this.Model.CreatorName),</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <p style="font-family: verdana; font-weight:normal; color:#333; font-size:10pt;">Welcome to RBS,</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <p style="font-family: verdana; font-weight:normal; color:#333; font-size:10pt;"><b></b> Thank for registering in RBS System. RBS has invited you to login to RBS system using your below credentails. <b></b> on <b>RBS</b>.</p>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-left:20px; padding-right:20px;">
                            <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td>
                                        <table width='100%' border='0' cellspacing='0' cellpadding='0' style="background-color:#23a89f;">
                                            <tr>
                                                <td style="padding-top:8px; padding-bottom:8px; padding-left:10px; color:#dfdfdd; font-family:verdana; font-size:9.5pt; font-weight:bold;">
                                                    User Details
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;">
                                        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                                            <tr>
                                                <td style="padding-top:8px; padding-bottom:8px; padding-left:10px; background-color:#ebebeb; border-bottom:1px solid #ccc; border-right:1px solid #ccc; width:30%;">
                                                    <p style="font-family:verdana; font-size:10pt; color:#333;">Username</p>
                                                </td>
                                                <td style="padding-top:8px; padding-bottom:8px; padding-left:10px; border-bottom:1px solid #ccc;">
                                                    <p style="font-family:verdana; font-size:10pt; color:#333; font-weight:bold;">
                                                        <span style="color:#003569;">@(this.Model.Email)</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top:8px; padding-bottom:8px; padding-left:10px; background-color:#ebebeb; border-right:1px solid #ccc; width:30%;">
                                                    <p style="font-family:verdana; font-size:10pt; color:#333;">Password</p>
                                                </td>
                                                <td style="padding-top:8px; padding-bottom:8px; padding-left:10px;">
                                                    <p style="font-family:verdana; font-size:10pt; color:#333; font-weight:bold;">
                                                        <span style="color:#003569;">@(this.Model.Password)</span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:20px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <p style="font-family: verdana; font-weight:normal; color:#333; font-size:10pt;">If you want to login to RBS System, Please click on this the below link to login.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px;">
                            <table align="center">
                                <tr>
                                    <td style="width:195px; height:35px; font-family: verdana; font-weight:normal; color:#ffffff; background-color:#f05e00; text-align:center; vertical-align:middle;">
                                        <a href=@(this.Model.ApplicationLoginPath) style="font-family: verdana; font-weight:normal; color:#ffffff; font-size:11pt; border-radius:3px; text-decoration:none;">Login</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                 
                    <tr>
                        <td style="text-align:center; height:50px; background-color:#2b3d4b; vertical-align:middle;">
                            <p style="font-family: verdana; font-weight:normal; color:#ffffff; font-size:10pt;">For any concerns please mail us at <a href="mailto:support@RBS.com" style="text-decoration:none; color:#f05e00;">support@RBS.com</a></p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>