<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent">
        <div [hidden]="!showSearchCriteria">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="domainId" placeholder="Id" maxlength="4"></rb-input>
            <span fxFlex="2"></span>
            <div fxLayout="row" fxFlex="49"  fxLayout.xs="column" fxLayout.sm="column">
              <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="domainDesc" placeholder="Description" upperCase="true" maxlength="120"></rb-input>
            </div>
            <!--<fx-select fxFlex="49" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
            optionKey="code" optionValue="codeDesc" controlName="domainStatus" placeholder="Status" class="fx-selectBox"></fx-select>-->
            <!--<rb-autocomplete fxFlex="49" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                   optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.domainStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>-->
          </div>         
        </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
