<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Order/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{orderStatus}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" class="orderHeader">
      <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             class="action-status-user">
          <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                        [formGroup]="serviceDocument?.dataProfile?.profileForm"
                        [dataProfile]="serviceDocument?.dataProfile"
                        [cssClass]="searchbtn"
                        (submitClick)="submitAction()"
                        (rejectClick)="reject()"
                        (sendBackClick)="sendBackForReview()"
                        moduleName="{{screenName}}"
                        [priority]="inboxCommonData?.priority"
                        fxFlex>
          </rb-wf-header>
        </div>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            GENERAL DETAILS
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="m-top-15">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="orderTypeData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.orderType" placeholder="Order Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orderType" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="supplierData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" [apiUrl]="apiUrl" minLength="2"
                             optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" (rbChange)="changeSupplier($event)" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplier" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="locTypeData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             (rbChange)="locTypeChanged()" optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.locType" placeholder="Location Type" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.locType" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete required [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.location" class="error"></rb-error-messages>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="24" [optionsData]="deptData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.dept" placeholder="Category" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="pickupDate" placeholder="Pickup Date"
                     class="errorMsgsParentPosition" [readonly]="true"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.pickupDate" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDesc" placeholder="Comments" maxlength="2000" class="errorMsgsParentPosition">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="earliestShipDate" placeholder="Earliest Ship Date" (fxChange)="changeEarliestShipDate()"
                     class="errorMsgsParentPosition" [readonly]="true" required></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.earliestShipDate" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="latestShipDate" placeholder="Latest Ship Date"
                     class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.earliestShipDate.value" [readonly]="true"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.latestShipDate" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="notBeforeDate" placeholder="Not Before Date" (fxChange)="changeNotBeforeDate()"
                   class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.earliestShipDate.value" [readonly]="true"></rb-date>
          <span fxFlex="1"></span>
          <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="notAfterDate" placeholder="Not After Date"
                   class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.notBeforeDate.value" [readonly]="true"></rb-date>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <p fxFlex="24" class="noMargin ">
            <span class="radiobtns">Import Order Indicator</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="importOrderInd"
                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
          </p>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="24" [optionsData]="importCountryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.importCountryId" placeholder="Import Country" class="fx-selectBox"></rb-autocomplete>

          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="24" [optionsData]="billtoIdData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="outlocId" optionValue="outlocDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.billToId" placeholder="Bill to ID" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="25" [optionsData]="poTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="poType" optionValue="poTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.poType" placeholder="PO Type" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vendorOrderNo" placeholder="Vendor Order No" maxlength="15" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="exchangeRate" placeholder="Exchange Rate" maxlength="250" class="errorMsgsParentPosition" [disabled]="true" [readonly]="true">
          </rb-input>
         
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="currencyCode" placeholder="Currency Code" class="errorMsgsParentPosition" [disabled]="true" [readonly]="true">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="termsDesc" placeholder="Terms" maxlength="250" class="errorMsgsParentPosition" [disabled]="true" [readonly]="true">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="freightDesc" placeholder="Freight Terms" maxlength="250" class="errorMsgsParentPosition" [disabled]="true" [readonly]="true">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="payMethodName" placeholder="Payment Method" maxlength="250" class="errorMsgsParentPosition" [disabled]="true" [readonly]="true">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipmentDesc" placeholder="Ship Method" maxlength="250" class="errorMsgsParentPosition" [disabled]="true" [readonly]="true">
          </rb-input>
        </div>
      </div>
      <!--<div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            TIMELINE
          </div>
        </div>
        <ul fxLayout fxLayout.xs="column" class="wizard services-wizard">
          <li fxFlex fxFlex.xs="initial" class="wizard-step {{n.colors}}" [class.completed]="stateId > 0" *ngFor="let n of datesArray;let isOdd=odd; let isEven=even"
              [class.timeline-article-top]="isEven" [class.timeline-article-bottom]="isOdd">
            <a href="#nogo">
              <span class="main-timelineIcon firstIcon {{n.iconCss}}"></span>
              <p class="state-name m-top-15"><span>{{n.name}} <br /><span class="timeline-date">{{ n.date | date:'dd-MMM-yyyy' }}</span></span></p>
            </a>
          </li>

        </ul>
      </div>-->
      <div fxLayout="row">
        <div fxFlex>
            <!--<div style="display:none">
              <rb-file-upload acceptTypes="" (fileChange)="fileChange($event)" controlname="documentSelectCtrl" (uploadedFileReference)="uploadedFileReference($event)" fxLayoutAlign="center center"></rb-file-upload>
            </div>-->
            <!--<div fxFlex fxLayoutAlign="end center">
              <button (click)="uploadDocument($event)" class="AddRow m-right-10" mat-button>Import</button>
            </div>-->
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <button mat-raised-button (click)="add($event)" class="Addrow">{{addText}}</button>
        </div>
      </div>
      <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptions" [rowData]="data"
                [columnDefs]="columns"></rbs-grid>

    </form>
  </div>
</div>
