<div fxFlex class="ComponentLevelMainContent" fxLayout="column">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                [columnDefs]="columns"></rbs-grid>
    <div fxLayout="row" class="domainDataAddRow">
      <div fxFlex fxLayoutAlign="start center" class="domianHeader">
        TRANSFER DETAILS
      </div>
      <div fxFlex="initial" fxLayoutAlign="end center">
        <button mat-raised-button (click)="add($event)" class="AddRow"> {{addText}}</button>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="24" [optionsData]="clrItemListData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemType" placeholder="Item Type" class="fx-selectBox" [disabled]=true></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="item" maxlength="120" placeholder="Item" class="errorMsgsParentPosition" (fxBlur)="changItemInfo($event.target.value)">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="itemDesc" maxlength="120" placeholder="Description" class="errorMsgsParentPosition" [disabled]=true>
          </rb-input>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="24" [optionsData]="uomTransferData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.unitOfTransfer" placeholder="Unit Of Transfer" class="fx-selectBox" [disabled]=true></rb-autocomplete>

    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="unitCost" placeholder="From loc Cost" min="0" maxlength="10" [disabled]=true></rb-numeric>
          <span fxFlex="1"></span>
          <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="stockOnHand" placeholder="Available Qty(SUOM)" min="0" maxlength="10" [disabled]=true></rb-numeric>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="24" [optionsData]="transferQtyTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.qtyType" placeholder="Qty Type" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsfQty" placeholder="Tsf Qty" min="0" maxlength="10"></rb-numeric>
   </div>
  </div>

