<div fxLayout="column" class="workflow-inbox-tabs ItemDimensionsPopupInfo" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">Product Dimensions - {{itemCode}}</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>

        </div>
    </div> 
    <div fxFlex fxLayout="column" class="ComponentLevelMainContent mainwrap">
        <form novalidate [formGroup]="infoGroup">
            <div fxLayout="row" class="domainDataAddRow footer-actions-buttons" style="margin:0;padding:0;" fxLayoutAlign="end center" *ngIf="isEditable">
                <button mat-raised-button (click)="save()" class="AddRow">Update</button>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="dimObjectData" [formGroup]="infoGroup" required="true" ngDefaultControl
                                     optionKey="id" optionValue="description" [formControl]="infoGroup.controls.dimObject" placeholder="Dimension Object" class="fx-selectBox" [disabled]="!isEditable"></rb-autocomplete>
                    <rb-error-messages [control]="infoGroup.controls.dimObject" class="error"></rb-error-messages>
                </div>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="presentationMethodData" [formGroup]="infoGroup" ngDefaultControl
                                     optionKey="id" optionValue="description" [formControl]="infoGroup.controls.presentationMethod" placeholder="Presentation Method" class="fx-selectBox" [disabled]="!isEditable"></rb-autocomplete>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="length" placeholder="Length(L)" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="width" placeholder="Width(W)" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="height" placeholder="Height(H)" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="LWHData" [formGroup]="infoGroup" ngDefaultControl
                                     optionKey="uomCode" optionValue="uomDescription" [formControl]="infoGroup.controls.lwhUom" placeholder="LWH UOM" class="fx-selectBox" [disabled]="!isEditable"></rb-autocomplete>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="weight" placeholder="Weight" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
                <span fxFlex="1"></span>

                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="netWeight" placeholder="NET Weight" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="weightUOM" [formGroup]="infoGroup" ngDefaultControl
                                     optionKey="uomCode" optionValue="uomDescription" [formControl]="infoGroup.controls.weightUom" placeholder="Weight UOM" class="fx-selectBox" [disabled]="!isEditable"></rb-autocomplete>
                </div>
                <span fxFlex="1"></span>
                <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="statCube" placeholder="Stat Cube" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="liquidVolume" placeholder="Liquid Volume" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="volUOM" [formGroup]="infoGroup" ngDefaultControl
                                     optionKey="uomCode" optionValue="uomDescription" [formControl]="infoGroup.controls.liquidVolumeUom" placeholder="Liquid Volume UOM" class="fx-selectBox" [disabled]="!isEditable"></rb-autocomplete>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="tareTypeData" [formGroup]="infoGroup" ngDefaultControl
                                     optionKey="id" optionValue="description" [formControl]="infoGroup.controls.tareType" placeholder="Tare Type" class="fx-selectBox" [disabled]="!isEditable"></rb-autocomplete>
                </div>
                <span fxFlex="1"></span>
                <rb-input fxFlex="50" [formGroup]="infoGroup" controlName="tareWeight" placeholder="Tare Weight" class="errorMsgsParentPosition" [readonly]="!isEditable">
                </rb-input>
            </div>
        </form>
    </div>
</div>

