<div fxLayout="column" fxFill class="SuperSearchCriteria">
  <div fxFlex="initial" class="superSearchHeader">
    <div fxLayout="row" class="mainContentHeader inbox-template">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> <span *ngIf="!isDisableProductBtns">  ({{currentRecordPostion}} of {{serviceDocument.dataProfile.dataModel.totalRows}})</span>
      </div>
      <div fxFlex fxLayoutAlign="end center" fxLayout="row" fxLayout.xs="center center">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="SuperSearchParameter">
          <a (click)="reset()" class="SuperSearchPirorty resetbtnbg" matTooltip="Reset">
            <span class="retailNavigationIcons superSearchReset"></span>
          </a>
          <span fxFlex="1"></span>
          <a (click)="search()" class="SuperSearchPirorty searchbtnbg" matTooltip="Search">
            <span class="retailNavigationIcons superSearchIcon"></span>
          </a>
          <span fxFlex="1"></span>
          <a (click)="onPrevious()" *ngIf="showPrevNextBtns" class="SuperSearchPirorty" matTooltip="Previous">
            <span class="retailsNavIcons superSearchPrevious m-left-10"></span>
          </a>
          <span fxFlex="1"></span>
          <a (click)="onNext()" class="SuperSearchPirorty" *ngIf="showPrevNextBtns" matTooltip="Next">
            <span class="retailsNavIcons superSearchNext m-left-10"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition" *ngIf="isDisableProductBtns">
          <rb-autocomplete [optionsData]="itemTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemType" placeholder="Type" class="fx-selectBox">
          </rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.itemType" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemTypeDesc" placeholder="Type" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" placeholder="Item" maxlength="20" [readonly]="!isDisableProductBtns">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="descLong" placeholder="Item Name" maxlength="50" class="errorMsgsParentPosition" [readonly]="!isDisableProductBtns">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.descLong" class="error"></rb-error-messages>
        </rb-input>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="serviceDocument.dataProfile.profileForm.controls['itemType'].value === 'PACK ITEM'">
          <p class="noMargin">
            <span class="radiobtns">Simple Pack Indicator</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="simplePackInd" placeholder="Simple Pack Indicator"
                            [optionsData]="itemYesNoData" optionsKey="code" optionsValue="codeDesc" [disabled]="!isDisableProductBtns"></rb-radio-group>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.simplePackInd" class="error"></rb-error-messages>
          </p>
        </div>

        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="serviceDocument.dataProfile.profileForm.controls['itemType'].value === 'FASHION'">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemGrandparent" placeholder="Item Grandparent" maxlength="25" [disabled]="!isDisableProductBtns">
          </rb-numeric>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="isDisableProductBtns">
          <rb-autocomplete [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox" (rbChange)="changeDivision($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divisionId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="divisionDesc" placeholder="Division" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>

        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="isDisableProductBtns">
          <rb-autocomplete [optionsData]="group" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="groupNo" optionValue="groupDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.groupId" placeholder="Department" class="fx-selectBox" (rbChange)="changeGroup($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="groupDesc" placeholder="Department" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="isDisableProductBtns">
          <rb-autocomplete [optionsData]="department" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.deptId" placeholder="Category" class="fx-selectBox" (rbChange)="changeDepartment($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deptId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptDesc" placeholder="Category" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="isDisableProductBtns">
          <rb-autocomplete [optionsData]="class" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.classId" placeholder="Fineline" class="fx-selectBox" (rbChange)="changeClass($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.classId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="classDesc" placeholder="Fineline" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="isDisableProductBtns">
          <rb-autocomplete [optionsData]="subclass" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="subclass" optionValue="subClassDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.subClassId" placeholder="Segment" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.subClassId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subClassDesc" placeholder="Segment" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="24" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrlSupplier" minLength="2"
                         optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox" *ngIf="isDisableProductBtns"></rb-autocomplete>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierName" placeholder="Supplier" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <p fxFlex="24" class="noMargin">
          <span class="radiobtns">Pack Item Indicator</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="packInd" placeholder="Pack Item Indicator"
                          [optionsData]="itemYesNoData" optionsKey="code" optionsValue="codeDesc" [disabled]="!isDisableProductBtns"></rb-radio-group>
        </p>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete #autoViewRef [optionsData]="brandData" fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="brandId" [apiUrl]="apiUrlBrand" minLength="2"
                         optionValue="brandDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.brand" placeholder="Brand" class="fx-selectBox" *ngIf="isDisableProductBtns">
        </rb-autocomplete>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="brandDesc" placeholder="Brand" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-autocomplete [optionsData]="uomData" fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="uomCode" optionValue="uomDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.sellableUom" placeholder="Standard UOM" class="fx-selectBox" *ngIf="isDisableProductBtns">
        </rb-autocomplete>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="sellableUomDesc" placeholder="Standard UOM" [readonly]="true" *ngIf="!isDisableProductBtns">
        </rb-input>

        <span fxFlex="1"></span>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vpn" placeholder="VPN" maxlength="30" class="errorMsgsParentPosition" [readonly]="!isDisableProductBtns">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shortDescArabic" placeholder="Arabic Description" maxlength="120" class="errorMsgsParentPosition" [readonly]="!isDisableProductBtns">
        </rb-input>
      </div>
    </form>

    <div class="inbox-template padding-10 " fxFlex>
      <mat-tab-group class="inbox-tabs-header order-headers supplierSearchComponent" (selectedIndexChange)="tabOnClick($event)" [(selectedIndex)]="selectedTab">
        <mat-tab label="Product" fxLayout="column">
          <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="row" class="m-top-15" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex>
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-autocomplete fxFlex="24" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.originCountry" placeholder="Origin Country" class="fx-selectBox"></rb-autocomplete>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <p class="noMargin" style="margin-top:2px;">
                    <span class="radiobtns">Sellable</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="sellableInd" placeholder="Sellable"
                                    [optionsData]="itemYesNoData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.sellableInd" class="error"></rb-error-messages>
                  </p>
                </div>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <p class="noMargin" style="margin-top:2px;">
                    <span class="radiobtns">Orderable</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderableInd" placeholder="Orderable"
                                    [optionsData]="itemYesNoData" optionsKey="code" optionsValue="codeDesc" (rbChange)="orderableChanged()"></rb-radio-group>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orderableInd" class="error"></rb-error-messages>
                  </p>
                </div>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <p class="noMargin" style="margin-top:2px;">
                    <span class="radiobtns">Inventory</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="inventoryInd" placeholder="Inventory"
                                    [optionsData]="itemYesNoData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.inventoryInd" class="error"></rb-error-messages>
                  </p>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <p class="noMargin" style="margin-top:2px;">
                    <span class="radiobtns">Expiry Flag</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expiryFlag" placeholder="expiryFlag"
                                    [optionsData]="itemYesNoData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                  </p>
                </div>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expiryInbound" placeholder="InBound Days">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expiryOutbound" placeholder="OutBound Days">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-autocomplete [optionsData]="iTierData" fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemTier" placeholder="Item Tier" class="fx-selectBox" *ngIf="isDisableProductBtns">
                </rb-autocomplete>
                <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemTierDesc" placeholder="Item Tier" [readonly]="true" *ngIf="!isDisableProductBtns">
                </rb-input>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center" class="m-top-10 m-bottom-10">
                <button mat-raised-button (click)="loadItemBasicDetails()" [disabled]="isDisableProductBtns" class="bgcolor basicDetails">Basic Details</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemRangingDetails()" [disabled]="isDisableProductBtns" class="bgcolor storeRanging">Store Ranging</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadSupplierSuperData()" [disabled]="isDisableProductBtns" class="bgcolor suppliers">Suppliers</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemDimensions()" class="bgcolor dimensions" [disabled]="isDisableProductBtns">Dimensions</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemCostPrices()" class="bgcolor costPrices" [disabled]="isDisableProductBtns">Cost & Price</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemFuturePrices()" class="bgcolor costPrices" [disabled]="isDisableProductBtns">Future Retail</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemFutureCost()" class="bgcolor costPrices" [disabled]="isDisableProductBtns">Future Cost</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemPromotion()" class="bgcolor costPrices" [disabled]="isDisableProductBtns">Promotion</button>
                <span fxFlex="1"></span>
                <button mat-raised-button (click)="loadItemBarcode()" class="bgcolor costPrices" [disabled]="isDisableProductBtns">Barcode</button>
              </div>
            </div>

            <!--<div fxFlex="15" fxLayout="column">
              <p class="noMargin">

              </p>

            </div>-->
            <!--<span fxFlex="1"></span>
            <div fxFlex="12" fxLayout="column">
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="retailSp" placeholder="Retail Sp" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="avCost" placeholder="Av Cost" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="stockValue" placeholder="Stk Value" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="marginPct" placeholder="Margin %" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shellPct" placeholder="Shelf Pk" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="pickMultiple" placeholder="Pick Mult" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="purch" placeholder="Purch" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="onOrder" placeholder="On Order" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeOh" placeholder="Str O/H" maxlength="120">
              </rb-input>
              <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="storeSv" placeholder="Str SV" maxlength="120">
              </rb-input>
            </div>-->
          </form>
        </mat-tab>
        <mat-tab label="Stock" fxLayout="column" [disabled]="isDisableProductBtns">
          <div fxLayout="column" class="m-top-25">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="stockGridOptions" [rowData]="itemStockData"
                      [columnDefs]="stockColumns"></rbs-grid>
          </div>
        </mat-tab>
        <mat-tab label="Sales" fxLayout="column" [disabled]="isDisableProductBtns">
          <div fxLayout="column" class="m-top-25">
            <div fxFlex="initial" fxLayout="row" fxLayoutAlign="center center" class="m-top-10 m-bottom-10">
              <span fxFlex>Total: <b>{{totalUnits}} Units</b></span>
            </div>
            <rbs-grid [componentParentName]="componentName" [gridOptions]="salesGridOptions" [rowData]="itemSalesData"
                      [columnDefs]="salesColumns"></rbs-grid>
          </div>
        </mat-tab>
        <mat-tab label="Transfers" fxLayout="column" [disabled]="isDisableProductBtns">
          <div fxLayout="column" class="m-top-25">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="warehouseMovementGridOptions" [rowData]="whsMovmntData"
                      [columnDefs]="warehouseMovementColumns"></rbs-grid>
          </div>
        </mat-tab>
        <mat-tab label="Orders" fxLayout="column" [disabled]="isDisableProductBtns">
          <div fxLayout="column" class="m-top-25">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="orderGridOptions" [rowData]="itemOrderData"
                      [columnDefs]="orderColumns"></rbs-grid>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
