@import '../../assets/scss/_variables.scss';
.ItemDimensionsPopupInfo {
    .recordDetailsDialog {
      .workflow-dailog-title {
        line-height: 3;
      }
    }

    .toolbarActions-template {
        background-color: #2b3d4b;
        padding: 0px 11px;

        .headerToolbaricon {
            padding: 5px !important;
            min-width: 80px !important;

            .closeIcon {
              background: url('../../assets/images/Untitled-1.svg') no-repeat;
              display: inline-block;
            }

            .closeImage {
              background-position: -79px 0;
              width: 23px;
              height: 23px;
            }

            p {
              font-size: 12px;
              margin: 0;
              line-height: 1.5;
            }
        }
    }

    .ComponentLevelMainContent {
        padding: 10px;
        overflow: auto;

        .rbsSectionForHeaders {
            border: 2px dotted #eee;
            border-radius: 6px;
        }

        .rbsInputP-leftRight {
            padding: 0 10px;
        }

        .rbsSubHeaders {
            background: #e2e2e2;
            padding: 9px 0 9px 5px;
            color: #000;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .AddRow{
            background-color:$orange;
            color:$white;
        }
    }
}
