<div fxLayout="column" class="ItemCostPricePopupInfo" fxFill>
  <div fxFlex="initial">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
      <div fxFlex>
        <p class="workflow-dailog-title m-left-10">Cost & Prices - {{objectValue}}</p>
      </div>
      <div fxFlex="initial" class="toolbarActions-template">

        <button mat-button class="headerToolbaricon" (click)="close()">
          <span class="closeIcon closeImage"></span>
          <p>CLOSE</p>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex fxLayout="column" class="ComponentLevelMainContent itemSuperSearhMaincontent costandpriceContentBg padding-top-0">
    <form novalidate [formGroup]="infoGroup">
      <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Cost
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="caseCost" placeholder="Case Cost">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="unitCost" placeholder="Unit Cost">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="annualDiscount" placeholder="Annual Discount" [readonly]="true">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="25" [formGroup]="infoGroup" controlName="netUnitCost" placeholder="Net Unit Cost">
          </rb-amount>
        </div>
      </div>
      <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            RSP
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="currentPriceSSM" placeholder="SS-">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="currentPriceSS" placeholder="SS">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="currentPriceWHS" placeholder="WHS">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="25" [formGroup]="infoGroup" controlName="currentPriceCS" placeholder="CS">
          </rb-amount>
        </div>
      </div>
      <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Margin
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
          <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="marginSSM" placeholder="SS-" [readonly]="true"
                    [ngClass]="infoGroup.controls['marginSSM'].value < 0 ? 'negativeValue':''">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="marginSS" placeholder="SS" [readonly]="true"
                    [ngClass]="infoGroup.controls['marginSS'].value < 0 ? 'negativeValue':''">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="marginWHS" placeholder="WHS" [readonly]="true"
                    [ngClass]="infoGroup.controls['marginWHS'].value < 0 ? 'negativeValue':''">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="marginCS" placeholder="CS" [readonly]="true"
                    [ngClass]="infoGroup.controls['marginCS'].value < 0 ? 'negativeValue':''">
          </rb-input>
        </div>
      </div>
      <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Market
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="compRetail1" placeholder="Lulu">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="compRetail2" placeholder="Carrefour">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="24" [formGroup]="infoGroup" controlName="compRetail3" placeholder="COOP">
          </rb-amount>
          <span fxFlex="1"></span>
          <rb-amount fxFlex="25" [formGroup]="infoGroup" controlName="compRetail4" placeholder="Saveco">
          </rb-amount>
        </div>
      </div>
    </form>
    <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          Child Items Cost and Prices
        </div>
      </div>
    </div>
    <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="childObjData"
              [columnDefs]="columns" [hidden]="false" [rbsGridCustomOptions]="rbsGridCustomOptions"></rbs-grid>
  </div>
</div>

