<div fxLayout="column" class="workflow-inbox-tabs itemRangingInfo" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">Ranging Details - {{objectValue}}</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex class="ComponentLevelMainContent">
        <div fxLayout="row" class="domainDataAddRow footer-actions-buttons" fxLayoutAlign="end center" *ngIf="isEditable">
            <button mat-raised-button (click)="save()" class="searchbtn">Update</button>
        </div>
        <rbs-grid [componentParentName]="componentName" [gridOptions]="rangingGridOptions" [rowData]="rangingDetailsData"
                  [columnDefs]="rangingColumns"></rbs-grid>
    </div>
</div>

