<div fxLayout="column" class="itemBasicInfo" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">Basic Details - {{itemCode}}</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="ComponentLevelMainContent padding-top-0">
        <form novalidate [formGroup]="infoGroup">
            <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel disable-textFields-styles">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Descriptions
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="shortDesc" placeholder="Short Description" maxlength="120" class="errorMsgsParentPosition">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="onlineDesc" placeholder="Online Description" maxlength="500" class="errorMsgsParentPosition">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="infoGroup" controlName="shortDescArabic" placeholder="Arabic Description" maxlength="250" class="errorMsgsParentPosition">
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="descLong" placeholder="Long Description" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="infoGroup" controlName="suppDesc" placeholder="Supplier Description" [readonly]="true">
                    </rb-input>
                </div>
            </div>
            <div fxLayout="column" class="m-top20 rbsSectionForHeaders matDialogueInputLabel">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Master UOM
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="standardUom" placeholder="Master UOM" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="compQty" placeholder="Value" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="infoGroup" controlName="descLong" placeholder="Item Name" [readonly]="true">
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="itemNature" placeholder="Item Nature" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="itemNatureValue" placeholder="Item Nature Value" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="itemSpecification" placeholder="Item Specification" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="itemSpecificationValue" placeholder="Item Specification Value" [readonly]="true">
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="handlingTemp" placeholder="Handling Temperature" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="handlingSensitivity" placeholder="Handling Sensitivity" [readonly]="true">
                    </rb-input>
                </div>
            </div>
        </form>
    </div>
</div>

