<div fxLayout="column" class="workflow-inbox-tabs itemSupplierInfo" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">Promotions for {{objectValue}}</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="ComponentLevelMainContent">
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="futurePromotionData"
                  [columnDefs]="futurePromotionColumns"></rbs-grid>
    </div>
</div>

