<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order No" maxlength="20" required>
        </rb-numeric>
        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orderNo" class="error"></rb-error-messages>
      </div>
        <span fxFlex="1"></span>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supName" placeholder="Suplier Name" [disabled]="true"></rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="locName" placeholder="Location" [disabled]="true"></rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expectedDate" placeholder="Expected Date" [disabled]="true"></rb-input>

      </div>
      <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
          <button mat-raised-button name="search" id="searchbarSearch" (click)="getDetails()" class="searchbtn">Get Details</button>
        </div>
      </div>

      <div>
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="dataList" [columnDefs]="columns"></rbs-grid>
      </div>
      <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center" *ngIf="dataList && dataList.length>0">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
          <button mat-raised-button name="search" id="searchbarSearch" (click)="saveReceiving()" class="searchbtn">Confirm and Complete</button>
        </div>
      </div>
    </div>
</div>
