<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Item Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemBarcode" placeholder="Item" maxlength="25" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description" maxlength="250" class="errorMsgsParentPosition">
          </rb-input>
        </div>
      </div>

      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Cost Change Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-numeric fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cosT_CHANGE_ID" placeholder="Cost Change ID" maxlength="8"></rb-numeric>
          <span fxFlex="1"></span>
          <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costChangeDesc" placeholder="Description" maxlength="25" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="34" [optionsData]="workflowStatusList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="name" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.costChangeStatus" placeholder="Status" class="fx-selectBox">
          </rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="33" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="33" [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="34" [optionsData]="costChangeReasonsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="reason" optionValue="reasonDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.reason" placeholder="Reason" class="fx-selectBox"></rb-autocomplete>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation()" #searchPanelCostChg></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria" [totalRows]="this.serviceDocument.dataProfile.dataModel?.totalRows"></rbs-grid>
    </div>
  </div>
</div>
