
<div fxLayout="column" fxFill style="overflow:hidden;">
  <div class="toolbarActions-template">
    <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
             (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/CostChange/List']"
             isWrkflowEnbled="true"></toolBar>
  </div>
  <div fxLayout="row" class="ItemHeader mainContentHeader">
    <div fxFlex="initial" fxLayoutAlign="start center">
      <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
    </div>
    <div fxFlex>
      <span class="worksheet" *ngIf="primaryId !== 0">{{costStatus}} </span>
    </div>
  </div>
  <div fxLayout="row" fxFlex class="itemMaster-main-content">
    <div class="main-content" fxFlex>
      <div fxLayout="row" fxFlex>
        <div fxFlex class="ComponentLevelMainContent">
          <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
            <div fxFlex="initial" fxLayoutAlign="end center" class="m-bottom-10"
                 *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && primaryId > 0">
              <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                            [formGroup]="serviceDocument?.dataProfile?.profileForm"
                            [dataProfile]="serviceDocument?.dataProfile"
                            [cssClass]="searchbtn"
                            (submitClick)="submitAction()"
                            (rejectClick)="reject()"
                            (sendBackClick)="sendBackForReview()"
                            moduleName="{{screenName}}"
                            [priority]="inboxCommonData?.priority"
                            fxFlex>
              </rb-wf-header>

            </div>
            <div fxLayout="column" class="rbsSectionForHeaders m-top-20">
              <div fxLayout="row" class="rbsSubHeaders">
                <div fxFlex fxLayoutAlign="start center">
                  BASIC INFO
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cosT_CHANGE" placeholder="Cost Change ID" class="errorMsgsParentPosition" [disabled]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costChangeDesc" placeholder="Description" maxlength="25" required upperCase="true" class="errorMsgsParentPosition">
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.costChangeDesc" class="error"></rb-error-messages>
                </rb-input>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-autocomplete required [optionsData]="costChangeReasonsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="reason" optionValue="reasonDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.reason" placeholder="Reason" class="fx-selectBox"></rb-autocomplete>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reason" class="error"></rb-error-messages>
                </div>

                <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-autocomplete required [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                   optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox"></rb-autocomplete>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divisionId" class="error"></rb-error-messages>
                </div>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-autocomplete required [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                                   optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight" *ngIf="false">
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="effectiveStartDate" placeholder="Effective From" required
                           class="errorMsgsParentPosition" [minDate]="effectiveMinDate" [maxDate]="serviceDocument.dataProfile.profileForm.controls.effectiveEndDate.value"></rb-date>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.effectiveStartDate" class="error"></rb-error-messages>
                </div>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="effectiveEndDate" placeholder="Effective To"
                           class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.effectiveStartDate.value"></rb-date>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.effectiveEndDate" class="error"></rb-error-messages>
                </div>
                <span fxFlex="1"></span>
                <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="runDate" placeholder="Run Date"
                           class="errorMsgsParentPosition" [maxDate]="" [disabled]="true"></rb-date>
                </div>
              </div>


            </div>
            <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
              <span fxFlex="2"></span>
              <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
                <button mat-raised-button name="search" id="searchbarSearch" (click)="openCostManagementExcel()" class="searchbtn" *ngIf="editMode && costStatus!=='RequestCompleted'">Open Excel</button>
              </div>
            </div>

            <div>
              <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                        [columnDefs]="columns"></rbs-grid>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
