<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent">
        <div [hidden]="!showSearchCriteria">
          <div fxLayout="row" fxLayout.xs="row">
            <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatRate" placeholder="Vat Rate" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="20">
            </rb-numeric>
            <span fxFlex="2"></span>
            <rb-autocomplete fxFlex="49" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="vatCode" optionValue="vatCodeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatCode" placeholder="Vat Code" maxlength="6" class="fx-selectBox"></rb-autocomplete>

          </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
