<div fxLayout="column" fxFill>
  <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
    <div class="toolbarActions-template" id="toolBarDivid">
      <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
               (previousRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/vatrates/List']"></toolBar>
    </div>
  </form>
  <div fxLayout="row" class="mainContentHeader" fxFlex="initial">
    <div fxFlex fxLayoutAlign="start center">
      <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
    </div>
    <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
      <div class="listitem">
        <a href="#" (click)="openVatCode($event)">Vat Codes</a>
      </div>
    </div>
  </div>
  

  <div class="ComponentLevelMainContent" id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete fxFlex="49" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="vatCode" optionValue="vatCodeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatCode" required placeholder="Vat Code" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatCode" class="error"></rb-error-messages>
        </div>
        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatRate" placeholder="Vat Rate" min="0" numberOfDecimals="3" required [allowDecimals]="true" maxlength="20">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatRate" class="error"></rb-error-messages>
        </div>
        <span fxFlex="2"></span>
        <rb-input fxFlex="40" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="createId" placeholder="Create Id" required maxlength="30"></rb-input>
        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.createId" class="error"></rb-error-messages>
      </div>
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="activeDate"
                   [maxDate]="serviceDocument.dataProfile.profileForm.controls.activeDate.value"
                   placeholder="Active Date" [disabled]="isStartDateDisabled || editMode" [readonly]="true" required [ngClass]="{'editmode':editMode}"></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.activeDate" class="error"></rb-error-messages>
        </div>
        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="createDate"
                   [minDate]="serviceDocument.dataProfile.profileForm.controls.activeDate.value"
                   placeholder="Create Date" [disabled]="editMode" required [readonly]="true"></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.createDate" class="error"></rb-error-messages>
        </div>
      </div>

    </form>
  </div>
</div>
