<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">
      <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="categoryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.dept" placeholder="Category" class="fx-selectBox" (rbChange)="changeCategory()"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dept" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="locationId" optionValue="locationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.location" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="24" [optionsData]="fineLineData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.class" placeholder="FineLine" class="fx-selectBox" (rbChange)="changeFineLine()"></rb-autocomplete>
          <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="25" [optionsData]="segmentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="subclass" optionValue="subClassDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.subClass" placeholder="Segment" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranCode" placeholder="Tran Code" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranCodeDesc" placeholder="Tran Code Desc" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      restrictSearch="true" [showAdd]="false" navigate="false" #searchPanel></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>

