<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar  [formGroup]="serviceDocument.dataProfile.profileForm"  [closeRedirectUrl]="['/InvAdjustmentReason/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fifGlCrossRefId" [disabled]="true" placeholder="Fif GlCross RefId" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptName" [disabled]="true" placeholder="Department Name" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="className" [disabled]="true" placeholder="Class Name" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subClassName" [disabled]="true" placeholder="Sub Class Name" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="locName" [disabled]="true" placeholder="Location Name" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptName" [disabled]="true" placeholder="Department Name" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranCode" [disabled]="true" placeholder="Tran Code" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costRetailFlag" [disabled]="true" placeholder="Cost Retail Flag" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="lineType" [disabled]="true" placeholder="Line Type" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="lineTypeDesc" [disabled]="true" placeholder="Line Type Desc" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranRefNo" [disabled]="true" placeholder="Tran Ref No" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranCodeDesc" [disabled]="true" placeholder="Tran Code Desc" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="nbVatCode" [disabled]="true" placeholder="Nb Vat Code" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drAccount" [disabled]="true" placeholder="Dr Account" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsCompany" [disabled]="true" placeholder="Dr Ebs Company" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsSbu" [disabled]="true" placeholder="Dr Ebs Sbu" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsLocation" [disabled]="true" placeholder="Dr EbsLocation" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsDivision" [disabled]="true" placeholder="Dr EbsDivision" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsDept" [disabled]="true" placeholder="Dr EbsDepartment" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsSupCat" [disabled]="true" placeholder="Dr EbsSupCat" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsAccount" [disabled]="true" placeholder="Dr EbsAccount" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drEbsSuffix" [disabled]="true" placeholder="Dr EbsSuffix" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="drSequence10" [disabled]="true" placeholder="Dr Sequence10" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crAccount" [disabled]="true" placeholder="Cr Account" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsCompany" [disabled]="true" placeholder="Cr EbsCompany" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsSbu" [disabled]="true" placeholder="Cr EbsSbu" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsLocation" [disabled]="true" placeholder="Cr EbsLocation" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsDivision" [disabled]="true" placeholder="Cr EbsDivision" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsDept" [disabled]="true" placeholder="Cr EbsDept" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsSupCat" [disabled]="true" placeholder="Cr EbsSupCat" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsAccount" [disabled]="true" placeholder="Cr EbsAccount" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crEbsSuffix" [disabled]="true" placeholder="Cr EbsSuffix" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crSequence9" [disabled]="true" placeholder="Cr Sequence9" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="crSequence10" [disabled]="true" placeholder="Cr Sequence10" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
    </form>
  </div>
</div>
