<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/OrgCountry/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>

    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="column" class="rbsSectionForHeaders">
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="wh" placeholder="WareHouse" min="0" maxlength="10" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.wh" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="whName" required placeholder="WareHouse Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.whName" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="whNameSecondary" placeholder="Wh Name Secondary" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="email" placeholder="email" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
            </rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="vatRegionCode" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl 
                             optionKey="vatRegionCode" optionValue="vatRegionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegion" placeholder="VAT Region" class="fx-selectBox"></rb-autocomplete>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="fromLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.physicalWh"
                             placeholder="Physical Ware house" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.physicalWh" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="fromLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.primaryVwh"
                             placeholder="Primary Virtual Ware house" class="fx-selectBox"></rb-autocomplete>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="deliveryPolicyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" required
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.deliveryPolicy" placeholder="Delivery Policy" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deliveryPolicy" class="error"></rb-error-messages>

          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="channelId" placeholder="Channel Id" min="0" maxlength="8" class="errorMsgsParentPosition">
            </rb-numeric>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orgUnitId" placeholder="Org Unit Id" maxlength="3" min="0" class="errorMsgsParentPosition">
            </rb-numeric>
          </div>
          <div fxFlex="1"></div>
          <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="replSrcOrd" placeholder="Repl Src Ord" maxlength="3" min="0" class="errorMsgsParentPosition">
          </rb-numeric>
        </div>

        <div fxLayout="column" class="rbsSectionForHeaders m-top20">
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Break Pack Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="breakPackInd" placeholder="Break Pack Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.breakPackInd" class="error"></rb-error-messages>

              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Redist Wh Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="redistWhInd" placeholder="Re Dist Wh Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.redistWhInd" class="error"></rb-error-messages>

              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Restricted Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="restrictedInd" placeholder="Restricted Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.redistWhInd" class="error"></rb-error-messages>

              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Ib Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ibInd" placeholder="Ib Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ibInd" class="error"></rb-error-messages>

              </p>
            </div>
          </div>
        </div>

        <div fxLayout="column" class="rbsSectionForHeaders m-top20">

          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Protected Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="protectedInd" placeholder="Protected Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.protectedInd" class="error"></rb-error-messages>

              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Forecast Wh Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="forecastWhInd" placeholder="Forecast Wh Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.forecastWhInd" class="error"></rb-error-messages>
              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Repl Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="replInd" placeholder="Repl Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.replInd" class="error"></rb-error-messages>

              </p>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
              <p class="noMargin radiobtnForMargin">
                <span class="radiobtns">Stock Holding Ind*</span>
                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="stockHoldingInd" placeholder="Stock Holding Ind" required
                                [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.stockHoldingInd" class="error"></rb-error-messages>

              </p>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" class="rbsSectionForHeaders m-top20">
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <p class="noMargin radiobtnForMargin">
              <span class="radiobtns">Auto Ib Clear*</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="autoIbClear" placeholder="Auto Ib Clear" required
                              [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.autoIbClear" class="error"></rb-error-messages>

            </p>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <p class="noMargin radiobtnForMargin">
              <span class="radiobtns">Finisher Ind*</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="finisherInd" placeholder="Finisher Ind" required
                              [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.finisherInd" class="error"></rb-error-messages>

            </p>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="transferEntityData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                             optionKey="tsfEntityId" optionValue="tsfEntityDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfEntityId" placeholder="Transfer Entity" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tsfEntityId" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="inboundHandlingDays" required placeholder="Inbound Handling Days" maxlength="3" min="0" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.tsfEntityId" class="error"></rb-error-messages>
            </rb-numeric>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
