<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <!--<div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>-->
      <div fxLayout="row" class="mainContentHeader">
        <div fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode===true?'Edit':'Add'}}
        </div>
      </div>
    </form>

  </div>
  <div class="ComponentLevelMainContent" fxFlex>
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="item" maxlength="120" placeholder="Item" class="errorMsgsParentPosition" (fxBlur)="changItemInfo($event.target.value)">
          </rb-input>
          <!--<rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="category" maxlength="120" placeholder="Category" class="errorMsgsParentPosition" [disabled]=true>
    </rb-input>-->
          <div fxFlex="2"></div>
          <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="categoryDesc" maxlength="120" placeholder="Category" class="errorMsgsParentPosition" [disabled]=true>
          </rb-input>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="40" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="headDisplayModel" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="loc" optionValue="locName" [formControl]="serviceDocument.dataProfile.profileForm.controls.loc" placeholder="Item  Locations" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.loc" class="error"></rb-error-messages>
          </div>
        </div>
         <div fxLayout="row" class="domainDataAddRow">
           <div fxFlex fxLayoutAlign="start center" class="domianHeader">
             AVG COST DETAILS
           </div>
             <div fxFlex="initial" fxLayoutAlign="end center">
               <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
             </div>
         </div>
         <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
        <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center" *ngIf="dataList && dataList.length>0">
          <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center">
            <button mat-raised-button name="search" (click)="save()" class="searchbtn">Confirm and Complete</button>
            <div fxFlex="2"></div>
            <button mat-raised-button name="search" (click)="reset()" class="searchbtn">Reset</button>
          </div>       
        </div>
      </form>
   
  </div>

</div>
