<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
        <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="udaDesc" placeholder="Description" required="true" maxlength="120"
                  [disabled]="editMode" class="errorMsgsParentPosition" [upperCase]="true">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.udaDesc" class="error"></rb-error-messages>
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="module" placeholder="Dialog" class="errorMsgsParentPosition" [readonly]="true">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-autocomplete [optionsData]="disptypeData" fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl (rbChange)="changeDisplayType($event)" [disabled]="editMode"
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.displayType" placeholder="Display Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete [optionsData]="datatypeData" fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl (rbChange)="changeDataType($event)" [disabled]="editMode"
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dataType" placeholder="Data Type" class="fx-selectBox"></rb-autocomplete>
      </div>

      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dataLength" placeholder="Data Length" min="0" maxlength="4" [disabled]="editMode">
        </rb-numeric>
        <span fxFlex="1"></span>
        <rb-autocomplete [optionsData]="chainData" fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="chain" optionValue="chainNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.filterOrgId" placeholder="Chain" class="fx-selectBox">
        </rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete [optionsData]="categoryData" fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.filterMerchId" placeholder="Category" class="fx-selectBox">
        </rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete [optionsData]="indicatorData" fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.singleValueInd" placeholder="Single Value Indicator" class="fx-selectBox"></rb-autocomplete>
      </div>

      <div fxLayout="row" class="domainDataAddRow" *ngIf="displayDetails">
        <div fxFlex fxLayoutAlign="start center" class="domianHeader">
          DETAILS
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
        </div>
      </div>
      <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
    </form>
  </div>
</div>
