<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
                <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
                    <div class="toolbarActions-template" id="toolBarDivid">
                        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
                    </div>
                </form>
                <div fxLayout="row" class="mainContentHeader">
                    <div fxFlex fxLayoutAlign="start center">
                        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
                    </div>                   
                </div>
        </div>
        <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
            <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
              <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
                  <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="area" placeholder="Area Id" min="0" maxlength="10" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.area" class="error"></rb-error-messages>
                </div>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="areaName" required placeholder="Area Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                  <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.areaName" class="error"></rb-error-messages>
                </rb-input>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="mgrName" placeholder="Manager Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                </rb-input>
              </div>
              <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                  <rb-autocomplete [optionsData]="chainDomainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                   optionKey="chain" optionValue="chainNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.chain" placeholder="Chain" class="fx-selectBox"></rb-autocomplete>
                </div>
                <div fxFlex="2"></div>                
                <rb-autocomplete fxFlex="32" [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency"  class="fx-selectBox"></rb-autocomplete>
              </div>           
            </form>
        </div>
</div>
