<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row"  fxLayout.xs="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="supplierData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplier" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" required placeholder="Item" maxlength="60" upperCase="true" class="errorMsgsParentPosition" (fxBlur)="changItemInfo($event.target.value)">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="2"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc"  placeholder="Item Desc" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.itemDesc" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="2"></div>
        <rb-autocomplete fxFlex="24" required [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="locationId" optionValue="locationDescription"
                         [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox">
        </rb-autocomplete>
      </div>
      <div fxLayout="row"  fxLayout.xs="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="minQty"  required placeholder="Min Qty" min="0" maxlength="6"  [ngClass]="{'editmode':editMode}"></rb-numeric>
        </div>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="maxQty"  required placeholder="Max Qty" min="0" maxlength="6"  [ngClass]="{'editmode':editMode}"></rb-numeric>
        </div>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="replDay" placeholder="Repl Day" min="0" maxlength="1"  [ngClass]="{'editmode':editMode}"></rb-numeric>
        </div>
        <div fxFlex="2"></div>
        <rb-autocomplete fxFlex="24"  [optionsData]="items" [formGroup]="serviceDocument.dataProfile.profileForm"  required ngDefaultControl optionKey="id" optionValue="text"
                         [formControl]="serviceDocument.dataProfile.profileForm.controls.poGroup" placeholder="Po Group" class="fx-selectBox">
        </rb-autocomplete>
      </div>
      <div fxLayout="row" fxLayout.xs="column">

        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day1</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day1"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
        <div fxFlex="1"></div>
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day2</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day2"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
        <div fxFlex="1"></div>
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day3</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day3"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
        <div fxFlex="1"></div>
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day4</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day4"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
     
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day5</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day5"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
        <div fxFlex="1"></div>
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day6</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day6"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
        <div fxFlex="1"></div>
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">Day7</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="day7"
                          [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>       
      </div>
    </form>
  </div>
</div>
