<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">

        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" placeholder="Item" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="2"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Desc" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="2"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="locationId" optionValue="locationDescription"
                         [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox">
        </rb-autocomplete>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList" [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
