/* Colors */ 
$apple: #44AB3C;
$white:#ffffff;
$orange: #f05e00;
$grey: #a4a4a4;
$blue: #008457;
$errorMessageRed: #ff0000;
$textboxborder: #ccc;
$black:black;
$blackShad: #2b3d4b;
$green: #23a89f;
$skyblue: #00c0ef;
$marronred: #dd4b39;
$lemonYellow: #f39c12;
$thinkgreen: #00a65a;
$lightGrayish: #eee;

/* Fonts */  
$font-36: 36px;
$font-32: 32px;
$font-26: 26px;
$font-24: 24px;
$font-20: 20px;
$font-18: 18px;
$font-17: 17px;
$font-16: 16px;
$font-15: 15px;
$font-default: 14px;
$font-13: 13px;
$font-12: 12px;
$font-11: 11px;
$font-family: 'Open Sans', sans-serif;

$line-height: 1.5;
$lines-to-show: 2;
$line-height1: 1.3;
$lines-to-show1: 4;

$width-sidenav: 60px;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;

/*margin vs padding*/
.m-top-5 {
    margin-top: 5px !important;
}

.m-top-10 {
    margin-top: 10px !important;
}

.m-top-15 {
    margin-top: 15px;
}

.m-top-25 {
    margin-top: 25px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-bottom-5 {
    margin-bottom: 5px;
}

.m-bottom-10 {
    margin-bottom: 10px !important;
}

.m-bottom-15 {
    margin-bottom: 15px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-left-5 {
    margin-left: 5px;
}

.m-left-10 {
    margin-left: 10px !important;
}

.m-left-15 {
    margin-left: 15px;
}

.m-left-20 {
    margin-left: 20px;
}

.m-left-25 {
    margin-left: 25px;
}

.m-left-30 {
    margin-left: 30px;
}

.m-right-5 {
    margin-right: 5px;
}

.m-right-10 {
    margin-right: 10px !important;
}

.m-right-15 {
    margin-right: 15px;
}

.m-right-20 {
    margin-right: 20px;
}

.m-right-25 {
    margin-right:25px;
}

.pdding-top-5 {
    padding-top: 5px;
}
.padding-0{
    padding:0 !important;
}
.padding-top-0 {
    padding-top: 0 !important;
}

.padding-left-10 {
    padding-left: 10px;
}
.padding-left-15 {
    padding-left: 15px;
}

.padding-left-25 {
    padding-left: 20px;
}

.padding-left-20 {
    padding-left: 25px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.m-left15px {
    margin-left: 15px !important;
}

.margin-left20px {
    margin-left: 20px !important
}

.m-top20 {
    margin-top: 20px;
}
/* form designer: grid stack */
  $gridstack-columns: 6;

/*@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}*/

