@import '_variables.scss';

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;

  .retailsNavIcons {
    background: url('../images/RbsIcons.svg') no-repeat;
  }

  .retailNavigationIcons {
    background: url('../images/RbsPngSprite.svg') no-repeat;
  }

  .mainwrap {
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    display: flex;

    .mat-sidenav-container {
      .mat-sidenav, .mat-drawer {
        background-color: #bac2c6;

        .mat-drawer-inner-container {
          rbs-sidenav {
            overflow-x: hidden;
          }
        }
      }

      .mat-drawer-content {
        overflow: inherit !important;
        background-color: $white;

        .top-bar {
          height: 60px;
          background-color: $blackShad;
          width: 100%;
          box-shadow: 0 0 5px rgba(0,0,0,.2);
          position: relative;
          z-index: 99;
          padding: 0px 10px;

          .logoheader {
            img {
              max-height: 60px;
              width: auto;
            }
          }

          .hamberger-menu-icon {
            background-position: -867px -260px;
            width: 16px;
            height: 12px;
            margin-left: 10px;
            display: block;
          }

          .toolbar-headermenu {
            a {
              height: 60px;
              min-height: 60px;
              font-weight: $normal;
              font-size: $font-12;
              box-shadow: none;
              line-height: 60px;
              background: $blackShad;
              color: $white;
              font-family: 'Segoe UI';
              outline: none;
              text-decoration: none;

              &:hover {
                background: $blackShad;
                color: $white;
              }

              &:focus {
                background: $blackShad;
                color: $white;
              }

              .main-header-buttons {
                margin-left: 5px;

                .navbarHeaderDropDown {
                  background-position: -239px -77px;
                  width: 12px;
                  height: 7px;
                  display: inline-block;
                }
              }

              span {
                .navmenuStyleLangage {
                  display: inline-block;
                  background-position: -761px -199px;
                  width: 16px;
                  height: 16px;
                }

                .navmenuStylelocation {
                  background-position: -736px -198px;
                  width: 16px;
                  height: 17px;
                  display: inline-block;
                }
              }
            }
          }
        }

        .main-content {
          overflow: auto;

          .mainContentHeader {
            padding: 10px 16px 10px 20px;
            color: $black;
            background: #e2e2e2;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: $bold;

            .listitem {
              padding: 0 10px;
              font-size: $font-12;
              border-right: 1px solid $grey;
              text-transform: capitalize;
              cursor: pointer;
            }

            .listitem:last-child {
              border-right: none;
            }

            .listitem a, a.listitem {
              color: $blue !important;
            }

            .listView {
              background-position: -96px -35px;
              width: 20px;
              height: 20px;
              display: inline-block;

              &.active {
                background-position: -123px -35px;
                width: 20px;
                height: 20px;
                display: inline-block;
              }
            }

            .calendarView {
              background-position: -148px -35px;
              width: 20px;
              height: 20px;
              display: inline-block;

              &.active {
                background-position: -173px -35px;
                width: 20px;
                height: 20px;
                display: inline-block;
              }
            }

            .worksheet {
              font-size: $font-default;
              font-weight: $bold;
              margin-left: 10px;
              color: $orange;
              text-transform: capitalize;
            }

            .page-title {
              border-right: 2px solid #928e8e;
              line-height: 1;

              span {
                margin-right: 10px;
              }
            }
          }

          .logingScreenBg .mat-tab-label-active {
            border: 1px solid $textboxborder;
            color: $orange;
            border-bottom: 0;
            font-weight: $bold;
          }

          .sticky-btn {
            position: sticky;
            top: 0;
            z-index: 9998;
            border: 1px dotted #dddddd;
          }

          .sticky-position-content {
            overflow: auto;
          }

          .img-loader {
            position: absolute;
            top: 12px;
            left: 9px;
          }

          .basicinfoactionbutton {
            margin: 0 !important;
          }

          .orderHeader {
            .mat-tab-body-content {
              overflow: inherit;
            }
          }

          .ComponentLevelMainContent {
            padding: 20px;
            overflow: auto;

            .errorMsgsParentPosition {
              position: relative;
            }

            .error {
              color: $errorMessageRed;
              font-size: $font-12;
              position: absolute;
              bottom: 0;
              left: 0;
            }

            .inbox-tabs-header .mat-tab-header {
              border: none;
              overflow: inherit !important;
              width: 100%;
            }

            .inbox-tabs-header .mat-tab-labels .mat-tab-label {
              border-right: 4px solid $white;
              font-size: 14px;
              font-weight: 600;
              height: 35px;
              width: 25%;
              background-color: #517591;
              color: $white;
            }

            .inbox-tabs-header .mat-tab-label-active {
              background: $white !important;
              color: #000 !important;
              border-bottom: 3px solid $orange;
            }

            .rbsSubHeaders {
              padding: 9px 0 9px 5px;
              color: #585555;
              background-color: #efefec;
              font-size: $font-default;
              text-transform: uppercase;
              font-weight: $bold;
            }

            .mat-tab-label-container {
              background-color: #e2e0e0;
            }

            .SupplierMainContent .mat-tab-body-content, .mat-tab-body.mat-tab-body-active {
              height: 100%;
              overflow: inherit;
            }

            .footer-actions-buttons {
              margin: 20px 0px;

              .addbtn {
                margin-right: 20px;
                padding: 2px 35px;
                background: $green;
                color: $white;

                &:hover {
                  background: #51dbd1;
                }
              }

              .searchbtn {
                padding: 2px 35px;
                background: $orange;
                color: $white;

                &:hover {
                  background: #ff9757;
                }
              }

              .resetbtn {
                padding: 2px 40px;
                background: $grey;
                color: $white;
                margin-right: 20px;
              }

              a {
                text-decoration: underline;
                color: $blue;
                cursor: pointer;
              }

              .fliter-search-item {
                font-weight: $bold;
                margin: 10px 0px 0px 20px;
              }
            }

            .domainDataAddRow {
              background-color: #eee;
              padding: 10px;

              .domianHeader {
                font-weight: $bold;
                color: $black;
              }

              .AddRow {
                background-color: $orange;
                color: $white;
              }
            }
          }

          fx-input.deisgn-style {
            margin: 0px 5px;
          }

          .showbox {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 9999;

            .loader {
              position: relative;
              width: 100px;
            }

            .mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle {
              stroke: #f59220 !important;
            }
          }

          .margin-right {
            margin-right: 20px;
          }

          p {
            .radiobtns {
              position: relative;
              top: 3px;
              font-size: $font-11;
              left: 10px;
              background: $white;
              color: grey;
              padding-left: 3px;
              padding-right: 3px;
            }

            .fx-radiogroup {
              border: 1px solid $textboxborder;
              height: 44px;
              border-radius: 5px;
              margin-top: -8px;

              .mat-radio-label {
                font-size: $font-default;
                font-weight: 500 !important;

                .mat-radio-container {
                  width: 15px;
                  height: 15px;

                  .mat-radio-outer-circle {
                    width: 15px;
                    height: 15px;
                  }

                  .mat-radio-inner-circle {
                    height: 17px;
                    left: -1px;
                    top: -1px;
                    width: 17px;
                  }
                }
              }
            }

            .mat-radio-checked {
              .mat-radio-outer-circle {
                border-color: $orange !important;
              }

              .mat-radio-inner-circle {
                background-color: $orange;
              }
            }

            .mat-radio-button {
              margin: 12px 9px !important;
            }
          }

          .fx-selectBox {
            .mat-select {
              width: 100%;
              padding-top: 0px;
              border: 1px solid #dddddd;
              border-radius: 5px;
              height: 43px;
              box-sizing: border-box;

              &:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow, .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
                color: $orange;
              }

              &:focus {
                border-color: $orange;
              }

              &:active {
                border-color: $orange;
              }

              .mat-select-trigger {
                height: 46px;

                .mat-radio-button {
                  margin: 12px 9px !important;
                }
              }

              .mat-select-trigger {
                height: 46px;

                span.mat-floating-placeholder {
                  flex: 0 1 auto;
                  background: $white;
                  -webkit-box-flex: 0;
                  max-width: initial;
                  width: inherit !important;
                  color: #615e5e;
                }

                .mat-select-value {
                  padding: 13px 10px;
                  top: 5px;
                }

                .mat-select-arrow {
                  margin: 0 10px;
                }

                .mat-select-placeholder {
                  padding: 0 4px;
                  font-size: $font-default;
                  color: #615e5e;

                  &:active {
                    color: $orange;
                  }
                }

                .mat-select-underline {
                  display: none !important;
                }
              }
            }
          }

          .editmode {
            .mat-form-field {
              &.mat-focused {
                .mat-input-element {
                  border-color: rgba(0, 1%, 63%, 0.18) !important
                }

                .mat-input-placeholder-wrapper label {
                  color: $black !important;
                }
              }
            }

            .mat-input-element {
              border: 1px solid hsla(0, 1%, 63%, 0.18) !important
            }

            .fx-radiogroup {
              border: 1px solid hsla(0, 2%, 75%, 0.18) !important;
            }
          }

          .disable-textFields-styles {
            .mat-select-arrow, .mat-select-disabled {
              border: 1px solid hsla(0, 2%, 75%, 0.18) !important
            }

            .fx-radiogroup {
              border: 1px solid hsla(0, 2%, 75%, 0.18) !important
            }

            .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
              color: rgba(0,0,0,.87) !important;
            }

            .mat-radio-disabled .mat-radio-label-content {
              color: rgba(0,0,0,.87) !important;
            }
          }

          .progress-spinner {
            color: $orange !important;
          }

          .radio-buttons-errros-messages {
            .fx-radiogroup {
              margin-bottom: 1em;
              display: block;
            }
          }

          .material-auto-complete {
            position: relative;

            .autocomplte-search-icon {
              position: absolute;
              background-position: -1048px -23px;
              width: 16px;
              height: 16px;
              right: 8px;
              top: 13px;
            }
          }
        }
      }
    }
  }

  .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate, .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $orange !important;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0e0e0e !important;
  }

  .mat-form-field {
    width: 100%;
    margin: 1em 0;

    &.mat-focused {
      .mat-input-element {
        border-color: $orange !important;
      }

      .mat-empty {
        background: $white !important;
      }

      .mat-form-field-ripple {
        height: 0;
        background-color: transparent;
      }

      .mat-form-field-label {
        color: $orange !important;
      }
    }

    .mat-input-element:disabled {
      color: rgba(0,0,0,.87);
      border: 1px solid hsla(0, 2%, 75%, 0.18) !important;
    }

    .mat-input-wrapper, .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        border: 0;
        height: 0;
        display: none;
      }

      .mat-form-field-flex {
        .mat-form-field-infix {
          padding: 2px;
          border-top: none;

          .mat-input-element {
            overflow: auto;
            line-height: 45px;
            border: 1px solid #dcd2d2;
            height: 45px;
            border-radius: 5px;
            padding: 0px 0px 0px 10px;
            box-sizing: border-box;
            font-size: $font-default;
            padding-right: 20px;
            text-overflow: ellipsis;
          }

          .mat-form-field-ripple {
            height: 0;
            background-color: transparent;
          }

          .mat-datepicker-toggle {
            position: absolute;
            top: 0;
            right: 0;
          }

          .mat-form-field-label-wrapper {
            position: absolute;
            top: -4px;
            width: 100%;
            padding: 10px 0px;
            font-size: $font-default;

            .mat-input-placeholder {
              width: auto !important;
              padding-left: 3px;
              padding-right: 3px;
              border-color: orange;
              font-size: $font-default !important;
              color: #615e5e;
              margin-left: 10px;
              display: block;
            }
          }
        }
      }
    }
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    width: auto !important;
    margin: 0 0px 0px 9px;
    background-color: $white;
    padding: 0px 8px;
    color: $black;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    transform: translateY(-1.28125em) scale(.85) !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    margin: 0px 10px;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    display: none !important;
  }

  .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    border: 1px solid #e66d6d !important;
  }

  .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled), .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: $orange !important;
    color: $white;
  }

  .mat-option {
    font-size: $font-default !important;
  }

  .matDialogueInputLabel .mat-form-field-appearance-legacy .mat-form-field-label {
    color: orangered !important;
  }

  .WorkFolwHistoryContent {
    .mat-tab-labels .mat-tab-label {
      border-right: 4px solid $white;
      font-size: 14px;
      font-weight: 600;
      height: 35px;
      width: 25%;
      background-color: #517591;
      color: $white;
    }

    .mat-tab-label-active {
      background: $white !important;
      color: #000 !important;
      border-bottom: 3px solid $orange;
    }
  }

  .mat-dialog-container {
    padding: 0px !important;
    background: $white;
    overflow: hidden !important;
    border-radius: 7px !important;
    border: 1px solid $textboxborder;
    position: relative;

    .fx-dialog-title {
      padding: 6px 8px;
      border-bottom: 1px solid #c1c7c1;
      color: $white;
    }

    .dontsaveAlert {
      background: #ebb100;
      padding-left: 50px;
    }

    .successIndicationDialog {
      background-color: #008457;
      padding-left: 50px;
    }

    .iconcssSuceessStyle {
      background-position: -1085px -70px;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .iconcssErrorStyle {
      background-position: -1136px -70px;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .mat-dialog-content {
      margin: 0px !important;
      font-size: $font-15;
      padding: 0px 37px;
    }

    .uomClassErrorDiaglog {
      background-color: #d75a4a;
      padding-left: 50px;
    }

    .iconsdontsave {
      background-position: -1198px -70px;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .devartException {
      margin-bottom: 15px;
      font-size: $font-13;
      border: 2px solid $orange;
      padding: 10px;
      background: transparent;
    }

    .mat-dialog-actions:last-child {
      margin-bottom: 0px;
    }

    .mat-dialog-actions {
      padding: 12px;
      float: right;

      .fx-button {
        background: #a6a6a6;
        margin: 10px;
        color: $white;
      }
    }

    .recordDetailsDialog {
      margin: 0;
      /*padding: 6px;*/
      background: $blackShad;
      color: $white;
    }

    .dialogInputs {
      overflow: auto;

      .mat-form-field-label {
        background-color: #f5f5f5;
        color: $orange !important;
      }

      .dialogbox {
        color: $orange;
        margin-bottom: 10px;

        .mat-dialog-title {
          display: -webkit-box;
          padding: 0px 15px;
        }
      }

      .mat-dialog-title {
        display: -webkit-box;
      }
    }
  }
  /********Ag grid styles starts here********/
  .ag-theme-balham {
    input[type=text] {
      width: 100%;
      margin-top: -4px;
    }

    .invalid-grid-row {
      input[type=text] {
        border: 1px solid $orange !important;
      }

      select {
        border: 1px solid $orange !important;
      }

      .input-type-date {
        border: 1px solid $orange !important;
      }
    }

    select {
      padding: 5px 0px;
      width: 75%;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }

    .ag-header-cell-menu-button .ag-icon-menu {
      display: block;
      height: 19px !important;
      background-color: $white;
      margin-top: 13px;
      border-radius: 50px;
    }

    .ag-sort-ascending-icon, .ag-sort-descending-icon {
      right: 40px !important;
      background-color: $white;
      height: 18px !important;
      line-height: 2;
      margin-top: 12px !important;
      border-radius: 50px;
    }

    .ag-header {
      height: 45px !important;
      border-bottom: 1px solid $textboxborder;
      background: #23a89f;
    }

    .ag-header-cell-label {
      line-height: 3.5;
      text-transform: uppercase;
    }

    .ag-header-cell-text {
      color: $white;
    }

    .ag-header-cell {
      padding-top: 0px !important;
      line-height: 18px !important;
    }

    .ag-header-row {
      height: 44px !important;
      color: $white;
      text-transform: capitalize;
    }

    .ag-root {
      border: 1px solid $textboxborder;
    }

    .ag-ltr .ag-header-cell {
      border-right: 1px solid $white;
    }

    .ag-cell-not-inline-editing {
      padding: 7px 5px;
      font-size: $font-12;
    }

    .ag-header-icon {
      position: absolute;
      right: 8px;
    }

    .ag-layout-normal .ag-body-viewport-wrapper {
      height: 95%;
    }

    .file-actions {
      background-position: -1936px -25px !important;
      width: 18px;
      height: 15px;
      color: $blue;
    }

    .excel-icon {
      background-position: -941px -23px !important;
      width: 16px;
      margin-left: 7px;
      height: 15px;
      margin-top: 6px;
    }

    .ag-overlay-no-rows-center {
      background-color: $orange;
      color: white;
    }
  }

  .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected), .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected), .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: $orange !important;
  }

  .controls[_ngcontent-c22] .progress[_ngcontent-c22] {
    background-color: transparent !important;
  }

  .mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
    background: #e0dbdb !important;
  }

  .progress {
    background-color: transparent !important;
  }

  .mat-calendar-header {
    background-color: #2b3d4b !important;
    color: $white;
  }

  .mat-calendar-arrow {
    border-top-color: $white !important;
  }

  .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color: $white !important;
  }
}
.ag-header-group-cell-label {
  justify-content: center;
}

