<div fxLayout="column" fxFill>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
        <div class="toolbarActions-template" id="toolBarDivid">
            <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                     (previousRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/VatRegion/List']" ></toolBar>
        </div>
    </form>
    <div fxLayout="row" class="mainContentHeader" fxFlex="initial">
        <div fxFlex fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
          <div class="listitem">
            <a href="#" (click)="openVatCodes($event)">Vat Codes</a>
          </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <rb-numeric fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatRegion" placeholder="Vat Region" min="0" numberOfDecimals="3" [readonly]="true" [allowDecimals]="true" maxlength="4">
            </rb-numeric>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatRegion" class="error"></rb-error-messages>
            <span fxFlex="2"></span>
            <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="vatRegionName" placeholder="Name" maxlength="120" required></rb-input>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatRegionName" class="error"></rb-error-messages>
            <span fxFlex="2"></span>

            <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete fxFlex="49" [optionsData]="vatRegionTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="vatRegionType" optionValue="vatRegnTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegionType" required placeholder="Vat Region Type" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatRegionType" class="error"></rb-error-messages>
            </div>

            <!--<p fxFlex="40" class="noMargin" fxFlex.xs="100">
              <span class="radiobtns">Vat Region Type</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatRegionType" placeholder=">Vat Region Type"
                              [optionsData]="domainDtlData" optionsKey="code" optionsValue="codeDesc" required="true"></rb-radio-group>
            </p>-->

          </div>
        </form>
</div>
</div>
