<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <div [hidden]="!showSearchCriteria">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatRegion" placeholder="Vat Region" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="4">
          </rb-numeric>
          <span fxFlex="2"></span>
          <div fxLayout="row" fxFlex="49" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="vatRegionName" placeholder="Vat Region Name" maxlength="120"></rb-input>
          </div>
         </div>
      </div>
            <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                              [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
            <div [hidden]="showSearchCriteria">
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                          [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
            </div>
        </div>

    
</div>
