<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/MessageSearch/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="key" placeholder="Key" required  class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.key" class="error"></rb-error-messages>
        </rb-input>

        <div fxFlex="1"></div>
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="text" placeholder="Text" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.text" class="error"></rb-error-messages>
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
          <p class="noMargin ">
            <span class="radiobtns">IsApproved *</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="isApproved" required
                            [optionsData]="yesNoList" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.isApproved" class="error"></rb-error-messages>
          </p>
          
        </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="languagesList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                             optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.language" placeholder="Language" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.language" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="errorTypeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.errorType" placeholder="Error Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.errorType" class="error"></rb-error-messages>
          </div>
        </div>
</form>
  </div>
</div>
