<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="pageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="key" placeholder="Key"></rb-input>

        <div fxFlex="1"></div>
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="text" placeholder="Text"></rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <p fxFlex="33" class="noMargin ">
          <span class="radiobtns">IsApproved</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="isApproved"
                          [optionsData]="yesNoList" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="33" [optionsData]="languagesList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.language" placeholder="Language" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>

        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex [optionsData]="errorTypeList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.errorType" placeholder="Error Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
      </div>

    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation($event)" #searchPanelPromotion></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
