<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"> 
      <div fxFlex="24" fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-numeric  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order Number" maxlength="8" required  (fxBlur)="getOrderInfo($event.target.value)">
        </rb-numeric>
        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orderNo" class="error"></rb-error-messages>
       </div>
        <span fxFlex="1"></span>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supName" placeholder="Supplier Name" [disabled]="true"></rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="locName" placeholder="Location" [disabled]="true"></rb-input>
      </div>
      <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
          <button mat-raised-button name="search" id="searchbarSearch" (click)="getDetails()" class="searchbtn">Get Details</button>
        </div>
      </div>

      <div>
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="dataList" [columnDefs]="columns"></rbs-grid>
      </div>
    </div>
</div>
