<div fxLayout="column" class="itemBasicInfo" fxFill>
  <div fxFlex="initial">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog">
      <div fxFlex>
        <p class="workflow-dailog-title m-left-10">{{PageTitle}}</p>
      </div>
      <div fxFlex="initial" class="toolbarActions-template">
        <button mat-button class="headerToolbaricon" (click)="close()">
          <span class="closeIcon closeImage"></span>
          <p>CLOSE</p>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="initial" class="domainDataAddRow" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="reset()" class="resetbtn" *ngIf="!editMode">Reset</button>
    <span fxFlex="1"></span>
    <button mat-raised-button (click)="save()" class="AddRow" *ngIf="!btShowHide">Save</button>
    <span fxFlex="1"></span>
    <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Detail</button>
  </div>

  <div fxFlex fxLayout="column" class="ComponentLevelMainContent padding-top-0">
    <form novalidate [formGroup]="infoGroup">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="25" [formGroup]="infoGroup" [formControl]="infoGroup.controls.allocNo" ngDefaultControl controlName="allocNo" placeholder="Allocatin Number" [disabled]="true"></rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="infoGroup" [formControl]="infoGroup.controls.allocDesc" ngDefaultControl controlName="allocDesc" placeholder="Allocatin Desc"></rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="25" [formGroup]="infoGroup" [formControl]="infoGroup.controls.ordQty" ngDefaultControl controlName="ordQty" placeholder="Order Quantity" [disabled]="true"></rb-input>
      </div>
      <div fxLayout="column">
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="dataList"
                  [columnDefs]="columns"></rbs-grid>
      </div>

    </form>
  </div>
</div>
