<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      <div fxFlex>
        <mat-video src="../../assets/Videos/BulkItem.mp4" title="BULK ITEM" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <mat-video src="../../assets/Videos/ItemSuperSearch.mp4" title="Item Super Search" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <mat-video src="../../assets/Videos/BulkItem.mp4" title="COST CHNAGE" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <mat-video src="../../assets/Videos/Supplier.mp4" title="Supplier" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="m-top20">
      <div fxFlex>
        <mat-video src="../../assets/Videos/BulkItem.mp4" title="ORDER" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <mat-video src="../../assets/Videos/BulkItem.mp4" title="ITEM REACTIVE" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <mat-video src="../../assets/Videos/BulkItem.mp4" title="TRANSFER" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
      <span fxFlex="1"></span>
      <div fxFlex>
        <mat-video src="../../assets/Videos/BulkItem.mp4" title="ITEM CLOSE" color="accent" spinner="spin" poster="image.jpg"></mat-video>
      </div>
    </div>
  </div>
</div>

