<div fxLayout="column" fxFill>
  <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
    <div class="toolbarActions-template" id="toolBarDivid">
      <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
               (previousRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/VatCode/List']"></toolBar>
    </div>
  </form>
  <div fxLayout="row" class="mainContentHeader">
    <div fxFlex fxLayoutAlign="start center">
      <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
    </div>
    <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
      <div class="listitem">
        <a href="#" (click)="openVatRegion($event)">Vat Region</a>
      </div>
    </div>
    <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
      <div class="listitem">
        <a href="#" (click)="openVatRates($event)">Vat Rates</a>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="vatCode" placeholder="VAT Code" class=" errorMsgsParentPosition" required [readonly]="editMode" maxlength="10" [ngClass]="{'editmode':editMode}">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatCode" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="2"></div>
        <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="vatCodeDesc" placeholder="Vat Code Desc" class=" errorMsgsParentPosition" required maxlength="120">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatCodeDesc" class="error"></rb-error-messages>
        </rb-input>
      </div>
    </form>
  </div>
</div>
