<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent">
      <div [hidden]="!showSearchCriteria">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipment" placeholder="Shipment"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="asn" placeholder="ASN"></rb-input>
          <!--<rb-autocomplete fxFlex="24" [optionsData]="typeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                   optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.typeId" placeholder="Type" class="fx-selectBox"></rb-autocomplete>-->
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" placeholder="Item/ChildItem/VPN/RefItem"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="bolNo" placeholder="Bol No"></rb-input>

        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm"  controlName="orderNo" placeholder="OrderNo"></rb-input>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="24" [optionsData]="loactionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.toLoc" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="24" [optionsData]="statusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.statusCode" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="1"></span>
          <rb-autocomplete fxFlex="25" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrl" minLength="2"
                           optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <!--<rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm"  controlName="asn" placeholder="ASN"></rb-input>-->
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="user-security-chips rbsinputsPadding  chips-align m-top-10 m-bottom-10">
          <p fxFlex class="noMargin padding-left-10 padding-right-10" fxLayout="column">
            <span class="radiobtns">Shipment Dates</span>
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDateBefore"
                     [minDate]="serviceDocument.dataProfile.profileForm.controls.shipDateBefore.value"
                     placeholder="Shipment Before Date"></rb-date>
            <span fxFlex="1"></span>
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDateAfter"
                     [minDate]="serviceDocument.dataProfile.profileForm.controls.shipDateAfter.value"
                     placeholder="Shipment After Date"></rb-date>
          </p>
          <div fxFlex="1"></div>
          <p fxFlex class="noMargin padding-left-10 padding-right-10" fxLayout="column">
            <span class="radiobtns">Receive Dates</span>
            <rb-date fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="receiveDateBefore"
                     [minDate]="serviceDocument.dataProfile.profileForm.controls.receiveDateBefore.value"
                     placeholder="Receive Before Date"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="receiveDateAfter"
                     [minDate]="serviceDocument.dataProfile.profileForm.controls.receiveDateAfter.value"
                     placeholder="Receive After Date"></rb-date>
          </p>
        </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" [showAdd]="false" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                        navigate="false" (addEmitter)="addValidation()"  restrictSearch="true" #searchPanel></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
          <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                    [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
      </div>
</div>
