<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar [closeRedirectUrl]="['/ShipmentListComponent/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>    
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex>
    <div class="mainContentHeaderScreen" style="width:100%;">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">

        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipment"
                    placeholder="Shipment" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
            
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="order" readonly>
            
          </rb-input>
          <div fxFlex="1"></div>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDate" placeholder="Shipment Date" readonly>
          </rb-date>
          <div fxFlex="1"></div>
          <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="receiveDate"  placeholder="Recipit Date" readonly>
          </rb-date>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipment" placeholder="To Wh" readonly>
          </rb-input>          
          <div fxFlex="1"></div>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="notBeforeDate"  placeholder="Not before" readonly>
          </rb-date>
          <div fxFlex="1"></div>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="notAfterDate"  placeholder="Not after" readonly>
          </rb-date>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="statusDesc" placeholder="Status" readonly>
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipOrginDesc"  placeholder="origin" readonly>
          </rb-input>          
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="asn" placeholder="ASN" readonly>
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="courier" placeholder="Courier" readonly>
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="25" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="noOfBoxes" placeholder="No boxes" readonly>
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="25" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toLocName" placeholder="Location Type" readonly>
          </rb-input>          
          <div fxFlex="1"></div>
          <rb-input fxFlex fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" readonly>

          </rb-input>
        </div>
          <rbs-grid [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataModel.shipmentDetails" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>

  </div>

</div>
