﻿<div fxLayout="row">
    <div fxFlex class="ComponentLevelMainContent ItemInfoHeader">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
            <div fxLayout="row" class="mainContentHeader m-top20">
                <div fxFlex fxLayoutAlign="start center" class="domianHeader">
                    DEAL COMPONENTS
                </div>
            </div>
            <div>
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                          [columnDefs]="columns"></rbs-grid>
            </div>
            <div fxLayout="row" class="mainContentHeader sticky-btn m-top-10">
                <div fxFlex fxLayoutAlign="start center">
                    Row details
                </div>
                <div fxFlex="initial" class="domainDataAddRow updateBtn">
                    <button mat-raised-button (click)="add($event)" class="AddRow">{{addText}}</button>
                </div>
            </div>
            <div fxLayout="row" class="m-top20 panelForOrganzationItem">
                <mat-expansion-panel fxFlex [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            BASIC INFO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealId" placeholder="Deal Id" [readonly]="true" class="errorMsgsParentPosition">
                        </rb-input>
                        <span fxFlex="1"></span>
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealType" upperCase="true" placeholder="Deal Type" [readonly]="true"></rb-input>
                        <span fxFlex="1"></span>
                        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealDescription" upperCase="true" placeholder="Deal Description" maxlength="250" [readonly]="true"></rb-input>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplier" placeholder="Supplier" class="errorMsgsParentPosition" [readonly]="true">
                        </rb-input>
                    </div>
                </mat-expansion-panel>
            </div>
            <div fxLayout="row" class="m-top20 panelForOrganzationItem">
                <mat-expansion-panel fxFlex [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            DEAL DETAIL INFO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealDetailId" placeholder="Deal Detail Id" [readonly]="true" class="errorMsgsParentPosition">
                        </rb-input>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="dealCompTypes" [formGroup]="serviceDocument.dataProfile.profileForm" required="true" ngDefaultControl
                                             optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dealCompType" placeholder="Deal Component Type" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dealCompType" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>

                        <p fxFlex="24" class="noMargin radiobtnForMargin">
                            <span class="radiobtns">Cost Application Indicator</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="costApplicationInd"
                                            [optionsData]="domainDetailsIndicator" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                        </p>
                        <span fxFlex="1"></span>
                        <p fxFlex="24" class="noMargin radiobtnForMargin">
                            <span class="radiobtns">Price Application Indicator</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="priceCostApplicationInd"
                                            [optionsData]="domainDetailsIndicator" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                        </p>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="applicationOrder"
                                        placeholder="Application Order" min="0" maxlength="10" [allowDecimals]="false" class="editmode"></rb-numeric>
                        </div>
                        <span fxFlex="1"></span>
                        <p fxFlex="24" class="noMargin radiobtnForMargin">
                            <span class="radiobtns">Transaction Discount Indicator</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tranDiscountInd"
                                            [optionsData]="domainDetailsIndicator" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                        </p>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-date required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="collectStartDate" placeholder="Collect Start Date" class="errorMsgsParentPosition"
                                     [minDate]="dealSharedService.dealObject.startDate" [maxDate]="serviceDocument.dataProfile.profileForm.controls.collectEndDate.value"></rb-date>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.collectStartDate" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-date required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="collectEndDate" placeholder="Collect End Date" class="errorMsgsParentPosition"
                                     [minDate]="serviceDocument.dataProfile.profileForm.controls.collectStartDate.value" [maxDate]="dealSharedService.dealObject.endDate"></rb-date>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.collectEndDate" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" maxlength="250" placeholder="Comments"></rb-input>
                    </div>
                </mat-expansion-panel>
            </div>
        </form>
    </div>
</div>