<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/Division/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>            
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID" fxLayout="column">
        <div class="mainContentHeaderScreen">
            <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="division" placeholder="Id" min="0" maxlength="6" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.division" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="2"></span>
                    <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="divName" placeholder="Description" maxlength="250" required class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divName" class="error"></rb-error-messages>
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete fxFlex="32" [optionsData]="buyerData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="buyer" optionValue="buyerName" [formControl]="serviceDocument.dataProfile.profileForm.controls.buyer"
                                     placeholder="Buyer" class="fx-selectBox"></rb-autocomplete>
                    <span fxFlex="2"></span>
                    <rb-autocomplete fxFlex="32" [optionsData]="merchData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="merch" optionValue="merchName" [formControl]="serviceDocument.dataProfile.profileForm.controls.merch"
                                     placeholder="Merchant" class="fx-selectBox"></rb-autocomplete>
                    <span fxFlex="2"></span>
                    <rb-numeric fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="totalMarketAmt" placeholder="Total Market Amount" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="24">
                    </rb-numeric>
                </div>
            </form>
        </div>
    </div>
</div>
