<div fxLayout="row">
    <div fxFlex class="ComponentLevelMainContent ItemInfoHeader">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
            <div fxLayout="row" class="mainContentHeader m-top20">
                <div fxFlex fxLayoutAlign="start center" class="domianHeader">
                    SELECTED ITEMS <span class="selected-item-fliter"><a (click)="openItemSearch()" class="fliter-item">FIND ITEMS</a></span>
                </div>
            </div>
            <div>
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                          [columnDefs]="columns"></rbs-grid>
            </div>

            <div fxLayout="row" class="mainContentHeader sticky-btn m-top-10">
                <div fxFlex fxLayoutAlign="start center">
                    Row details
                </div>
                <div fxFlex="initial" fxLayoutAlign="center center" class="domainDataAddRow updateBtn">
                    <button mat-raised-button (click)="add($event)" class="AddRow">{{addText}}</button>
                </div>
            </div>
            <div fxLayout="row" class="m-top20 panelForOrganzationItem">
                <mat-expansion-panel fxFlex [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Basic Info
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealId" placeholder="Deal ID" class="errorMsgsParentPosition" [readonly]="true">
                        </rb-input>
                        <span fxFlex="1"></span>
                        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealType" placeholder="Deal Type" class="errorMsgsParentPosition" [readonly]="true">
                        </rb-input>
                        <span fxFlex="1"></span>
                        <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealDescription" placeholder="Deal Description" class="errorMsgsParentPosition" [readonly]="true">
                        </rb-input>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplier" placeholder="Supplier" class="errorMsgsParentPosition" [readonly]="true">
                        </rb-input>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="detailIdsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="detailId" optionValue="detailId" [formControl]="serviceDocument.dataProfile.profileForm.controls.dealDetailId" [disabled]="editMode" placeholder="Deal Detail ID" class="fx-selectBox">
                            </rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dealDetailId" class="error"></rb-error-messages>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>

            <div fxLayout="row" class="m-top20 panelForOrganzationItem">
                <mat-expansion-panel fxFlex [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            DEAL HIERARCHY DETAILS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="orgLevelData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLevel" [disabled]="editMode" placeholder="Org Level" class="fx-selectBox" (rbChange)="updateOrgLevel($event)">
                            </rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLevel" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="orgLevelValueData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLevelValue" [disabled]="editMode" placeholder="Org Level Value" class="fx-selectBox" (rbChange)="updateOrgLevelValue($event)"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLevelValue" class="error"></rb-error-messages>
                        </div>

                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="merchLevelData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.merchLevel" [disabled]="editMode" placeholder="Merch Level" class="fx-selectBox" (rbChange)="updateMerchLevelValueData($event)">
                            </rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.merchLevel" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="serviceDocument.dataProfile.profileForm.controls['merchLevel']?.value !== 'ITEM'">
                            <rb-autocomplete [optionsData]="merchLevelValueData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.merchLevelValue" [disabled]="editMode" placeholder="Merch Level Value" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.merchLevelValue" class="error"></rb-error-messages>
                        </div>

                        <div fxFlex="50" *ngIf="serviceDocument.dataProfile.profileForm.controls['merchLevel']?.value === 'ITEM'">
                            <rb-input fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" required
                                      placeholder="Item/Barcode" maxlength="100" class="errorMsgsParentPosition find-item-styles" [disabled]="editMode">
                                <span class="item-list-findItems"><a (click)="itemBasedLogic()" class="fliter-item ">GET ITEM</a></span>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
                            </rb-input>
                        </div>

                    </div>
                </mat-expansion-panel>
            </div>
            <div fxLayout="row" class="m-top20 panelForOrganzationItem">
                <mat-expansion-panel fxFlex [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            DEAL DISCOUNT DETAILS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <p class="noMargin radiobtnForMargin">
                                <span class="radiobtns">Discount Type *</span>
                                <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="discountType" placeholder="Discount Type"
                                                [optionsData]="discountTypeData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" required></rb-radio-group>
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.discountType" class="error"></rb-error-messages>
                            </p>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="discountValue"
                                        placeholder="Discount Value" min="0" numberOfDecimals="4"
                                        [allowDecimals]="true" maxlength="20"
                                        [required]="true">
                            </rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.discountValue" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="thresholdQty" placeholder="Deal Threshold Qty" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true" class="editmode"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.thresholdQty" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="thresholdFreeQty" placeholder="Deal Threshold Free Qty" min="0" maxlength="12" numberOfDecimals="4" [allowDecimals]="true" class="editmode"></rb-numeric>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.thresholdFreeQty" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxFlex="49">
                            <rb-input fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="thresholdFreeItem"
                                      placeholder="Deal Threshold Free Item" maxlength="50" class="errorMsgsParentPosition find-item-styles" [disabled]="editMode">
                                <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.thresholdFreeItem" class="error"></rb-error-messages>
                            </rb-input>
                        </div>
                        <span fxFlex="1"></span>
                        <p fxFlex="50" class="noMargin radiobtnForMargin">
                            <span class="radiobtns">Exclusive Indicator</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="exclInd" placeholder="Exclusive Indicator"
                                            [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.exclInd" class="error"></rb-error-messages>
                        </p>
                    </div>
                </mat-expansion-panel>
            </div>
            <div fxLayout="row" class="m-top20 panelForOrganzationItem">
                <mat-expansion-panel fxFlex [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            MISCELLANEOUS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="effectiveStartDate"
                                     [maxDate]="serviceDocument.dataProfile.profileForm.controls.effectiveEndDate.value"
                                     [minDate]="dealSharedService.dealObject.startDate"
                                     placeholder="Effective From" required></rb-date>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.effectiveStartDate" class="error"></rb-error-messages>
                        </div>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="effectiveEndDate"
                                     [minDate]="serviceDocument.dataProfile.profileForm.controls.effectiveStartDate.value"
                                     [maxDate]="dealSharedService.dealObject.endDate"
                                     placeholder="Effective To" required class="errorMsgsParentPosition"></rb-date>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.effectiveEndDate" class="error"></rb-error-messages>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        </form>
    </div>
</div>
