<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent">
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-autocomplete fxFlex="49" [optionsData]="uomFromData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="uom" optionValue="uomDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.fromUom" placeholder="From" class="fx-selectBox" (rbChange)="changeFromUOM()"></rb-autocomplete>
                <span fxFlex="2"> </span>
                <rb-autocomplete fxFlex="49" [optionsData]="uomToData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="uom" optionValue="uomDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.toUom" placeholder="To" class="fx-selectBox" (rbChange)="checkUomConv()"></rb-autocomplete>
            </div>

        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>

    </div>
</div>
