<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()"
                         [closeRedirectUrl]="['/UOMConversion/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader" id="printMainComponentDivID">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>          
        </div>
    </div>
    <div class="ComponentLevelMainContent" id="printMainComponentDivID" fxFlex fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
            <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete required fxFlex="49" [optionsData]="uomFromData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" 
                                     optionKey="uom" optionValue="uomDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.fromUom" placeholder="From" class="fx-selectBox" (rbChange)="changeFromUOM($event, 'F')"></rb-autocomplete>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fromUom" class="error"></rb-error-messages>
                </div>
                <span fxFlex="2" fxLayoutAlign="center center"> = </span>
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete required [optionsData]="uomToData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" 
                                     optionKey="uom" optionValue="uomDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.toUom" placeholder="To" class="fx-selectBox" (rbChange)="changeFromUOM($event, 'T')"></rb-autocomplete>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toUom" class="error"></rb-error-messages>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="factor" placeholder="Factor" min="0" maxlength="20" (fxBlur)="factorChange($event)" numberOfDecimals="10" [allowDecimals]="true"></rb-numeric>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.factor" class="error"></rb-error-messages>
                </div>
                <span fxFlex="2"></span>
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete required [optionsData]="uomConvrOperator" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="id" optionValue="text" [formControl]="serviceDocument.dataProfile.profileForm.controls.operator" placeholder="Operator" class="fx-selectBox" (rbChange)="operatorChange($event)"></rb-autocomplete>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.operator" class="error"></rb-error-messages>
                </div>
            </div>
            <div fxLayoutAlign="center center" fxLayout="row" class="conversionResult m-top20" *ngIf="convertData">
                UOM Conversion result is {{ convertData }}
            </div>

            <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
                <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toUomDesc" placeholder="From" class="errorMsgsParentPosition" [readonly]="true">
                </rb-input>
                <span fxFlex="2" fxLayoutAlign="center center"> = </span>
                <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromUomDesc" placeholder="To" class="errorMsgsParentPosition" [readonly]="true">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
                <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="factor" placeholder="Factor" class="errorMsgsParentPosition" [readonly]="true">
                </rb-input>
                <span fxFlex="2"></span>
                <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="operatorDescReverse" placeholder="Operator" class="errorMsgsParentPosition" [readonly]="true">
                </rb-input>
            </div>
        </form>
    </div>
</div>
