<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="49">
          <rb-autocomplete [optionsData]="brandData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="id" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.brandId" placeholder="Brand" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxFlex="2"></div>
        <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="brandCatId" placeholder="Brand Category Id" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="6">
        </rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="brandKeyCat" placeholder="Brand Key Category" class="errorMsgsParentPosition" maxlength="10">
        </rb-input>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="49">
          <rb-autocomplete [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.brandCatStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
