<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/CostZoneGroup/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
      <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
        <div class="listitem">
          <a href="#" (click)="openBrandMaster($event)">Brand</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">

      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">

        <div fxLayout="column" fxFlex="49" class="errorMsgsParentPosition">
          <rb-autocomplete required [optionsData]="brandData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="id" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.brandId" placeholder="Brand Id" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="49" class="errorMsgsParentPosition">
          <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="brandCatId" placeholder="Brand Category Id" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="6" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandCatId" class="error"></rb-error-messages>
        </div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="brandKeyCat" required placeholder="Brand Key Category" class="errorMsgsParentPosition" maxlength="10">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandKeyCat" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="2"></div>

        <p fxFlex="49" class="noMargin">
          <span class="radiobtns">Status</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="brandCatStatus" placeholder="Status" [disabled]="!editMode"
                          [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
        </p>

      </div>

    </form>
  </div>
</div>
