﻿<div fxLayout="row">
    <div fxFlex class="ComponentLevelMainContent ItemInfoHeader">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
            <div fxLayout="column" class="m-top20 rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles">
                <div fxLayout="row" class="rbsSubHeaders backgroundImages-forItem">
                    <div fxFlex fxLayoutAlign="start center">
                        BASIC INFO
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete required [optionsData]="dealTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dealType" placeholder="Deal Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.dealType" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deaL_ID" placeholder="Deal Id" class="errorMsgsParentPosition" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" placeholder="Description" class="errorMsgsParentPosition" maxlength="120" required>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete required [optionsData]="supplier" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplier" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>

                    </div>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="externalRefNo" placeholder="External Ref No" class="errorMsgsParentPosition" maxlength="30"></rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" maxlength="8"
                                    controlName="orderNo" placeholder="Order No" class="errorMsgsParentPosition" min="0">
                        </rb-numeric>
                    </div>
                    <span fxFlex="1"></span>
                    <p fxFlex="50" class="noMargin radiobtnForMargin">
                        <span class="radiobtns">Recalculate Approved Orders</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="recalculateApprovedOrders" placeholder="Recalculate Approved Orders"
                                        [optionsData]="domainDetailsIndicator" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                    </p>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startDate" placeholder="Start Date" class="errorMsgsParentPosition"
                                 [minDate]="effectiveMinDate" [maxDate]="serviceDocument.dataProfile.profileForm.controls.closeDate.value"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startDate" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="closeDate" placeholder="Close Date" class="errorMsgsParentPosition"
                                 [minDate]="serviceDocument.dataProfile.profileForm.controls.startDate.value"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.closeDate" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" maxlength="2000"></rb-input>
                </div>
            </div>
        </form>
    </div>
</div>
