﻿<div fxLayout="column" fxFill>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
        <div class="toolbarActions-template" id="toolBarDivid">

            <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                     (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/SupplierMaster/List']"></toolBar>

        </div>
    </form>
    <div fxLayout="row" class="mainContentHeader" fxFlex="initial">
        <div fxFlex fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
            <div class="listitem">
                <a href="#" (click)="openSupplierMaster($event)">Supplier</a>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
            <div fxLayout="column" class="rbsSectionForHeaders">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        BASIC INFO
                    </div>
                </div>
                <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete fxFlex="24" required [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" (rbChange)="changeSupplier($event)"
                                         optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier ID" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete fxFlex="24" required [optionsData]="addressTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.addressType" placeholder="Address Type" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.addressType" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="23" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="sequenceNo" placeholder="Sequence No" min="1" maxlength="4" [ngClass]="{'editmode':editMode}"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.sequenceNo" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="23" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required="0" controlName="oracleVendorSiteID" placeholder="Oracle Vendor Site ID" min="1" maxlength="15" [ngClass]="{'editmode':editMode}"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.oracleVendorSiteID" class="error"></rb-error-messages>
                    </div>
                </div>
            </div>
            <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        CONTACT DETAILS
                    </div>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactName" required placeholder="Contact Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactName" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactPhone" required placeholder="Contact Phone" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactPhone" class="error"></rb-error-messages>
                    </rb-input>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column">
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactFax" placeholder="Contact Fax" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactTelex" placeholder="Contact Telex" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactEmail" required placeholder="Contact Email" maxlength="100" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactEmail" class="error"></rb-error-messages>
                    </rb-input>
                </div>
            </div>
            <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        ADDRESS DETAILS
                    </div>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <p fxFlex="24" class="noMargin">
                        <span class="radiobtns">Primary Address *</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="primaryAddressIndicator" placeholder="Primary Address"
                                        [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" required></rb-radio-group>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.primaryAddressIndicator" class="error"></rb-error-messages>
                    </p>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="addressLine1" required placeholder="Address Line 1" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.addressLine1" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="addressLine2" required placeholder="Address Line 2" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.addressLine2" class="error"></rb-error-messages>
                    </rb-input>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="addressLine3" required placeholder="Address Line 3" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.addressLine3" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="23" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="city" required placeholder="City" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.city" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="23" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="state" required placeholder="State" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.state" class="error"></rb-error-messages>
                    </rb-input>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete fxFlex="50" required [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryID" placeholder="Country ID" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryID" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="postalCode" required placeholder="Postal Code" maxlength="30" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.postalCode" class="error"></rb-error-messages>
                    </rb-input>
                </div>
            </div>
            <div fxLayout="column" class="rbsSectionForHeaders m-top20">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        MISCELLANEOUS
                    </div>
                </div>
                <div fxLayout="row" class="rbsinputsPadding" fxLayout.xs="column" fxLayout.sm="column">
                    <p fxFlex="24" class="noMargin">
                        <span class="radiobtns">EDI Address Chg *</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ediAddressChg" placeholder="EDI Address Chg"
                                        [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" required></rb-radio-group>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ediAddressChg" class="error"></rb-error-messages>
                    </p>
                    <div fxFlex="2"></div>
                    <p fxFlex="24" class="noMargin">
                        <span class="radiobtns">Publish Indicator *</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="publishIndicator" placeholder="Publish Indicator"
                                        [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" required></rb-radio-group>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.publishIndicator" class="error"></rb-error-messages>
                    </p>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="48" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="country" required placeholder="County" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.country" class="error"></rb-error-messages>
                    </rb-input>
                </div>
            </div>
        </form>
    </div>
</div>