<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/RegionalityUserGroup/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
          <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete required [optionsData]="groupList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="groupId" optionValue="groupName" [formControl]="serviceDocument.dataProfile.profileForm.controls.groupId" placeholder="groupId" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupId" class="error"></rb-error-messages>
          </div>
          <span fxFlex="2"></span>
          <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete required [optionsData]="userList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="userId" optionValue="userName" [formControl]="serviceDocument.dataProfile.profileForm.controls.userId" placeholder="userId" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.userId" class="error"></rb-error-messages>
          </div>
       
      </div>
    </form>
  </div>
</div>
