<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docId" placeholder="Id" min="0" maxlength="6" required [ngClass]="{'editmode':editMode}"></rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.docId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docDesc" required placeholder="Description" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.docDesc" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
          <rb-autocomplete [optionsData]="docTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           required optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docType" placeholder="Document Type" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="25" fxLayout.xs="column">
          <p class="noMargin m-top-5">
            <span class="radiobtns">Lc Indicator*</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="lcInd" placeholder="Lc Indicator"
                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
          </p>
        </div>
      </div>
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <!--<rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="lcInd" required placeholder="Lc Ind" maxlength="60" upperCase="true">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.lcInd" class="error"></rb-error-messages>
        </rb-input>-->
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="swiftTag" required placeholder="Swift Tag" maxlength="60" upperCase="true" [ngClass]="{'editmode':editMode}" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.swiftTag" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="seqNo" placeholder="Seq No" min="0" maxlength="6" required [ngClass]="{'editmode':editMode}"></rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.seqNo" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="text" required placeholder="Text" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.text" class="error"></rb-error-messages>
        </rb-input>
      </div>
    </form>
  </div>
</div>
