.ComponentLevelMainContent {
  .domainDataAddRow {
    .searchbtn {
      color: white;
      background-color: orangered;
    }

    .resetbtn {
      background-color: #a4a4a4;
      color: white;
    }
  }

  .item-list-findItems {
    position: relative;

    .fliter-item {
      position: absolute;
      right: 0px;
      top: -12px;
      font-size: 10px;
      width: 57px;
      text-decoration: underline;
      color: #00BCD4;
    }
  }
}
