<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <div fxLayout="row" class="domainDataAddRow">
        <div fxFlex fxLayoutAlign="start center" class="domianHeader">
          PRIMARY ACTIONS
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <button mat-raised-button (click)="reset()" class="resetbtn">Reset</button>
          <span fxFlex="3"></span>
          <button mat-raised-button (click)="save()" class="searchbtn">Save</button>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="locTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.locationType" placeholder="Location Type" class="fx-selectBox"
                           (rbChange)="locationBasedLogic($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.locationType" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.locationId" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.locationId" class="error"></rb-error-messages>
        </div>

        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="24" [optionsData]="inventoryStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.invStatus" placeholder="Inventory Status" class="fx-selectBox"></rb-autocomplete>
      </div>

      <div fxLayout="row" class="domainDataAddRow">
        <div fxFlex fxLayoutAlign="start center"class="domianHeader">
          ROW DETAILS
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center">
          <button mat-raised-button (click)="add($event)" class="searchbtn">+ Add Detail</button>
        </div>
      </div>
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                [columnDefs]="columns"></rbs-grid>
    </div>
</div>
