<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/CostZoneGroup/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>      
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <!--<div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="brandId" placeholder="Brand Id" min="0" numberOfDecimals="5" [allowDecimals]="true" maxlength="6" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandId" class="error"></rb-error-messages>
        </div>-->
        <!--<div fxFlex="2"></div>-->
        <rb-input fxFlex="49" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="brandName" required placeholder="Brand Name" class="errorMsgsParentPosition" maxlength="250">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandName" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="2"></div>  
        <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="brandValue" placeholder="Brand Id" min="0" numberOfDecimals="5" [allowDecimals]="true" maxlength="6" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
        </rb-numeric>
        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandValue" class="error"></rb-error-messages>

      </div>   
    </form>
  </div>
</div>
