@import "../../assets/scss/_variables.scss";

.documentUploadForm {
  ul.item-menus-document {
    margin: 0 !important;
    padding: 0 !important;

    li {
      a {
        &.active {
          color: $orange;
          font-weight: $bold;
        }
      }
    }
  }

  

  .file-upload {
    margin-bottom: 25px;
  }

  .document-file {
    padding: 10px;
  }

  .demo-dialog-content-upload {
    padding: 20px 40px;
  }

  

  
}


.docs-upload {
  width: 100%;
  border: 1px dashed $orange;
  height: 100px;
  line-height: 6;
  text-align: center;
}
.footer-actions-buttons .searchbtn {
  padding: 2px 35px;
  background: #f05e00;
  color: #fff;
}
.upload-document {
  width: 100%;
  padding: 0;
  margin-bottom: 50px;

  li {
    border: 1px solid $green;
    list-style: none;
    height: 35px;
    margin-top: 8px;

    .text-right {
      background-position: -778px -257px;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 11px;
    }

    .label-style {
      margin-left: 12px;
      line-height: 2;
    }
  }
}
.mat-button.mat-accent[disabled], .mat-button.mat-primary[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled] {
  color: rgba(0,0,0,.38);
  background: #e6dddd;
}

.success-alert-fileUpload {
  color: green;
}

.error-alert-fileUpload {
  color: $orange;
}
