﻿<div fxLayout="column" fxFill class="workflow-inbox-tabs documentUploadForm">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
        <div fxFlex>
            <div style="line-height:3;" class="margin-left20px"> {{fileName}}</div>
        </div>
        <div fxFlex="initial" class="toolbarActions-template">
            <button mat-button class="headerToolbaricon" (click)="close()">
                <span class="closeIcon closeImage"></span>
                <p>CLOSE</p>
            </button>
        </div>
    </div>
    <div fxLayout="row" fxFlex>
        <div class="main-content" fxFlex fxLayout="column">
            <div fxFlex fxLayout="column" class="demo-dialog-content-upload">
                <iframe [src]="currentDocumentVirtualPath | safe" style="width:100%;height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>

