@import "../../assets/scss/_variables.scss";
.toolbarActions-template {
  background-color: #2b3d4b;
  padding: 0px 11px;

  .headerToolbaricon {
    padding: 5px !important;
    min-width: 80px !important;

    .closeIcon {
      background: url('../../assets/images/Untitled-1.svg') no-repeat;
      display: inline-block;
    }

    .closeImage {
      background-position: -79px 0;
      width: 23px;
      height: 23px;
    }

    p {
      font-size: 12px;
      margin: 0;
      line-height: 1.5;
    }
  }
}
.documentUploadForm {
    ul.item-menus-document {
        margin: 0 !important;
        padding: 0 !important;

        li {
          a {
            &.active {
              color: $orange;
              font-weight: $bold;
            }
          }
      }
    }

  .upload-document {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;

    li {
      border: 1px solid $green;
      list-style: none;
      height: 35px;
      margin-top: 8px;

      .text-right {
        background-position: -778px -257px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 11px;
      }

      .label-style {
        margin-left: 12px;
        line-height: 2;
      }
    }
  }

  .file-upload {
    margin-bottom: 25px;
  }

  .document-file {
    padding: 10px;
  }

  .demo-dialog-content-upload {
    padding: 20px 40px;
  }

  .mat-button.mat-accent[disabled], .mat-button.mat-primary[disabled], .mat-button.mat-warn[disabled], .mat-button[disabled][disabled], .mat-icon-button.mat-accent[disabled], .mat-icon-button.mat-primary[disabled], .mat-icon-button.mat-warn[disabled], .mat-icon-button[disabled][disabled] {
    color: rgba(0,0,0,.38);
    background: #e6dddd;
  }

  .success-alert-fileUpload {
    color: green;
  }

  .error-alert-fileUpload {
    color: $orange;
  }

  .docs-upload {
    width: 100%;
    border: 1px dashed $orange;
    height: 100px;
    line-height: 6;
    text-align: center;
  }
}
.left-bar{
    background-color:$textboxborder;
}
.addbtn{
  background-color:$green;
  color:$white;
}
