<form id="documentUploadForm ComponentLevelMainContent" [formGroup]="" fxLayout="column" fxFill>
    <div fxFlex>
        <div fxLayoutAlign="center center" class="m-top20 docs-upload">
            <div fxLayoutAlign="center center" class="footer-actions-buttons">
                <div style="display:none">
                <rb-file-upload acceptTypes="" (fileChange)="fileChange($event)" controlname="documentSelectCtrl" (uploadedFileReference)="uploadedFileReference($event)" fxLayoutAlign="center center"></rb-file-upload></div>
                <button mat-button (click)="showFileDialog($event)" class="searchbtn">Choose File</button>
            </div>
        </div>
        <div fxLayout="column" *ngIf="isPostUpload" class="m-top20">
            <div [ngClass]="afterUploadMsgCss">
                {{afterUploadMessage}}
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <ul class="upload-document">
                <li *ngFor="let sfObj of listOfValidationPassedFiles">
                    <span class="text-right retailsNavIcons"></span><span class="label-style">{{sfObj}}</span>
                </li>
            </ul>
        </div>
        <div fxLayout="column" *ngIf="showValidation" class="file-upload">
            <div *ngFor="let msg of listOfValidationFailedFiles" style="color:orangered">
                {{msg}}
            </div>
        </div>
    </div>
    <div class="footer-actions-buttons file-upload" fxFlex="initial" fxLayoutAlign="end center">
       <button (click)="uploadDocument($event)" class="searchbtn" mat-button [disabled]="!enableUpload">Upload</button>
        
    </div>
</form>
