<div fxLayout="column" fxFill class="ComponentLevelMainContent documentUploadForm">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog">
        <div fxFlex>
            <div style="line-height:3;" class="margin-left20px">Attachments({{documentsDataList?.length}}) - {{moduleDescription}} {{objectValue}}</div>
        </div>
        <div fxFlex="initial" class="toolbarActions-template">
            <button mat-button class="headerToolbaricon" (click)="close()">
                <span class="closeIcon closeImage"></span>
                <p>CLOSE</p>
            </button>
        </div>
    </div>
    <div fxLayout="row" fxFlex>
        <div fxFlex="initial" class="left-bar sidenav">

            <div fxLayout="column" class="footer-actions-buttons document-file">
                <button mat-raised-button class="addbtn m-top-10" (click)="toggleUploadPanel('upload')">ATTACH FILES</button>
                <button mat-raised-button class="addbtn m-top-10" (click)="toggleUploadPanel('grid')">VIEW GRID</button>
            </div>
        </div>
        <div class="main-content" fxFlex fxLayout="column">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="documentsDataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria" *ngIf="!showUploadPanel"></rbs-grid>
            <div fxFlex fxLayout="column" class="demo-dialog-content-upload" *ngIf="showUploadPanel">
                <document-upload [objectName]="objectName" [objectValue]="objectValue" [objectStateID]="objectStateID" (notify)="onNotify($event)" fxFlex fxLayout="column" class="documentUploadForm" [isUpdateHeader]="documentsDataList?.length > 0"></document-upload>

            </div>
        </div>
    </div>
</div>

