﻿<div fxLayout="column" fxFill class="workflow-inbox-tabs">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history" fxFlex="initial">
        <div fxFlex>
            <div style="line-height:3;" class="margin-left20px"> {{objectName}} {{objectValue}}</div>
        </div>
        <div fxFlex="initial" class="toolbarActions-template">
            <button mat-button class="headerToolbaricon" (click)="close()">
                <span class="closeIcon closeImage"></span>
                <p>CLOSE</p>
            </button>
        </div>
    </div>
    <div fxFlex class="dialogInputs">
            <tr-viewer #viewer1 [containerStyle]="viewerContainerStyle"
                       [reportServer]="reportServer"
                       [templateUrl]="'telerikReportViewerTemplate.html'"
                       [reportSource]="reportSource"
                       [viewMode]="'INTERACTIVE'"
                       [scaleMode]="'SPECIFIC'"
                       [scale]="1.0"
                       [enableAccessibility]="false">
            </tr-viewer>
       
    </div>
</div>

