<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <div [hidden]="!showSearchCriteria">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="competitor" placeholder="Competitor ID" maxlength="4"></rb-input>
          <span fxFlex="2"></span>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="compName" upperCase="true" placeholder="COMP NAME" maxlength="120"></rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-autocomplete fxFlex="32" required [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryId" placeholder="Country" class="fx-selectBox"></rb-autocomplete>
          <span fxFlex="2"></span>
          <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="address1" upperCase="true" placeholder="Address" maxlength="120"></rb-input>
        </div>
      </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
