<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/TransferZone/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex>
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="competitor" placeholder="Competitors Id" required [readonly]="editMode" maxlength="4" class="errorMsgsParentPosition" [ngClass]="{'editmode':editMode}">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.competitor" class="error"></rb-error-messages>
          </rb-input>
          <span fxFlex="2"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="compName" required placeholder="Competitor Name" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.compName" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-autocomplete fxFlex="24" required [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryId" placeholder="Country" class="fx-selectBox">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryId" class="error"></rb-error-messages>
          </rb-autocomplete>
          <span fxFlex="2"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="address1" required placeholder="Address" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.address1" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
      </form>
    </div>
</div>
