<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="zoneGroupId" placeholder="Id" min="0" [readonly]="true" maxlength="10" [ngClass]="{'editmode':editMode}"></rb-numeric>
        </div>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete fxFlex="39" [optionsData]="priceLevelModel" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="priceLevel" optionValue="priceLevelDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.priceLevel" required placeholder="Price Level" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.costLevel" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="40" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" required placeholder="Description" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
        </rb-input>
      </div>
    </form>
  </div>
</div>
