<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode===true?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
    <div class="mainContentHeaderScreen" style="width:100%;">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">

        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete fxFlex="32" required [optionsData]="costZoneGroupData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="zoneGroupId" optionValue="zoneGrpDesp" [formControl]="serviceDocument.dataProfile.profileForm.controls.zoneGroupId" placeholder="Zone Group Id " class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.zoneGroupId" class="error"></rb-error-messages>
          </div>
          <div fxFlex="2"></div>
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="zoneId" placeholder="Zone Id" min="0" maxlength="10" [readonly]="true" [ngClass]="{'editmode':editMode}"></rb-numeric>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" required fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" placeholder="Description" maxlength="50" class="errorMsgsParentPosition" [upperCase]="true">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete fxFlex="32" required [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
          </div>
          <div fxFlex="2"></div>
            <p fxFlex="32" class="noMargin ">
              <span class="radiobtns">Base Cost Ind</span>
              <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="baseCostInd"
                              [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            </p>
        </div>

          <div fxLayout="row" class="domainDataAddRow">
            <div fxFlex fxLayoutAlign="start center" class="domianHeader">
              DETAILS
            </div>
            <div fxFlex="initial" fxLayoutAlign="end center">
              <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
            </div>
          </div>

          <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>

  </div>

</div>
