<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/Tolerance/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
          <rb-numeric  [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="groupId" placeholder="Group Id">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="groupName" placeholder="Group Name" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupName" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="role" placeholder="Role" maxlength="50"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" maxlength="50"></rb-input>
      </div>
    </form>
  </div>
</div>
