<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/UserRolePrivileges/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete required [optionsData]="roleList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="roleId" optionValue="role" [formControl]="serviceDocument.dataProfile.profileForm.controls.role" placeholder="Role" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.role" class="error"></rb-error-messages>
        </div>
        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="ordApprAmt" placeholder="Ord Appr Amt">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.ordApprAmt" class="error"></rb-error-messages>
        </div>

        <div fxFlex="1"></div>
        <p fxFlex="24" class="noMargin ">
          <span class="radiobtns">tsfApprInd</span>
          <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsfApprInd"
                          [optionsData]="indicatorList" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
        </p>
      </div>
    </form>
  </div>
</div>
