<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
    <div class="mainContentHeaderScreen" style="width:100%;">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
       <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="departmentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required [disabled]="editMode"
                             optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.dept" placeholder="Category" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.categoryId" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition ">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="class" placeholder="Id" min="0" maxlength="4" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.class" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="className" required placeholder="Name" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.className" class="error"></rb-error-messages>
          </rb-input>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="indicatorData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.classVatInd"
                             placeholder="Class VAT Ind" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.classVatInd" class="error"></rb-error-messages>
          </div>
        </div>    

          <div fxLayout="row" class="domainDataAddRow">
            <div fxFlex fxLayoutAlign="start center" class="domianHeader">
              DETAILS
            </div>
            <div fxFlex="initial" fxLayoutAlign="end center">
              <button mat-raised-button (click)="add($event)" class="AddRow">+ Add Row</button>
            </div>
          </div>

          <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>
  </div>
</div>
