<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="departmentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl 
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.dept" placeholder="Category" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition ">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm"  controlName="class" placeholder="Id" min="0" maxlength="4"></rb-numeric>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="className"  placeholder="Name" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList" [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
