﻿<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                DASHBOARD <span class="m-top-5 m-bottom-5">({{previousDate | date:'dd-MMM-yyyy'}})</span>
            </div>
            <div fxFlex="initial" class="footer-actions-buttons noMargin" style="margin:0;">
                <div fxFlex fxLayoutAlign="end center" class="dashboard-save-icon">
                    <button name="add" mat-raised-button (click)="saveWidgetCustomization()" class="searchbtn">Save</button>
                </div>
            </div>
        </div>

    </div>
    <div fxFlex="initial" class="dashboard-mainContainer">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="padding-left-10 padding-right-10">
            <div fxFlex="25" fxLayout="row" class="dashboard-top-view  m-bottom-15 m-top-15 m-left-15 m-right-15">
                <div fxFlex="30" fxLayoutAlign="center center" class="profits-sales">
                    <span class="trasaction-icon retailsNavIcons"></span>
                </div>
                <div fxFlex="70" fxLayout="column">
                    <span class="customer-dueDays">290,460 KD</span>
                    <span>Total Sales</span>
                </div>
            </div>
            <div fxFlex="25" fxLayout="row" class="dashboard-top-view  m-bottom-15 m-top-15 m-left-15 m-right-15">
                <div fxFlex="30" fxLayoutAlign="center center" class="repeat-buyers">
                    <span class="customer-salesIcon retailsNavIcons"></span>
                </div>
                <div fxFlex="70" fxLayout="column">
                    <span class="customer-dueDays">48,538 KD</span>
                    <span>Margin Value</span>
                </div>
            </div>
            <div fxFlex="25" fxLayout="row" class="dashboard-top-view m-bottom-15 m-top-15 m-left-15 m-right-15">
                <div fxFlex="30" fxLayoutAlign="center center" class="online-sales">
                    <span class="sales-icon retailsNavIcons"></span>
                </div>
                <div fxFlex="70" fxLayout="column">
                    <span class="customer-dueDays">43%</span>
                    <span>Non-Reward Sales</span>
                </div>
            </div>
            <div fxFlex="25" fxLayout="row" class="dashboard-top-view m-bottom-15 m-top-15 m-left-15 m-right-15">
                <div fxFlex="30" fxLayoutAlign="center center" class="new-users">
                    <span class="card-icon retailsNavIcons"></span>
                </div>
                <div fxFlex="70" fxLayout="column">
                    <span class="customer-dueDays">57%</span>
                    <span>Reward Sales</span>
                </div>
            </div>

        </div>
    </div>
    <div fxFlex="initial" class="dashboard-mainContainer padding-right-15 padding-btm-15 padding-left-15">
        <div fxLayout="row" class="fusion-chats-section-view dashboard-main-content speedo-meter" fxLayout.sm="column">
            <div fxFlex="40" class="fusion-charts-container">
                <fusioncharts type="angulargauge" dataFormat="JSON" [dataSource]="speedoMeter" class="fusion-charts-content" width="100%" height="350"></fusioncharts>
            </div>
            <div fxFlex="60" class="Goal-Completion m-top-20 padding-left-10 padding-right-10" fxLayout="row">
                <div fxFlex="48" fxLayout="column" class="sales-vs-budget">
                    <p style="text-align: center; margin-top: 0;font-weight: bold; text-transform:uppercase">Last Year</p>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_last_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_last_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_first_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_first_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_second_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_second_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_fourth_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_fourth_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                </div>
                <div fxFlex style="width:10px;"></div>
                <div fxFlex="48" class="sales-vs-budget">
                    <p class="budget-header">Budget</p>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_five_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_five_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_six_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_six_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_seven_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_seven_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_nine_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                    <fusioncharts type="bar2d" dataFormat="JSON" [dataSource]="sales_nine_sublevel_year" class="fusion-charts-content sales-charts" width="100%" height="100"></fusioncharts>
                </div>
            </div>
        </div>
    </div>
    <div>
        <rbs-dashboard [dashboard]="data" (updatedDashboardData)="onNotify($event)"></rbs-dashboard>
    </div>
</div>
