@import "../../assets/scss/_variables.scss";
/*****Dashboard styles start here******/
.dashboard-mainContainer {
    .dashboard-main-content {
        .fusion-charts-container {
            padding: 10px;

            .pie-chart {
                svg {
                  left: 0px !important;
                  background-color: transparent !important;
                }
             }

            .sales-charts {
                #container- {
                  border: 1px solid #eee;
                }
            }
        }

        .fusion-chats-section-view {
            .fusion-charts-content {
                #container- {
                  margin-top: 10px;
                }
            }
        }
    /*****customer sastifaction status bar styles start here******/
    .Goal-Completion {
      p {
        height: 10px;
      }

      span {
        font-weight: $bold;
      }

      .product {
        background-color: $lemonYellow;
      }

      .purchase {
        background-color: $marronred;
      }

      .premiumPage {
        background-color: $skyblue;
      }

      .completeOrder {
        background-color: $thinkgreen;
      }

      .sales-vs-budget {
        border: 1px solid #eee;
        padding: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);

        .budget-header {
          text-align: center;
          margin-top: 0;
          font-weight: $bold;
          text-transform: uppercase
        }
      }
    }
  }
  /*****dashboard top view styles start here******/
  .dashboard-top-view {
    height: 70px;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;

    .online-sales {
      background-color: $marronred;

      .sales-icon {
        background-position: -1017px -182px;
        width: 32px;
        height: 33px;
      }
    }

    .new-users {
      background-color: $skyblue;

      .card-icon {
        background-position: -963px -185px;
        width: 32px;
        height: 27px;
      }
    }

    .profits-sales {
      background-color: $thinkgreen;

      .trasaction-icon {
        background-position: -1125px -184px;
        width: 32px;
        height: 29px;
      }
    }

    .repeat-buyers {
      background-color: $lemonYellow;

      .customer-salesIcon {
        background-position: -1071px -184px;
        width: 32px;
        height: 28px;
      }
    }

    span {
      font-weight: $bold;
      font-size: $font-12;
      margin-left: 5px;
    }

    .customer-dueDays {
      font-size: $font-20;
    }
  }

  .speedo-meter {
    border: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}

