<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-date fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromDate" placeholder="From Date"></rb-date>
        <span fxFlex="1"></span>
        <rb-date fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toDate" placeholder="To Date"></rb-date>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="34" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.loc" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete fxFlex="33" [optionsData]="transtypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="codeDesc" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tranTypeDesc" placeholder="Transaction Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" placeholder="Item" maxlength="20" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="34" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description" maxlength="200" class="errorMsgsParentPosition">
        </rb-input>
      </div>
    </div>

    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)"
                      navigate="false" [showAdd]="false"  #searchPanel></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
