<div fxLayout="column" class="aggrid-template">
    <div fxLayout="row" *ngIf="alwaysShow||rowData?.length>0" class="agGrid">
        <ag-grid-angular [gridOptions]="gridOptions" style="width: 100%; height: 100%;" class="ag-theme-balham"
                         [rowData]="rowData"
                         [rowSelection]="rowSelection"
                         [groupSelectsChildren]="groupSelectsChildren"
                         [columnDefs]="columnDefs"
                         [autoGroupColumnDef]="autoGroupColumnDef" 
                         [defaultColDef]="defaultColDef"
                         #rbaggrid>
        </ag-grid-angular>
    </div>
</div>
