@import "../../../assets/scss/_variables.scss";

/************AG-grid styles starts****************/
.aggrid-template {
      .noRecords {
          margin-top: 100px;

          .noSearch-records {
            background-position: -1608px -12px;
            width: 114px;
            height: 114px;
          }

          .no-search-text {
            color: $green;
          }
      }

      .agGrid {
            background: #eee;
            font-size: $font-12;
            margin-top: 20px;
            line-height: 0;

            p {
              margin-left: 12px !important;
            }

            .helpIconForGrid {
              background-position: -975px -23px;
              margin: 11px 0px 5px 0px;
              text-decoration: underline;
              color: #23a89f;
              cursor: pointer;
              font-weight: 600;
              padding: 10px 10px 10px 10px;
              display: inline-block;

              span {
                margin-left: 5px;
              }
            }

            .exportfunIcon {
              background-position: -941px -23px;
              width: 16px;
              height: 15px;
              cursor: pointer
            }

            .exportIcon {
              text-decoration: underline;
              margin: 9px 0px 11px 1px;
              color: #23a89f;
              cursor: pointer;
              font-weight: 600;
              padding: 10px 10px 10px 4px;
              display: inline-block;

              span {
                margin-left: 5px;
              }
      }

        .helpiconStyle {
          margin: 9px 0px 11px -6px;
        }

        .pageCount {
      display: inline-block;

      .aggridSpan {
        margin: 0 10px;
      }

      a {
        margin: 0px 8px;
        text-decoration: underline;
        color: #23a89f;
        cursor: pointer;
        font-weight: $bold;
        padding: 10px;

        &.onbtnFirst {
          background-position: -800px -134px;
          width: 14px;
          height: 16px;

          &:hover {
            background-position: -800px -75px;
            width: 14px;
            height: 16px;
          }

          &.active {
            background-position: -800px -75px;
            width: 14px;
            height: 16px;
          }
        }

        &.onBtPrevious {
          background-position: -840px -134px;
          width: 9px;
          height: 16px;

          &:hover {
            background-position: -840px -75px;
            width: 9px;
            height: 16px;
          }

          &.active {
            background-position: -840px -75px;
            width: 9px;
            height: 16px;
          }
        }

        &.onBtNext {
          background-position: -862px -134px;
          width: 9px;
          height: 16px;

          &:hover {
            background-position: -862px -75px;
            width: 9px;
            height: 16px;
          }

          &.active {
            background-position: -862px -75px;
            width: 9px;
            height: 16px;
          }
        }

        &.onBtLast {
          background-position: -897px -134px;
          width: 14px;
          height: 16px;

          &:hover {
            background-position: -897px -75px;
            width: 14px;
            height: 16px;
          }

          &.active {
            background-position: -897px -75px;
            width: 14px;
            height: 16px;
          }
        }
      }
    }

    .aggridselect {
      select {
        width: 50%;
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin: 3px 3px;
      }
    }
  }

  

  .ag-bl-overlay {
    top: 100px !important;
  }
}

.ag-header, .ag-header-row {
  color: white;
  background-color: #23a89f !important;
  text-transform: uppercase;
}

.ag-body-viewport.ag-layout-auto-height {
  overflow-y: hidden;
}
