<div fxLayout="column" class="aggrid-template">
    <div fxLayout="column" class="noRecords" *ngIf="!rowData||rowData && rowData.length===0 && showGrid" fxLayoutAlign="center center">
        <div class="noSearch-records retailsNavIcons" ></div>
        <h2 class="no-search-text">No Search Results</h2>
    </div>
    <div fxLayout="row" class="agGrid" *ngIf="rowData?.length>0">
        <div fxFlex="25" fxLayoutAlign="start center" fxFlex.xs="50" fxFlex.sm="27" fxHide.sm="true">
            <p class="gridSearchresult" *ngIf="customOptions.showSearchCriteria">Search Results  <span> ({{getPageDetails()}}) </span> </p>
        </div>
        <div fxFlex="30" fxLayoutAlign="center center" class="pageCount" fxFlex.xs="50" fxLayoutAlign.xs="center center" fxFlex.sm="32">
            <a (click)="onBtFirst()" class="onbtnFirst retailsNavIcons" fxLayoutAlign="center center" [attr.disabled]="!isDataLoaded"></a>
            <a (click)="onBtPrevious()" class="onBtPrevious retailsNavIcons" fxLayoutAlign="center center" [attr.disabled]="!isDataLoaded"></a>
            <span class="aggridSpan">Pages {{gridOptions?.api?.paginationGetCurrentPage()+1}} / {{gridOptions?.api?.paginationGetTotalPages()}}</span>
            <a (click)="onBtNext()" class="onBtNext retailsNavIcons" fxLayoutAlign="center center" [attr.disabled]="!isDataLoaded">
            </a>
            <a (click)="onBtLast()" class="onBtLast retailsNavIcons" fxLayoutAlign="center center" [attr.disabled]="!isDataLoaded">
            </a>
        </div>
        <div fxFlex="20" class="gridExportexcel-helpicon" fxLayoutAlign="center center" fxLayout="row" fxFlex.sm="20">
            <a (click)="onBtExport()" fxHide.xs="true" fxLayoutAlign="center center">
                <span class="exportfunIcon retailsNavIcons"></span>
                <span class="exportIcon"> Export to Excel</span>
            </a>
           
            <a fxLayoutAlign="center center" matTooltip="Tooltip!" [matTooltip]="!isCurrentUserExist ? 'To do multi-column sorting, hold down shift while clicking the column header.': ''">
                <span class="helpIconForGrid retailsNavIcons"></span>
                <span class="exportIcon helpiconStyle">Help</span>
            </a>

        </div> 
        <div fxFlex="25" fxLayoutAlign="end center" class="aggridselect" fxFlex.sm="30">
            Page Size: <select (change)="onPageSizeChanged($event)">
                <option value="10" selected>10 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </select>
        </div>
    </div>
    <div fxLayout="row" *ngIf="alwaysShow||rowData?.length>0" class="agGrid">
        <ag-grid-angular [gridOptions]="gridOptions" style="width: 100%; height: 100%;" class="ag-theme-balham"
                         [rowData]="rowData"
                         [rowSelection]="rowSelection"
                         [groupSelectsChildren]="groupSelectsChildren"
                         [columnDefs]="columnDefs"
                         [autoGroupColumnDef]="autoGroupColumnDef" 
                         [defaultColDef]="defaultColDef"
                         #rbaggrid

                         >
        </ag-grid-angular>
    </div>
</div>
