﻿<div fxLayout="row" fxFlex>
    <div fxFlex class="ComponentLevelMainContent ItemInfoHeader">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
            <div fxLayout="column" class="rbsSectionForHeaders m-top-10">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        BASIC INFO
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipment" placeholder="Shipment No" class="errorMsgsParentPosition editmode" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order No" class="errorMsgsParentPosition editmode" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="billOfLadingNo" placeholder="Bill of Lading No" class="errorMsgsParentPosition">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="advanceShipmentNotice" placeholder="Advance Shipment Notice" class="errorMsgsParentPosition">
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [required]="true" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDate" placeholder="Ship Date"
                                 class="errorMsgsParentPosition" [minDate]="currentDate" [maxDate]="" [disabled]="editMode"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.shipDate" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="receiveDate" placeholder="Received Date"
                                 class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.shipDate.value"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.receiveDate" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="estArrDate" placeholder="Estimated Arrival Date"
                                 class="errorMsgsParentPosition" [readonly]="true" [disabled]="true"></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.estArrDate" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [required]="true" [optionsData]="shipOriginData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipOrigin" placeholder="Ship Origin" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.shipOrigin" class="error"></rb-error-messages>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [required]="true" [optionsData]="statusCodeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.statusCode" placeholder="Status Code" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.statusCode" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete required [optionsData]="invoiceMatchingData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.invcMatchStatus" placeholder="Invoice Match Status" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.invcMatchStatus" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="invcMatchDate" placeholder="Invoice Match Date"
                                 class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.shipDate.value" [maxDate]=""></rb-date>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.invcMatchDate" class="error"></rb-error-messages>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="locationTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.toLocType" placeholder="To Location Type" class="fx-selectBox" [disabled]="true"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toLocType" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="toLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="status" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.toLoc" placeholder="To Location" class="fx-selectBox" [disabled]="true"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toLoc" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete required [optionsData]="locationTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.fromLocType" placeholder="From Location Type" class="fx-selectBox" (rbChange)="updateDependentControls($event)" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fromLocType" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete required [optionsData]="fromLocationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="status" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.fromLoc" placeholder="From Location" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fromLoc" class="error"></rb-error-messages>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="courier" placeholder="Courier" class="errorMsgsParentPosition">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="noOfBoxes" placeholder="No of Boxes" min="0" maxlength="4"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.noOfBoxes" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extRefNoIn" placeholder="External Ref No In" class="errorMsgsParentPosition">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extRefNoOut" placeholder="External Ref No Out" class="errorMsgsParentPosition">
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="parentShipment" placeholder="Parent Shipment" min="0" maxlength="10"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.parentShipment" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="matchLocation" placeholder="Match Location" class="errorMsgsParentPosition editmode" [readonly]="true">
                    </rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" class="errorMsgsParentPosition">
                    </rb-input>
                </div>
            </div>
        </form>
    </div>
</div>
