<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/LocationTrait/List']"></toolBar>
      </div>
    </form>
  </div>
  <div fxFlex="initial">
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID" fxLayout="column">
    <div class="mainContentHeaderScreen">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="supplierTraitId" placeholder="Location Trait Id" min="0" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierTraitId" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" required placeholder="description" maxlength="120" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="masterSupplierIndicator" required placeholder="Master Supplier Indicator" maxlength="1" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.masterSupplierIndicator" class="error"></rb-error-messages>
            </rb-input>
          </div>

          <div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="masterSupplier" required placeholder="Master Supplier" maxlength="10" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
