<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent itemlist-content" fxFlex>
    <div *ngIf="showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="heaD_SEQ" placeholder="Seq" maxlength="10">
        </rb-numeric>
        <span fxFlex="1"></span>
        <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="item" placeholder="Item" [min]="100000000" maxlength="25">
        </rb-numeric>
        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
        <span fxFlex="1"></span>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="barcode" placeholder="Barcode" maxlength="50" class="errorMsgsParentPosition">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrlSupplier" minLength="2"
                         optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="20" [optionsData]="workflowStatusList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="name" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox">
        </rb-autocomplete>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox" (rbChange)="changeDivision($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divisionId" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="group" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="groupNo" optionValue="groupDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.deptId" placeholder="Department" class="fx-selectBox" (rbChange)="changeGroup($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deptId" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="department" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.categoryId" placeholder="Category" class="fx-selectBox" (rbChange)="changeDepartment($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.categoryId" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="class" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.classId" placeholder="Fineline" class="fx-selectBox" (rbChange)="changeClass($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.classId" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="20" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="subclass" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="subclass" optionValue="subClassDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.subclassId" placeholder="Segment" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.subclassId" class="error"></rb-error-messages>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="description" placeholder="Description" maxlength="50" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.description" class="error"></rb-error-messages>
        </rb-input>
      </div>

    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="add()" [additionalSearchParams]="additionalSearchParams"
                      #searchPanel></rbs-search-panel>

    <div *ngIf="!showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria" [totalRows]="this.serviceDocument.dataProfile.dataModel?.totalRows" [isDataLoaded]="isDataLoaded"></rbs-grid>
    </div>
  </div>
</div>
