@import '../../assets/scss/_variables.scss';
.Addrow{
  background-color:$orange;
  color:$white;
}
p.itemRanging {
  background: $textboxborder;
  padding: 3px;
  color: $orange;
  font-weight: $bold;
  font-style: italic;
}
