<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" [closeRedirectUrl]="['/Item/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{status}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             class="action-status-user">
          <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                        [formGroup]="serviceDocument?.dataProfile?.profileForm"
                        [dataProfile]="serviceDocument?.dataProfile"
                        [cssClass]="searchbtn"
                        (submitClick)="submitAction()"
                        (rejectClick)="rejectAction()"
                        (sendBackClick)="sendBackForReviewAction()"
                        moduleName="{{screenName}}"
                        [priority]="inboxCommonData?.priority"
                        fxFlex>
          </rb-wf-header>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrlSupplier" minLength="2"
                           required optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox" *ngIf="!editMode"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="supplierName" placeholder="Supplier" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox" (rbChange)="changeDivision($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divisionId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="divisionDesc" placeholder="Division" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="group" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="groupNo" optionValue="groupDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.deptId" placeholder="Department" class="fx-selectBox" (rbChange)="changeGroup($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deptId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deptDesc" placeholder="Department" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="department" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="dept" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.categoryId" placeholder="Category" class="fx-selectBox" (rbChange)="changeDepartment($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.categoryId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="categoryDesc" placeholder="Category" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="20" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="class" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="class" optionValue="classDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.classId" placeholder="Fineline" class="fx-selectBox" (rbChange)="changeClass($event)"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.classId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="classDesc" placeholder="Fineline" [readonly]="true" *ngIf="editMode">
        </rb-input>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="subclass" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="subclass" optionValue="subClassDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.subclassId" placeholder="Segment" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.subclassId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="subclassDesc" placeholder="Segment" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-autocomplete [optionsData]="brandData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="brandId" [apiUrl]="apiUrlBrand" minLength="2"
                           required optionValue="brandName" [formControl]="serviceDocument.dataProfile.profileForm.controls.brandId" placeholder="Brand" class="fx-selectBox">
          </rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.brandId" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="brandName" placeholder="Brand" [readonly]="true" *ngIf="editMode">
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="uomData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="uomCode" optionValue="uomDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.standardUom" placeholder="Standard UOM" class="fx-selectBox">
          </rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.standardUom" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="iTierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemTier" placeholder="Item Tier" class="fx-selectBox">
          </rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.itemTier" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="20" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.originCountry" placeholder="Origin Country" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.originCountry" class="error"></rb-error-messages>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <p class="noMargin" style="margin-top:2px;">
            <span class="radiobtns">Expiry Flag</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expiryFlag" placeholder="expiryFlag"
                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
          </p>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="9" fxFlex.xs="100" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expiryInbound" placeholder="InBound Days" min="0"
                      [required]="serviceDocument.dataProfile.profileForm.controls['expiryFlag'].value === 'Y'" maxlength="5">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.expiryInbound" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="9" fxFlex.xs="100" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="expiryOutbound" placeholder="OutBound Days" min="0"
                      [required]="serviceDocument.dataProfile.profileForm.controls['expiryFlag'].value === 'Y'" maxlength="5">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.expiryOutbound" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!editMode">
          <rb-select [optionsData]="rangeCountryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl multiple
                     required optionKey="countryCode" optionValue="countryName" controlName="countries" placeholder="Ranging Countries" class="fx-selectBox"></rb-select>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countries" class="error"></rb-error-messages>
        </div>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="countryId" placeholder="Ranging Countries" [readonly]="true" *ngIf="editMode">
        </rb-input>
      </div>
    </form>
    <div class="inbox-template padding-10 SupplierMainContent" fxFlex>
      <mat-tab-group class="inbox-tabs-header">
        <mat-tab label="Basic Details" fxLayout="column">
          <div fxFlex="initial" fxLayoutAlign="end center" class="m-top-10" *ngIf="!editMode">
            <button mat-raised-button (click)="addBasic($event)" class="Addrow">Add</button>
          </div>
          <rbs-grid-without-pagination [componentParentName]="componentParentName" [gridOptions]="gridOptions" [rowData]="data"
                                       [columnDefs]="column"></rbs-grid-without-pagination>
        </mat-tab>
        <mat-tab label="Cost" fxLayout="column" *ngIf="editMode">
          <rbs-grid-without-pagination [componentParentName]="componentParentName" [gridOptions]="gridOptionsCost" [rowData]="data"
                                       [columnDefs]="columnCost"></rbs-grid-without-pagination>
        </mat-tab>

        <mat-tab label="RSP" fxLayout="column" *ngIf="editMode">
          <rbs-grid-without-pagination [componentParentName]="componentParentName" [gridOptions]="gridOptionsPrice" [rowData]="dataPrice"
                                       [columnDefs]="columnPrice"></rbs-grid-without-pagination>
        </mat-tab>

        <mat-tab label="Barcode" fxLayout="column" *ngIf="editMode">
          <rbs-grid-without-pagination [componentParentName]="componentParentName" [gridOptions]="gridOptionsBarcode" [rowData]="data"
                                       [columnDefs]="columnBarcode"></rbs-grid-without-pagination>
        </mat-tab>

        <mat-tab label="Ranging" fxLayout="column" *ngIf="editMode">
          <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptionsStore" [rowData]="dataStore"
                    [columnDefs]="columnStore"></rbs-grid>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
