<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/OrgCountry/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
            <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
                <div class="listitem">
                    <a href="#" (click)="openCompanyMaster($event)">Company</a>
                </div>
                <div class="listitem RegionLink">
                    <a href="#" (click)="openRegionMaster($event)">Region</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete required [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                                     optionKey="companyId" optionValue="companyName" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId"
                                     placeholder="Company" class="fx-selectBox" (rbChange)="changeCompany($event)"></rb-autocomplete>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.companyId" class="error"></rb-error-messages>
                </div>
                <div fxFlex="2"></div>
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete required [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                                     optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryCode"
                                     placeholder="Country" class="fx-selectBox"></rb-autocomplete>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryCode" class="error"></rb-error-messages>
                </div>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="legalName" required placeholder="Legal Name" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.legalName" class="error"></rb-error-messages>
                </rb-input>

            </div>
            <div fxLayout="row" fxLayout.xs="column"  fxLayout.sm="column">
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="taxRegNo" placeholder="Tax Reg No" maxlength="50" upperCase="true" class="errorMsgsParentPosition">
                </rb-input>
                <div fxFlex="2"></div>



                <p fxFlex="32" class="noMargin">
                    <span class="radiobtns">VAT Exempt</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatExempt" placeholder="VAT Exempt" [disabled]="editMode && vatExempReadonly"
                                    [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc"  (rbChange)="setDependentControl($event)"></rb-radio-group>
                </p>
                <div fxFlex="2"></div>
                <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
                    <rb-autocomplete [optionsData]="vatCodeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     [disabled]="serviceDocument.dataProfile.profileForm.controls['vatExempt'].value === 'Y'"
                                     optionKey="vatCode" optionValue="vatCode" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatCode" placeholder="Vat Code" class="fx-selectBox"></rb-autocomplete>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">


                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="pluChargeValue" placeholder="Plu Charge Value" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                </rb-input>
                <div fxFlex="2"></div>

                <p fxFlex="32" class="noMargin">
                    <span class="radiobtns">Inter Company</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="interCompany" placeholder="Inter Company"
                                    [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                </p>
                <div fxFlex="2"></div>
                <rb-autocomplete fxFlex="32" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.defaultWhs" placeholder="Default Warehouse" class="fx-selectBox"></rb-autocomplete>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <p fxFlex="32" class="noMargin">
                    <span class="radiobtns">Status</span>
                    <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="countryStatus" placeholder="countryStatus"
                                    [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" [disabled]="!editMode"></rb-radio-group>
                </p>
            </div>

        </form>
    </div>
</div>
