<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
      </div>
      <div class="ComponentLevelMainContent" fxFlex>
            <div [hidden]="!showSearchCriteria">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete fxFlex="49" [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="companyId" optionValue="companyName" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox"></rb-autocomplete>
                  <div fxFlex="2"></div>
               <rb-autocomplete fxFlex="49" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryCode" placeholder="Country" class="fx-selectBox"></rb-autocomplete>                 
                </div>
                <div fxLayout="row">
                    <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="legalName" placeholder="Legal Name" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-autocomplete fxFlex="49" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
                </div>
            </div>
            <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                              [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
            <div [hidden]="showSearchCriteria">
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                          [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
            </div>
        </div>

</div>
