<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/SecurityGroupOrgHierarchy/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="securityGroups" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="groupId" optionValue="groupDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.groupId"
                           placeholder="Group Id" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="orgLevels" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl (rbChange)="changeOrgLevel($event)" required
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLevel" placeholder="Org Level" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLevel" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="orgLevelValues" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLevelValue"
                           placeholder="Org Level Value" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLevelValue" class="error"></rb-error-messages>
        </div>
      </div>
    </form>
  </div>
</div>
