<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/TransferZone/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="item" placeholder="ITEM"  [disabled]="editMode" maxlength="15" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.item" class="error"></rb-error-messages>
          </rb-input>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="refItem"  placeholder="REF ITEM"  [disabled]="editMode" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.refItem" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="compStoreDesc"  [disabled]="editMode" placeholder="COMP STORE DESC" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.compStoreDesc" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="recDate" placeholder="REC DATE"></rb-date>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="compRetail" placeholder="COMP RETAIL"  maxlength="4" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.compRetail" class="error"></rb-error-messages>
          </rb-input>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="compRetailType"  [disabled]="editMode" placeholder="COMP RETAIL TYPE" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.compRetailType" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="multiUnits"  [disabled]="editMode" placeholder="MULTI UNITS" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.multiUnits" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="multiUnitRetail"  [disabled]="editMode" placeholder="MULTI UNIT RETAIL" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.multiUnitRetail" class="error"></rb-error-messages>
            </rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="promStartDate" placeholder="PROM START DATE"  [disabled]="editMode"></rb-date>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="promEndDate" placeholder="PROM END DATE"  [disabled]="editMode"></rb-date>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="offerType"  [disabled]="editMode"  placeholder="OFFER TYPE" maxlength="250" class="errorMsgsParentPosition">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.offerType" class="error"></rb-error-messages>
            </rb-input>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex fxLayout.xs="column">
            <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm"  controlName="postDate" placeholder="POST DATE"  [disabled]="editMode"></rb-date>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="rpmFull" placeholder="RPM PULL"  [disabled]="editMode" maxlength="4" class="errorMsgsParentPosition" [ngClass]="{'editmode':editMode}">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.rpmFull" class="error"></rb-error-messages>
          </rb-input>
        </div>
      </form>
    </div>
</div>
