<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <div [hidden]="!showSearchCriteria">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="item" placeholder="Item" maxlength="20"></rb-input>
          <span fxFlex="2"></span>
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="compStoreDesc" upperCase="true" placeholder="Competitive Store" maxlength="120"></rb-input>
          <span fxFlex="2"></span>
          <rb-date fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="recDate"  placeholder="Rec Date"></rb-date>
        </div>        
      </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" [showAdd]="false" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
