<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)"  (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Promotion/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
    </div>
  </div>

  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <div fxLayout="column" class="rbsSectionForHeaders m-top-20">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="empId" placeholder="Employee No" maxlength="10" required [disabled]="editMode" min="0" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.empId" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="userId" placeholder="User Id" maxlength="10" required  [disabled]="editMode" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.userId" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="name" placeholder="Name" maxlength="120" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.name" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="empTypeData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="empType" optionValue="empTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.empType" placeholder="Employee Type" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.empType" class="error"></rb-error-messages>
        </div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <p fxFlex class="noMargin radiobtnForMargin">
            <span class="radiobtns">Cashier</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="cashierInd" placeholder="Cashier" required
                            [optionsData]="domainDetailsIndicator" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.cashierInd" class="error"></rb-error-messages>
          </p>
        </div>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <p fxFlex class="noMargin radiobtnForMargin">
            <span class="radiobtns">Sales Person</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="salespersonInd" placeholder="Salesperson" required
                            [optionsData]="domainDetailsIndicator" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.salespersonInd" class="error"></rb-error-messages>
          </p>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="email" placeholder="Email" class="errorMsgsParentPosition" maxlength="100" required>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.email" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="phone" placeholder="Phone" class="errorMsgsParentPosition" maxlength="20"required>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.phone" class="error"></rb-error-messages>
        </rb-input>
      </div>
    </div>
  </div>
</div>
