<div fxLayout="column" fxFill>
  <div fxFlex="initial" class="superSearchHeader">
    <div fxLayout="row" class="mainContentHeader inbox-template">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
      <div fxFlex fxLayoutAlign="end center" fxLayout="row" fxLayout.xs="center center">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="SuperSearchParameter">
          <a (click)="reset()" class="SuperSearchPirorty resetbtnbg" matTooltip="Reset">
            <span class="retailNavigationIcons superSearchReset"></span>
          </a>
          <span fxFlex="1"></span>
          <a (click)="search()" class="SuperSearchPirorty searchbtnbg" matTooltip="Search">
            <span class="retailNavigationIcons superSearchIcon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex class="ComponentLevelMainContent" fxLayout="column" style="padding:0">
    <div fxFlex fxLayout="row">
      <div fxFlex="20" fxFlex.sm="40"  style="height:100%;background-color:#eee" class="salesContent">
        <treeViewMerch #treeViewMerchRef class="treeViewStyle" style="background-color:#eee"></treeViewMerch>
      </div>
      <div fxFlex class="padding-left-10 padding-right-10">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromDate" placeholder="Start Date" required
                     class="errorMsgsParentPosition"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fromDate" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toDate" placeholder="End Date" required
                     class="errorMsgsParentPosition" [minDate]="serviceDocument.dataProfile.profileForm.controls.fromDate.value"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.toDate" class="error"></rb-error-messages>
          </div>
        </div>
        <mat-tab-group fxLayout="row" class="inbox-tabs-header" (selectedIndexChange)="tabOnClick($event)" [selectedIndex]="selectedTabIndex">
          <mat-tab label="Total sales"></mat-tab>
          <mat-tab label="sales by format"></mat-tab>
          <mat-tab label="sales by store"></mat-tab>
        </mat-tab-group>
        <div fxLayout="column" class="padding-left-10 padding-right-10">
          <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="filteredDataList"
                    [columnDefs]="columns"></rbs-grid>

        </div>
      </div>
    </div>
  </div>
</div>

