@import "../../assets/scss/_variables.scss";

.footer-actions-buttons {
  .searchbtn {
    background-color: $orange;
    color: $white;
  }
}

.salesContent {
  height: 100%;
  overflow: auto;
}

.searchbtnbg {
  background-color: $green !important;
}

.resetbtnbg {
  background-color: $orange !important;
}

.ProductActions {
  margin: 10px 30px !important;
}

.bgcolor {
  background-color: #8ba0b1;
  color: $white;
}

.SuperSearchPirorty {
  width: 30px;
  height: 30px;
  background-color: #8ba0b1;
  border-radius: 100px;
  cursor: pointer;

  span {
    display: block;
    margin-top: 8px;
    margin-left: 8px;
  }

  .superSearchReset {
    background-position: -130px -74px;
    width: 16px;
    height: 16px;
  }

  .superSearchIcon {
    background-position: -175px -74px;
    width: 16px;
    height: 16px;
  }

  .superSearchPrevious {
    background-position: -840px -198px;
    width: 9px;
    height: 16px;
  }

  .superSearchNext {
    background-position: -862px -198px;
    width: 9px;
    height: 16px;
  }
}


.mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
  background-color: #e0dfdf !important;
}
