.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node {
  overflow: inherit !important;
  min-height: 0px !important;
  font-size: 12px;
}

.mat-icon-button {
  width: 20px !important;
  height: 20px !important;
  flex-shrink: 0;
  line-height: 0px !important;
  margin-top: -7px;
}
