<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="pageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete fxFlex="24" [optionsData]="actionTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="actionType" optionValue="actionTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.actionType" placeholder="Document Type" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="stockCountTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="stockCountType" optionValue="stockCountTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.stockCountType" placeholder="stockCountType" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>

        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="stockCount" placeholder="stockCount" min="0" class="errorMsgsParentPosition">
        </rb-numeric>
        <div fxFlex="1"></div>
        <rb-date fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="after" placeholder="after Date"></rb-date>

      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="before" placeholder="before Date"></rb-date>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="reportGroupData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="reportGroup" optionValue="reportGroupDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.reportGroup" placeholder="reportGroup" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="dptData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="departmentId" optionValue="departmentDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.departmentId" placeholder="department" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="25" [optionsData]="categoryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="categoryId" optionValue="categoryDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.categoryId" placeholder="category" class="fx-selectBox"></rb-autocomplete>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete fxFlex="24" [optionsData]="fineLineData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="fineLineId" optionValue="fineLineDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.fineLineId" placeholder="fineLine" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="segmentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="segmentId" optionValue="segmentDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.segmentId" placeholder="segment" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="itemData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="itemId" optionValue="itemDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemId" placeholder="item" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="25" [optionsData]="chainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="chainId" optionValue="chainDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.chainId" placeholder="chain" class="fx-selectBox"></rb-autocomplete>
       
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete fxFlex="24" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="countryId" optionValue="countryDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryId" placeholder="country" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="formatData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="formatId" optionValue="formatDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.formatId" placeholder="format" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex [optionsData]="zoneData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="zoneId" optionValue="zoneDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.zoneId" placeholder="zone" class="fx-selectBox"></rb-autocomplete>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation($event)"  #searchPanelPromotion></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
