<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>             
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
      <div [hidden]="!showSearchCriteria">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsinputsPadding">
          <rb-numeric fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsF_NO" placeholder="Transfer No" maxlength="10"></rb-numeric>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="50" [optionsData]="transferTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.tsfType" placeholder="Transfer Type" class="fx-selectBox"></rb-autocomplete>
        </div>
      </div>
      <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                        [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                        navigate="false" (addEmitter)="add()" [additionalSearchParams]="additionalSearchParams"
                        #searchPanel></rbs-search-panel>

      <div [hidden]="showSearchCriteria">
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                  [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
      </div>
    </div>
</div>
