<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode===true?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="domainDataAddRow">
        <div fxFlex fxLayoutAlign="start center" class="domianHeader">
          SUPPLIER DETAILS
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <rb-input fxFlex="24" required [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="orderNo" maxlength="120" placeholder="Order No" class="errorMsgsParentPosition" (fxBlur)="ChangeSupplierInfo($event.target.value)">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orderNo" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="suppDesription" maxlength="120" placeholder="Supplier" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="status" maxlength="120" placeholder="Status" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyCode" maxlength="120" placeholder="Currency Code" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <rb-autocomplete fxFlex="24" [optionsData]="headDisplayModel" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl minLength="2" optionKey="item" optionValue="itemDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.item" placeholder="item" class="fx-selectBox" (rbChange)="getItemData($event)"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="qtyOrdered" maxlength="120" placeholder="Qty Ordered" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="qtyReceived" maxlength="120" placeholder="Qty Received" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="location" maxlength="120" placeholder="Location" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="avCost" maxlength="120" placeholder="Avg Cost" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="newAvCost" maxlength="120" placeholder="New Avg Cost" class="errorMsgsParentPosition">
        </rb-input>
      </div>

      <div fxLayout="row" class="domainDataAddRow">
        <div fxFlex fxLayoutAlign="start center" class="domianHeader">
          RECV COST DETAILS DETAILS
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="stockOnHand" maxlength="120" placeholder="Stock On Hand" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="inTransitQty" maxlength="120" placeholder="In Transit Qty" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="purchaseCost" maxlength="120" placeholder="Purchase Cost Old" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>      
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="purchaseCostNew" maxlength="120" placeholder="Purchase Cost New" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
      </div>

      <div fxLayout="row" fxLayout.xs="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="landedCost" maxlength="120" placeholder="Landed Cost" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="newLandedCost" maxlength="120" placeholder="New Landed Cost" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="currencyCode" maxlength="120" placeholder="Currency Code" class="errorMsgsParentPosition" [disabled]=true>
        </rb-input>
      </div>
      <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center">
          <button mat-raised-button name="search" (click)="save(true)" class="searchbtn">Save</button>
          <div fxFlex="2"></div>
          <button mat-raised-button name="search" (click)="reset()" class="resetbtn">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
