<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent">
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="listDesc" placeholder="Description" maxlength="120" class="errorMsgsParentPosition" [upperCase]="true">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="32" [optionsData]="indicatorData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.staticInd" placeholder="Static Ind" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="33" [optionsData]="indicatorData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.visibilityInd" placeholder="Visibility Ind" class="fx-selectBox"></rb-autocomplete>
      </div>
    </div>

    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
