<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/UOMClass/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode===true?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" id="printMainComponentDivID" fxFlex>
    <div class="mainContentHeaderScreen">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="column" class="rbsSectionForHeaders">
          <div fxLayout="row" class="rbsSubHeaders">
            <div fxFlex fxLayoutAlign="start center">
              General information
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="listDesc" placeholder="Description" required="true" maxlength="120" class="errorMsgsParentPosition" [upperCase]="true">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.listDesc" class="error"></rb-error-messages>
            </rb-input>
            <div fxFlex="1"></div>
            <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="lastRebuildDate" [disabled]="true" placeholder="Last Rebuild Date" [readonly]="true"></rb-date>
            <div fxFlex="1"></div>

            <p fxFlex="24" class="noMargin">
              <span class="radiobtns">Static Ind</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="staticInd" placeholder="Pick Consolidate"
                              [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            </p>
            <div fxFlex="1"></div>
            <p fxFlex="25" class="noMargin">
              <span class="radiobtns">Visibility Ind</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="visibilityInd" placeholder="Pick Consolidate"
                              [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            </p>
          </div>
          <div fxLayout="row" fxLayout.xs="colum" fxLayout.sm="column">
            <rb-input fxFlex="100" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDesc" placeholder="Comments" maxlength="2000" class="errorMsgsParentPosition">
            </rb-input>
          </div>
        </div>
        <div fxLayout="row" class="domainDataAddRow">
            <div fxFlex fxLayoutAlign="start center" class="domianHeader">
              DETAILS
              <!--<span class="selected-item-fliter"><a (click)="openItemSearch()" class="fliter-item">FIND ITEMS</a></span>-->
            </div>
            <div fxFlex="initial" fxLayoutAlign="end center">
              <button mat-raised-button (click)="add($event)" class="AddRow">+ Add to Grid</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemNo"
                    placeholder="Item/Barcode" maxlength="100" class="errorMsgsParentPosition find-item-styles">

          </rb-input>
        </div>
        <rbs-grid [gridOptions]="gridOptions" [rowData]="data" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>
  </div>
</div>
