@import '../../assets/scss/_variables.scss';
.domainDataAddRow {
        padding: 10px 0 10px 4px;
        margin: 10px 0;

        .domianHeader {
            font-weight: 700;
            font-size: $font-20;
        }

        .AddRow {
            padding: 2px 20px;
            background: $orange;
            color:$white;
        }
}
.fliter-item {
    color: $green;
    font-size: $font-default;
    text-decoration: none;
    cursor: pointer;
    font-weight: $bold;
}

