<div fxLayout="column" fxFill class="forgotPassword-header mainwrap">
  <div fxFlex="initial">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history padding-0">
      <div fxFlex>
        <p class="workflow-dailog-title m-left-10 changePassword-header">Change Password</p>
      </div>
      <div fxFlex="initial" class="toolbarActions-template">
        <button mat-button class="headerToolbaricon" (click)="close()">
          <span class="closeIcon closeImage"></span>
          <p>CLOSE</p>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayout.sm="column" class="ComponentLevelMainContent">
    <div fxFlex fxflex.sm="100%">
      <form [formGroup]="changePasswordForm" class="changepassword-form">
        <div fxFlex fxLayout="column">
          <rb-input fxFlex placeholder="User Name" controlName="email" name="email" [formGroup]="changePasswordForm" required="true" class="errorMsgsParentPosition email" [readonly]="true">
            <rb-error-messages [control]="changePasswordForm.controls.email" class="error"></rb-error-messages>
          </rb-input>
          <rb-input fxFlex type="password" placeholder="Current Password" name="currentPassword" controlName="currentPassword" [formGroup]="changePasswordForm" class="errorMsgsParentPosition password" required="true">
            <rb-error-messages [control]="changePasswordForm.controls.currentPassword" class="error"></rb-error-messages>
          </rb-input>
          <rb-input fxFlex type="password" placeholder="New Password" name="newPassword" controlName="newPassword" [formGroup]="changePasswordForm" class="errorMsgsParentPosition password" required="true">
            <rb-error-messages [control]="changePasswordForm.controls.newPassword" class="error"></rb-error-messages>
          </rb-input>

          <rb-input fxFlex type="password" placeholder="Confirm Password" name="confirmPassword" controlName="confirmPassword" [formGroup]="changePasswordForm" class="errorMsgsParentPosition password" required="true">
            <rb-error-messages [control]="changePasswordForm.controls.confirmPassword" class="error"></rb-error-messages>
          </rb-input>
        </div>

      </form>

    </div>
    <div fxFlex="initial">
      <div fxLayoutAlign="end center" fxLayout="row" class="footer-actions-buttons">
        <button (click)="backToHome()" name="changePswdbtn" mat-raised-button class="resetbtn" type="submit">Cancel</button>
        <button [disabled]="!changePasswordForm.valid" name="changePswdbtn" mat-raised-button class="searchbtn m-left-10" type="submit" (click)="save()">Update</button>
      </div>
    </div>
  </div>

</div>
