@import "../../assets/scss/_variables.scss";
.changePassword-header {
  margin: 0;
  line-height: 3;
}

.changepassword-form {
  .footer-actions-buttons {
    margin: 0;
  }
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b5;
}
.toolbarActions-template {
      background-color: #2b3d4b;
      padding: 0px 11px;

      .headerToolbaricon {
          padding: 5px !important;
          min-width: 80px !important;

          .closeIcon {
            background: url('../../assets/images/Untitled-1.svg') no-repeat;
            display: inline-block;
          }

          .closeImage {
            background-position: -79px 0;
            width: 23px;
            height: 23px;
          }

          p {
            font-size: 12px;
            margin: 0;
            line-height: 1.5;
          }
      }
}
.ComponentLevelMainContent{
      padding:20px;
      overflow:auto;
}
.searchbtn {
  background-color:$orange;
  color:$white;
}
.resetbtn{
    background-color:$grey;
}
.errorMsgsParentPosition{
  position:relative;
}
.error {
  color: $errorMessageRed;
  font-size: $font-12;
  position: absolute;
  bottom: 0;
  left: 0;
}
