@import "../../assets/scss/_variables.scss";
.forgotPasswordMainContent {
        .logingScreenBg {
              .omniChanel {
                background-position: -31px -105px !important;
                width: 450px;
                height: 226px;
              }
              .forgotPasswordHeaderTab {
                padding: 20px;
                  .mat-raised-button.mat-primary {
                      margin-top: 10px;
                      background-color: $orange;
                      color: $white;
                      text-transform: uppercase;
                  }
                  .Forgotscreen {
                    border: 1px solid #eee;
                      .mat-raised-button[disabled][disabled] {
                        background-color: rgba(0,0,0,.12);
                        color: rgba(0,0,0,.38);
                      }
                  }
              }
              .errorMsgsParentPosition {
                position: relative;
              }
              .error {
                color: red;
                font-size: 12px;
                position: absolute;
                bottom: 0;
                left: 0;
              }

        }
        .mat-tab-label-active {
          border: 2px solid #e4dcdc;
          color: #f05e00;
        }
        .mat-tab-group {
              width: 322px;
              .mat-tab-body-wrapper {
                border: 1px solid $textboxborder;
              }

              .mat-tab-labels {
                background: $white;
              }

        }
        .forgotPasswordActionButtons {
              .resetbtn {
                padding: 2px 40px;
                background: #a4a4a4;
                color: #fff;
                margin-right: 20px;
              }

              .searchbtn {
                padding: 2px 35px;
                background: #f05e00;
                color: #fff;
              }
        }

}

