<div fxLayout="column" fxFill class="forgotPasswordMainContent">
    <div fxFlex fxlayout="row" class="logingScreenBg" fxLayout.sm="column">
        <div fxFlex fxLayoutAlign="center center" fxflex.sm="100%" fxHide.sm="true" fxHide.xs="true">
            <div class="omniChanel retailNavigationIcons"></div>
        </div>
        <div fxFlex fxLayoutAlign="center center" fxflex.sm="100%"  class="forgotPasswordHeaderTab">
            <mat-tab-group>
                <mat-tab label="Forgot Password">
                    <form novalidate (ngSubmit)="validate()" [formGroup]="forgotPasswordForm" class="Forgotscreen">
                        <mat-card fxLayout="row">
                            <div fxFlex fxLayout="column" class="errorMsgsParentPosition">
                                <rb-input fxFlex placeholder="User Email" controlName="email" name="email" [attr.name]="email" [formGroup]="forgotPasswordForm" required="true" class="errorMsgsParentPosition email">
                                    <rb-error-messages [control]="forgotPasswordForm.controls.email" class="error"></rb-error-messages>
                                </rb-input>

                                <span style="font-size: 13px;bottom: 92px;">Example: retail@sultan-center.com </span>
                               
                                    <rb-input  *ngIf="showPasswordDiv" fxFlex type="password" placeholder="New Password" name="newPassword" controlName="newPassword" [formGroup]="forgotPasswordForm" class="errorMsgsParentPosition password">
                                        <rb-error-messages [control]="forgotPasswordForm.controls.newPassword" class="error"></rb-error-messages>
                                    </rb-input>
                                    <rb-input *ngIf="showPasswordDiv" fxFlex type="password" placeholder="Confirm Password" name="confirmPassword" controlName="confirmPassword" [formGroup]="forgotPasswordForm" class="errorMsgsParentPosition password" required="true">
                                        <rb-error-messages [control]="forgotPasswordForm.controls.confirmPassword" class="error"></rb-error-messages>
                                    </rb-input>
                               
                                    <div fxLayoutAlign="end center" fxLayout="row" class="forgotPasswordActionButtons m-top-15 m-bottom-20">
                                        <button routerLink="." (click)="backToHome()" class="resetbtn" mat-raised-button>Cancel</button>
                                        <div *ngIf="!showResetBtn">
                                            <button [disabled]="!forgotPasswordForm.controls.email.valid" name="changePswdbtn" mat-raised-button class="searchbtn" type="submit">Send Mail</button>
                                        </div>
                                        <div *ngIf="showResetBtn">
                                            <button [disabled]="!forgotPasswordForm.controls.email.valid" name="changePswdbtn" mat-raised-button class="searchbtn" type="submit">Reset</button>
                                        </div>

                                    </div>
                                </div>
</mat-card>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>  
</div>


