@import "../../assets/scss/_variables.scss";
.logingScreenBg {
        overflow: auto;
        .login-image {
          background-position: -31px -105px !important;
          width: 450px;
          height: 226px;
        }
        .loginscreen {
            border: 1px solid $textboxborder;
            .login {
                height: 320px;
                overflow: auto;
                .mat-raised-button.mat-primary {
                  margin-top: 10px;
                  background-color: $orange;
                  color: $white;
                  text-transform: uppercase;
                }
                .errorMsgsParentPosition {
                  position: relative;
                }
                .error {
                  color: $errorMessageRed;
                  font-size: $font-12;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
                .email {
                  flex-basis: auto !important;
                }
                .password {
                  flex-basis: auto !important;
                }

            }

        }
        @media (max-width: 600px) {
            .mat-tab-label[_ngcontent-c2] {
              min-width: 160px !important;
            }
        }
  
}
/*************retail footer css styles starts here****************/
.footer_retail {
          height: 50px;
          min-height: 50px;
          background: $white;
          box-shadow: 0 0 7px $textboxborder;
          z-index: 1000;

          .listitem {
            padding: 0 10px;
            font-size: 13px;
            color: $textboxborder;
            border-right: 1px solid $textboxborder;
            cursor: pointer;
          }

          .listitem:last-child {
            border-right: none;
          }
          .listitem a {
            color: $textboxborder;
            text-decoration: none;
          }

}

/**********retail footer css styles ends here*****************/

.mat-tab-label-active {
  border: 2px solid #e4dcdc;
  color: #f05e00;
}
.mat-tab-group {
  width: 322px;

  .mat-tab-body-wrapper {
    border: 1px solid $textboxborder;
  }

  .mat-tab-labels {
    background: $white;
  }
}
.forgot-header-tab {
  font-size: $font-12;
  color: $orange;
  font-weight: $bold;
}


