<div fxLayout="column" fxFill style="overflow:hidden;">
    <div fxFlex fxlayout="row" class="logingScreenBg" fxLayout.sm="column">
        <div fxFlex fxLayoutAlign="center center" fxflex.sm="100%" fxHide.sm="true" fxHide.xs="true">
          
            <div class="omniChanel login-image retailNavigationIcons"></div>
        </div>
        <div fxFlex fxLayoutAlign="center center" fxflex.sm="100%">
            <mat-tab-group>
                <mat-tab label="Login">
                    <form novalidate (ngSubmit)="validate()" [formGroup]="loginForm" class="loginscreen">
                        <mat-card fxLayout="row" class="login" fxLayoutAlign="center center">
                            <div fxFlex fxLayout="column">
                                <rb-input fxFlex placeholder="User Name" controlName="email" name="loginemail" [formGroup]="loginForm" required="true" class="errorMsgsParentPosition email">
                                    <rb-error-messages [control]="loginForm.controls.email" class="error"></rb-error-messages>
                                </rb-input>
                                <rb-input fxFlex type="password" placeholder="Password" name="loginpassword" controlName="password" [formGroup]="loginForm" class="errorMsgsParentPosition password" required="true">
                                    <rb-error-messages [control]="loginForm.controls.password" class="error"></rb-error-messages>
                                </rb-input>
                                <button [disabled]="!loginForm.valid" name="loginbtn" mat-raised-button color="primary" type="submit">Login</button>
                                <div fxLayoutAlign="end center">
                                    <a class="forgot-header-tab m-top-15" routerLink="." (click)="open()">Forgot Password?</a>
                                </div>
                            </div>
                        </mat-card>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <footer class="footer_retail" fxFlex="initial">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div class="listitem">
                <a (click)="openDialog()">Privacy Policy</a>
            </div>
            <div class="listitem">
                <a (click)="openDialogTerms()">Terms & Conditions</a>
            </div>
        </div>
    </footer>
</div>
