<div fxLayout="column" fxFill class="PrivacyContentPopUp mainwrap">
  <div fxFlex="initial">
    <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
      <div fxFlex>
        <p class="workflow-dailog-title m-left-10">PRIVACY&POLICY</p>
      </div>
      <div fxFlex="initial" class="toolbarActions-template">

        <button mat-button class="headerToolbaricon" (click)="close()">
          <span class="closeIcon closeImage"></span>
          <p>CLOSE</p>
        </button>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent padding-left-20 padding-right-20 m-top-10" fxFlex>
    <p>
      This privacy policy sets out how uses and protects any information that you give when you use this website. The Sultan Center is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, and then you can be assured that it will only be used in accordance with this privacy statement. The Sultan Center may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.
    </p>
    <div fxLayout="column">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          SECTION I
        </div>
      </div>
      <div fxLayout="column">

        <h5>
          WHAT WE COLLECT
        </h5>
        <h5>
          WE MAY COLLECT THE FOLLOWING INFORMATION:
        </h5>
        <div>
          <ul>
            <li>Name</li>
            <li>Contact information including email address</li>
            <li>Demographic information such as postcode, preferences and interests</li>
            <li>Other information relevant to customer surveys and/or offers</li>
          </ul>
        </div>
        <h5>WHAT WE DO WITH THE INFORMATION WE GATHER</h5>
        <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
        <div>
          <ul>
            <li>Internal record keeping.</li>
            <li>We may use the information to improve our products and services.</li>
            <li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
            <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests.</li>
          </ul>
        </div>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          SECTION II
        </div>
      </div>
      <div fxLayout="column">

        <h5>CONSENT</h5>
        <p>How do you get my consent?</p>
        <div>
          <ul>
            <li>
              When you provide us with personal information to complete a transaction, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting your information and using it for that specific reason only.
            </li>
            <li>
              If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          SECTION III
        </div>
      </div>
      <div fxLayout="column">
        <ul>
          <li>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</li>
        </ul>
        <h5>PAYMENT</h5>
        <ul>
          <li>Currently we are only accepting payment on delivery which can be in the form of cash, credit card payment or Knet payment as our Delivery agent has the payment machine with him at your doorstep. No payment data are stored at the website.</li>
        </ul>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" class="rbsSubHeaders">
        <div fxFlex fxLayoutAlign="start center">
          SECTION IV
        </div>
      </div>
      <div fxLayout="column">
        <h5>THIRD - PARTYSERVICES</h5>

        <ul>
          <li>
            In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us
          </li>
          <li>
            However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
          </li>
          <li>
            For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
          </li>

          <li>
            In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you .So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
          </li>
          <li>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</li>

        </ul>
        <h4>LINKS TO OTHER WEBSITES</h4>
        <p>
          Our website may contain links to other websites of interest.
          However, once you have used these links to leave our site,
          you should note that we do not have any control over that other website.
          Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement.
          You should exercise caution and look at the privacy statement applicable to the website in question.
        </p>
      </div>
    </div>
  </div>
  </div>
