﻿<form class="padding-20" novalidate (ngSubmit)="validate()" [formGroup]="registerForm">
    <mat-card fxLayout="column" class="formcard">
        <div fxLayout="column" layout-wrap layout-padding class="layout-padding">
            <div fxLayout="row" layout-wrap>
                <rb-input fxFlex="20" placeholder="Name" controlName="name" [formGroup]="registerForm" class="name" required="true"></rb-input>
                <rb-input fxFlex="20" placeholder="User Name" controlName="userName" [formGroup]="registerForm" class="userName" required="true"></rb-input>
            </div>
            <div fxLayout="row" layout-wrap>
                <rb-input fxFlex="20" placeholder="Email" controlName="email" [formGroup]="registerForm" class="email" required="true"></rb-input>

                <rb-autocomplete fxFlex placeholder="Organization" [formControl]="registerForm.controls.organization" optionKey="organizationId" optionValue="name"
                                 [formGroup]="registerForm" ngDefaultControl [optionsData]="organizations"></rb-autocomplete>
            </div>
            <div fxLayout="row" layout-wrap>
                <rb-input fxFlex="20" type="password" placeholder="Password" controlName="password" [formGroup]="registerForm" class="password" required="true"></rb-input>
                <rb-input fxFlex="20" type="password" placeholder="Confirm Password" controlName="confirmPassword" [formGroup]="registerForm" class="confirmPassword" required="true"></rb-input>
            </div>
            <div fxLayout="row" class="padding-left-10 padding-right-10">
                <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit">Register</button>
            </div>
        </div>
    </mat-card>
</form>
