<div fxLayout="column" fxFill class="termsAndConditions mainwrap">
    <div fxFlex="initial">
          <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
              <div fxFlex>
                  <p class="workflow-dailog-title m-left-10">Terms & Conditions</p>
              </div>
              <div fxFlex="initial" class="toolbarActions-template">
                  <button mat-button class="headerToolbaricon" (click)="close()">
                      <span class="closeIcon closeImage"></span>
                      <p>CLOSE</p>
                  </button>
              </div>
          </div>
    </div>
    <div class="ComponentLevelMainContent padding-left-20 padding-right-20 m-top-10" fxFlex>
        <div fxLayout="column">
            <div fxLayout="row" class="rbsSubHeaders">
                <div fxFlex fxLayoutAlign="start center">
                    SECTION I
                </div>
            </div>
            <div fxLayout="column">
                <h5>
                    Online Store Terms
                </h5>
                <p>
                    By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
                </p>
                <p>
                    You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
                    You must not transmit any worms or viruses or any code of a destructive nature.
                </p>
                <p> breach or violation of any of the Terms will result in an immediate termination of your Services.</p>
            </div>
        </div>


        <div fxLayout="column">
            <div fxLayout="row" class="rbsSubHeaders">
                <div fxFlex fxLayoutAlign="start center">
                    SECTION II
                </div>
            </div>
            <div fxLayout="column">
                <h5>
                    General Store Terms
                </h5>
                <p> We reserve the right to refuse service to anyone for any reason at any time.</p>
                <p>
                    You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
                </p>
                <p>
                    You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
                </p><p>
                    The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
                </p>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayout="row" class="rbsSubHeaders">
                <div fxFlex fxLayoutAlign="start center">
                    SECTION III
                </div>
            </div>
            <div fxLayout="column">
                <h5>
                    Accuracy, Completeness and Timeliness of Information
                </h5>
                <p>
                    We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or timelier sources of information. Any reliance on the material on this site is at your own risk.
                </p>
                <p>
                    This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.
                </p>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayout="row" class="rbsSubHeaders">
                <div fxFlex fxLayoutAlign="start center">
                    SECTION IV
                </div>
            </div>
            <div fxLayout="column">
                <h5>Modifications to the Service and Prices</h5>
                <p>Prices for our products are subject to change without notice.</p>
                <p> We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.</p>
                <p>We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.</p>
            </div>
        </div>
    </div>
</div>
