@import "../../assets/scss/_variables.scss";
.workflow-dailog-title {
  margin: 0px 0px 0px 10px;
  line-height: 4;
}

.toolbarActions-template {
    background-color: #2b3d4b;
    padding: 0px 11px;

    .headerToolbaricon {
        padding: 5px !important;
        min-width: 80px !important;

        .closeIcon {
          background: url('../../assets/images/Untitled-1.svg') no-repeat;
          display: inline-block;
        }

        .closeImage {
          background-position: -79px 0;
          width: 23px;
          height: 23px;
        }

        p {
          font-size: 12px;
          margin: 0;
          line-height: 1.5;
        }
     }
}
.ComponentLevelMainContent{
  overflow:auto;
  background:white;
}
.rbsSubHeaders {
  padding: 9px 0 9px 5px;
  color: #585555;
  background-color: #efefec;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

h5{
      font-weight:bold;
      font-style:italic;
}
