@import '../../../assets/scss/_variables.scss';

.Addrow {
  background-color: $orange;
  color: $white;
}
.item-list-findItems {
  position: relative;

  .fliter-item {
    position: absolute;
    right: 0px;
    top: -12px;
    font-size: 10px;
    width: 88px;
    text-decoration: underline;
    color: #00BCD4;
  }
}
