<div fxLayout="column" fxFill> 
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docId" placeholder="Document ID" min="0" maxlength="20"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.type" placeholder="Doc Type" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order No">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="groupId" placeholder="Group ID">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-autocomplete fxFlex="24" [optionsData]="vendorTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vendorType" placeholder="Vendor Type" class="fx-selectBox"></rb-autocomplete>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vendor" placeholder="Vendor">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="extDocId" placeholder="External Doc ID">
        </rb-input>
      </div>
      </div>
      <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                        [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl" navigate="false" (addEmitter)="addValidation()"></rbs-search-panel>
      <div [hidden]="showSearchCriteria">
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                  [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
      </div>
    </div>
</div>
