<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/imDocMaintenance/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete required [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Doc Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.uomClass" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Invoice" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Invoice Status" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docId" placeholder="Invoice Date" [maxDate]="today"></rb-date>
        <span fxFlex="1"></span>
        <rb-date fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docId" placeholder="Match Date" [maxDate]="today"></rb-date>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Invoice Terms" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Order Terms" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Supplier Terms" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vendorType" placeholder="Vendor Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="docId" placeholder="Vendor">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="row" fxLayout.sm="column">
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="docId" placeholder="Order No" maxlength="250"></rb-input>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Location Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Invoice Currency" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docId" placeholder="Exchange Date"></rb-date>
        <span fxFlex="1"></span>
        <rb-date fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docId" placeholder="Due Date"></rb-date>
      </div>
      <div fxLayout="row" fxLayout.xs="row" fxLayout.sm="column">
        <rb-autocomplete fxFlex="19" [optionsData]="documentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.docId" placeholder="Frieght Payment Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <p class="noMargin" fxFlex>
          <span class="radiobtns">Payment Type</span>
          <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="uomClass"
                          [optionsData]="domainRadioData" optionsKey="code" optionsValue="codeDesc" (rbChange)="getDataChage($event)"></rb-radio-group>
        </p>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Merchandise & Cost Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Total Merchandise Cost Ex VAT"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Total Non merchadise Cost Ex VAT" class="find-item-styles">
            <span class="item-list-findItems"><a (click)="itemBasedLogic()" class="fliter-item ">Get NonMerchadise</a></span>
          </rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Total Cost Ex VAT"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Toatl VAT Cost">
            <span class="item-list-findItems"><a (click)="itemBasedLogic()" class="fliter-item ">Get Total Vat Cost</a></span>
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Total Cost Inc VAT"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Invoice Qty"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Total Allowances"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="Best Terms"></rb-input>
          
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="uomClass" placeholder="Terms Date"></rb-date>
          <span fxFlex="1"></span>
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="RefNo:1"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="RefNo:2"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="RefNo:3"></rb-input>
          <span fxFlex="1"></span>
          <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" placeholder="RefNo:4"></rb-input>
        </div>
     </div>
</form>
  </div>
</div>
