﻿<div fxLayout="column" class="" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
            <div fxFlex>
                <p class= "m-left-10">Shipment SKU Details</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="padding-left-10 padding-right-10 m-top20"  style="overflow:auto;">
        <form  novalidate [formGroup]="infoGroup">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="shipment" placeholder="Shipment No"
                          [readonly]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="seqNo" placeholder="Sequence No"
                          [readonly]="true">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="carton" placeholder="Carton" [readonly]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="invStatus" placeholder="Inventory Status" maxlength="2" readonly="true"></rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="statusCodeDescription" placeholder="Status Code" [readonly]="true">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="qtyExpected" placeholder="Quantity Expected" maxlength="12" [readonly]="true"></rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="unitCost" placeholder="Unit Cost" maxlength="20" [readonly]="true"></rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="50" [formGroup]="infoGroup" controlName="unitRetail" placeholder="Unit Retail" maxlength="20" [readonly]="true"></rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="matchInvcId" placeholder="Match Invoice Id" maxlength="10" [readonly]="true"></rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="qtyMatched" placeholder="Quantity Matched" maxlength="12" [readonly]="true"></rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="adjustType" placeholder="Adjust Type" maxlength="6" [readonly]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="actualReceivingStoreName" placeholder="Actual Receiving Store" [readonly]="true">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="reconcileUserId" placeholder="Reconcile User ID" [readonly]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="reconcileDate" placeholder="Reconcile Date" [readonly]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="dispositionedInd" placeholder="Disposition Indicator" [readonly]="true">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="tamperedInd" placeholder="Tampered Indicator" [readonly]="true">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="weightExpected" placeholder="Weight Expected" maxlength="12" [readonly]="true"></rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="weightExpectedUom" placeholder="Weight Expected UOM" [readonly]="true">
                </rb-input>
            </div>
        </form>
    </div>
</div>

