<div fxLayout="row">
    <div fxFlex class="ComponentLevelMainContent ItemInfoHeader">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>
            <div fxLayout="row" class="mainContentHeader m-top20">
                <div fxFlex fxLayoutAlign="start center" class="domianHeader">
                    ORDER SKU DATA<span class="selected-item-fliter"></span>
                </div>
            </div>
            <div>
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                          [columnDefs]="columns"></rbs-grid>
            </div>
        </form>
    </div>
</div>
