<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/CostZoneGroup/List']"
                         [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">

          <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
            <div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="id" placeholder="ID" min="0" maxlength="20" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
              </rb-numeric>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.id" class="error"></rb-error-messages>
            </div>
            <div fxFlex="2"></div>
            <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="name" required placeholder="Name" class="errorMsgsParentPosition" maxlength="250">
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.name" class="error"></rb-error-messages>
            </rb-input>
            <div fxFlex="2"></div>
            <!--<div fxLayout="column" fxFlex="32">
    <rb-autocomplete [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                     optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
  </div>-->
            <p fxFlex="32" class="noMargin ">
              <span class="radiobtns">Status</span>
              <rb-radio-group required [formGroup]="serviceDocument.dataProfile.profileForm" controlName="status"
                              [optionsData]="domainDtlData" optionsKey="code" optionsValue="codeDesc"></rb-radio-group>
            </p>        

          </div>
        </form>
    </div>
</div>
