<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent rbs-autocmplte-chips-content">
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column">

                <div fxLayout="column" fxFlex="32">
                    <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="id" placeholder="ID" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="6">
                    </rb-numeric>
                </div>
                <div fxFlex="2"></div>
                <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="name" placeholder="Name" class="errorMsgsParentPosition" maxlength="250">
                </rb-input>
                <div fxFlex="2"></div>
                <div fxLayout="column" fxFlex="32">
                    <rb-autocomplete [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
                </div>
            </div>
 
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
