<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="pageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="securityGroups"  [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="groupId" optionValue="groupDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.groupId"
                           placeholder="Group Id" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="merchHierLevels"  [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl (rbChange)="changeMerchLevel($event)"
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.merchLevel" placeholder="Merch Level" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.merchLevel" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="34" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="merchHierValues"  [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.merchLevelValue"
                           placeholder="Merch Level Value" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.merchLevelValue" class="error"></rb-error-messages>
        </div>
      </div>

    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation($event)" #searchPanelPromotion></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
