<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/Tolerance/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">

    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="systemOptionsId" placeholder="System Options Id" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="clearanceHistMonths" placeholder="Clearance Hist Months" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="complexPromoAllowedInd" placeholder="Complex Promo Allowed Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="costCalculationMethod" placeholder="Cost Calculation Method" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="defaultOutOfStockDays" placeholder="Default Out Of Stock Days" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="defaultResetDate" placeholder="Default Reset Date" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="eventIdRequired" placeholder="Event Id Required" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="multiItemLocPromoInd" placeholder="Multi Item Loc Promo Ind" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="openZoneUse" placeholder="Open Zone Use" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="priceChangeProcessingDays" placeholder="Price Change Processing Days" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="priceChangePromoOverlapInd" placeholder="Price Change Promo Overlap Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="promoApplyOrder" placeholder="promoApplyOrder" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="promotionHistMonths" placeholder="Promotion Hist Months" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="rejectHoldDaysPcClear" placeholder="Reject HoldDays Pc Clear" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="rejectHoldDaysPromo" placeholder="Reject Hold Days Promo" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="recognizeWhAsLocations" placeholder="Recognize Wh As Locations" min="0"></rb-numeric>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="salesCalculationMethod" placeholder="Sales Calculation Method" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="updateItemAttributes" placeholder="Update Item Attributes" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="zeroCurrEndsInDecs" placeholder="Zero Curr Ends In Decs" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="simInd" placeholder="Sim Ind" min="0"></rb-numeric>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="zoneRanging" placeholder="Zone Ranging" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="exactDealDates" placeholder="Exact Deal Dates" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="locationMoveProcessingDays" placeholder="Location Move Processing Days" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="locationMovePurgeDays" placeholder="Location Move Purge Days" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="dynamicAreaDiffInd" placeholder="Dynamic Area Diff Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="priceClrBckgrndCnflctInd" placeholder="Price Clr Bckgrnd Cnflct Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="promoBckgrndCnflctInd" placeholder="Promo Bckgrnd Cnflct Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="wrkshtBckgrndCnflctInd" placeholder="Wrksht Bckgrnd Cnflct Ind" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="allowBuyGetCyclesInd" placeholder="Allow Buy Get Cycles Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="lockVersion" placeholder="Lock Version" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="dispPromHeadMkup" placeholder="Disp Prom Head Mkup" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="displayConflictsOnly" placeholder="Display Conflicts Only" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="conflictHistoryDaysBefore" placeholder="Conflict History Days Before" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="conflictHistoryDaysAfter" placeholder="Conflict History Days After" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="filterPriceChangeResults" placeholder="Filter Price Change Results" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="fullPromoColDetail" placeholder="Full Promo Col Detail" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="fullPcColDetail" placeholder="Full Pc Col Detail" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="pcClrCalcMarkupInd" placeholder="Pc Clr Calc Markup Ind" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="priceChangeSearchMax" placeholder="Price Change Search Max" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="clearanceSearchMax" placeholder="Clearance Search Max" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="promotionSearchMax" placeholder="Promotion Search Max" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="futRetSeedDaysBefore" placeholder="Fut Ret Seed Days Before" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="defaultEffectiveDate" placeholder="Default Effective Date" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="priceinquirySearchMax" placeholder="Price inquiry Search Max" min="0"></rb-numeric>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="promoEndDateRequired" placeholder="Promo End Date Required" min="0"></rb-numeric>
        <div fxFlex="1"></div>
        <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="clearanceResetInquiryMax" placeholder="Clearance Reset Inquiry Max" min="0"></rb-numeric>
    </div>
    </form>

  </div>
</div>
