<mat-sidenav-container class="example-container" fxFlex>
    <mat-sidenav #sidenav [mode]="sideNavopen() ? 'side' : 'over'" [opened]="sideNavopen()" class="LI-sidenav" fxLayout="column" style="width:250px;border:0">
        <rbs-sidenav fxFlex fxLayout="column"></rbs-sidenav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxFlex>
        <div class="top-bar afterlogin" fxLayout="row" fxLayoutAlign="start center" *ngIf="fxContext.IsAuthenticated && displayMenu">
            <button mat-icon-button fxFlex="initial" *ngIf="fxContext.IsAuthenticated && displayMenu" (click)="sidenav.toggle()" class="menu-hamberger"><span class="hamberger-menu-icon retailsNavIcons"></span></button>
            <div fxLayoutAlign="end center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="end center" class="toolbar-headermenu">
                    <a class="language" mat-raised-button [matMenuTriggerFor]="Desplymenu">
                        <span class="navmenuStyleLangage retailsNavIcons"></span>
                        <span class="main-header-buttons">
                            ENGLISH
                            <span class="navbarHeaderDropDown retailNavigationIcons"></span>
                        </span>
                    </a>
                    <mat-menu #Desplymenu="matMenu">
                        <button mat-menu-item>Arabic</button>
                        <button mat-menu-item>English</button>
                    </mat-menu>
                    <a class="locationIcon" mat-raised-button [matMenuTriggerFor]="locationmenu">
                        <span class="navmenuStylelocation retailsNavIcons"></span>
                        <span class="main-header-buttons">
                            KUWAIT
                            <span class="navbarHeaderDropDown retailNavigationIcons"></span>
                        </span>
                    </a>
                    <mat-menu #locationmenu="matMenu">
                        <button mat-menu-item>Bahrain</button>
                        <button mat-menu-item>Kuwait</button>
                    </mat-menu>


                    <div>
                        <a mat-button [matMenuTriggerFor]="menu">
                            <img *ngIf="sharedService.loggedinUserPic" [src]="sharedService.loggedinUserPic" width="30" height="30" style="border-radius:50px;" />
                            <img *ngIf="!sharedService.loggedinUserPic" src="../assets/images/User Add.png" width="30" height="30" />
                            <span class="m-top-5 m-left-5">WELCOME {{sharedService.loggedinUserName | uppercase}}</span>
                            <span class="main-header-buttons"><span class="navbarHeaderDropDown retailNavigationIcons"></span></span>
                        </a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span class="retailsNavIcons profile"> </span>
                                <span> Profile </span>
                            </button>
                            <button mat-menu-item>
                                <span class="retailsNavIcons settings"></span>
                                <span> Settings </span>
                            </button>
                            <button mat-menu-item>
                                <span class="retailsNavIcons help"></span>
                                <span>Help </span>
                            </button>
                            <button mat-menu-item (click)="open($event)">
                                <span class="retailsNavIcons profile"> </span>
                                <span> Change Password </span>
                            </button>
                            <button mat-menu-item (click)="logout()">
                                <span class="retailsNavIcons logout"></span>
                                <span>Logout </span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="initial" class="top-bar" fxLayout="row" fxLayoutAlign="start center" *ngIf="!fxContext.IsAuthenticated">
          <span class="logoheader" fxLayout="column" fxLayoutAlign="center center">
            <img src="../assets/images/RBS with text white.png" width="450" />
            <!--<mat-video src="../assets/Videos/Bulk%20Item.mp4"></mat-video>-->
          </span>
            <div fxFlex></div>
            <div class="top-bar-right" fxLayout="row" fxLayoutAlign="end center" fxFlex>
                <div fxFlex fxLayoutAlign="end center" class="toolbar-headermenu">
                    <a mat-raised-button routerLink="." href="http://www.sultan-center.com/">
                        <span class="navmenuStyle  retailsNavIcons"></span><span class="main-header-buttons">SULTAN-CENTER.COM</span>
                    </a>

                    <a class="language" mat-raised-button [matMenuTriggerFor]="Desplymenu">
                        <span class="navmenuStyleLangage retailsNavIcons"></span><span class="main-header-buttons">
                            ENGLISH  <span class="navbarHeaderDropDown retailNavigationIcons"></span>
                        </span>
                    </a>
                    <mat-menu #Desplymenu="matMenu">
                        <button mat-menu-item>Arabic</button>
                        <button mat-menu-item>English</button>
                    </mat-menu>
                    <a class="locationIcon" mat-raised-button [matMenuTriggerFor]="menu">
                        <span class="navmenuStylelocation retailsNavIcons"></span><span class="main-header-buttons">
                            KUWAIT
                            <span class="navbarHeaderDropDown retailNavigationIcons"></span>
                        </span>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Bahrain</button>
                        <button mat-menu-item>Kuwait</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="main-content" fxFlex>
            <router-outlet>
                <div class="showbox" fxLayoutAlign="center center" *ngIf="showLoader">
                    <div class="loader">
                        <span class="img-loader">
                            <span class="img-loader">
                                <!--<b class="loader-img-cart retailNavigationIcons"></b>-->
                                <img src="../assets/images/tsc-logo.png" width="60" height="50" />
                            </span>
                        </span>
                        <mat-progress-spinner [color]="loaderService.spinner.color"
                                              [mode]="loaderService.spinner.mode"
                                              [value]="loaderService.spinner.value"
                                              [diameter]="loaderService.spinner.diameter"
                                              [strokeWidth]="loaderService.spinner.strokeWidth"
                                              class="progress-spinner">
                        </mat-progress-spinner>
                    </div>
                </div>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


