.profile {
  background-position: -1743px -23px !important;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.settings {
  background-position: -1784px -23px !important;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.help {
  background-position: -1826px -23px !important;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.logout {
  background-position: -1869px -24px !important;
  width: 15px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
