<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar [closeRedirectUrl]="['/imCostDiscrepancy/List']" (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex>
    <div class="mainContentHeaderScreen" style="width:100%;">
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="docTypeDesc" placeholder="Merchandise Invoice" readonly>
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="suppName" placeholder="Supplier" readonly>
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="locName" placeholder="Location" readonly>
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order" readonly>
          </rb-input>
        </div>

        <div fxLayout="row" fxLayout.xs="column">
          <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orderNo" placeholder="Order" readonly>
          </rb-input>
          <div fxFlex="1"></div>
          <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="resolveByDate" placeholder="Resolve By Date" readonly>
          </rb-date>
        </div>

        <rbs-grid [gridOptions]="gridOptions" [rowData]="dataList" [columnDefs]="columns" [componentParentName]="componentParentName"></rbs-grid>
      </form>
    </div>

  </div>

</div>
