@import '../../../assets/scss/_variables.scss';
.user-security-chips {
  p {
    border: 1px solid $textboxborder;
    border-radius: 5px;

    .radiobtns {
      top: -7px !important;
      width: 16% !important;
    }
  }
}
