﻿<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-autocomplete fxFlex="32" [optionsData]="vatCodesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="vatCode" optionValue="vatCode" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatCode" placeholder="VAT Code" class="fx-selectBox"></rb-autocomplete>
                <span fxFlex="2"></span>
                <rb-autocomplete fxFlex="32" [optionsData]="vatRegionCodesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="vatRegionCode" optionValue="vatRegionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegionCode" placeholder="VAT Region" class="fx-selectBox"></rb-autocomplete>
                <span fxFlex="2"></span>
                <rb-autocomplete fxFlex="32" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
            </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>