<div fxLayout="column" fxFill>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
        <div class="toolbarActions-template" id="toolBarDivid">
            <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                     (previousRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/VatRegionVatCode/List']"></toolBar>
        </div>
    </form>
    <div fxLayout="row" class="mainContentHeader" fxFlex="initial">
        <div fxFlex fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
            <div class="listitem">
                <a href="#" (click)="openVatCode($event)">Vat Code </a>
            </div>
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
            <div class="listitem">
                <a href="#" (click)="openVatRates($event)">Vat Rates </a>
            </div>
        </div>
        <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
            <div class="listitem">
                <a href="#" (click)="openVatRegion($event)">Vat Region </a>
            </div>
        </div>
    </div>

    <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
            
                <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="vatCodesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="vatCode" optionValue="vatCode" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatCode" placeholder="VAT Code" [disabled]="editMode" required class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatCode" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="vatRegionCodesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="vatRegionCode" optionValue="vatRegionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegionCode" placeholder="VAT Region Code" [disabled]="editMode" required class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.vatRegionCode" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <p fxFlex="32" class="noMargin" fxFlex.xs="100">
                        <span class="radiobtns">Status</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatStatus" placeholder="VAT Status" required
                                        [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" [disabled]="!editMode"></rb-radio-group>
                    </p>

                </div>
            
        </form>
    </div>
</div>
