
<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
       
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="39" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="halfNo" placeholder="No" min="0" maxlength="6"></rb-numeric>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="halfName" placeholder="Name" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="40" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="halfDate" placeholder="Date"></rb-date>
        </div>
      </div>
    </div>

    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
