<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/BulkItem/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{priceStatus}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>

      <div fxFlex="initial" fxLayoutAlign="end center" class="m-bottom-10"
           *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && primaryId > 0">
        <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                      [formGroup]="serviceDocument?.dataProfile?.profileForm"
                      [dataProfile]="serviceDocument?.dataProfile"
                      [cssClass]="searchbtn"
                      (submitClick)="submitAction()"
                      (rejectClick)="reject()"
                      (sendBackClick)="sendBackForReview()"
                      moduleName="{{screenName}}" [negativeMarginCount]="serviceDocument?.dataProfile?.dataModel?.noMarginItemCnt"
                      [priority]="inboxCommonData?.priority"
                      fxFlex>
        </rb-wf-header>

      </div>
      <div fxLayout="column" class="rbsSectionForHeaders m-top-20">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            General information
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsinputsPadding">
          <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="priceChangeReasonsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                             optionKey="codeId" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.reason" placeholder="Reason" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reason" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="priceChangeDesc" placeholder="Remark" maxlength="120" class="errorMsgsParentPosition">
          </rb-input>
          <!--<div fxFlex="1"></div>
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="supplierData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode" [apiUrl]="apiUrl" minLength="2"
                             optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplierId" class="error"></rb-error-messages>
          </div>-->

        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsinputsPadding">
          <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startDate"
                     [minDate]="effectiveMinDate"
                     [maxDate]="serviceDocument.dataProfile.profileForm.controls.endDate.value"
                     placeholder="Effective From" required></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startDate" class="error"></rb-error-messages>
          </div>
          <span fxFlex="1"></span>
          <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition">
            <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="endDate"
                     [minDate]="serviceDocument.dataProfile.profileForm.controls.startDate.value"
                     placeholder="Effective To" class="errorMsgsParentPosition"></rb-date>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.endDate" class="error"></rb-error-messages>
          </div>
          <div fxFlex="1"></div>
          <rb-input fxFlex="34" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="runDate" placeholder="Run Date" maxlength="250" class="errorMsgsParentPosition" [disabled]="true">
          </rb-input>
        </div>
      </div>
      <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center" *ngIf="editMode && priceStatus!=='Request Completed'">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
          <button mat-raised-button name="search" id="searchbarSearch" (click)="openPriceDetailExcel()" class="searchbtn">Open Excel</button>
        </div>
      </div>

      <div>
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                  [columnDefs]="columns"></rbs-grid>
      </div>
    </form>
  </div>
</div>
