<div fxLayout="column" fxFill>
  <!--[ngClass]="{'main-content-component': showSearchCriteria === true}"-->
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Item Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemBarcode" placeholder="Item" maxlength="25" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description" maxlength="250" class="errorMsgsParentPosition">
          </rb-input>
        </div>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Price Change Details
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="pricE_CHANGE_ID" placeholder="Price Change ID" maxlength="15" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="priceChangeDesc" placeholder="Price Change Description" maxlength="120" class="errorMsgsParentPosition">
          </rb-input>
          <div fxFlex="1"></div>
          <rb-autocomplete fxFlex="33" [optionsData]="workflowStatusList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="name" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.priceStatus" placeholder="Status" class="fx-selectBox">
          </rb-autocomplete>
        </div>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation()" #searchPanel></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
