<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/ReturnToVendor/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{rtvStatus}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
      <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             class="action-status-user">
          <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                        [formGroup]="serviceDocument?.dataProfile?.profileForm"
                        [dataProfile]="serviceDocument?.dataProfile"
                        [cssClass]="searchbtn"
                        (submitClick)="submitAction()"
                        (rejectClick)="reject()"
                        (sendBackClick)="sendBackForReview()"
                        moduleName="{{screenName}}"
                        [priority]="inboxCommonData?.priority"
                        fxFlex>
          </rb-wf-header>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxFlex="65">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
              <rb-autocomplete [optionsData]="supplierData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrlSupplier" minLength="2"
                               optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox" (rbChange)="changeSupplier($event)" [disabled]="editMode"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.supplier" class="error"></rb-error-messages>
            </div>

          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxLayout="column" fxFlex fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete [optionsData]="locTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                               required (rbChange)="locTypeChanged()" optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.locType" placeholder="Location Type" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.locType" class="error"></rb-error-messages>
            </div>
            <div fxFlex="1"></div>
            <div fxLayout="column" fxFlex fxLayout.xs="column" class="errorMsgsParentPosition">
              <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                               required optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.location" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
              <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.location" class="error"></rb-error-messages>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="createdDate" [disabled]="true" placeholder="Created Date"></rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="completedDate" [disabled]="true" placeholder="Ship Date"></rb-input>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDesc" placeholder="Comments"></rb-input>
            <div fxFlex="1"></div>
            <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="currencyCode" placeholder="Currency" [disabled]="true"></rb-input>
          </div>
        </div>
        <div fxFlex="initial">
          <button mat-raised-button (click)="loadShipInfo()" class="addbtn" style="background-color:orangered; color:white; margin:24px">Ship Info</button>
        </div>
        <div fxFlex="30">
          <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="retAuthNum" placeholder="Ret. Auth. No." min="0" maxlength="10"></rb-numeric>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
              <rb-amount fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="minRetAmt" placeholder="Min. Ret. Amt.">
              </rb-amount>
              <div fxFlex="1"></div>
              <rb-amount fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="totalOrderAmt" placeholder="Total Ord. Amt.">
              </rb-amount>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
              <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="restockCost" placeholder="Restocking Fee" [disabled]="true" fxFlex></rb-input>
              <div fxFlex="1"></div>
              <rb-amount fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="totalRtvCost" placeholder="Total Final RTV Cost">
              </rb-amount>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
              <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="restockPct" placeholder="Default Restocking %" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="15" fxFlex="50">
              </rb-numeric>
              <div fxFlex="1"></div>
              <div fxFlex="initial" fxLayout="end center">
                <button mat-raised-button (click)="loadShipInfo()" class="addbtn" style="background-color:orangered; color:white; margin:24px">Apply Totals</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                [columnDefs]="columns"></rbs-grid>
      <div fxLayout="row" class="mainContentHeader sticky-btn m-top-10">
        <div fxFlex fxLayoutAlign="start center">
          row details
        </div>
        <div fxFlex="initial" fxLayoutAlign="center center" class="domainDataAddRow updateBtn">
          <button mat-raised-button (click)="add($event)" class="AddRow" style="background-color:orangered; color:white"> {{addText}}</button>
        </div>
      </div>
      <div fxLayout="row" class="m-top20 panelForOrganzationItem">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="items" placeholder="Item" (fxBlur)="itemBasedLogic()"></rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Desc" [disabled]="true"></rb-input>
        <div fxFlex="1"></div>
        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="restockPcts" placeholder="Restocking %" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="15" fxFlex="24">
        </rb-numeric>
      </div>
      <div fxLayout="row" class="m-top20 panelForOrganzationItem">
        <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" controlName="unitCostLocs" placeholder="Unit Cost" [disabled]="true"></rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="returnedQtys" placeholder="Quantity Returned" min="0" numberOfDecimals="4" [allowDecimals]="true" maxlength="15">
          </rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.returnedQtys" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="reasonData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.reasons" placeholder="Type of Reason" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.reasons" class="error"></rb-error-messages>
        </div>
      </div>
    </form>
  </div>
</div>
