<div fxLayout="column" class="mainwrap superSearchPop" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
            <div fxFlex>
                <p class="workflow-dailog-title m-left-10">Shipment Details</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">

                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="ComponentLevelMainContent itemSuperSearhMaincontent costandpriceContentBg padding-top-0">
        <form novalidate [formGroup]="infoGroup">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="add1" placeholder="Address">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="city" placeholder="City">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="state" placeholder="State">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="post" placeholder="Postal Code">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="countryId" placeholder="Country">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="contactName" placeholder="Courier">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="contactFax" placeholder="Frieght">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="25" [formGroup]="infoGroup" controlName="contactName" placeholder="Contact Name">
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="rbsInputP-leftRight">
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="contactPhone" placeholder="Contact Phone">
                </rb-input>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="infoGroup" controlName="contactFax" placeholder="Contact Fax">
                </rb-input>
            </div>
            
        </form>
    </div>
</div>

