<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 isSupplierModule="true" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Forecast/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm" [objectName]="screenName" [objectValue]="primaryId"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
      <div fxFlex>
        <span class="worksheet" *ngIf="primaryId !== 0">{{bulkStatus}} </span>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div fxLayout="column" class="rbsSectionForHeaders panelForOrganzationItem disable-textFields-styles" *ngIf="serviceDocument?.dataProfile?.actionService?.allowedActions?.length >0 && sharedService.isUpdatableByUser && editMode">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            WorkFlow Status
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             class="action-status-user">
          <rb-wf-header [allowedActions]="serviceDocument?.dataProfile?.actionService?.allowedActions"
                        [formGroup]="serviceDocument?.dataProfile?.profileForm"
                        [dataProfile]="serviceDocument?.dataProfile"
                        [cssClass]="searchbtn"
                        (submitClick)="submitAction()"
                        (rejectClick)="reject()"
                        (sendBackClick)="sendBackForReview()"
                        moduleName="{{screenName}}"
                        [priority]="inboxCommonData?.priority"
                        fxFlex>
          </rb-wf-header>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="id" placeholder="ID" class="errorMsgsParentPosition" [disabled]="true">
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" maxlength="120" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.comments" class="error"></rb-error-messages>
        </rb-input>
        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="33" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete required fxFlex="32" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="locationId" optionValue="locationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.locationId" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.locationId" class="error"></rb-error-messages>
        </div>
      </div>
      <div fxLayout="row" class="footer-actions-buttons noMargin" fxLayout.xs="center center" *ngIf="editMode && bulkStatus!=='RequestCompleted'">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
          <button mat-raised-button name="search" id="searchbarSearch" (click)="openExcel($event)" class="searchbtn">Open Excel</button>
        </div>
      </div>

      <div>
        <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="data"
                  [columnDefs]="columns"></rbs-grid>
      </div>
    </form>
  </div>
</div>
