<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-numeric fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="id" placeholder="ID" maxlength="8"></rb-numeric>
                <span fxFlex="1"></span>
                <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="comments" placeholder="Comments" maxlength="120">
                </rb-input>
                <span fxFlex="2"></span>
                <rb-autocomplete fxFlex="24" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="locationId" optionValue="locationName" [formControl]="serviceDocument.dataProfile.profileForm.controls.locationId" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
                <span fxFlex="1"></span>
                <rb-autocomplete fxFlex="25" [optionsData]="workflowStatusList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="name" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox">
                </rb-autocomplete>
            </div>
        </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                          navigate="false" (addEmitter)="addValidation()" #searchPanel></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria" (addEmitter)="addValidation()"></rbs-grid>
        </div>
    </div>
</div>
