<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
        <div class="ComponentLevelMainContent" fxFlex>
            <div [hidden]="!showSearchCriteria">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox" fxFlex="24"  (rbChange)="changeCompany()"></rb-autocomplete>
                    <div fxFlex="1"></div>
                    <rb-autocomplete [optionsData]="orgCountryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryCode" placeholder="Country" class="fx-selectBox" fxFlex="24"  (rbChange)="changeCountry()" ></rb-autocomplete>
                    <div fxFlex="1"></div>
                    <rb-autocomplete [optionsData]="regionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="regionCode" optionValue="regionName" [formControl]="serviceDocument.dataProfile.profileForm.controls.regionCode" placeholder="Region" class="fx-selectBox" fxFlex="24" ></rb-autocomplete>
                    <div fxFlex="1"></div>
                    <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="formatCode" placeholder="Code" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="formatName" placeholder="Name" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="1"></div>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="legalName" placeholder="Legal Name" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="1"></div>
                    <rb-autocomplete fxFlex="25" [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                               optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.formatStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
                </div>
            </div>
            <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                              [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"  (resetEvent)="reset()"></rbs-search-panel>
            <div [hidden]="showSearchCriteria">
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                          [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
            </div>
        </div>
</div>
