<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/Group/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>
            <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
                <div class="listitem">
                    <a href="#" (click)="openregion($event)">Region</a>
                </div>
                <div class="listitem">
                    <a href="#" (click)="openLocation($event)">Location</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxflex>
                <div fxLayout="row"  fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="companyData" required [formGroup]="serviceDocument.dataProfile.profileForm" (rbChange)="changeCompany()" ngDefaultControl
                                         optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.companyId" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="orgCountryData" required [formGroup]="serviceDocument.dataProfile.profileForm" (rbChange)="changeCountry()" ngDefaultControl
                                         optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.countryCode" placeholder="Country" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.countryCode" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete [optionsData]="regionData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="regionCode" optionValue="regionName" [formControl]="serviceDocument.dataProfile.profileForm.controls.regionCode" placeholder="Region" class="fx-selectBox" [disabled]="editMode" (rbChange)="changeRegion($event)"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.regionCode" class="error"></rb-error-messages>
                    </div>
                </div>
                <div fxLayout="row"  fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="formatCode" required placeholder="Code" maxlength="5" upperCase="true" class="errorMsgsParentPosition" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.formatCode" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="formatName" required placeholder="Name" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.formatName" class="error"></rb-error-messages>
                    </rb-input>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="legalName" required placeholder="Legal Name" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.legalName" class="error"></rb-error-messages>
                    </rb-input>
                </div>

                <div fxLayout="row"  fxLayout.xs="column" fxLayout.sm="column">
                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="taxRegNo" placeholder="Tax Reg No" maxlength="50" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <p fxFlex="32" class="noMargin">
                        <span class="radiobtns">VAT Exempt</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatExempt" placeholder="VAT Exempt" [disabled]="editMode && vatExempReadonly"
                                        [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" (rbChange)="setDependentControl($event)"></rb-radio-group>
                    </p><div fxFlex="2"></div>
                    <rb-autocomplete  fxFlex="32" [optionsData]="vatCodeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     [disabled]="serviceDocument.dataProfile.profileForm.controls['vatExempt'].value === 'Y'"
                                     optionKey="vatCode" optionValue="vatCode" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatCode" placeholder="VAT Code" class="fx-selectBox"></rb-autocomplete>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="pluChargeValue" placeholder="Plu Charge Value" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                    <div fxFlex="2"></div>
                    <p fxFlex="32" class="noMargin">
                        <span class="radiobtns">Inter Company</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="interCompany" placeholder="Inter Company"
                                        [optionsData]="indicatorData" optionsKey="domainDetailId" optionsValue="domainDetailDesc"></rb-radio-group>
                    </p>
                    <div fxFlex="2"></div>
                    <rb-autocomplete fxFlex="32" [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.defaultWhs" placeholder="Default Warehouse" class="fx-selectBox"></rb-autocomplete>
                </div>

                <div fxLayout="row"  fxLayout.xs="column" fxLayout.sm="column">
                    <p fxFlex="32" class="noMargin radiobtnForMargin">
                        <span class="radiobtns">Status</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="formatStatus" placeholder="Status"
                                        [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" [disabled]="!editMode"></rb-radio-group>
                    </p>
                </div>
            
        </form>
    </div>
</div>
