<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm"
                 (lastRecord)="bind()" [closeRedirectUrl]="['/SystemOptions/List']"></toolBar>
      </div>
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
  
      <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="debitMemoSendDays" placeholder="Debit Memo SendDays" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="closeOpenReceiptDays" placeholder="Close Open ReceiptDays" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="costResolutionDueDays" placeholder="Cost Resolution DueDays" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="qtyResolutionDueDays" placeholder="Qty Resolution DueDays" min="0"></rb-numeric>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="docHistDays" placeholder="Doc HistDays" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="debitMemoPrefixCost" placeholder="Debit Memo PrefixCost" maxlength="30"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="debitMemoPrefixQty" placeholder="Debit Memo PrefixQty" maxlength="30"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="25" fxLayout.xs="column">
            <rb-input  [formGroup]="serviceDocument.dataProfile.profileForm" controlName="debitMemoPrefixVat" placeholder="Debit Memo PrefixVat" maxlength="30"></rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="creditMemoPrefixCost" placeholder="Credit Memo PrefixCost" maxlength="30"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="creditMemoPrefixQty" placeholder="Credit Memo PrefixQty" maxlength="30"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="creditNoteReqPrefixCost" placeholder="Credit Note Req PrefixCost" maxlength="30"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="creditNoteReqPrefixQty" placeholder="Credit NoteReq PrefixQty" maxlength="30"></rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="creditNoteReqPrefixVat" placeholder="Credit NoteReq PrefixVat" maxlength="30"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="postDatedDocDays" placeholder="Post Dated DocDays" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="maxTolerancePct" placeholder="Max TolerancePct" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="daysBeforeDueDate" placeholder="Days Before DueDate" min="0"></rb-numeric>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="defaultPayNowTerms" placeholder="Default PayNow Terms" maxlength="15"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatInd" placeholder="Vat Ind" maxlength="1"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="calcTolerance" placeholder="Calc Tolerance" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatValidationType" placeholder="Vat Validation Type" maxlength="1"></rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="vatDocumentCreationLvl" placeholder="Vat Document CreationLvl" maxlength="12"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="defaultVatHeader" placeholder="Default VatHeader" maxlength="1"></rb-input>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="vatResolutionDueDays" placeholder="Vat Resolution DueDays" min="0"></rb-numeric>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="calcToleranceIndicator" placeholder="Calc Tolerance Indicator" maxlength="1"></rb-input>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="24" fxLayout.xs="column">
            <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="postBasedOnDocHeader" placeholder="Post Based On DocHeader" maxlength="1"></rb-input>
          </div>
          <div fxFlex="2"></div>
        </div>
      </form>
    
  </div>
</div>
