<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
        <div fxFlex="initial">
            <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
                <div fxLayout="row" class="mainContentHeader">
                    <div fxFlex fxLayoutAlign="start center">
                        <page-title [PageTitle]="PageTitle"></page-title>  
                    </div>
                    <!--<div fxFlex="initial" fxLayoutAlign="end center">
                        <div class="listitem">
                            <rbs-favourite [pageTitle]="PageTitle" [redirectUrl]="redirectUrl"></rbs-favourite>
                        </div>
                    </div>-->
                </div>
            </form>
        </div>
        <div class="ComponentLevelMainContent" fxFlex>
            <div [hidden]="!showSearchCriteria">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete fxFlex="32" [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl (rbChange)="changeCompany()"
                           optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox"></rb-autocomplete>
                    <div fxFlex="2"></div>
                    <rb-autocomplete fxFlex="32" [optionsData]="seasonData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl 
                           optionKey="seasonId" optionValue="seasonName" [formControl]="serviceDocument.dataProfile.profileForm.controls.seasonId" placeholder="Season" class="fx-selectBox"></rb-autocomplete>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="phaseName" placeholder="Phase Name" maxlength="250" upperCase="true" class="errorMsgsParentPosition">
                    </rb-input>
                </div>
            </div>
            <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model" (resetEvent) ="reset"
                              [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
            <div [hidden]="showSearchCriteria">
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                          [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
            </div>
        </div>
</div>
