<div fxLayout="column" fxFill>
  <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
    <div class="toolbarActions-template" id="toolBarDivid">
      <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
               (previousRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Phase/List']"></toolBar>
    </div>
  </form>
  <div fxLayout="row" class="mainContentHeader">
    <div fxFlex fxLayoutAlign="start center">
      <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
    </div>
    <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
      <div class="listitem">
        <a href="#" (click)="openSeasonMaster($event)">Season</a>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex>

      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete required name="company" [optionsData]="companyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                           optionKey="companyId" optionValue="companyNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.companyId" placeholder="Company" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.companyId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete required name="season" [optionsData]="seasonData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="editMode"
                           optionKey="seasonId" optionValue="seasonName" [formControl]="serviceDocument.dataProfile.profileForm.controls.seasonId" placeholder="Season" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.seasonId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="32" name="phasename" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="phaseName" required placeholder="Name" maxlength="250" upperCase="true" class="errorMsgsParentPosition" [disabled]="editMode">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.phaseName" class="error"></rb-error-messages>
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
        <!--<p fxFlex="32" class="noMargin">
            <span class="radiobtns">Status</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="phaseStatus" placeholder="PhaseStatus"
                            [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" [disabled]="!editMode"></rb-radio-group>
        </p>-->
        <!--<div fxFlex="2"></div>-->
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date name="startdate" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="startDate"
                   [maxDate]="serviceDocument.dataProfile.profileForm.controls.endDate.value"
                   placeholder="Start Date" required></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.startDate" class="error"></rb-error-messages>
        </div>
        <span fxFlex="2"></span>
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date name="enddate" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="endDate"
                   [minDate]="serviceDocument.dataProfile.profileForm.controls.startDate.value"
                   placeholder="End Date" required class="errorMsgsParentPosition"></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.endDate" class="error"></rb-error-messages>
        </div>
      </div>

    </form>
  </div>
</div>
