<div fxLayout="column" class="inbox-template">
    <div fxFlex="initial">
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center"  class="m-left-20 inbox-header">
              <span class="inbox-font-style">ITEMCLOSE INBOX</span>
            </div>
            <div fxFlex="30" class="searchPanel m-right-10">
                <rb-input fxFlex placeholder="Search" controlName="search" name="search" [formGroup]="searchFormGroup" type="search" class="material-auto-complete">
                    <div class="globalSearch">
                        <a (click)="filterGrid($event)" class="searchBox" [matTooltip]="'Search.'">
                            <span class="autocompltes-globalsearch-icon retailNavigationIcons"></span>
                        </a>
                    </div>
                </rb-input>
                <a class="globalreset" (click)="filterGrid($event,true)" name="reset" [matTooltip]="'Reset.'">
                    <span class="global-Refresh retailNavigationIcons m-top-5"></span>
                </a>
            </div>
        </div>
    </div>
    <div fxFlex="initial" class="inbox-mainContainer">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="padding-left-10 padding-right-10">
            <div fxFlex="33" fxLayout="row" class="m-bottom-10 m-top-10 m-left-10 m-right-10 inbox-sub-actions" [ngClass]="{'active':viewRequests =='due'}">
                <div fxFlex="20" fxLayoutAlign="center center" class="request-actions">
                    <span class="request-action-images retailsNavIcons"></span>
                </div>
                <div fxFlex="80" fxLayout="row" class="overdue-action-days">
                    <span fxFlex class="overdue">{{inboxCountsData.duedateCnt}} requests overdue</span>
                    <div fxFlex="initial" fxLayoutAlign="end center" class="viewrequest">
                        <a (click)="viewDueRequests('due')"><span *ngIf="viewRequests==='due'">Un</span>Show</a></div>
                </div>
            </div>
            <div fxFlex="33" fxLayout="row" class="m-bottom-10 m-top-10 m-left-10 m-right-10 inbox-sub-actions" [ngClass]="{'active':viewRequests =='highPriority'}">
                <div fxFlex="20" fxLayoutAlign="center center" class="highPrority-actions">
                    <span class="highprority-action-images retailsNavIcons"></span>
                </div>
                <div fxFlex="80" fxLayout="row" class="overdue-action-days">
                    <span fxFlex class="overdue">{{inboxCountsData.highPriorityCnt}} High priority</span>
                    <div fxFlex="initial" fxLayoutAlign="end center" class="viewrequest">
                        <a (click)="viewHighPriorityRequests('highPriority')"><span *ngIf="viewRequests==='highPriority'">Un</span>Show</a>
                    </div>
                </div>
            </div>
            <div fxFlex="33" fxLayout="row" class="m-bottom-10 m-top-10 m-left-10 m-right-10 inbox-sub-actions">
                <div fxFlex="20" fxLayoutAlign="center center" class="percentrequest-actions">
                    <span class="percent-action-images retailsNavIcons"></span>
                </div>
                <div fxFlex="80" fxLayout="column" class="overdue-action-days">
                    <span class="overdue">{{inboxCountsData.percentCnt}}% requests</span>
                    <div fxFlex="initial"  class="viewrequest" fxLayout.lg="end center">
                        <a class="resloved-issue">Resolved due date(for last 7days)</a>
                    </div>
                </div>

            </div>
        </div>
        <div fxLayout="column" class="ComponentLevelMainContent padding-top-0 inbox-panel-style">
            <mat-tab-group fxLayout="row" class="inbox-tabs-header" (selectedIndexChange)="tabOnClick($event)" [selectedIndex]="selectedTabIndex">
                <mat-tab fxFlex="25" label="Pending({{inboxCountsData.pendingCnt}})"></mat-tab>
                <mat-tab fxFlex="25" label="Sent({{inboxCountsData.sentCnt}})"></mat-tab>
                <mat-tab fxFlex="25" label="Completed({{inboxCountsData.completedCnt}})"></mat-tab>
                <mat-tab fxFlex="25" label="Worksheet({{inboxCountsData.draftCnt}})"></mat-tab>
            </mat-tab-group>
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="filteredDataList"
                      [columnDefs]="columns" [hidden]="false"></rbs-grid>
        </div>
    </div>
</div>

