<div fxLayout="column" fxFill>
  <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
    <div class="toolbarActions-template" id="toolBarDivid">
      <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
               (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Partner/List']"
               [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
    </div>
  </form>
  <div fxLayout="row" class="mainContentHeader">
    <div fxFlex fxLayoutAlign="start center">
      <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
    </div>
  </div>

  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="column" class="rbsSectionForHeaders">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            BASIC INFO
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
            <rb-autocomplete fxFlex="32" [optionsData]="partnerTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerType" placeholder="Partner Type" class="fx-selectBox"></rb-autocomplete>

            <!--<rb-autocomplete required [optionsData]="partnerTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionsKey="code" optionsValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerType" placeholder="Partner Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>-->
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.partnerType" class="error"></rb-error-messages>
          </div>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
            <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="partnerId" required placeholder="Partner ID" class="errorMsgsParentPosition" maxlength="10" [readonly]="editMode" [ngClass]="{'editmode':editMode}">
            </rb-input>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.partnerId" class="error"></rb-error-messages>
          </div>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="partnerDesc" required placeholder="Partner Description" class="errorMsgsParentPosition" maxlength="240">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.partnerDesc" class="error"></rb-error-messages>
          </rb-input>

        </div>

        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <rb-autocomplete fxFlex="32" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.principleCountryId" placeholder="Principle Country ID" class="fx-selectBox"></rb-autocomplete>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.importCountryId" placeholder="Import Country ID" class="fx-selectBox"></rb-autocomplete>
          </div>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="mfgId" placeholder="MFG ID" class="errorMsgsParentPosition" maxlength="18">
          </rb-input>
        </div>

      </div>
      <div fxLayout="column" class="rbsSectionForHeaders">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            CONTACT DETAILS
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="contactName" required placeholder="Contact Name" class="errorMsgsParentPosition" maxlength="120">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactName" class="error"></rb-error-messages>
          </rb-input>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="contactPhone" required placeholder="Contact Phone" class="errorMsgsParentPosition" maxlength="20">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactPhone" class="error"></rb-error-messages>
          </rb-input>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="contactFax" placeholder="Contact Fax" class="errorMsgsParentPosition" maxlength="20">
          </rb-input>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="contactTelex" placeholder="Contact Telex" class="errorMsgsParentPosition" maxlength="20">
          </rb-input>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactEmail" required placeholder="Contact Email" maxlength="100" class="errorMsgsParentPosition">
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.contactEmail" class="error"></rb-error-messages>
          </rb-input>
        </div>
      </div>

      <div fxLayout="column" class="rbsSectionForHeaders">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Credit information
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="lineOfCredit" placeholder="Line Of Credit" min="4" numberOfDecimals="3" [allowDecimals]="true" maxlength="20" [disabled]="true">
          </rb-numeric>
          <div fxFlex="2"></div>
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outstandCredit" placeholder="Outst And Credit" min="4" numberOfDecimals="3" [allowDecimals]="true" maxlength="20" [disabled]="true">
          </rb-numeric>
          <div fxFlex="2"></div>
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="openCredit" placeholder="Open Credit" min="4" numberOfDecimals="3" [allowDecimals]="true" maxlength="20" [disabled]="true">
          </rb-numeric>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ytdCredit" placeholder="Ytd Credit" min="4" numberOfDecimals="3" [allowDecimals]="true" maxlength="20" [disabled]="true">
          </rb-numeric>
          <div fxFlex="2"></div>
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ytdDrawdowns" placeholder="Ytd Drawdowns" min="4" numberOfDecimals="3" [allowDecimals]="true" maxlength="20" [disabled]="true">
          </rb-numeric>
        </div>
      </div>

      <div fxLayout="column" class="rbsSectionForHeaders">
        <div fxLayout="row" class="rbsSubHeaders">
          <div fxFlex fxLayoutAlign="start center">
            Invoice information
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
            <rb-autocomplete required [optionsData]="termsData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="termsID" optionValue="termsDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.terms" placeholder="Terms" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.terms" class="error"></rb-error-messages>
          </div>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="taxId" placeholder="Tax ID" class="errorMsgsParentPosition" maxlength="18">
          </rb-input>

          <div fxFlex="2"></div>
          <!--<rb-input fxFlex="32" fxFlex.xs="100" [formGroup]="serviceDocument.dataProfile.profileForm" [upperCase]="true" controlName="servicePerfReqInd" required placeholder="Service Perf Req Ind" class="errorMsgsParentPosition" maxlength="1">
    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.servicePerfReqInd" class="error"></rb-error-messages>
  </rb-input>-->
          <p fxFlex="32" class="noMargin" fxFlex.xs="100">
            <span class="radiobtns">Service Perf Req Ind</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="servicePerfReqInd" placeholder="Service Perf Req Ind"
                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required="true" [disabled]="editMode"></rb-radio-group>
          </p>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <!--<div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
    <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                     optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.invcPayLoc" placeholder="Invoice Pay Location" class="fx-selectBox"></rb-autocomplete>
  </div>-->
          <p fxFlex="32" class="noMargin" fxFlex.xs="100">
            <span class="radiobtns">Invoice Receive Location</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="invcPayLoc" placeholder="Invoice Pay Location"
                            [optionsData]="invcPayLocData" optionsKey="code" optionsValue="codeDesc" required="true" [disabled]="editMode"></rb-radio-group>
          </p>
          <div fxFlex="2"></div>
          <!--<div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
    <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                     optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.invcReceiveLoc" placeholder="Invoice Receive Location" class="fx-selectBox"></rb-autocomplete>

  </div>-->
          <p fxFlex="32" class="noMargin" fxFlex.xs="100">
            <span class="radiobtns">Invoice Receive Location</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="invcReceiveLoc" placeholder="Invoice Receive Location"
                            [optionsData]="invcPayLocData" optionsKey="code" optionsValue="codeDesc" required="true" [disabled]="editMode"></rb-radio-group>
          </p>

          <div fxFlex="2"></div>
          <p fxFlex="32" class="noMargin" fxFlex.xs="100">
            <span class="radiobtns">Primary Indicator</span>
            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="primaryIaInd" placeholder="primaryIaInd"
                            [optionsData]="indicatorData" optionsKey="code" optionsValue="codeDesc" required="true" [disabled]="editMode"></rb-radio-group>
          </p>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">
          <rb-numeric fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="tsfEntityId" placeholder="TSF Entity Id" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="10" [disabled]="true">
          </rb-numeric>
          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="32" fxLayout.xs="column">
            <rb-autocomplete [optionsData]="vatRegionCodesData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="vatRegionCode" optionValue="vatRegionName" [formControl]="serviceDocument.dataProfile.profileForm.controls.vatRegion" placeholder="VAT Region" class="fx-selectBox"></rb-autocomplete>
          </div>
          <div fxFlex="2"></div>
          <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="commentDesc" placeholder="Comment Description" maxlength="2000" upperCase="true" class="errorMsgsParentPosition">
          </rb-input>

        </div>

        <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding" fxLayout.sm="column">

          <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
            <rb-autocomplete [optionsData]="languageData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.lang" placeholder="Language" class="fx-selectBox"></rb-autocomplete>
          </div>

          <div fxFlex="2"></div>
          <div fxLayout="column" fxFlex="32" class="errorMsgsParentPosition">
            <rb-autocomplete [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                             optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>
            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
          </div>
          <!--<div fxFlex="2"></div>
          <p fxFlex="32" class="noMargin" fxFlex.xs="100">
              <span class="radiobtns">Status</span>
              <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="status" placeholder="Status"
                              [optionsData]="domainDtlData" optionsKey="domainDetailId" optionsValue="domainDetailDesc" required="true" [disabled]="!editMode"></rb-radio-group>
          </p>-->
        </div>
      </div>
    </form>
  </div>
</div>
