<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column">               
                    <rb-autocomplete fxFlex="49" [optionsData]="partnerTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.partnerType" placeholder="Partner Type" class="fx-selectBox"></rb-autocomplete>
               
                <span fxFlex="2"></span>
                    <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="partnerId" placeholder="Partner Id" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="10">
                    </rb-numeric>
                <!--<span fxFlex="2"></span>
                <rb-autocomplete fxFlex="32"   [optionsData]="domainDtlData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.status" placeholder="Status" class="fx-selectBox"></rb-autocomplete>-->
            </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>
