<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row"  fxLayout.xs="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outLocId" required placeholder="Id" maxlength="5" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocId" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete required [optionsData]="locTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl optionKey="code" optionValue="codeDesc"
                           [formControl]="serviceDocument.dataProfile.profileForm.controls.outLocType" placeholder="Type" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocType" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outLocDesc" required placeholder="Description" maxlength="150" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocDesc" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-autocomplete required [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.outLocCurrency" placeholder="Currency" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocCurrency" class="error"></rb-error-messages>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outLocAdd1" placeholder="Address1" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outLocAdd2" required placeholder="Address2" maxlength="240" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocAdd2" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="countryDomainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.outLocCountryId" placeholder="Country" required class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocCountryId" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="stateDomainData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="state" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.outLocState" placeholder="State" required class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.outLocState" class="error"></rb-error-messages>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outLocCity" placeholder="City" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="outLocPost" placeholder="Post" maxlength="30" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="regionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="region" optionValue="regionName" [formControl]="serviceDocument.dataProfile.profileForm.controls.outLocVatRegion" placeholder="Region" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
        </div>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactName" placeholder="Contact Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactPhone" placeholder="Contact Phone" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactFax" placeholder="Contact Fax" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactTelex" placeholder="Contact Telex" maxlength="20" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="contactEmail" placeholder="Contact Email" maxlength="100" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
</form>
  </div>
</div>
