<div fxLayout="column" fxFill>
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="column">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Supplier Details
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete fxFlex="49" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplier" placeholder="Supplier" class="fx-selectBox">
                    </rb-autocomplete>
                </div>
            </div>
            <div fxLayout="column">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Item Details
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-numeric fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemBarcode" placeholder="Item/ Barcode" maxlength="25"></rb-numeric>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDescription" placeholder="Item Description" maxlength="25"></rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <p fxFlex="49" class="noMargin">
                        <span class="radiobtns">Org Level</span>
                        <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orgLevel"
                                        [optionsData]="orgLevelData" optionsKey="domainDetailId" optionsValue="domainDetailDesc"
                                        (rbChange)="updateDependentControls($event)"></rb-radio-group>
                    </p>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="orgLevelValueData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLevelValue" placeholder="Org Level Value" class="fx-selectBox"></rb-autocomplete>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="merchLevelData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc"
                                         [formControl]="serviceDocument.dataProfile.profileForm.controls.merchLevel" placeholder="Merchandise Level"
                                         class="fx-selectBox" (rbChange)="getMerchLevelValueData($event)"></rb-autocomplete>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="merchLevelValueData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="id" optionValue="description" [formControl]="serviceDocument.dataProfile.profileForm.controls.merchLevelValue"
                                         placeholder="Merchandise Level Value" class="fx-selectBox"></rb-autocomplete>
                    </div>
                </div>
            </div>
            <div fxLayout="column">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        Deal Details
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="deaL_ID" placeholder="Deal ID" maxlength="25"></rb-input>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="dealTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dealTypeId" placeholder="Deal Type" class="fx-selectBox"></rb-autocomplete>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-input [formGroup]="serviceDocument.dataProfile.profileForm" controlName="dealDescription" placeholder="Deal Description" maxlength="25"></rb-input>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="dealStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dealStatusId" placeholder="Deal Status" class="fx-selectBox"></rb-autocomplete>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="dateTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="domainDetailId" optionValue="domainDetailDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.dateType" placeholder="Date Type" class="fx-selectBox"></rb-autocomplete>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fromDate" placeholder="From Date"
                                 class="errorMsgsParentPosition" [readonly]="true" [maxDate]="serviceDocument.dataProfile.profileForm.controls.toDate.value"></rb-date>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="toDate" placeholder="To Date"
                                 class="errorMsgsParentPosition" [readonly]="true" [minDate]="serviceDocument.dataProfile.profileForm.controls.fromDate.value"></rb-date>
                    </div>
                </div>
            </div>
        </div>
        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                          navigate="false" [additionalSearchParams]="additionalSearchParams"
                          restrictSearch="true" #searchPanelDeal (addEmitter)="addValidation()" (resetEvent)="reset($event)"></rbs-search-panel>
        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria" [totalRows]="this.serviceDocument.dataProfile.dataModel.totalRows"></rbs-grid>
        </div>
    </div>
</div>
