@import "../../assets/scss/_variables.scss";
.mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
   background-color: #e0dfdf !important;
}
.mat-tab-body-content {
  overflow: initial !important;
}
.Addrow, .interFacebtn {
  background-color: $orange;
  color: $white;
}
.rollBackbtn{
  background-color:$grey;
  color:$white;
}
