<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
      <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipVesselId" placeholder="Vessel ID" maxlength="20" class="errorMsgsParentPosition">
      </rb-input>
      <span fxFlex="1"></span>
      <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipVoyageFltId" placeholder="Voyage Fit ID" maxlength="10" class="errorMsgsParentPosition">
      </rb-input>
      <span fxFlex="1"></span>
      <rb-date fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipEstDeptDate" placeholder="Estimated Dept Date" [readonly]="true"></rb-date>
      <span fxFlex="1"></span>
      <rb-numeric fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipId" placeholder="Job #" min="0" maxlength="6"></rb-numeric>
    </div>

    <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
      <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
        <button name="reset" id="searchbarReset" mat-raised-button (click)="reset()" class="resetbtn">Reset</button>
        <button name="add" id="searchbarAdd" mat-raised-button (click)="add()" class="addbtn">Add</button>
        <button name="search" id="searchbarSearch" mat-raised-button (click)="search()" class="searchbtn">Search</button>
      </div>
    </div>
  </div>
</div>
