<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" [closeRedirectUrl]="['/ShipmentTracking/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent" fxFlex fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipVesselId" placeholder="Vessel ID" maxlength="250" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.shipVesselId" class="error"></rb-error-messages>
        </rb-input>
        <span fxFlex="1"></span>
        <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipVoyageFltId" placeholder="Voyage Fit ID" maxlength="250" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.shipVoyageFltId" class="error"></rb-error-messages>
        </rb-input>
        <span fxFlex="1"></span>
        <div fxLayout="column" fxFlex="19" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipEstDeptDate" [readonly]="true"
                   placeholder="Estimated Dept Date" required></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.shipEstDeptDate" class="error"></rb-error-messages>
        </div>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="shipmentTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipmentType" placeholder="Shipment Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="20" [optionsData]="statusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipStatus" placeholder="Status" class="fx-selectBox"></rb-autocomplete>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-autocomplete fxFlex="19" [optionsData]="overStatusData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipFinalStatus" placeholder="Over All Status" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="shipLineData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipLine" placeholder="Shipping Line" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [apiUrl]="apiUrlSupplier" minLength="2"
                         optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipSupplier" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="freighttypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="freightType" optionValue="freightTypeDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipFreightType" placeholder="Freight Type" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-input fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipAwbNo" placeholder="BL/AWB #" maxlength="30" class="errorMsgsParentPosition">
        </rb-input>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
        <rb-autocomplete fxFlex="19" [optionsData]="contentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipContents" placeholder="Shipment Contents" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipCountryOrigin" placeholder="Country of Origin" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="outlocData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="outlocId" optionValue="outlocDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipPortOfOrigin" placeholder="Port of Lading" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="19" [optionsData]="countryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="countryCode" optionValue="countryName" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipDestination" placeholder="Country of Discharge" class="fx-selectBox"></rb-autocomplete>
        <span fxFlex="1"></span>
        <rb-autocomplete fxFlex="20" [optionsData]="outlocData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                         optionKey="outlocId" optionValue="outlocDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipDestPort" placeholder="Port of Discharge" class="fx-selectBox"></rb-autocomplete>
      </div>
    </form>
    <div class="inbox-template padding-10 SupplierMainContent" fxFlex>
      <mat-tab-group class="inbox-tabs-header order-headers supplierSearchComponent" [(selectedIndex)]="selectedTab">
        <mat-tab label="Clearance" fxLayout="column">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipPolicyNo" placeholder="Policy #" maxlength="25" class="errorMsgsParentPosition">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDocRcptDate" placeholder="Doc Rcpt Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipOrigRcptDate" placeholder="Orig. Rcpt Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipAnDate" placeholder="AN Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDocRcptDate" placeholder="ETA Date" [readonly]="true"></rb-date>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipOrigRcptDate" placeholder="ATA Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="19" [optionsData]="munshiftData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipMunShiftNo" placeholder="Mun. Shift #" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="19" [optionsData]="brokerData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="partnerId" optionValue="partnerDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipBroker" placeholder="Broker" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipBrokerDate" placeholder="Broker Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipClearanceDate" placeholder="Clear Date" [readonly]="true"></rb-date>
            
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-autocomplete fxFlex="19" [optionsData]="delayrsnData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipDelayReason" placeholder="Delay Reason" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipBayanDate" placeholder="Bayan Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipBayanNo" placeholder="Bayan No" maxlength="25" class="errorMsgsParentPosition">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipHeldDate" placeholder="Held Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="20" [optionsData]="heldrsnData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipHeldReason" placeholder="Held Reason" class="fx-selectBox"></rb-autocomplete>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-autocomplete fxFlex="19" [optionsData]="ifrajtypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.ifrajType" placeholder="Ifraj Type" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="1"></span>
            <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="bladiyaFileNo" placeholder="Bladiya File #" maxlength="25" class="errorMsgsParentPosition">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ifrajReqDate" placeholder="Req Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="ifrajReceiptDate" placeholder="Rcpt Date" [readonly]="true"></rb-date>
          </div>
        </mat-tab>

        <mat-tab label="Financials" fxLayout="column">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipInvoiceNo" placeholder="Invoice #" maxlength="25" class="errorMsgsParentPosition">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-date fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipInvoiceDate" placeholder="Date" [readonly]="true"></rb-date>
            <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="19" [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipInvoiceCurr" placeholder="Currency" class="fx-selectBox"></rb-autocomplete>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipInvoiceAmt" placeholder="Invoice Amt" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="20" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipTranspAmt" placeholder="Transportation" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipDemurageAmt" placeholder="Demurage Amt" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipCustomsDuty" placeholder="Customs Duty" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipInsuranceAmt" placeholder="Insurance" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-input fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="shipDemurageReason" placeholder="Demurage Reason" maxlength="250" class="errorMsgsParentPosition">
            </rb-input>
            <span fxFlex="1"></span>
            <rb-autocomplete fxFlex="20" [optionsData]="vatcodeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                             optionKey="vatCode" optionValue="vatCode" [formControl]="serviceDocument.dataProfile.profileForm.controls.shipVatPer" placeholder="Vat %" class="fx-selectBox"></rb-autocomplete>
          </div>

          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="errorMsgsParentPosition">
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipFreightCharge" placeholder="Freight Charge" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipClearanceAmt" placeholder="Clearance" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipFinishingExp" placeholder="Finishing Exp." min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
            <span fxFlex="1"></span>
            <rb-numeric fxFlex="19" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="shipVatAmt" placeholder="Vat Amount" min="0" numberOfDecimals="3" [allowDecimals]="true" maxlength="15">
            </rb-numeric>
          </div>
        </mat-tab>

        <mat-tab label="Container" fxLayout="column">
          <div fxFlex="initial" fxLayoutAlign="end center" class="m-top-10">
            <button mat-raised-button (click)="addContainer($event)" class="Addrow">{{addText}}</button>
          </div>
          <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptionsContainer" [rowData]="dataContainer"
                    [columnDefs]="columnContainer"></rbs-grid>
        </mat-tab>

        <mat-tab label="Events" fxLayout="column">
          <div fxFlex="initial" fxLayoutAlign="end center" class="m-top-10">
            <button mat-raised-button (click)="addEvent($event)" class="Addrow">{{addText}}</button>
          </div>
          <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptionsEvent" [rowData]="dataEvent"
                    [columnDefs]="columnEvent"></rbs-grid>
        </mat-tab>

        <mat-tab label="Documents" fxLayout="column">
          <div fxFlex="initial" fxLayoutAlign="end center" class="m-top-10">
            <button mat-raised-button (click)="addDoc($event)" class="Addrow">{{addText}}</button>
          </div>
          <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptionsDoc" [rowData]="dataDocument"
                    [columnDefs]="columnDocument"></rbs-grid>
        </mat-tab>

        <mat-tab label="Orders" fxLayout="column">
          <div fxFlex="initial" fxLayoutAlign="end center" class="m-top-10">
            <button mat-raised-button (click)="addOrder($event)" class="Addrow">{{addText}}</button>
          </div>
          <rbs-grid [componentParentName]="componentParentName" [gridOptions]="gridOptionsOrder" [rowData]="dataOrder"
                    [columnDefs]="columnOrder"></rbs-grid>
        </mat-tab>

        <mat-tab label="Interface" fxLayout="column" *ngIf="editMode">
          <div fxFlex="initial" fxLayoutAlign="end center" class="m-top-10">
            <button mat-raised-button (click)="interfacetoTrans()" class="interFacebtn">Interface to Transportation</button>
            <span fxFlex="1"></span>
            <button mat-raised-button (click)="rollbackTrans()" class="rollBackbtn">Rollback from Transportation</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
