<div fxLayout="column" fxFill>
  <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxLayout="column" fxFlex="initial">
    <div class="toolbarActions-template" id="toolBarDivid">

      <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="save(false)" (firstRecord)="bind()"
               (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/Group/List']"></toolBar>

        </div>
    </form>
    <div fxLayout="row" class="mainContentHeader" fxFlex="initial">
        <div fxFlex fxLayoutAlign="start center">
            <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
        </div>      

    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex>
            <div fxLayout="column" class="rbsSectionForHeaders">
                <div fxLayout="row" class="rbsSubHeaders">
                    <div fxFlex fxLayoutAlign="start center">
                        General information
                    </div>
                </div>
                <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                        <rb-autocomplete required [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="division" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.division" placeholder="Division" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.division" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxLayout="column" fxFlex="32" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" required controlName="groupNo" placeholder="Department No" min="0" maxlength="4" [readonly]="editMode" [ngClass]="{'editmode':editMode}"></rb-numeric>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupNo" class="error"></rb-error-messages>
                    </div>
                    <div fxFlex="2"></div>
                    <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="groupName" required placeholder="Name" maxlength="120" upperCase="true" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.groupName" class="error"></rb-error-messages>
                    </rb-input>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete fxFlex="49" [optionsData]="buyerData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="buyer" optionValue="buyerName" [formControl]="serviceDocument.dataProfile.profileForm.controls.buyer"
                                     placeholder="Buyer" class="fx-selectBox"></rb-autocomplete>
                    <span fxFlex="2"></span>
                    <rb-autocomplete fxFlex="49" [optionsData]="merchData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="merch" optionValue="merchName" [formControl]="serviceDocument.dataProfile.profileForm.controls.merch"
                                     placeholder="Merchant" class="fx-selectBox"></rb-autocomplete>
                </div>
            </div>
        </form>
    </div>
</div>
