<div fxLayout="column" fxFill>
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="pageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div *ngIf="showSearchCriteria===true">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="rmsName" placeholder="Rms Name" maxlength="30"  min="0" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="clientName" placeholder="Client Name" maxlength="40"  class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="40" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="abbrName" placeholder="Abbreviation Name" maxlength="40"  class="errorMsgsParentPosition">
        </rb-input>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"
                      navigate="false" (addEmitter)="addValidation($event)"  #searchPanelPromotion></rbs-search-panel>
    <div *ngIf="showSearchCriteria===false">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
