<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)"  (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Promotion/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
    </div>
  </div>

  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <div fxLayout="column" class="rbsSectionForHeaders m-top-20">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="rmsName" placeholder="Rms Name" maxlength="30" upperCase="true"  required [disabled]="editMode" min="0" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.rmsName" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="39" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="clientName" placeholder="Client Name" maxlength="40" upperCase="true"  class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="40" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="abbrName" placeholder="Abbreviation Name" maxlength="40" upperCase="true"  class="errorMsgsParentPosition">
        </rb-input> 
      </div>   
    </div>
  </div>
</div>
