<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
      <div fxFlex="initial" fxLayoutAlign="end center" *ngIf="editMode">
        <div class="listitem">
          <a href="#" (click)="openCurrency($event)">Currency</a>
        </div>
      </div>
    </div>

  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="49" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="currencyData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required [disabled]="editMode"
                           optionKey="currencyCode" optionValue="currencyDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.currencyCode" placeholder="Currency Code" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.currencyCode" class="error"></rb-error-messages>
        </div>        
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-date [formGroup]="serviceDocument.dataProfile.profileForm" controlName="effectiveDate" placeholder="Effective Date" [disabled]="editMode"
                   required class="errorMsgsParentPosition" [readonly]="true" ></rb-date>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.effectiveDate" class="error"></rb-error-messages>
        </div>
      </div>
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="49" class="errorMsgsParentPosition">
          <rb-autocomplete [optionsData]="currencyExchTypeData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                           optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.exchangeType" placeholder="Exchange Type" [disabled]="editMode" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.exchangeType" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition">
          <rb-numeric [formGroup]="serviceDocument.dataProfile.profileForm" controlName="exchangeRate" placeholder="Exchange Rate" min="0" maxlength="20" required ></rb-numeric>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.exchangeRate" class="error"></rb-error-messages>
        </div>
      </div>
    </form>
  </div>
</div>
