<div fxLayout="column" fxFill>
    <div fxFlex="initial" fxLayout="column">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div class="toolbarActions-template" id="toolBarDivid">
                <toolBar (save)="save(true)" (reset)="reset()" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                         (previousRecord)="bind()" (nextRecord)="bind()" [formGroup]="serviceDocument.dataProfile.profileForm" (lastRecord)="bind()" [closeRedirectUrl]="['/UOM/List']"></toolBar>
            </div>
        </form>
        <div fxLayout="row" class="mainContentHeader">
            <div fxFlex fxLayoutAlign="start center">
                <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
            </div>         
        </div>
    </div>
    <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxlayout="column">

            <div fxLayout="row" fxLayout.xs="column" class="rbsinputsPadding">
                <div fxLayout="column" fxFlex="49" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
                    <rb-autocomplete required [optionsData]="uomClassData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                     optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.uomClass" placeholder="UOM Class" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.uomClass" class="error"></rb-error-messages>
                </div>
                <span fxFlex="2"></span>
                <rb-input fxFlex="49" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uom" placeholder="UOM" required [readonly]="editMode" maxlength="4" class="errorMsgsParentPosition" [ngClass]="{'editmode':editMode}">
                    <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.uom" class="error"></rb-error-messages>
                </rb-input>
            </div>
            <div fxLayout="row" fxLayout.xs="row" class="rbsinputsPadding">
                <div fxLayout="column" fxFlex fxLayout.xs="column">
                    <rb-input fxFlex [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uomDesc" required placeholder="Description" maxlength="250" class="errorMsgsParentPosition">
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.uomDesc" class="error"></rb-error-messages>
                    </rb-input>
                </div>
            </div>
        </form>
    </div>
</div>
