﻿<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
    <div fxFlex="initial">
        <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
            <div fxLayout="row" class="mainContentHeader">
                <div fxFlex fxLayoutAlign="start center">
                    <page-title [PageTitle]="PageTitle"></page-title>
                </div>
            </div>
        </form>
    </div>
    <div class="ComponentLevelMainContent" fxFlex>
        <div [hidden]="!showSearchCriteria">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                <rb-autocomplete fxFlex="32" [optionsData]="uomClassData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                 optionKey="code" optionValue="codeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.uomClass" placeholder="UOM Class" class="fx-selectBox"></rb-autocomplete>
                <span fxFlex="2"></span>
                <rb-input fxFlex="32" [formGroup]="serviceDocument.dataProfile.profileForm" upperCase="true" controlName="uom" placeholder="UOM" maxlength="4"></rb-input>
                <span fxFlex="2"></span>
                <rb-input fxFlex="33" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="uomDesc" upperCase="true" placeholder="Description" maxlength="120"></rb-input>
            </div>
        </div>

        <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                          [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>

        <div [hidden]="showSearchCriteria">
            <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList"
                      [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
        </div>
    </div>
</div>