<div fxLayout="column" class="workflow-inbox-tabs" fxFill>
        <div fxFlex="initial">
            <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history">
                <div fxFlex>
                    <p class="workflow-dailog-title m-left-10">Record Details</p>
                </div>
                <div fxFlex="initial" class="toolbarActions-template">
                    <button mat-button class="headerToolbaricon" (click)="close()">
                        <span class="closeIcon closeImage"></span>
                        <p>CLOSE</p>
                    </button>
                </div>
            </div>
        </div>
        <div fxFlex  fxLayout="column" class="padding-left-10 padding-right-10 m-top20 dialogInputs">
            <form novalidate [formGroup]="infoGroup">
                <div fxLayout="row">
                    <rb-input fxFlex [formGroup]="infoGroup" controlName="tableName" placeholder="Table Name" readonly="true"></rb-input>
                </div>
                <div fxLayout="row">
                    <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="createdBy" placeholder="Created By" readonly="true"></rb-input>
                    <span fxFlex="2"></span>
                    <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="createdDate" placeholder="Created Date" readonly="true"></rb-input>
                </div>
                <div fxLayout="row">
                    <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="modifiedBy" placeholder="Updated By" readonly="true"></rb-input>
                    <span fxFlex="2"></span>
                    <rb-input fxFlex="49" [formGroup]="infoGroup" controlName="modifiedDate" placeholder="Updated Date" readonly="true"></rb-input>
                </div>
                
            </form>
        </div>
        
    </div>
    
