@import "../../assets/scss/_variables.scss";
.itemMaster-main-content {
      .panelForOrganzationItem {
          .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
            background: rgba(0,0,0,.04);
          }

          .mat-expansion-panel-header.mat-expanded {
            height: 40px !important;
            line-height: 40px;
          }

          .mat-expansion-panel-header {
            background: rgba(0,0,0,.04);
            padding: 0 17px;
          }

          .mat-expansion-panel-header-title {
            font-size: $font-16;
            text-transform: uppercase;
            font-weight: $bold;
          }

          .mat-expansion-panel-body {
            overflow: inherit !important;
            margin: 0 1em 0px;
            padding: 0 !important;
          }

          .mat-expansion-panel-content {
            font: inherit !important;
          }

          .mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: none;
            border: 2px dotted #eee;
            border-radius: 5px;
          }

          .permission-styles-for-item {
            margin-bottom: 12px;
          }
      }
}
.find-item-cosst-price-management .footer-actions-buttons {
  margin: 11px 25px 0 0;
}
.footer-actions-buttons a {
  text-decoration: underline;
  color: #008457;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 22px;
}
.footer-actions-buttons .searchbtn {
  padding: 2px 35px;
  background: #f05e00;
  color: #fff;
}
.footer-actions-buttons .fliter-search-item {
  font-weight: 600;
  margin: 10px 0 0 20px;
}
.footer-actions-buttons .resetbtn {
  padding: 2px 40px;
  background: #a4a4a4;
  color: #fff;
  margin-right: 20px;
}
.toolbarActions-template {
      background-color: #2b3d4b;
      padding: 0px 11px;

      .headerToolbaricon {
        padding: 5px !important;
        min-width: 80px !important;

          .closeIcon {
              background: url('../../assets/images/Untitled-1.svg') no-repeat;
              display: inline-block;
          }

          .closeImage {
                background-position: -79px 0;
                width: 23px;
                height: 23px;
          }

          p {
            font-size: 12px;
            margin: 0;
            line-height: 1.5;
          }
      }
}

