﻿<div fxLayout="column" class="find-item-cosst-price-management" fxFill>
    <div fxFlex="initial">
        <div mat-dialog-title fxLayout="row" class="recordDetailsDialog inbox-workflow-history padding-0">
            <div fxFlex>
                <p class="workflow-dailog-title">FIND ITEMS</p>
            </div>
            <div fxFlex="initial" class="toolbarActions-template">
                <button mat-button class="headerToolbaricon" (click)="close()">
                    <span class="closeIcon closeImage"></span>
                    <p>CLOSE</p>
                </button>
            </div>
        </div>
    </div>
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" class="itemMaster-main-content">
        <mat-expansion-panel fxLayout="column" [expanded]="true" class="panelForOrganzationItem">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    FILTER
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" class="mainwrap">
                <div fxLayout="row" class="ComponentLevelMainContent" fxLayout.xs="column" fxLayout.sm="column" style="padding:0;">
                    <div *ngIf="screenName!=='ORD' && screenName!=='ITM'" fxFlex="76">
                        <p class="noMargin radiobtnForMargin" fxFlex="65">
                            <span class="radiobtns">Org Level</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="orgLvl" placeholder="Org Level" [optionsData]="changelevelData"
                                            [disabled]="screenName=='ORD'" optionsKey="domainDetailId" optionsValue="domainDetailDesc" (rbChange)="updateDependentControls($event)"></rb-radio-group>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLvl" class="error"></rb-error-messages>
                        </p>
                        <span fxFlex="1"></span>
                        <div fxLayout="column" fxFlex="31" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="zoneVisible">
                            <rb-autocomplete [optionsData]="orgLevelValueData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="id" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLvlVal" placeholder="Org Level Value" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLvlVal" class="error"></rb-error-messages>
                        </div>

                        <div fxLayout="column" fxFlex="31" fxLayout.xs="column" class="errorMsgsParentPosition" *ngIf="!zoneVisible">
                            <rb-autocomplete [optionsData]="locationList" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl required
                                             optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLvlVal" placeholder="Org Level Value" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLvlVal" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <div *ngIf="screenName=='ORD' || screenName=='ITM'" fxFlex="76">
                        <p class="noMargin radiobtnForMargin" fxFlex="65">
                            <span class="radiobtns">Location Type</span>
                            <rb-radio-group [formGroup]="serviceDocument.dataProfile.profileForm" controlName="locType" placeholder="Location Type" [optionsData]="locTypeData"
                                            [disabled]="loctype" optionsKey="domainDetailId" optionsValue="domainDetailDesc" (rbChange)="locTypeChanged()"></rb-radio-group>
                        </p>
                        <div fxFlex="1"></div>
                        <div fxLayout="column" fxFlex="31" fxLayout.xs="column" class="errorMsgsParentPosition">
                            <rb-autocomplete [optionsData]="locationData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="locationDisable" [required]="screenName=='ORD'"
                                             optionKey="locationId" optionValue="locationDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.orgLvlVal" placeholder="Location" class="fx-selectBox"></rb-autocomplete>
                            <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.orgLvlVal" class="error"></rb-error-messages>
                        </div>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="row" fxFlex="22" fxLayoutAlign="end center" class="footer-actions-buttons" style="margin-right:0;">
                        <a (click)="clearFilter()" style="margin-right:10px;font-weight:bold; font-size:14px; margin-top:22px;">Clear Filter</a>
                        <button class="searchbtn" mat-button (click)="applyFilter()">Apply Filter</button>
                    </div>
                </div>
            </div>
            <div *ngIf="dataList.length == 0" fxLayout="column" class="mainwrap finditem-autocomplte">
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <rb-autocomplete fxFlex="24" [optionsData]="supplierData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="supplierDisable"
                                     optionKey="supplier" optionValue="supNameDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.supplierId" placeholder="Supplier" class="fx-selectBox"></rb-autocomplete>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemBarcode" placeholder="Item/Barcode" maxlength="25"></rb-input>
                    <span fxFlex="1"></span>
                    <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="itemDesc" placeholder="Item Description"></rb-input>
                    <span fxFlex="1"></span>
                    <rb-autocomplete fxFlex="24" [optionsData]="itemListData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl *ngIf="screenName!=='ITM'"
                                     optionKey="listId" optionValue="listDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.itemList" placeholder="Item List" class="fx-selectBox"></rb-autocomplete>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="brandData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="brandId" optionValue="brandName" [formControl]="serviceDocument.dataProfile.profileForm.controls.brandId" placeholder="Brand" class="fx-selectBox">
                        </rb-autocomplete>
                    </div>

                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="divisionData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="divisionId" optionValue="divisionDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.divisionId" placeholder="Division" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.divisionId" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="departmentData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl [disabled]="deptDisable"
                                         optionKey="deptId" optionValue="deptDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.deptId" placeholder="Department" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.deptId" class="error"></rb-error-messages>
                    </div>
                    <span fxFlex="1"></span>
                    <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition">
                        <rb-autocomplete [optionsData]="categoryData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                                         optionKey="categoryId" optionValue="categoryDescription" [formControl]="serviceDocument.dataProfile.profileForm.controls.categoryId" placeholder="Category" class="fx-selectBox"></rb-autocomplete>
                        <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.categoryId" class="error"></rb-error-messages>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <div fxLayout="column">
            <div fxLayout="row" class="footer-actions-buttons m-top-10">
                <div fxLayoutAlign="start-center" fxFlex="initial"><span class="fliter-search-item"> SEARCH RESULT({{dataList.length}})</span></div>
                <span fxFlex="2"></span>
                <div fxFlex fxLayoutAlign="end center" style="font-size:12px;">SELECTED({{storedItemList.length}})</div>
                <span fxFlex="2"></span>
                <div fxFlex="initial">
                    <button class="resetbtn" mat-button (click)="moveSelectedClose()" [disabled]="false">Move Selected & Close</button>
                    <span fxFlex="2"></span>
                    <button class="searchbtn" mat-button (click)="moveSelectedContinue()">Move Selected & Continue</button>
                </div>
            </div>
            <div fxLayout="column" style="padding:0px 10px;">
                <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="dataList"
                          [columnDefs]="columns" [showGrid]="showGrid"></rbs-grid>
            </div>
        </div>
    </form>
</div>