@import "../../assets/scss/_variables.scss";
.searchResults{
    .helpIconFor {
        flex-direction: row;
        margin-top: 25px;
        margin-right: 8px;
        color: $green;
        cursor: pointer;

        .spans {
            vertical-align: middle;
            background-position: -1011px -24px;
            width: 16px;
            height: 14px;
            display: inline-block;
            margin-right: 5px;
        }
    }
}
/******add Search criteria styles starts*******/
.addSearch-criteria {
        border: 1px solid $textboxborder;
        border-radius: 6px;

        p {
          margin: 0;
          position: relative;
          top: -13px;
          left: 9px;
          font-size: $font-12;
          display: inline-block;
          background: $white;
          padding: 0px 3px;
          color: $orange;
        }

        .chipsForGrid {
          margin-bottom: 15px;
          padding: 0px 10px;

            mat-chip.mat-chip:not(.mat-basic-chip) {
              padding: 8px 8px 8px 16px;
              border-radius: 6px;
              margin-left: 8px;
            }

            .addsearchCriteria {
              color: $white;
            }

            .addseachbtn {
              line-height: 20px;
              padding: 8px;
              background-color: $orange;
            }

            a {
              text-decoration: none;
              color: $white;
              margin-left: 6px;
            }

            .materialchipicon {
              display: inline-block;
              background-position: -1121px -26px;
              width: 12px;
              height: 12px;
              margin-top: 4px;
            }

            .addCrieria {
              left: -12px;
            }
        }
}
