<div *ngIf="showSearchCriteria===true">
    <div fxLayout="row" class="footer-actions-buttons" fxLayout.xs="center center">
        <div fxFlex fxLayoutAlign="end center" fxLayout.xs="center center" class="item-footer-btns">
            <button name="reset" id="searchbarReset" mat-raised-button (click)="reset()" class="resetbtn">Reset</button>
            <button name="add" id="searchbarAdd" mat-raised-button (click)="add($event)" [disabled]="!showAdd" class="addbtn">Add</button>
            <button name="search" id="searchbarSearch" mat-raised-button (click)="search()" class="searchbtn">Search</button>
        </div>
    </div>

</div>
<div *ngIf="showSearchCriteria===false">
    <div class="searchResults">
        <a class="helpIconFor" fxFlex="initial" (click)="back($event)">
            <span class="spans retailsNavIcons"></span><span class="">Back</span>
        </a>
        <div fxFlex class="addSearch-criteria">
            <p>Search Criteria</p>
            <div class="chipsForGrid" fxLayout="row">
                <mat-chip-list fxFlex>
                    <div *ngFor="let item of arChipsDataSearch; let i = index">
                        <mat-chip *ngIf="item.value && i < sIndex">
                            {{item.value}} <a href="#" (click)="delete($event,item.key)">
                                <span class="retailsNavIcons materialchipicon"></span>
                            </a>
                        </mat-chip>
                    </div>
                    <mat-chip *ngIf="sIndex === 5"><a href="#" (click)="more($event)"> + more..</a></mat-chip>
                </mat-chip-list>
                <span fxFlex="2"></span>
                <div fxFlex="initial" fxLayoutAlign="center center" fxLayout="row" class="addsearchCriteria"><button mat-button (click)="addSearch($event)" class="addseachbtn"> + Add Criteria</button></div>
            </div>
        </div>
    </div>
</div>
