@import "../../assets/scss/variables.scss";
.left-bar {
  box-shadow: 0 0 7px #939393;
  -webkit-box-shadow: 0 0 7px #939393;
  -moz-box-shadow: 0 0 7px #939393;
  width: 250px;
  max-width: 250px;
  position: relative;
  z-index: 1;
  background-color: #cfd8dc;
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: lightgray;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    height: 90%;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li.menu-item {
      a {
        display: block;
        font-size: $font-15;
        text-transform: capitalize;
        color: $black;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: -0.5px;
        padding: 15px 6px;
        font-family: 'Segoe UI';
        border-left: 3px solid transparent;
        position: relative;

        .retailsNavIcons {
          /*background: url('../../images/rbsicons.svg') no-repeat;*/
          vertical-align: middle;
          display: inline-block;
        }

        .retailNavigationIcons {
          /*background: url('../../images/rbspngsprite.svg') no-repeat !important;*/
        }

        .collapse-icon {
          background-position: -1155px -30px;
          width: 16px;
          height: 9px;
          display: block;
          position: absolute;
          right: 13px;
          top: 22px;
        }

        .mdmIcon {
          background-position: -131px -26px;
          width: 16px;
          height: 16px;
        }

        .recentIcon {
          background-position: -38px -30px;
          width: 16px;
          height: 10px;
        }

        .favouriteIcon {
          background-position: -9px -25px;
          width: 16px;
          height: 16px;
        }

        .Scheduler {
          background-position: -1471px -260px;
          width: 16px;
          height: 16px;
        }

        .informationIcon {
          background-position: -2068px -23px;
          width: 16px;
          height: 16px;
        }

        .itemMasterManagementIcon {
          background-position: -399px -26px;
          width: 16px;
          height: 16px;
          margin-top: -6px;
        }

        .inboxIcon {
          background-position: -94px -28px;
          width: 16px;
          height: 11px;
          margin-top: -5px;
        }

        .securityIcon {
          background-position: -452px -27px;
          width: 16px;
          height: 16px;
        }

        .dashboardIcon {
          margin-top: -3px;
          background-position: -63px -53px;
          width: 16px;
          height: 16px;
        }

        .utilitiesIcon {
          background-position: -482px -25px;
          width: 16px;
          height: 16px;
        }

        .notificationsIcon {
          background-position: -482px -25px;
          width: 16px;
          height: 16px;
        }

        .reportsIcon {
          background-position: -514px -24px;
          width: 16px;
          height: 16px;
          margin-top: -5px;
        }

        .logisticsIcon {
          background-position: -570px -23px;
          width: 16px;
          height: 16px;
        }

        .orderManagement {
          background-position: -546px -26px;
          width: 16px;
          height: 14px;
        }

        .supplychainIcon {
          background-position: -593px -23px;
          width: 16px;
          height: 16px;
        }

        .supplierAddressIcon {
          background-position: -425px -28px;
          width: 16px;
          height: 15px;
        }

        .costManagement {
          background-position: -1682px -259px;
          width: 16px;
          height: 16px;
        }


        .priceManagement {
          background-position: -1631px -259px;
          width: 16px;
          height: 16px;
        }

        .dealManagement {
          background-position: -1631px -259px;
          width: 16px;
          height: 16px;
        }

        .promotionManagement {
          background-position: -1576px -258px;
          width: 16px;
          height: 16px;
          margin-top: -5px;
        }

        .inventoryManagmentIcon {
          background-position: -60px -384px;
          width: 19px;
          height: 16px;
        }

        .invoiceMatchingDoc {
          background-position: -117px -384px;
          width: 13px;
          height: 16px;
        }

        .Finacnces {
          background-position: -140px -384px;
          width: 16px;
          height: 16px;
        }

        .DsdOrderMainIocn {
          background-position: -233px -384px;
          width: 19px;
          height: 16px;
          margin-top: -5px;
        }

        &.active {
          border-left: 3px solid $orange;
          color: $black;
          cursor: pointer;
          font-weight: 700;
          background: #bac2c6 !important;

          .collapse-icon {
            display: block;
            position: absolute;
            right: 18px;
            top: 24px;
            background-position: -1177px -35px;
            width: 10px;
            height: 5px;
          }
        }

        &:hover {
          border-left: 3px solid $orange;
          color: $white;
          cursor: pointer;
          background: $blackShad;

          .mdmIcon {
            background-position: -131px -202px;
            width: 16px;
            height: 16px;
          }

          .recentIcon {
            background-position: -38px -206px;
            width: 16px;
            height: 10px;
          }

          .favouriteIcon {
            background-position: -9px -76px;
            width: 16px;
            height: 16px;
          }

          .DsdOrderMainIocn {
            background-position: -233px -358px;
            width: 19px;
            height: 16px;
            margin-top: -5px;
          }

          .itemMasterManagementIcon {
            background-position: -399px -202px;
            width: 16px;
            height: 16px;
            margin-top: -6px;
          }

          .inboxIcon {
            background-position: -94px -204px;
            width: 16px;
            height: 11px;
          }

          .securityIcon {
            background-position: -452px -203px;
            width: 16px;
            height: 16px;
          }

          .dashboardIcon {
            background-position: -63px -233px;
            width: 16px;
            height: 16px;
            margin-top: -3px;
          }

          .utilitiesIcon {
            background-position: -482px -201px;
            width: 16px;
            height: 16px;
          }

          .notificationsIcon {
            background-position: -482px -201px;
            width: 16px;
            height: 16px;
          }

          .reportsIcon {
            background-position: -514px -200px;
            width: 16px;
            height: 16px;
          }

          .logisticsIcon {
            background-position: -570px -199px;
            width: 16px;
            height: 16px;
          }

          .orderManagement {
            background-position: -546px -202px;
            width: 16px;
            height: 14px;
          }

          .supplychainIcon {
            background-position: -593px -199px;
            width: 16px;
            height: 16px;
          }

          .costManagement {
            background-position: -1682px -392px;
            width: 16px;
            height: 16px;
          }

          .dealManagement {
            background-position: -1631px -392px;
            width: 16px;
            height: 16px;
          }

          .priceManagement {
            background-position: -1631px -392px;
            width: 16px;
            height: 16px;
          }

          .promotionManagement {
            background-position: -1576px -390px;
            width: 16px;
            height: 16px;
          }

          .supplierAddressIcon {
            background-position: -425px -204px;
            width: 16px;
            height: 15px;
          }

          .Scheduler {
            background-position: -1471px -394px;
            width: 16px;
            height: 16px;
          }

          .inventoryManagmentIcon {
            background-position: -60px -358px;
            width: 19px;
            height: 16px;
          }

          .invoiceMatchingDoc {
            background-position: -117px -358px;
            width: 13px;
            height: 16px;
          }

          .Finacnces {
            background-position: -140px -358px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .menu-divider {
      border-bottom: 1px dotted #939393
    }

    .subSubMenu {
      background: #bac2c6;
      border-left: 3px solid $orange;

      li {
        display: block !important;

        a {
          border: 0;

          .collapse-icon {
            background-position: -1155px -30px;
            width: 16px;
            height: 9px;
            display: block;
            position: absolute;
            right: 13px;
            top: 22px;
          }

          .measure {
            background-position: -165px -138px;
            width: 16px;
            height: 16px;
            margin-top: 2px;
          }

          .itemList {
            background-position: -1759px -347px;
            width: 16px;
            height: 16px;
          }

          .moduleIcon {
            background-position: -977px -135px;
            width: 10px;
            height: 10px;
            margin-top: -5px;
          }

          .Merchandise {
            background-position: -275px -140px;
            width: 16px;
            height: 14px;
          }

          .organization {
            background-position: -366px -144px;
            width: 16px;
            height: 16px;
          }

          .vat {
            background-position: -310px -138px;
            width: 16px;
            height: 17px;
          }

          .DomainIcon {
            background-position: -190px -139px;
            width: 16px;
            height: 14px;
            margin-top: 3px;
          }

          .CountryIcon {
            background-position: -248px -138px;
            width: 16px;
            height: 16px;
          }

          .currencyIcon {
            background-position: -220px -137px;
            width: 16px;
            height: 16px;
            margin-top: 2px;
          }

          .seasonIcon {
            background-position: -339px -139px;
            width: 16px;
            height: 16px;
            margin-top: 3px;
          }

          .supplierMasterIcon {
            background-position: -1394px -130px;
            width: 16px;
            height: 16px;
            margin-top: 4px;
          }

          .userIcon {
            background-position: -1480px -130px;
            width: 16px;
            height: 15px;
            margin-top: 3px;
          }

          .supplierAdressMasterIcon {
            background-position: -1440px -128px;
            width: 16px;
            height: 17px;
          }

          .pricezone {
            background-position: -1906px -348px;
            width: 16px;
            height: 16px;
          }

          .costzone {
            background-position: -1856px -348px;
            width: 16px;
            height: 16px;
          }

          .brand {
            background-position: -1802px -347px;
            width: 16px;
            height: 16px;
            margin-top: 3px;
          }

          .costManagementReport {
            background-position: -1682px -350px;
            width: 16px;
            height: 16px;
          }

          .orderManagementReport {
            background-position: -546px -138px;
            width: 16px;
            height: 14px;
          }

          .itemReport {
            background-position: -399px -138px;
            width: 16px;
            height: 16px;
          }

          .receivingReport {
            background-position: -1470px -347px;
            width: 17px;
            height: 16px;
          }

          .priceManagementReport {
            background-position: -1631px -350px;
            width: 16px;
            height: 16px;
          }

          .itemSuperSearchIcon {
            background-position: -600px -74px !important;
            width: 16px;
            height: 16px;
          }

          .bulkItemIcon {
            background-position: -515px -74px !important;
            width: 16px;
            height: 16px;
          }

          .itemMasterIcon {
            background-position: -399px -138px;
            width: 16px;
            height: 16px;
          }

          .itemReactiveIcon {
            background-position: -628px -74px !important;
            width: 16px;
            height: 16px;
          }

          .itemCloseIcon {
            background-position: -544px -74px !important;
            width: 16px;
            height: 16px;
          }

          .transferMaster {
            background-position: -327px -383px;
            width: 28px;
            height: 16px;
            margin-left: 10px !important;
            margin-top: 4px;
          }

          .InventoryAdjustmentByItem {
            background-position: -202px -384px;
            width: 18px;
            height: 16px;
            margin-top: 3px;
          }

          .ShipmentIcon {
            background-position: -295px -384px;
            width: 19px;
            height: 16px;
          }

          .InventoryAdjustmentByLocation {
            background-position: -202px -384px;
            width: 18px;
            height: 16px;
          }

          .DsdOrderIcon {
            background-position: -233px -384px;
            width: 19px;
            height: 16px;
          }

          .CompetitivePriceHistory {
            background-position: -265px -384px;
            width: 18px;
            height: 16px;
          }

          .InventorySubIcon {
            background-position: -170px -384px;
            width: 18px;
            height: 16px;
          }

          &.active {
            border: none;
            color: $black;
            font-weight: 700;
            background: #c4cdd1 !important;

            .collapse-icon {
              background-position: -1177px -35px;
              width: 10px;
              height: 5px;
            }

            .itemReactiveIcon {
              background-position: -487px -74px !important;
              width: 16px;
              height: 16px;
            }

            .moduleIcon {
              background-position: -977px -75px;
              width: 10px;
              height: 10px;
              margin-top: -5px;
            }

            .measure {
              background-position: -165px -26px;
              width: 16px;
              height: 16px;
              margin-top: 2px;
            }

            .Merchandise {
              background-position: -275px -28px;
              width: 16px;
              height: 14px;
              margin-top: 2px;
            }

            .organization {
              background-position: -368px -26px;
              width: 16px;
              height: 16px;
            }

            .vat {
              background-position: -310px -26px;
              width: 16px;
              height: 17px;
            }

            .DomainIcon {
              background-position: -190px -27px;
              width: 16px;
              height: 14px;
            }

            .CountryIcon {
              background-position: -248px -26px;
              width: 16px;
              height: 16px;
            }

            .currencyIcon {
              background-position: -220px -25px;
              width: 16px;
              height: 16px;
              margin-top: 2px;
            }

            .seasonIcon {
              background-position: -339px -27px;
              width: 16px;
              height: 16px;
              margin-top: 3px;
            }

            .itemList {
              background-position: -1759px -258px;
              width: 16px;
              height: 16px;
            }

            .userIcon {
              background-position: -1480px -22px;
              width: 16px;
              height: 15px;
              margin-top: 3px;
            }

            .supplierMasterIcon {
              background-position: -1394px -23px;
              width: 16px;
              height: 16px;
              margin-top: 4px;
            }

            .supplierAdressMasterIcon {
              background-position: -1440px -23px;
              width: 16px;
              height: 17px;
            }

            .costManagementReport {
              background-position: -1682px -259px;
            }

            .orderManagementReport {
              background-position: -546px -26px;
            }

            .itemReport {
              background-position: -399px -26px;
            }

            .receivingReport {
              background-position: -1470px -260px;
            }

            .priceManagementReport {
              background-position: -1631px -259px;
            }

            .itemSuperSearchIcon {
              background-position: -459px -74px !important;
              width: 16px;
              height: 16px;
            }

            .bulkItemIcon {
              background-position: -374px -74px !important;
              width: 16px;
              height: 16px;
            }

            .itemMasterIcon {
              background-position: -399px -26px;
              width: 16px;
              height: 16px;
            }

            .itemCloseIcon {
              background-position: -403px -74px !important;
              width: 16px;
              height: 16px;
            }

            .transferMaster {
              background-position: -327px -383px;
              width: 28px;
              height: 16px;
              margin-left: 10px !important;
              margin-top: 4px;
            }

            .InventoryAdjustmentByItem {
              background-position: -202px -384px;
              width: 18px;
              height: 16px;
              margin-top: 3px;
            }

            .ShipmentIcon {
              background-position: -295px -384px;
              width: 19px;
              height: 16px;
            }

            .InventoryAdjustmentByLocation {
              background-position: -202px -384px;
              width: 18px;
              height: 16px;
            }

            .DsdOrderIcon {
              background-position: -233px -384px;
              width: 19px;
              height: 16px;
            }

            .CompetitivePriceHistory {
              background-position: -265px -384px;
              width: 18px;
              height: 16px;
            }

            .InventorySubIcon {
              background-position: -170px -384px;
              width: 18px;
              height: 16px;
            }
          }

          &:hover {
            border: none;
            color: $orange;
            background: none;

            .measure {
              background-position: -165px -77px;
              width: 16px;
              height: 16px;
              margin-top: 2px;
            }

            .moduleIcon {
              background-position: -977px -75px;
              width: 10px;
              height: 10px;
            }

            .Merchandise {
              background-position: -275px -79px;
              width: 16px;
              height: 14px;
              margin-top: 2px;
            }

            .organization {
              background-position: -368px -77px;
              width: 16px;
              height: 16px;
            }

            .vat {
              background-position: -310px -77px;
              width: 16px;
              height: 17px;
            }

            .DomainIcon {
              background-position: -190px -78px;
              width: 16px;
              height: 14px;
              margin-top: 3px;
            }

            .CountryIcon {
              background-position: -248px -77px;
              width: 16px;
              height: 16px;
            }

            .currencyIcon {
              background-position: -220px -76px;
              width: 16px;
              height: 16px;
              margin-top: 2px;
            }

            .seasonIcon {
              background-position: -339px -78px;
              width: 16px;
              height: 16px;
              margin-top: 3px;
            }

            .userIcon {
              background-position: -1480px -71px;
              width: 16px;
              height: 15px;
              margin-top: 3px;
            }

            .supplierMasterIcon {
              background-position: -1394px -68px;
              width: 16px;
              height: 16px;
              margin-top: 4px;
            }

            .supplierAdressMasterIcon {
              background-position: -1440px -69px;
              width: 16px;
              height: 17px;
            }

            .pricezone {
              background-position: -1906px -311px;
              width: 16px;
              height: 16px;
            }

            .costzone {
              background-position: -1856px -311px;
              width: 16px;
              height: 16px;
            }

            .brand {
              background-position: -1802px -309px;
              width: 16px;
              height: 16px;
            }

            .itemList {
              background-position: -1759px -309px;
              width: 16px;
              height: 16px;
            }

            .costManagementReport {
              background-position: -1682px -308px;
            }

            .orderManagementReport {
              background-position: -546px -77px;
            }

            .itemReport {
              background-position: -399px -77px;
            }

            .receivingReport {
              background-position: -1470px -303px;
            }

            .priceManagementReport {
              background-position: -1631px -308px;
            }

            .itemSuperSearchIcon {
              background-position: -741px -74px !important;
              width: 16px;
              height: 16px;
            }

            .bulkItemIcon {
              background-position: -656px -74px !important;
              width: 16px;
              height: 16px;
            }

            .itemMasterIcon {
              background-position: -399px -77px;
              width: 16px;
              height: 16px;
            }

            .itemReactiveIcon {
              background-position: -769px -74px !important;
              width: 16px;
              height: 16px;
            }

            .itemCloseIcon {
              background-position: -685px -74px !important;
              width: 16px;
              height: 16px;
            }

            .transferMaster {
              background-position: -327px -411px;
              width: 28px;
              height: 16px;
              margin-left: 10px !important;
              margin-top: 4px;
            }

            .InventoryAdjustmentByItem {
              background-position: -202px -411px;
              width: 18px;
              height: 16px;
              margin-top: 3px;
            }

            .ShipmentIcon {
              background-position: -295px -411px;
              width: 19px;
              height: 16px;
            }

            .InventoryAdjustmentByLocation {
              background-position: -170px -411px;
              width: 18px;
              height: 16px;
            }

            .DsdOrderIcon {
              background-position: -233px -411px;
              width: 19px;
              height: 16px;
            }

            .CompetitivePriceHistory {
              background-position: -265px -411px;
              width: 18px;
              height: 16px;
            }

            .InventorySubIcon {
              background-position: -170px -411px;
              width: 18px;
              height: 16px;
            }
          }
        }
      }
    }

    .uomSubMenu {
      background: #c4cdd1;

      li {
        a {
          &.active {
            color: $orange !important;
            background: none !important;
          }
        }
      }
    }
  }
}

.mat-drawer-container {
  background-color: $white !important;
}

.mat-drawer-side {
  border-right: none !important;
}

.sideNavMainContent {
  background-color: rgb(43, 61, 75);
  height: 60px;
  padding-top: 7px;
  padding-left: 10px;
}
