<div fxFlex="initial" class="sideNavMainContent">
        <img src="../../assets/images/RBS with text white.png" />
</div>
<div class="left-bar" fxFlex>
    <ul>
        <li class="menu-item" *ngFor="let parentMenu of sharedService.menus">
            <a name="mdmmenu" *ngIf="parentMenu.items?.length>0" (click)="setStep(parentMenu.menuText, selected)" [ngClass]="{active: parentMenu.menuText == selected }">
                <span [ngClass]="parentMenu.iconCss" class="retailsNavIcons"></span>
                <span class="mdmIconSubModule"> {{parentMenu.menuText}}</span>
                <span class="collapse-icon retailsNavIcons"></span>
            </a>
            <a name="mdmmenu" *ngIf="parentMenu.items?.length==0" [routerLink]="parentMenu.url" href="#" skipLocationChange routerLinkActive="active" (click)="setStep(parentMenu.menuText, selected)">
                <span [ngClass]="parentMenu.iconCss" class="retailsNavIcons"></span> <span class="mdmIconSubModule singleModule"> {{parentMenu.menuText}}</span>
            </a>
            <ul *ngIf="selected == parentMenu.menuText" class="subMenu subSubMenu">
                <li *ngFor="let childMenu of parentMenu.items">
                    <a name="uomsubmenu" fxLayout="row" *ngIf="childMenu.items?.length>0" (click)="setStep1(childMenu.menuText, selected1)" [ngClass]="{active: childMenu.menuText == selected1 }">
                        <span class="m-left15px retailsNavIcons" [ngClass]="childMenu.iconCss"></span><span class="measureIcon m-left-5">{{childMenu.menuText}}</span>
                        <span class="collapse-icon retailsNavIcons"></span>
                    </a>
                    <a name="uomsubmenu" fxLayout="row" *ngIf="childMenu.items?.length==0" [routerLink]="childMenu.url" href="#" skipLocationChange routerLinkActive="active" (click)="setStep1(childMenu.menuText, selected1)">
                        <span class="m-left15px retailsNavIcons" [ngClass]="childMenu.iconCss"></span>
                        <span class="measureIcon m-left-5">{{childMenu.menuText}}</span>
                    </a>
                    <ul class="uomSubMenu" *ngIf="selected1 == childMenu.menuText">
                        <li *ngFor="let subchildMenu of childMenu.items">
                            <a [routerLink]="subchildMenu.url" name="uomclasslink" *ngIf="subchildMenu.groupMenu===1" href="#" skipLocationChange routerLinkActive="active" class="m-left-30">
                                <span [ngClass]="subchildMenu.iconCss" class="retailsNavIcons moduleIcon"></span><span class="m-left-5">{{subchildMenu.menuText}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
