 <div mat-dialog-title >
        <p class="recordDetailsDialog">Error</p>
</div>
<div mat-dialog-content>
    <div fxLayout="column">
        {{ data.message }}
    </div>
    <div class="footer-actions-buttons" fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button mat-dialog-close class="fx-button resetbtn">Ok</button>
            <button fxFlex="initial" class="resetbtn" mat-button (click)="_show=true" *ngIf="!_show">Show Stack</button>
            <button fxFlex="initial" class="resetbtn" mat-button (click)="_show=false" *ngIf="_show">Hide Stack</button>
    </div>
    <div *ngIf="_show" fxLayout="row" fxLayoutWrap="wrap" class="devartException">
        <div>{{ data.stackTrace }}</div>
    </div>
</div>


