@import "../../assets/scss/_variables.scss";
.toolbarActions-template {
        background-color: #2b3d4b;
        padding: 0px 11px;

        .actionIcons {
          display: inline-block;
          margin: 5px 15px;
          cursor: pointer;
          width: 32px;
          height: 32px;
        }

        .headerToolbaricon {
          padding: 5px !important;
          min-width: 80px !important;

          @media screen and (min-width: 992px) and (max-width:1200px) {
            min-width: 65px !important;
          }

          @media screen and (min-width: 768px) and (max-width:991px) {
            min-width: 70px !important;
          }

          p {
            color: $white;
            font-size: 9px;
            margin: 5px 0;
            padding: 0;
            line-height: normal;
          }

          .toolbar-icons {
            background: url('../../assets/images/icon.svg') no-repeat;
            display: inline-block;
          }

          .closeIcon {
            background: url('../../assets/images/untitled-1.svg') no-repeat;
            display: inline-block;
          }

          .closeImage {
            background-position: -79px 0;
            width: 23px;
            height: 23px;
          }

          .saveIcon {
            background-position: 0 -1px;
            width: 20px;
            height: 20px;
          }

          .resetIcon {
            background-position: -171px -2px;
            width: 26px;
            height: 22px;
          }

          .undoIcon {
            background-position: -251px -2px;
            width: 25px;
            height: 22px;
          }

          .firstPaginationIcon {
            background-position: -333px -1px;
            width: 22px;
            height: 24px;
          }

            .previousIcon {
              background-position: -385px -1px;
              width: 14px;
              height: 24px;
            }

            .nextIcon {
              background-position: -437px -1px;
              width: 14px;
              height: 24px;
            }

            .lastIcon {
              background-position: -488px -1px;
              width: 22px;
              height: 24px;
            }

            .searchIcon {
              background-position: -559px -3px;
              width: 20px;
              height: 21px;
            }

            .docsIcon {
              background-position: -648px 0;
              width: 23px;
              height: 27px;

              .document-count {
                margin: -1px 0px 0px 19px;
                width: 15px;
                height: 15px;
                background: $green;
                border-radius: 50px;
                line-height: 1.8;
              }
            }

            .requestIcon {
              background-position: -722px 0;
              width: 25px;
              height: 25px;
            }

            .printIcon {
              background-position: -805px 0;
              width: 21px;
              height: 26px;
            }

          .infoIcon {
            background-position: -865px 0;
            width: 23px;
            height: 23px;
          }

          .helpIcon {
            background-position: -930px -1px;
            width: 23px;
            height: 23px;
          }
        }

      .borderRightForToolbar {
        border-right: 1px solid #a9a0a0;
      }
  /******Add pages header toolbar  styles starts*****/
}
