<div fxLayout="row" class="toolbarActions-template">
    <div fxFlex>
        <button mat-button (click)="onSave()" class="headerToolbaricon" name="save" [disabled]="!isHaveSavePermission || !_sharedService.isUpdatableByUser">
            <div class="toolbar-icons saveIcon"></div>
            <p>SAVE & CLOSE</p>
        </button>
        <button mat-button (click)="onSaveAndContinue()" class="headerToolbaricon" name="savecontinue" [disabled]="!isHaveSavePermission || !_sharedService.isUpdatableByUser">
            <div class="toolbar-icons saveIcon"></div>
            <p>SAVE & CONTINUE</p>
        </button>
        <button mat-button class="headerToolbaricon borderRightForToolbar" (click)="onReset()" name="reset" [disabled]="!_sharedService.isUpdatableByUser">
            <div class="toolbar-icons resetIcon"></div>
            <p>RESET</p>
        </button>
        <span *ngIf="!isItemModule">
            <button mat-button class="headerToolbaricon" (click)="onFirstRecord()" *ngIf="editMode" [disabled]="_sharedService.indexOfCurrentItem <=0 || isSupplierModule">
                <div class="toolbar-icons firstPaginationIcon"></div>
                <p>FIRST RECORD</p>
            </button>
            <button mat-button class="headerToolbaricon" (click)="onPrevious()" *ngIf="editMode" [disabled]="_sharedService.indexOfCurrentItem <=0 || isSupplierModule">
                <div class="toolbar-icons previousIcon"></div>
                <p>PREVIOUS</p>
            </button>
            <button mat-button class="headerToolbaricon" (click)="onNext()" *ngIf="editMode" [disabled]="(_sharedService.indexOfCurrentItem >= this._sharedService?.toolbarDataList?.length-1) || isSupplierModule">
                <div class="toolbar-icons nextIcon"></div>
                <p>NEXT</p>
            </button>
            <button mat-button class="headerToolbaricon borderRightForToolbar" (click)="onLastRecord()" *ngIf="editMode" [disabled]="(_sharedService.indexOfCurrentItem >= this._sharedService?.toolbarDataList?.length-1) || isSupplierModule">
                <div class="toolbar-icons lastIcon"></div>
                <p>LAST RECORD</p>
            </button>
        </span>
        <span *ngIf="isItemModule">
            <button mat-button class="headerToolbaricon" (click)="onPrevious()">
                <div class="toolbar-icons previousIcon"></div>
                <p>PREVIOUS</p>
            </button>
            <button mat-button class="headerToolbaricon" (click)="onNext()">
                <div class="toolbar-icons nextIcon"></div>
                <p>NEXT</p>
            </button>

        </span>
        <button mat-button class="headerToolbaricon borderRightForToolbar" (click)="onNewSearch()">
            <div class="toolbar-icons searchIcon"></div>
            <p>NEW SEARCH</p>
        </button>
        <button mat-button class="headerToolbaricon" (click)="onDocumentsClick()" [disabled]="!isEnableDocumentModule">
            <div class="toolbar-icons docsIcon">
                <p class="document-count" *ngIf="_sharedService.fileCount != null && _sharedService.fileCount > 0">{{_sharedService.fileCount}}</p>
            </div>
            <p>DOCUMENTS</p>

        </button>
        <button mat-button class="headerToolbaricon borderRightForToolbar">
            <div class="toolbar-icons requestIcon"></div>
            <p>REQUEST</p>
        </button>
        <button mat-button class="headerToolbaricon" (click)="onPrint()" [disabled]="notifyPrint.observers.length === 0">
            <div class="toolbar-icons printIcon"></div>
            <p>PRINT</p>
        </button>
        <button mat-button class="headerToolbaricon" (click)="onInfo()" *ngIf="editMode">
            <div class="toolbar-icons infoIcon"></div>
            <p>INFO</p>
        </button>
        <button mat-button class="headerToolbaricon" (click)="onHelp()">
            <div class="toolbar-icons helpIcon"></div>
            <p>HELP</p>
        </button>
    </div>
    <div fxFlex="initial" fxLayoutAlign="end end">
        <button mat-button class="headerToolbaricon" (click)="onClose()">
            <span class="closeIcon closeImage"></span>
            <p>CLOSE</p>
        </button>
    </div>
</div>
