<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (reset)="reset()" [formGroup]="serviceDocument.dataProfile.profileForm" (saveAndContinue)="save(false)" (firstRecord)="bind()" (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Company/List']"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle"></page-title> - {{editMode?'Edit':'Add'}}
      </div>
    </div>
  </div>
  <div class="ComponentLevelMainContent sticky-position-content" fxFlex id="printMainComponentDivID">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm" fxFlex fxLayout="column">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">        
        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="curnExData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="curnExType" optionValue="curnExTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.rmsExchangeType" placeholder="Rms Exchange Type" class="fx-selectBox" [disabled]="editMode"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.rmsExchangeType" class="error"></rb-error-messages>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fifExchangeType" required placeholder="Currency Exchange Type" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.fifExchangeType" class="error"></rb-error-messages>
        </rb-input>
      </div>
    </form>
  </div>
</div>
