<div fxLayout="column" fxFill [ngClass]="{'main-content-component': showSearchCriteria === true}">
  <div fxFlex="initial">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div fxLayout="row" class="mainContentHeader">
        <div fxFlex fxLayoutAlign="start center">
          <page-title [PageTitle]="PageTitle"></page-title>
        </div>
      </div>
    </form>
  </div>
  <div class="ComponentLevelMainContent" fxFlex>
    <div [hidden]="!showSearchCriteria">
      <div fxLayout="row" class="rbsinputsPadding validationStyles" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="50" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="curnExData"  [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="curnExType" optionValue="curnExTypeDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.rmsExchangeType" placeholder="Rms Exchange Type" class="fx-selectBox"></rb-autocomplete>
        </div>
        <div fxFlex="2"></div>
        <rb-input fxFlex="50" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fifExchangeType"  placeholder="Currency Exchange Type" maxlength="60" upperCase="true" class="errorMsgsParentPosition">
        </rb-input>
      </div>
    </div>
    <rbs-search-panel [componentParentName]="componentName" [service]="service" [serviceDocument]="serviceDocument" [model]="model"
                      [hidden]="showSearchCriteria" (searchCriteria)="showSearchCriteriaChild($event)" [redirectUrl]="redirectUrl"></rbs-search-panel>
    <div [hidden]="showSearchCriteria">
      <rbs-grid [componentParentName]="componentName" [gridOptions]="gridOptions" [rowData]="serviceDocument.dataProfile.dataList" [columnDefs]="columns" [hidden]="showSearchCriteria"></rbs-grid>
    </div>
  </div>
</div>
