<div fxLayout="column" fxFill>
  <div fxFlex="initial" fxLayout="column">
    <form novalidate [formGroup]="serviceDocument.dataProfile.profileForm">
      <div class="toolbarActions-template" id="toolBarDivid">
        <toolBar (save)="save(true)" (saveAndContinue)="saveAndContinue()" (firstRecord)="bind()"
                 (previousRecord)="bind()" (nextRecord)="bind()" (lastRecord)="bind()" [closeRedirectUrl]="['/Promotion/List']"
                 [formGroup]="serviceDocument.dataProfile.profileForm"></toolBar>
      </div>
    </form>
    <div fxLayout="row" class="mainContentHeader">
      <div fxFlex="initial" fxLayoutAlign="start center">
        <page-title [PageTitle]="PageTitle" class="page-title"></page-title>
      </div>
    </div>
  </div>

  <div class="ComponentLevelMainContent" fxFlex id="printMainComponentDivID">
    <div fxLayout="column" class="rbsSectionForHeaders m-top-20">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="userId" placeholder="User Id" maxlength="30" required min="0" class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.userId" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="userName" placeholder="User Name" maxlength="120" required class="errorMsgsParentPosition">
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.userName" class="error"></rb-error-messages>
        </rb-input>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="24" class="errorMsgsParentPosition">
          <rb-autocomplete required [optionsData]="languageData" [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="languageID" optionValue="languageDesc" [formControl]="serviceDocument.dataProfile.profileForm.controls.lang" placeholder="Language" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.lang" class="error"></rb-error-messages>
        </div>
        <div fxFlex="1"></div>
        <div fxLayout="column" fxFlex="25" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="storeData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="store" optionValue="storeName" [formControl]="serviceDocument.dataProfile.profileForm.controls.storeDefault" placeholder="Store Default" class="fx-selectBox"></rb-autocomplete>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="phone" placeholder="Phone" class="errorMsgsParentPosition" maxlength="20">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="fax" placeholder="Fax" class="errorMsgsParentPosition" maxlength="20">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="25" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="pager" placeholder="Pager" maxlength="20" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="email" placeholder="Email" maxlength="250" class="errorMsgsParentPosition">
        </rb-input>
        <div fxFlex="1"></div>
        <!--<rb-input fxFlex="24" [formGroup]="serviceDocument.dataProfile.profileForm" controlName="printer" placeholder="Printer" maxlength="20" class="errorMsgsParentPosition">
    </rb-input>-->
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxLayout="column" fxFlex="24" fxLayout.xs="column" class="errorMsgsParentPosition disable-textFields-styles">
          <rb-autocomplete [optionsData]="printerData" required [formGroup]="serviceDocument.dataProfile.profileForm" ngDefaultControl
                           optionKey="id" optionValue="name" [formControl]="serviceDocument.dataProfile.profileForm.controls.printer" placeholder="Printer" class="fx-selectBox"></rb-autocomplete>
          <rb-error-messages [control]="serviceDocument.dataProfile.profileForm.controls.printer" class="error"></rb-error-messages>
        </div>
      </div>
      </div>
    </div>
</div>
